<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>NewsBit - News Magazine Newspaper HTML Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- theme meta -->
    <meta name="theme-name" content="newsbit" />

    <!--Favicon-->
    <link rel="icon" href="../source/images/logo.png" type="image/x-icon">
    
    <!-- THEME CSS
	================================================== -->
	<!-- toast css -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../theme/plugins/bootstrap/css/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="../theme/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="../theme/plugins/slick-carousel/slick.css">
    <link rel="stylesheet" href="../theme/plugins/slick-carousel/slick-theme.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="../theme/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"  />
	<link rel="stylesheet" href="../theme/css/jquery.highlight-within-textarea.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="../main/source/css/alarm.css">
	
	<style>
		#contentSection{
			width:1100px;
			margin: 0 auto;
			box-sizing : border-box;
		}
		.fade-in {
	        opacity: 0;
			transition: 1s;
		}
	 	.fade-out {
			opacity: 1;
			transition: 1s;
	 	}
	 	.alarm-cntn{
	 		overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
	 	}
	</style>
	<script src='//unpkg.com/popper.js@1/dist/umd/popper.min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
	<script src="../commonJS/socket.js"></script>
</head>
<body>

<header class="header-navigation d-none d-lg-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <!-- Logo -->
                <div class="logo" style="padding: 10px;">
                    <a href="/">
                        <img src="/main/images/title.png" alt="">
                        <!-- <img src="../theme/images/logos/logo.png" alt=""> Replace Logo Here -->
                    </a>
                </div>
                <!-- End Logo -->
            </div>
        </div>
    </div>
</header>

<div class="main-navbar clearfix bg-dark ">
    <div class="container">
    	<th:block th:if="${session.loggedInMember} != null">
			<p id="sessionMembNo" style="display:none" th:text="${session.loggedInMember.membNo}"></p>
		</th:block>
		<th:block th:unless="${session.loggedInMember} != null">
			<p id="sessionMembNo" style="display:none" th:text="nonLoginUser"></p>
		</th:block>
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg site-main-nav navigation">
                      <a class="navbar-brand d-lg-none" href="index.html">
                        <img src="../theme/images/logos/footer-logo.png" alt=""> 
                     </a>
  
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                  </button>

                    <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                           
                            <li onClick="javascript:location.href='/member/mypage'" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/member/mypage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 회원관리
                                </a>
                                <div class="dropdown-menu" >
                                  <a class="dropdown-item" href="/member/mypage">프로필</a>
                                  <a class="dropdown-item" href="/member/pointChargeForm">충전</a>
                                  <a class="dropdown-item" href="/member/mystock">주식 현황</a>
                                  <a class="dropdown-item" href="/member/mysurvey">투자성향분석</a>
                                  <a class="dropdown-item" href="/member/myorder">주문/배송 현황</a>
                                </div>
                            </li>
                           
                             <li onClick="javascript:location.href='/stock/itemListPage'" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/stock/itemListPage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  주식시장
                                </a>
                                <div class="dropdown-menu" >
                                  <a class="dropdown-item" href="/stock/itemListPage">종목 조회 및 목록</a>
                                </div>
                            </li>
                            <li onClick="javascript:location.href='/mall/mallMain'" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/mall/mallMain" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  포인트 몰
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="/mall/mallMain">포인트몰 메인</a>
                                  <a class="dropdown-item" href="/mall/productList?commonCd=S1">농산물</a>
                                  <a class="dropdown-item" href="/mall/productList?commonCd=S2">수산물</a>
                                  <a class="dropdown-item" href="/mall/basketList">장바구니</a>
                                </div>
                            </li>

                            <li onClick="javascript:location.href='/community/boardList?commonCd=C1'" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/community/boardList?commonCd=C1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  커뮤니티
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="/community/boardList?commonCd=C1">자유게시판</a>
                                  <a class="dropdown-item" href="/community/boardList?commonCd=C2">주식게시판</a>
                                  <a class="dropdown-item" href="/community/noticeList">공지사항</a>
                                  <a class="dropdown-item" href="/community/questionList">QnA</a>
                                  <a class="dropdown-item" href="/community/chat">익명채팅방</a>
                                </div>
                            </li>
 

                        </ul>
                        <div class="col-md-12 col-sm-12 col-xs-12 top-nav-social-lists text-lg-right col-lg-4 ml-lg-auto">
                			<ul class="list-unstyled mt-4 mt-lg-0 text-right">
                   		 		<li th:if="${session.loggedInMember}==null">
                    				<a href="/member/login">
			                            <span>
			                                Sign in
			                            </span>
                        			</a>
			                        <a href="/member/join">
			                            <span>
			                                Sign up
			                            </span>
			                        </a>
			                    </li>
                   		 		<li th:unless="${session.loggedInMember}==null">
                   		 		 <th:block th:if="${session.loggedInMember.nick} != 'admin'">
                    				<a href="#">
			                            <span>
			                                <b>[[${session.loggedInMember.nick}]]</b> 님 환영합니다
		                               </span>
                        			</a>
                       			 </th:block>
                       			 <th:block th:unless="${session.loggedInMember.nick} != 'admin'">
			                                <a href=/admin/memberManage>
			                                	<span>
			                                		관리자 페이지로
			                                	</span>
			                                </a>
                                 </th:block>
			                            
			                        <a href="/member/logout">
			                            <span>
			                                Sign out
			                            </span>
			                        </a>
			                        
			                        <a href="#" id="alarmBellBtn" class="realNew pull-bs-canvas-right text-decoration-none" >
			                            <span class="social-icon">
			                                <i id="alarmBell" class="fa fa-bell-o " aria-hidden="true"></i>
			                                <span id="newPlace">
			                                </span>
			                            </span>
			                        </a>
			                        
			                    </li>
                			</ul>
							<div class="bs-canvas bs-canvas-right position-fixed bg-light h-100">
								<header class="bs-canvas-header p-3 bg-dark overflow-auto ">
									<button type="button" class="bs-canvas-close float-left close" aria-label="Close">
										<span aria-hidden="true" class="text-light">&times;</span>
									</button>
	        						<h4 class="d-inline-block text-light mb-0 float-right">Alarm</h4>
									</header>
									<div class="bs-canvas-content ">
									<ul class="nav nav-tabs mt-3 w-100 text-center">
										<li class="nav-item">
											<a class="nav-link m-0 p-0 bold" data-toggle="tab" href="#stock-alm">체결</a>
	    								</li>
										<li class="nav-item">
											<a class="nav-link m-0 p-0" data-toggle="tab" href="#mall-alm">주문/배송
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link m-0 p-0" data-toggle="tab" href="#comm-alm">게시판
											</a>
										</li>
									</ul>
									
									<div id="alarmTab" class="tab-content text-left">
										<!-- 체결 -->
										<div class="tab-pane fade show " id="stock-alm">
											<ul class="list-group m-0 h-100 border">
											</ul>
										</div>
										<!-- 주문/배송 -->
										<div class="tab-pane fade" id="mall-alm">
											<ul class="list-group m-0 h-100 border ">
												
											</ul>
										</div>
										<!-- 게시판 -->
										<div class="tab-pane fade" id="comm-alm">
											<ul class="list-group m-0 h-100 border">
												
											</ul>
										</div>
									</div>
		    						<p class="text-muted small text-left ml-2"> 최근 14일 동안의 알림이 보여집니다.</p>
		    	
	    						</div>    
	  						</div>
            			</div>
                    </div>
                </nav>
                
            </div>
        </div>
    </div>
    <form class="site-search" method="get">
        <input type="text" id="searchInput" name="site_search" placeholder="Enter Keyword Here..." autofocus="">
        <div class="search-close">
            <span class="close-search">
                <i class="fa fa-times"></i>
            </span>
        </div>
    </form>
</div>

<section class="featured-posts">

	<div layout:fragment="content" id="contentSection">
		
	</div>
	
</section>


<footer class="footer footer-main ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 col-lg-6 text-center">
                <a href="/"><img src="/main/images/title_white.png" alt=""></a>

                <ul class="list-inline footer-social">
                    <li class="li list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="fa fa-facebook"></i></a></li>
                    <li class="li list-inline-item"><a href="https://twitter.com/themefisher"><i class="fa fa-twitter"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>

                <div class="copyright-text text-center">
                    <p class="mb-0">© Yedam - <a href="https://themefisher.com/" target="_blank">Last Project</a></p>
                </div>
            </div>

            <div class="scroll-to-top">
                <button class="btn btn-primary" title="Back to Top">
                    <i class="fa fa-angle-up"></i>
                </button>
            </div>
        </div>
    </div>
</footer>



<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script src="../theme/plugins/jquery/jquery.js"></script>
<!-- Bootstrap jQuery -->
<!-- <script src="../theme/plugins/bootstrap/js/bootstrap.min.js"></script> -->
<script src="../theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="../theme/plugins/google-map/gmap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../commonJS/toast.js"></script>
<script src="../js/jquery.serialize-object.min.js"></script>
<script src="../theme/js/jquery.highlight-within-textarea.js"></script>
<script src="../commonJS/alarm.js"></script>

<!-- main js -->
<!-- Slick Slider -->
<!-- <script src="../theme/plugins/slick-carousel/slick.min.js"></script> -->
<!-- <script src="../theme/js/custom.js"></script> -->
<!-- CK editor -->
<!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script> -->
<script>

	$(window).on('load',function(){
		let loginInfo='[[${session.loggedInMember}]]';
		if(loginInfo==''){
			fetch("/member/returnUrl")
			.then(result=>result.text())
			.then(data=>console.log(data))
			.catch(err=>console.log(err));			
		}
	})

	 let msg = "[[${session.noAccess}]]";
	console.log(msg);
	if (msg !== null && msg !== "") {
	    toastShow(msg, "접근권한", "error");
	    setTimeout(() => {
	        fetch('/member/removeNoAccess', {
	            method: 'POST',
	            credentials: 'same-origin', // 세션 쿠키를 전송하기 위해 필요한 옵션
	            headers: {
	                'Content-Type': 'application/json',
	            },
	            body: JSON.stringify({ key: 'noAccess' }),
	        }).then((response) => {
	            // 삭제가 성공하면, 세션의 'noAccess' 속성이 삭제됩니다.
	            if(response == "success"){
	            console.log('noAccess 속성 삭제됨.');
	            }else{
	            console.log('fail');
	            }
	        }).catch((error) => {
	            console.error('noAccess 속성 삭제 실패:', error);
	        });
	    }, 5000);
	}
</script>
</body>
</html>