<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>basketList.html</title>

<link rel="stylesheet" href="css/basketList.css" />

<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>

/* 퀵메뉴 */
.quick-menu {
	position: fixed;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	z-index: 9999;
	width: 80px; /* 퀵 메뉴의 가로 크기 조정 */
	height: 450px; /* 퀵 메뉴의 세로 크기 조정 */
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 40px; /* 직사각형 모양의 둥근 모서리를 위한 반지름 값 조정 */
	text-align: center; /* 내용 가운데 정렬 */
}

.quick-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.quick-menu li {
	margin-bottom: 10px;
}

.quick-menu li a {
	text-decoration: none;
	color: #333;
}



</style>


</head>
<body id="body">
	<div layout:fragment="content" class="outer-block">

		<!-- 퀵메뉴 -->
		<div class="quick-menu">
			<ul>
				<li th:onclick="|location.href='@{mallMain}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/4578/4578246.png"></li>
				<li style="font-size: 12px;"
					th:onclick="|location.href='@{mallMain}'|"><a href="#">포인트몰</a></li>

				<li
					th:onclick="|location.href='@{/mall/productList(commonCd=${'S1'})}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/2230/2230446.png"></li>
				<li style="font-size: 12px;"><a
					href="/mall/productList?commonCd=S1">농산물</a></li>


				<li
					th:onclick="|location.href='@{/mall/productList(commonCd=${'S2'})}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/3361/3361370.png"></li>
				<li style="font-size: 12px;"><a
					href="/mall/productList?commonCd=S2">수산물</a></li>


				<li th:onclick="|location.href='@{basketList}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/545/545489.png"></li>
				<li style="font-size: 12px;"
					th:onclick="|location.href='@{basketList}'|"><a href="#">장바구니</a></li>
				<li class="top-btn" style="font-size: 12px; cursor: pointer;"><img
					style="width: 40px; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/6015/6015743.png"
					alt="Top Button"><a href="#">TOP</a></li>
			</ul>
		</div>

		<!-- <form name="orderform" id="orderform" method="post" class="orderform"
			action="/basketList"> -->
			
				<div class="content_area">
			
			<div class="content_subject"><span>장바구니</span></div>
			<!-- 장바구니 리스트 -->
			<div class="content_middle_section"></div>
			<!-- 장바구니 가격 합계 -->
			<!-- cartInfo -->
			<div class="content_totalCount_section">
				
				<!-- 체크박스 전체 여부 -->
				<div class="all_check_input_div">
					<input type="checkbox" class="all_check_input input_size_20" checked="checked"><span class="all_chcek_span">전체선택</span>
				</div>				
				
				<table class="subject_table">
					<caption>표 제목 부분</caption>
					<tbody>

						<tr>
							<th class="td_width_1"></th>
							<th class="td_width_2"></th>
							<th class="td_width_3">상품명</th>
							<th class="td_width_4">가격</th>
							<th class="td_width_4">수량</th>
							<th class="td_width_4">합계</th>
							<th class="td_width_4">삭제</th>
						</tr>
					</tbody>
				</table>
				<table class="cart_table">
					<caption>표 내용 부분</caption>
					<tbody>
						<!-- <c:forEach items="${cartInfo}" var="ci"> -->
							<tr th:each="item :${basketList}">
								<td class="td_width_1 cart_info_td">
									<input type="checkbox" class="individual_cart_checkbox input_size_20" checked="checked">
									<input type="hidden" class="individual_bookPrice_input" value="${item.prc}">
									<input type="hidden" class="individual_salePrice_input" value="${item.prc - (item.prc * (item.dcRate / 100.0))}">
									<input type="hidden" class="individual_bookCount_input" value="${item.cnt}">
									<input type="hidden" class="individual_totalPrice_input" value="${(item.prc - (item.prc * (item.dcRate / 100.0))) * item.cnt}">
									<input type="hidden" class="individual_point_input" value="${item.point}">
									<input type="hidden" class="individual_totalPoint_input" value="${ci.totalPoint}">
									<input type="hidden" class="individual_bookId_input" value="${item.prdtNo}">								
								</td>
								<td class="td_width_2">
									<div class="image_wrap" data-="${ci.imageList[0].bookId}" data-path="${ci.imageList[0].uploadPath}" data-uuid="${ci.imageList[0].uuid}" data-filename="${ci.imageList[0].fileName}">
										<img th:src="|/mall/images/main/${item.thumb}|" th:onclick="|location.href='@{getFarm(prdtNo=${item.prdtNo})}'|">
									</div>								
								</td>
								<td class="td_width_3" th:text="${item.nm}"></td>
								<td class="td_width_4 price_td">
									<del>정가 : [[${item.prc}]]</del><br><span class="red_color" pattern="#,### P">
									판매가 : [[${item.prc - (item.prc * (item.dcRate / 100.0))} + 'P']] </span><br>
									마일리지 : [[${(item.prc - (item.prc * (item.dcRate / 100.0))) * 0.1} + 'P']]<span class="green_color"></span>
								</td>
								<td class="td_width_4 table_text_align_center">
									<div class="table_text_align_center quantity_div">
										<input type="text" value="${item.cnt}" class="quantity_input">	
										<button class="quantity_btn plus_btn">+</button>
										<button class="quantity_btn minus_btn">-</button>
									</div>
									<a class="quantity_modify_btn" data-bskNo="${item.bskNo}">변경</a>
								</td>
								<td class="td_width_4 table_text_align_center" th:text="${item.prc - (item.prc * (item.dcRate / 100.0)) * item.cnt}" pattern="#,### 원">
									
								</td>
								<td class="td_width_4 table_text_align_center">
									<button class="delete_btn" data-bskNo="${item.bskNo}">삭제</button>
								</td>
							</tr>
						<!-- </c:forEach> -->
					</tbody>
				</table>
				<table class="list_table">
				</table>
			</div>
			<!-- 가격 종합 -->
			<div class="content_total_section">
				<div class="total_wrap">
					<table>
						<tr>
							<td>
								<table>
									<tr>
										<td>총 상품 가격</td>
										<td>
											<span class="totalPrice_span">70000</span> P
										</td>
									</tr>
									<tr>
										<td>배송비</td>
										<td>
											<span class="delivery_price">3000</span>P
										</td>
									</tr>									
									<tr>
										<td>총 주문 상품수</td>
										<td><span class="totalKind_span"></span>종 <span class="totalCount_span"></span>권</td>
									</tr>
								</table>
							</td>
							<td>
								<table>
									<tr>
										<td></td>
										<td></td>
									</tr>
								</table>							
							</td>
						</tr>
					</table>
					<div class="boundary_div">구분선</div>
					<table>
						<tr>
							<td>
								<table>
									<tbody>
										<tr>
											<td>
												<strong>총 결제 예상 금액</strong>
											</td>
											<td>
												<span class="finalTotalPrice_span">70000</span> 원
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td>
								<table>
									<tbody>
										<tr>
											<td>
												<strong>총 적립 예상 마일리지</strong>
											
											</td>
											<td>
												<span class="totalPoint_span">70000</span> P
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<!-- 구매 버튼 영역 -->
			<div class="content_btn_section">
				<a class="order_btn" onclick="directOrder()">주문하기</a>
			</div>
			
			<!-- 수량 조정 form -->
			<form action="/cart/update" method="post" class="quantity_update_form">
				<input type="hidden" name="bskNo" class="update_bskNo">
				<input type="hidden" name="cnt" class="update_cnt">
				<input type="hidden" name="membNo" value="${member.membNo}">
			</form>	
			
			<!-- 삭제 form -->
			<form action="/cart/delete" method="post" class="quantity_delete_form">
				<input type="hidden" name="bskNo" class="delete_bskNo">
				<input type="hidden" name="membNo" value="${member.membNo}">
			</form>		
			<!-- 주문 form -->
			<form action="/order/${member.membNo}" method="get" class="order_form">

			</form>				
						
			
		</div>
			
			
			<!-- Breadcrumb Section Begin -->
   <!--  <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Shopping Cart</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    Breadcrumb Section End

    Shoping Cart Section Begin
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                	<th>회원번호</th>
                                	<th>상품번호</th>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item :${basketList}">
                                <td class="prdtNo" th:text="${item.prdtNo}">
								<td class="prdtNo" th:text="${item.prdtNo}">
                                    <td class="shoping__cart__item" th:onclick="|location.href='@{getFarm(prdtNo=${item.prdtNo})}'|">
                                       <img style="width: 200px; height: 200px;"
						th:src="|/mall/images/main/${item.thumb}|">
                                        <h5>Vegetable’s Package</h5>
                                    </td>
                                    <td class="shoping__cart__price" th:text="${item.prc}">
                                        $55.00
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                            <span class="dec qtybtn">-</span>
                                                <input type="text" value="1">
                                                <span class="inc qtybtn">+</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total" th:text="${item.prc}">
                                        $110.00
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
			 -->
			

			<!-- <section class="cart">
				<div class="cart__information">
					<ul>
						<li>장바구니 상품은 최대 30일간 저장됩니다.</li>
						<li>가격, 옵션 등 정보가 변경된 경우 주문이 불가할 수 있습니다.</li>
						<li>오늘출발 상품은 판매자 설정 시점에 따라 오늘출발 여부가 변경될 수 있으니 주문 시 꼭 다시 확인해
							주시기 바랍니다.</li>
					</ul>
				</div>
				<table class="cart__list">
					
						<thead>
							<tr>
								<td><input type="checkbox"></td>
								<td colspan="2">상품정보</td>
								<td>옵션</td>
								<td>상품금액</td>
								<td>배송비</td>
							</tr>
						</thead>
						<tbody id="basketList" >
							 <tr class="cart__list__detail" th:each="item :${basketList}">
							 <td th:text="${item.membNo}"></td>
								<td class="prdtNo" th:text="${item.prdtNo}"><input type="checkbox"></td>
								<td><img src="image/keyboard.jpg" alt="magic keyboard"></td>
								<td th:onclick="|location.href='@{getFarm(prdtNo=${item.prdtNo})}'|">
									<p class="nm" th:text="${item.nm}"></p> <sapn class="price" th:text="${item.prc}">116,62원</sapn><span
									style="text-decoration: line-through; color: lightgray;">119,000</span>
								</td>
								<td class="cart__list__option">
									<p th:text="수량 + ${item.cnt}">모델명 : 키보드 - 한국어 MK2A3KH/A / 1개</p>
									<button class="cart__list__optionbtn">주문조건 추가/변경</button>
								</td>
								<td><span class="price">116,620원</span><br>
									<button class="cart__list__orderbtn">주문하기</button></td>
								<td>무료</td>
							</tr>
						
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3"><input type="checkbox">
									<button class="cart__list__optionbtn">선택상품 삭제</button>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tfoot>
					
				</table>
				<div class="cart__mainbtns">
					<button class="cart__bigorderbtn left">쇼핑 계속하기</button>
					<button class="cart__bigorderbtn right" onclic="orderList">주문하기</button>
				</div>
			</section> -->
	<!-- 	</form> -->

		<!--  -->

		<!-- <table style="border: 1px solid;">
			<thead style="text-align: center; border: 1px solid;">
				<tr>
					<th style="width: 150px;">상품 합계금액</th>
					<th style="width: 150px;"></th>
					<th style="width: 150px;">총 배송비</th>
					<th style="width: 150px;">적립금</th>
					<th style="width: 150px;"></th>
					<th style="width: 150px;">최종 결제금액</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 70px; text-align: center;">40,000원</td>
					<td>
						<div class="pic">
							<img style="width: 80px; height: 80px;">
						</div>
					</td>
					<td style="text-align: center;">0원</td>
					<td style="text-align: center;">0원</td>
					<td>
						<div class="pic">
							<img style="width: 80px; height: 80px;">
						</div>
					</td>
					<td style="text-align: center;">40,000원</td>
				</tr>
			</tbody>
		</table>

		<div class="right-align basketrowcmd">
			<a href="javascript:void(0)" class="abutton">선택상품삭제</a> <a
				href="javascript:void(0)" class="abutton">장바구니비우기</a>
		</div> -->
 		
 		<!-- 수량 조정 form -->
			<form action="/cart/update" method="post" class="quantity_update_form">
				<input type="hidden" name="cartId" class="update_cartId">
				<input type="hidden" name="bookCount" class="update_bookCount">
				<input type="hidden" name="memberId" value="${member.memberId}">
			</form>
 		
 		<!-- 삭제 form -->
			<form action="/cart/delete" method="post" class="quantity_delete_form">
				<input type="hidden" name="cartId" class="delete_cartId">
				<input type="hidden" name="memberId" value="${member.memberId}">
			</form>
 		
		<script th:inline="javascript">
	
	/* top 버튼 */
	document.querySelector('.top-btn').addEventListener('click', function() {
	    window.scrollTo({
	        top: 0,
	        behavior: 'smooth'
	    });
	});
	
	

	/* 총 주문 정보 세팅(배송비, 총 가격, 마일리지, 물품 수, 종류) */
	function setTotalInfo(){
		
		let totalPrice = 0;				// 총 가격
		let totalCount = 0;				// 총 갯수
		let totalKind = 0;				// 총 종류
		let totalPoint = 0;				// 총 마일리지
		let deliveryPrice = 0;			// 배송비
		let finalTotalPrice = 0; 		// 최종 가격(총 가격 + 배송비)

		
		$(".cart_info_td").each(function(index, element){
			
			
			//체크여부
			if($(element).find(".individual_cart_checkbox").is(":checked") === true){	
			
			// 총 가격
			totalPrice += parseInt($(element).find(".individual_totalPrice_input").val());
			// 총 갯수
			totalCount += parseInt($(element).find(".individual_bookCount_input").val());
			// 총 종류
			totalKind += 1;
			// 총 마일리지
			totalPoint += parseInt($(element).find(".individual_totalPoint_input").val());			
			
			}
		});
		
		/* 체크박스 전체 선택 */
		$(".all_check_input").on("click", function(){

			/* 체크박스 체크/해제 */
			if($(".all_check_input").prop("checked")){
				$(".individual_cart_checkbox").attr("checked", true);
			} else{
				$(".individual_cart_checkbox").attr("checked", false);
			}
			
			/* 총 주문 정보 세팅(배송비, 총 가격, 마일리지, 물품 수, 종류) */
			setTotalInfo($(".cart_info_td"));	
			
		});
		
		/* 이미지 삽입 */
		/* $(".image_wrap").each(function(i, obj){
		
			const bobj = $(obj);
			
			if(bobj.data("bookid")){
				const uploadPath = bobj.data("path");
				const uuid = bobj.data("uuid");
				const fileName = bobj.data("filename");
				
				const fileCallPath = encodeURIComponent(uploadPath + "/s_" + uuid + "_" + fileName);
				
				$(this).find("img").attr('src', '/display?fileName=' + fileCallPath);
			} else {
				$(this).find("img").attr('src', '/resources/img/goodsNoImage.png');
			}
			
		}); */
		
		
		/* 수량버튼 */
		$(".plus_btn").on("click", function(){
			let quantity = $(this).parent("div").find("input").val();
			$(this).parent("div").find("input").val(++quantity);
		});
		$(".minus_btn").on("click", function(){
			let quantity = $(this).parent("div").find("input").val();
			if(quantity > 1){
				$(this).parent("div").find("input").val(--quantity);		
			}
		});
		
		
		/* 수량 수정 버튼 */
		$(".quantity_modify_btn").on("click", function(){
			let cartId = $(this).data("cartid");
			let bookCount = $(this).parent("td").find("input").val();
			$(".update_cartId").val(cartId);
			$(".update_bookCount").val(bookCount);
			$(".quantity_update_form").submit();
			
		});	
		
		/* 장바구니 삭제 버튼 */
		$(".delete_btn").on("click", function(e){
			e.preventDefault();
			const cartId = $(this).data("cartid");
			$(".delete_cartId").val(cartId);
			$(".quantity_delete_form").submit();
		});
		
		
		/* 배송비 결정 */
		if(totalPrice >= 20000){
			deliveryPrice = 0;
		} else if(totalPrice == 0){
			deliveryPrice = 0;
		} else {
			deliveryPrice = 3000;	
		}
		
			finalTotalPrice = totalPrice + deliveryPrice;
		
		/* ※ 세자리 컴마 Javscript Number 객체의 toLocaleString() */
		
		// 총 가격
		$(".totalPrice_span").text(totalPrice.toLocaleString());
		// 총 갯수
		$(".totalCount_span").text(totalCount);
		// 총 종류
		$(".totalKind_span").text(totalKind);
		// 총 마일리지
		$(".totalPoint_span").text(totalPoint.toLocaleString());
		// 배송비
		$(".delivery_price").text(deliveryPrice);	
		// 최종 가격(총 가격 + 배송비)
		$(".finalTotalPrice_span").text(finalTotalPrice.toLocaleString());		
	}

	/* 체크여부에따른 종합 정보 변화 */
	$(".individual_cart_checkbox").on("change", function(){
		/* 총 주문 정보 세팅(배송비, 총 가격, 마일리지, 물품 수, 종류) */
		setTotalInfo($(".cart_info_td"));
	});
	
	//주문페이지 이동
	function directOrder() {
	  // 바로 주문하기 기능 구현
	  alert("주문 페이지로 이동합니다!");
	  window.location.href="/mall/orderList?membNo="+[[${basketList}]];
	}
	
	</script>
	</div>
</body>
</html>