<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>basketList.html</title>
<link rel="stylesheet" type="text/css" href="css/farmList.css">
<link rel="stylesheet"
	href="mall/source/plugins/themefisher-font/style.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/basketList.css" />

<link rel=" shortcut icon" href="/images/bzshopicon.ico">
<link rel="icon" href="/images/bzshopicon.ico">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>

/* 퀵메뉴 */
.quick-menu {
	position: fixed;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	z-index: 9999;
	width: 80px; /* 퀵 메뉴의 가로 크기 조정 */
	height: 450px; /* 퀵 메뉴의 세로 크기 조정 */
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 40px; /* 직사각형 모양의 둥근 모서리를 위한 반지름 값 조정 */
	text-align: center; /* 내용 가운데 정렬 */
}

.quick-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.quick-menu li {
	margin-bottom: 10px;
}

.quick-menu li a {
	text-decoration: none;
	color: #333;
}
</style>


</head>
<body id="body">
	<div layout:fragment="content" class="outer-block">

		<!-- 퀵메뉴 -->
		<div class="quick-menu">
			<ul>
				<li th:onclick="|location.href='@{mallMain}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/4578/4578246.png"></li>
				<li style="font-size: 12px;"
					th:onclick="|location.href='@{mallMain}'|"><a href="#">포인트몰</a></li>

				<li
					th:onclick="|location.href='@{/mall/farmList(commonCd=${'S10'})}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/2230/2230446.png"></li>
				<li style="font-size: 12px;"><a
					href="/mall/farmList?commonCd=S10">농산물</a></li>


				<li
					th:onclick="|location.href='@{/mall/seafoodList(commonCd=${'S20'})}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/3361/3361370.png"></li>
				<li style="font-size: 12px;"><a
					href="/mall/seafoodList?commonCd=S20">수산물</a></li>


				<li th:onclick="|location.href='@{basketList}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/545/545489.png"></li>
				<li style="font-size: 12px;"
					th:onclick="|location.href='@{basketList}'|"><a href="#">장바구니</a></li>
				<li class="top-btn" style="font-size: 12px; cursor: pointer;"><img
					style="width: 40px; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/6015/6015743.png"
					alt="Top Button"><a href="#">TOP</a></li>
			</ul>
		</div>

		<form name="orderform" id="orderform" method="post" class="orderform"
			action="/basketList">

		<div class="row">
				<div class="col-md-12">
					<h1 class=" mb-4 text-center">장바구니</h1>
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						    	<th>&nbsp;</th>
						    	<th>&nbsp;</th>
						    	<th>Product</th>
						      <th>Price</th>
						      <th>Quantity</th>
						      <th>total</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
										</label>
						    	</td>
						    	<td>
						    		<div class="img" style="background-image: url(images/product-1.png);"></div>
						    	</td>
						      <td>
						      	<div class="email">
						      		<span>Sneakers Shoes 2020 For Men </span>
						      		<span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
						      	</div>
						      </td>
						      <td>$44.99</td>
						      <td class="quantity">
					        	<div class="input-group">
				             	<input type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">
				          	</div>
				          </td>
				          <td>$89.98</td>
						      <td>
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
						    	</td>
						    	<td>
						    		<div class="img" style="background-image: url(images/product-2.png);"></div>
						    	</td>
						      <td>
						      	<div class="email">
						      		<span>[농산물]곱게 완숙된 토마토 3kg/5kg</span>
						      		<span>내용</span>
						      	</div>
						      </td>
						      <td>1000 P</td>
						      <td class="quantity">
					        	<div class="input-group">
				             	<input type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">
				          	</div>
				          </td>
				          <td>1000 P</td>
						      <td>
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
						    	</td>
						    	<td>
						    		<div class="img" style="background-image: url(images/product-3.png);"></div>
						    	</td>
						      <td>
						      	<div class="email">
						      		<span>Sneakers Shoes 2020 For Men </span>
						      		<span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
						      	</div>
						      </td>
						      <td>$35.50</td>
						      <td class="quantity">
					        	<div class="input-group">
				             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
				          	</div>
				          </td>
				          <td>$35.50</td>
						      <td>
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
						    	</td>
						    	<td>
						    		<div class="img" style="background-image: url(images/product-4.png);"></div>
						    	</td>
						      <td>
						      	<div class="email">
						      		<span>Sneakers Shoes 2020 For Men </span>
						      		<span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
						      	</div>
						      </td>
						      <td>$76.99</td>
						      <td class="quantity">
					        	<div class="input-group">
				             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
				          	</div>
				          </td>
				          <td>$76.99</td>
						      <td>
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">
						    	<td class="border-bottom-0">
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
						    	</td>
						    	<td class="border-bottom-0">
						    		<div class="img" style="background-image: url(images/product-1.png);"></div>
						    	</td>
						      <td class="border-bottom-0">
						      	<div class="email">
						      		<span>Sneakers Shoes 2020 For Men </span>
						      		<span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
						      	</div>
						      </td>
						      <td class="border-bottom-0">$40.00</td>
						      <td class="quantity border-bottom-0">
					        	<div class="input-group">
				             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
				          	</div>
				          </td>
				          <td class="border-bottom-0">$40.00</td>
						      <td class="border-bottom-0">
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</form>

		<!--  -->

		<table style="border: 1px solid;">
			<thead style="text-align: center; border: 1px solid;">
				<tr>
					<th style="width: 150px;">상품 합계금액</th>
					<th style="width: 150px;"></th>
					<th style="width: 150px;">총 배송비</th>
					<th style="width: 150px;">적립금</th>
					<th style="width: 150px;"></th>
					<th style="width: 150px;">최종 결제금액</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 70px; text-align: center;">40,000원</td>
					<td>
						<div class="pic">
							<img style="width: 80px; height: 80px;">
						</div>
					</td>
					<td style="text-align: center;">0원</td>
					<td style="text-align: center;">0원</td>
					<td>
						<div class="pic">
							<img style="width: 80px; height: 80px;">
						</div>
					</td>
					<td style="text-align: center;">40,000원</td>
				</tr>
			</tbody>
		</table>

		<div class="right-align basketrowcmd">
			<a href="javascript:void(0)" class="abutton">선택상품삭제</a> <a
				href="javascript:void(0)" class="abutton">장바구니비우기</a>
		</div>



		<script th:inline="javascript">
	
	/* top 버튼 */
	document.querySelector('.top-btn').addEventListener('click', function() {
	    window.scrollTo({
	        top: 0,
	        behavior: 'smooth'
	    });
	});
	
	
	// 장바구니 리스트 
	
	let totalCount = 0;
	let totalPrice = 0;

	function delCheckedItem() {
	    let checkItem = document.querySelectorAll('.row.data input[type="checkBox"]:checked');
	    checkItem.forEach(function (item) {
	        let row = item.closest('.row.data');
	        let parent = row.parentNode;
	        parent.removeChild(row);
	    });
	    console.log('delCheckedItem');
	}

	function delAllItem() {
	    let delAllItem = document.querySelectorAll('.row.data');
	    delAllItem.forEach(function (delAllItem) {
	        delAllItem.parentNode.removeChild(delAllItem);
	    });
	    console.log('delAllItem');
	}

	function updateUI() {
	    console.log('updateUI');

	    let cval = event.target.parentNode.parentNode.childNodes[1].value;
	    event.target.parentNode.parentNode.childNodes[1].value = parseInt(cval) + 1;

	    document.querySelectorAll('.p_num').forEach(function (item) {
	        let count = parseInt(item.getAttribute('value'));
	        totalCount += count;
	    });

	    document.querySelector('#sum_p_num').textContent = '상품개수: ' + totalCount.formatNumber() + '개';
	    document.querySelector('#sum_p_price').textContent = '합계금액: ' + totalPrice.formatNumber() + '원';
	}

	function changePNum(pos) {
	    let target = document.querySelectorAll('div.row.data:nth-of-type(' + pos + ')');
	    console.log("changePNum");

	    console.log(event);
	    if (event.target.tagName == 'INPUT') {
	        console.log('input 클릭');
	    } else if (event.target.tagName == 'I') {
	        console.log('icon 클릭');

	        if (event.target.classList.contains('up')) {
	            console.log('icon 클릭. up');
	            let cval = event.target.parentNode.parentNode.childNodes[1].value;
	            event.target.parentNode.parentNode.childNodes[1].value = parseInt(cval) + 1;
	        } else {
	            console.log('icon 클릭. down');
	            let cval = event.target.parentNode.parentNode.childNodes[1].value;
	            event.target.parentNode.parentNode.childNodes[1].value = parseInt(cval) - 1;
	        }
	    }
	}

	function delItem() {
	    console.log(event.target.closest('div.row.data').remove());
	    console.log('delItem');
	}

	function cartList() {
	    cartItems.forEach((item, idx) => {
	        let template = document.querySelector('#template>div.row.data').cloneNode(true);
	        template.querySelector('.img>img').setAttribute('src', '../img/' + item.image)
	        template.querySelector('.pname>span').textContent = item.productNm
	        template.querySelector('.basketprice>input').value = item.price
	        template.querySelector('.basketprice').childNodes[2].textContent = item.price.formatNumber() + "원"
	        template.querySelector('.updown>input').value = item.qty
	        template.querySelector('.updown>input').setAttribute('value', item.qty)
	        template.querySelector('.updown>input').setAttribute('id', 'p_num' + (idx + 1));
	        template.querySelector('.sum').textContent = (item.price * item.qty).formatNumber() + "원"

	        document.querySelector('#basket').append(template)
	    })
	}

	// 숫자 3자리 콤마찍기
	Number.prototype.formatNumber = function () {
	    if (this == 0) return 0;
	    let regex = /(^[+-]?\d+)(\d{3})/;
	    let nstr = (this + '');
	    while (regex.test(nstr)) nstr = nstr.replace(regex, '$1' + ',' + '$2');
	    return nstr;
	};

	// 초기화 함수 실행
	function init() {
	    // 장바구니 목록 출력
	    cartList();

	    // 선택상품 삭제 버튼 이벤트 리스너 등록
	    document.querySelector('.basketrowcmd a:first-child').addEventListener('click', function () {
	        delCheckedItem();
	    });

	    // 장바구니 비우기 버튼 이벤트 리스너 등록
	    document.querySelector('.basketrowcmd a:nth-child(2)').addEventListener('click', function () {
	        delAllItem();
	    });

	    // 장바구니 아이템 삭제 버튼 이벤트 리스너 등록
	    document.querySelectorAll('.basketcmd a').forEach(function (item) {
	        item.addEventListener('click', function () {
	            delItem();
	        });
	    });

	    // 수량변경 이벤트 리스너 등록
	    document.querySelectorAll('.updown').forEach(function (item, idx) {
	        item.querySelector('input').addEventListener('keyup', function () {
	            changePNum(idx);
	        });
	        item.children[1].addEventListener('click', function () {
	            changePNum(idx);
	        });
	        item.children[2].addEventListener('click', function () {
	            changePNum(idx);
	        });
	    });

	    // <a> 태그의 href 속성에 "javascript:void(0)" 설정
	    document.querySelectorAll('a[href="#"]').forEach(function (item) {
	        item.setAttribute('href', 'javascript:void(0)');
	    });
	}

	// 초기화 함수 실행
	init();

	
	
	
	
	
	// 장바구니 목록을 배열로 정의
	var cartItems = [{
	        no: 1,
	        productNm: '이것이 민트다.',
	        qty: 2,
	        price: 12000,
	        image: 'item1.PNG'
	    },
	    {
	        no: 2,
	        productNm: '와 아이스크림.',
	        qty: 1,
	        price: 22000,
	        image: 'item2.PNG'
	    },
	    {
	        no: 3,
	        productNm: '모나카 케익.',
	        qty: 1,
	        price: 13600,
	        image: 'item3.PNG'
	    }
	];

	// 숫자 3자리 콤마찍기
	Number.prototype.formatNumber = function () {
	    if (this == 0) return 0;
	    var regex = /(^[+-]?\d+)(\d{3})/;
	    var nstr = (this + '');
	    while (regex.test(nstr)) nstr = nstr.replace(regex, '$1' + ',' + '$2');
	    return nstr;
	};

	//장바구니 단건 삭제
	function delItem() {
	    var row = this.closest('.row.data');
	    row.parentNode.removeChild(row);
	    console.log('delItem');
	}

	//수량변경 
	function changePNum(pos) {
	    var target = document.querySelectorAll('div.row.data:nth-of-type(' + pos + ')');
	    console.log("changePNum");

	    console.log(event);
	    if (event.target.tagName == 'INPUT') {
	        console.log('input 클릭');
	    } else if (event.target.tagName == 'I') {
	        console.log('icon 클릭');

	        //console.log(event.target.classList);
	        if (event.target.classList.contains('up')) {
	            console.log('icon 클릭. up'); //현재값에서 +1
	            var cval = event.target.parentNode.parentNode.childNodes[1].value;
	            event.target.parentNode.parentNode.childNodes[1].value = parseInt(cval) + 1;
	            console.log(event.target.parentNode.parentNode.parentNode.parentNode.childNodes[2].innerText);
	            //console.log(event.target.parentNode.parentNode.childNode.value);
	            //target.querySelector('input').value = 50;
	        } else {
	            console.log('icon 클릭. down'); //현재값에서 -1
	            //target.querySelector('input').value = -50;
	            var cval = event.target.parentNode.parentNode.childNodes[1].value;
	            event.target.parentNode.parentNode.childNodes[1].value = parseInt(cval) - 1;
	        }
	    }
	}

	// 장바구니 목록을 화면에 출력하는 함수
	function cartList() {
	    cartItems.forEach(function (item, idx) {
	        var template = document.querySelector('#template>div.row.data').cloneNode(true);
	        template.querySelector('.img>img').setAttribute('src', '../img/' + item.image);
	        template.querySelector('.pname>span').textContent = item.productNm;
	        template.querySelector('.basketprice>input').value = item.price;
	        template.querySelector('.basketprice').childNodes[2].textContent = item.price.formatNumber() + "원";
	        template.querySelector('.updown>input').value = item.qty;
	        template.querySelector('.updown>input').setAttribute('value', item.qty);
	        template.querySelector('.updown>input').setAttribute('id', 'p_num' + (idx + 1));
	        template.querySelector('.sum').textContent = (item.price * item.qty).formatNumber() + "원";
	        document.querySelector('#basket').append(template);
	    });
	}

	// 초기화 작업 수행
	function init() {
	    // 장바구니 목록 출력
	    cartList();

	    // 선택상품 삭제 버튼 이벤트 리스너 등록
	    document.querySelector('.basketrowcmd a:first-child').addEventListener('click', function () {
	        delCheckedItem();
	    });

	    // 장바구니 비우기 버튼 이벤트 리스너 등록
	    document.querySelector('.basketrowcmd a:nth-child(2)').addEventListener('click', function () {
	        delAllItem();
	    });

	    // 장바구니 아이템 삭제 버튼 이벤트 리스너 등록
	    document.querySelectorAll('.basketcmd a').forEach(function (item) {
	        item.addEventListener('click', function () {
	            delItem();
	        });
	    });

	    // 수량변경 이벤트 리스너 등록
	    document.querySelectorAll('.updown').forEach(function (item, idx) {
	        item.querySelector('input').addEventListener('keyup', function () {
	            changePNum(idx);
	        });
	        item.children[1].addEventListener('click', function () {
	            changePNum(idx);
	        });
	        item.children[2].addEventListener('click', function () {
	            changePNum(idx);
	        });
	    });

	    // <a> 태그의 href 속성에 "javascript:void(0)" 설정
	    document.querySelectorAll('a[href="#"]').forEach(function (item) {
	        item.setAttribute('href', 'javascript:void(0)');
	    });
	}

	// 초기화 함수 실행
	init();

	
	
	</script>
	</div>
</body>
</html>