<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>farmList.html</title>

<link rel="stylesheet" type="text/css" href="css/farmList.css">
<link rel="stylesheet"
	href="mall/source/plugins/themefisher-font/style.css">


</head>
<body id="body">
	<div layout:fragment="content" class="outer-block">
		<div>
			<div id="container">
				<div class="row">
					<article class="farmImage"
						style="background-image: url(images/main/mainImg.jpg);">
					</article>
				</div>
				<div class="row-2">
					<div class="category-container">
						<!-- 농산물 카테고리 -->

						<h2 data-common-cd="S1">농산물</h2>

						<div class="category">
							<ul>
								<li class="li_1" data-common-cd="S101"><a href="#">곡류</a>
									<ul>
										<li class="sub_li_1" th:each="prdt : ${farmList}"
											th:text="${prdt.nm}"></li>
									</ul></li>
							</ul>
						</div>
						<div class="category">
							<ul>
								<li class="li_1" data-common-cd="S102"><a href="#">콩류</a>
									<ul>
										<li class="sub_li_1" th:each="prdt : ${farmList}"
											th:text="${prdt.nm}"></li>
									</ul></li>
							</ul>
						</div>
						<div class="category">
							<ul>
								<li class="li_1" data-common-cd="S103"><a href="#">과실류</a>
									<ul>
										<li class="sub_li_1" th:each="prdt : ${farmList}"
											th:text="${prdt.nm}" data-common-cd="S103"></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- category end -->

				<div class="row">
					<div class="selectBtn">
						<button class="btn btn-light mt-3 mt-lg-0" type="button" id="low">낮은 가격순</button>
						<button class="btn btn-light mt-3 mt-lg-0" type="button" id="high">높은 가격순</button>
						<button class="btn btn-light mt-3 mt-lg-0" type="button" id="sales">판매량</button>
					</div>
					<input type="text" id="search">
				</div>

				<div class="row">
					<div class="col-md-4" th:each="prdt : ${farmList}" >
						<div class="product-item" th:onclick="|location.href='@{getFarm(prdtNo=${prdt.prdtNo})}'|">
							<div class="product-thumb">
								<span class="bage">Sale</span> <img
									th:src="|/mall/images/main/${prdt.thumb}|">
								<div class="preview-meta">
									<ul>
										<li><span data-toggle="modal"
											data-target="#product-modal"> <i
												class="tf-ion-ios-search-strong"></i>
										</span></li>
										<li><a href="#!"><i class="tf-ion-ios-heart"></i></a></li>
										<li><a href="#!"><i class="tf-ion-android-cart"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-content">
							<div class="product-detail">	
							
							<!--  th:onclick="|location.href='@{getFarm(prdtNo=${getFarm.prdtNo})}'|" -->
								<h4>
									<a th:text=${prdt.nm}></a>
								</h4>
								<p>
									<span class="original-price" th:text="${prdt.prc} + '원'"
										style="text-decoration: line-through;"></span> <br> <span
										class="discounted-price"
										th:text="${prdt.prc - (prdt.prc * (prdt.dcRate / 100.0))} + '원'"></span>
								</p>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- list-end -->
		</div>
	</div>

	<!-- <script th:inline="javascript">
	
		//초기값 
		let currentState=[[S{prdtCode}]];
		
		document.querySelectorAll(".ctgr").forEach(ctgr=>
			ctgr.addEventListener('click', function(){
				sort.children[0].selected=true;
				currentState = ctgr.getAttribute('data-common-cd');
		}))
	
	</script> -->

	<!-- Main jQuery -->
	<script src="plugins/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.1 -->
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
	<script src="plugins/instafeed/instafeed.min.js"></script>
	<script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
	<script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>

	<script src="plugins/slick/slick.min.js"></script>
	<script src="plugins/slick/slick-animation.min.js"></script>

	<script src="mall/js/script.js"></script>
</body>
</html>