<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>mallMain.html</title>

<link rel="stylesheet" type="text/css" href="css/mallMain.css">
<link rel="stylesheet"
	href="mall/source/plugins/themefisher-font/style.css">

<!-- Main Stylesheet -->
<link rel="stylesheet" type="text/css" href="mall/theme/css/style.css">


<!-- <style>
  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
</style> -->


</head>
<body>
	<div layout:fragment="content" class="outer-block">
		<div>
			<!-- main image -->
			<div class="hero-slider">
				<div class="main-img"></div>
				<div class="slider-item th-fullpage hero-area"
					style="background-image: url(images/main/mainImg.jpg);">
					<div class="container">
						<div class="row">

							<div class="col-lg-8 text-center">
								<div class="ft">
									<p id="mainFont" data-duration-in=".3"
										data-animation-in="fadeInUp" data-delay-in=".1">You
										haven't lost until you sell</p>
									<h1 id="mainFont" data-duration-in=".3"
										data-animation-in="fadeInUp" data-delay-in=".5">I wish I
										had sold it yesterday</h1>
								</div>
								<a data-duration-in=".3" data-animation-in="fadeInUp"
									data-delay-in=".8" class="btn" href="#">Shop Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- second image -->
		<div>
			<section>
				<div class="container-fluid p-sm-0">
					<div class="row2 featured-post-slider">
						<div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
							<article
								class="card bg-dark text-center text-white border-0 rounded-0">
								<img class="card-img rounded-0 img-fluid w-100"
									src="images/featured-post/post-1.jpg" alt="post-thumb">
								<div class="card-img-overlay">
									<div class="card-content">
										<p class="text-uppercase">LifeStyle</p>
										<h4 class="card-title mb-4">
											<a class="text-white" href="blog-single.html">Organize
												Your Life With 10 Simple rule</a>
										</h4>
										<a class="btn btn-outline-light" href="mall/farmList.html">read
											more</a>
									</div>
								</div>
							</article>
						</div>

					</div>
				</div>
			</section>
		</div>

		<!-- 정부 바우처 링크 -->
		<ul class="amount">
			<li>
				<div>
					<div class="contents1">지금까지 해먹은 돈</div>
					<div class="result">$128,021</div>
				</div>
			</li>
			<li>
				<div>
					<div class="contents1">씨를 말린 오징어 마릿수</div>
					<div class="result">93,234</div>
				</div>
			</li>
			<li>
				<div>
					<div class="contents1">최종 목표 마릿수</div>
					<div class="result">100,000+</div>
				</div>
			</li>
			<li>
				<div>
					<div class="contents1">와사비 간장</div>
					<div class="result">57,221,084</div>
				</div>
			</li>
		</ul>
		<!-- amount end -->

		<!-- 농산물 -->
		<div class="main_text0">
			<h1>농산물</h1>
			<div class="contents1">당신이 찾는 모든 농산물, 신선한 해산물을 우리 집 식탁에서</div>

			<ul class="icons">
				<li th:each="prdt, iterStat : ${product}"
					th:if="${iterStat.index} >= 1 and ${iterStat.index} <= 3">
					<div class="icon_img">
						<img class="img" th:src="|/mall/images/main/${prdt.thumb}|">
					</div>
					<div th:text="${prdt.nm}" class="contents1_bold"></div>
					<div th:text="${prdt.desct}" class="contents2"></div> <span
					th:text="${prdt.prc} + '₩'"></span>
					<div class="">
					<!--  <a
					class="btn btn-outline-light" href="getFarm.html"
					th:href="@{getFarm/{pid}(pid=${prdt.prdtNo})}">read more</a> -->
					<a class="btn btn-outline-light" th:onclick="|location.href='@{farmList}'|">read more</a>
					
					</div>
				</li>
			</ul>
		</div>

		<!-- 수산물 -->
		<div class="main_text0">
			<h1>수산물</h1>
			<div class="contents1">당신이 찾는 모든 해산물, 신선한 해산물을 우리 집 식탁에서</div>

			<ul class="icons">
				<li class="li" th:each="prdt, iterStat : ${product}"
					th:if="${iterStat.index} >= 28 and ${iterStat.index} <= 30 ">
					<div class="icon_img">
						<img class="img" th:src="|/mall/images/main/${prdt.thumb}|">
					</div>
					<div th:text="${prdt.nm}" class="contents1_bold">치밀한 계획</div>
					<div th:text="${prdt.desct}" class="contents2"></div> <span
					th:text="${prdt.prc} + '₩'"></span>
					<div class="">
						<a class="btn btn-outline-light" th:onclick="|location.href='@{farmList}'|">read more</a>
					</div>
				</li>
			</ul>
		</div>
	</div>


	<!-- Main jQuery -->
	<script src="plugins/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.1 -->
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
	<script src="plugins/instafeed/instafeed.min.js"></script>
	<script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
	<script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>

	<script src="plugins/slick/slick.min.js"></script>
	<script src="plugins/slick/slick-animation.min.js"></script>

	<script src="mall/js/script.js"></script>


</body>
</html>