<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>orderCheck.html</title>
<style>
#body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.order-complete {
	max-width: 800px;
	margin: 50px auto;
	padding: 20px;

	margin-top: -50px;
}

h1, h2 {
	text-align: center;
}

p {
	margin: 10px 0;
}

span {
	font-weight: bold;
}

.payList {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	text-align: left;
}

th, td {
	padding: 8px;
	text-align: left;
	border: 1px solid #ccc;
}

hr {
	border: 2px solid #000; /* 굵기를 더 진하게 설정합니다. */
}
</style>

</head>
<body id="body">
	<div layout:fragment="content" class="outer-block">


		<div style="text-align: center;">
			<video muted autoplay loop style="width: 400px; height: 400px;">
				<source src="images/thanks2.mp4" type="video/mp4">
			</video>

			<div class="order-complete">
				<h1 id="h1">결제 완료되었습니다!</h1>

<button onclick="myorder()">주문|배송내역 이동</button> <button onclick="myPoint()">MY 포인트로 이동</button>
			</div>
		</div>
		<script>
		
		function myorder (){
			
			location.href="/member/myorder";
		}
		
		function myPoint() {
			location.href="/member/mypoint";
		}
		
			
		</script>
	</div>
</body>
</html>