<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>farmList.html</title>

<link rel="stylesheet" type="text/css" href="css/farmList.css">
<link rel="stylesheet" href="source/plugins/themefisher-font/style.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>

/* 퀵메뉴 */
.quick-menu {
	position: fixed;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	z-index: 9999;
	width: 80px; /* 퀵 메뉴의 가로 크기 조정 */
	height: 450px; /* 퀵 메뉴의 세로 크기 조정 */
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 40px; /* 직사각형 모양의 둥근 모서리를 위한 반지름 값 조정 */
	text-align: center; /* 내용 가운데 정렬 */
}

.quick-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.quick-menu li {
	margin-bottom: 10px;
}

.quick-menu li a {
	text-decoration: none;
	color: #333;
}

.ctgr {
	border: none;
}

.results tr[visible='false'], .no-result {
	display: none;
}

.results tr[visible='true'] {
	display: table-row;
}

.counter {
	padding: 8px;
	color: #ccc;
}

#prdImg {
	display: block;
	flex-wrap: wrap;
	margin: 0 -15px;
}

#productList img {
	width: 300px;
	height: 200px;
	object-fit: cover;
}

#titlename {
	font-size: 30px;
}

#titlename span {
	line-height: 46px;
}

#titlename span:after {
	width: 100px;
}
#prevpage{
	visibility: hidden;
}
#nextpage{
	visibility: hidden;
}

#prevpage{
	visibility: hidden;
}
#nextpage{
	visibility: hidden;
}
</style>

</head>
<body id="body">
	<div layout:fragment="content" class="outer-block">
		<!-- 퀵메뉴 -->
		<div class="quick-menu">
			<ul>
				<li th:onclick="|location.href='@{mallMain}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/4578/4578246.png"></li>
				<li style="font-size: 12px;"
					th:onclick="|location.href='@{mallMain}'|"><a href="#">포인트몰</a></li>

				<li
					th:onclick="|location.href='@{/mall/productList(commonCd=${'S1'})}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/2230/2230446.png"></li>
				<li style="font-size: 12px;"><a
					href="/mall/productList?commonCd=S1">농산물</a></li>


				<li
					th:onclick="|location.href='@{/mall/productList(commonCd=${'S2'})}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/3361/3361370.png"></li>
				<li style="font-size: 12px;"><a
					href="/mall/productList?commonCd=S2">수산물</a></li>


				<li th:onclick="|location.href='@{basketList}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/545/545489.png"></li>
				<li style="font-size: 12px;"
					th:onclick="|location.href='@{basketList}'|"><a href="#">장바구니</a></li>
				<li class="top-btn" style="font-size: 12px; cursor: pointer;"><img
					style="width: 40px; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/6015/6015743.png"
					alt="Top Button"><a href="#">TOP</a></li>
			</ul>
		</div>
		<div>
			<div id="container">
				<div class="row" id="prdImg">
					<div class="farmImage" th:if="${prdtCode=='S1'}"
						style="background-image: url(images/main/farmImg.jpg);"></div>
				</div>
				<div class="row" id="prdImg">
					<div class="farmImage" th:unless="${prdtCode=='S1'}"
						style="background-image: url(images/main/sea.jpg);"></div>
				</div>

				<!-- 농산물 -->
				<br>

				<h1 class="news-title" id="titlename"
					th:data-common-cd="${prdtCode}" th:if="${prdtCode=='S1'}">
					<span>농산물</span>
				</h1>
				<h1 class="news-title" id="titlename"
					th:data-common-cd="${prdtCode}" th:unless="${prdtCode=='S1'}">
					<span>수산물</span>
				</h1>


				<div class="selectBtn d-flex justify-content-between">
					<div>
						<button th:each="item : ${S}" class="ctgr" type="button"
							th:data-commoncd="${item.commonCd}">[[${item.ctgr}]]</button>
					</div>
					<div class="d-flex justify-content-between">
						<button class="lowBtn orderBtn" type="button">낮은 가격순</button>
						<button class="highBtn orderBtn" type="button">높은 가격순</button>
						<input type="text" class="search form-control" id="searchI"
							placeholder="What you looking for?">
						<button class="btn btn-light mt-2 mt-lg-0" type="button"
							onclick="searchPrdt()">검색</button>
					</div>
				</div>
				<br>

				<!-- 상품 리스트 -->

				<div class="row" id="productList"></div>
			</div>
		</div>

		<div>
			<nav aria-label="Page navigation example"
				class="d-flex justify-content-center">
				<ul class="pagination">
					<li class="page-item"><a class="page-link" id="firstpage"
						href="javascript:firstPage()" aria-label="Previous"> <span
							aria-hidden="true">&laquo;</span>
					</a></li>
					<li class="page-item"><a class="page-link" id="prevpage"
						href="javascript:prevPage()" aria-label="Previous"> <span
							aria-hidden="true" style="visibility: hidden;">&lt;</span>
					</a></li>
					<!-- 페이징버튼 들어갈 공간 -->
					<li class="page-item"><a class="page-link" id="nextpage"
						href="javascript:nextPage()" aria-label="Next"> <span
							aria-hidden="true" style="visibility: hidden;">&rt;</span>
					</a></li>
					<li class="page-item"><a class="page-link" id="lastpage"
						href="javascript:lastPage()" aria-label="Next"> <span
							aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>



		<script th:inline="javascript">
	

	/* top 버튼 */
	document.querySelector('.top-btn').addEventListener('click',
			function() {
				window.scrollTo({
					top : 0,
					behavior : 'smooth'
				});
			});


	let items=["prdtNo", "prc", "nm", "thumb"];
	let currentState= [[${prdtCode}]];
	let low=false;
	let high=false;
	//초기값
 	let prdtTargetPage = 1;
	let prdtStartPage=1;
	let prdtEndPage=10;
	let totalPrdtCnt;
	let nm='';
	let prc='';
	let thumb='';
	console.log("~~~~~~~~~~~~~~");
	console.log(currentState);
	console.log(prdtTargetPage);
	productList();
	
	//카테고리 별 정렬
	$('.ctgr').on('click',function(){
		low=false;
    	high=false;
    	prdtTargetPage=1;
		currentState=event.target.dataset.commoncd;
		productList();
	});
	
	function productList() {

		
	    fetch("/mall/getCtgrList", {
	        method: "POST",
	        headers: {
	            'Content-Type': 'application/x-www-form-urlencoded'
	        },
	        body: "page="+prdtTargetPage+'&commonCd=' + currentState
	    })
	    .then(response => response.json())
	    .then(result => {
	    	console.log(result);
	    	$('#productList').empty();
   			result.forEach(items=> {
     			console.log(items);
     			let divTag = `
     				<div class="col-md-4 results">
					<div class="product-item" onclick="location.href='/mall/getFarm?prdtNo=${items.prdtNo}'">
						<div class="product-thumb">
							<span class="bage">Sale</span> <img
								src="/mall/images/main/${items.thumb}">
						</div>
						<div class="product-content">
							<div class="product-detail">
								<h4>
									<span class="nm"><a>${items.nm}</a></span>
								</h4>
								<p>
									<span class="original-price"
										style="text-decoration: line-through;">${items.prc}p</span> <br> <span
										class="discounted-price">${items.prc - (items.prc * (items.dcRate / 100.0))}p</span>
								</p>
							</div>
						</div>
					</div>
				</div>
     			`;
     			document.querySelector('#productList').innerHTML+=divTag;
      		})
	    })
	    .catch(err => console.log(err));
	} 
	 
	
	//낮은 가격순
	$('.lowBtn').on('click',function(){
		prdtTargetPage=1;
		lowPrcList();
	});
	
	function lowPrcList() {
	    fetch("/mall/getLowPrc", {
	        method: "POST",
	        headers: {
	            'Content-Type': 'application/x-www-form-urlencoded'
	        },
	        body: 'commonCd=' + currentState+"&page="+prdtTargetPage
	    })
	    .then(response => response.json())
	    .then(result => {
	    	low=true;
	    	high=false;
	    	$('#productList').empty();
   			result.forEach(items=> {
     			console.log(items);
     			let divTag = `
     				<div class="col-md-4 results">
					<div class="product-item" onclick="location.href='/mall/getFarm?prdtNo=${items.prdtNo}'">
						<div class="product-thumb">
							<span class="bage">Sale</span> <img
								src="/mall/images/main/${items.thumb}">
						</div>
						<div class="product-content">
							<div class="product-detail">
								<h4>
									<span class="nm"><a>${items.nm}</a></span>
								</h4>
								<p>
									<span class="original-price"
										style="text-decoration: line-through;">${items.prc}p</span> <br> <span
										class="discounted-price">${items.prc - (items.prc * (items.dcRate / 100.0))}p</span>
								</p>
							</div>
						</div>
					</div>
				</div>
     			`;
     			document.querySelector('#productList').innerHTML+=divTag;
      		})
	    })
	    .catch(err => console.log(err));
	} 
	
	
	//높은 가격순
	$('.highBtn').on('click',function(){
		prdtTargetPage=1;
		highPrcList();
	});
	
	function highPrcList() {
	    fetch("/mall/getHighPrc", {
	        method: "POST",
	        headers: {
	            'Content-Type': 'application/x-www-form-urlencoded'
	        },
	        body: 'commonCd=' + currentState+"&page="+prdtTargetPage
	    })
	    .then(response => response.json())
	    .then(result => {
	    	low=false;
	    	high=true;
	    	$('#productList').empty();
   			result.forEach(items=> {
     			console.log(items);
     			let divTag = `
     				<div class="col-md-4 results">
					<div class="product-item" onclick="location.href='/mall/getFarm?prdtNo=${items.prdtNo}'">
						<div class="product-thumb">
							<span class="bage">Sale</span> <img
								src="/mall/images/main/${items.thumb}">
						</div>
						<div class="product-content">
							<div class="product-detail">
								<h4>
									<span class="nm"><a>${items.nm}</a></span>
								</h4>
								<p>
									<span class="original-price"
										style="text-decoration: line-through;">${items.prc}p</span> <br> <span
										class="discounted-price">${items.prc - (items.prc * (items.dcRate / 100.0))}p</span>
								</p>
							</div>
						</div>
					</div>
				</div>
     			`;
     			document.querySelector('#productList').innerHTML+=divTag;
      		})
	    })
	    .catch(err => console.log(err));
	} 
	

	//검색기능
	/*  $('.searchPrdt').on('click',function(){
		searchPrdt();
	}); 
	 */
	function searchPrdt() {
		console.log(searchI.value);
		if(searchI.value != null && searchI.value != ''){
	    fetch("/mall/getSearchPrdt", {
	        method: "POST",
	        headers: {
	            'Content-Type': 'application/x-www-form-urlencoded'
	        },
	        body: 'nm=' + searchI.value
	    })
	    .then(response => response.json())
	    .then(result => {
	    	$('#productList').empty();
   			result.forEach(items=> {
     			 console.log(items);
     			let divTag = `
     				<div class="col-md-4 results">
					<div class="product-item" onclick="location.href='/mall/getFarm?prdtNo=${items.prdtNo}'">
						<div class="product-thumb">
							<span class="bage">Sale</span> <img
								src="/mall/images/main/${items.thumb}">
						</div>
						<div class="product-content">
							<div class="product-detail">
								<h4>
									<span class="nm"><a>${items.nm}</a></span>
								</h4>
								<p>
									<span class="original-price"
										style="text-decoration: line-through;">${items.prc}p</span> <br> <span
										class="discounted-price">${items.prc - (items.prc * (items.dcRate / 100.0))}p</span>
								</p>
							</div>
						</div>
					</div>
				</div>
     			`;
     			document.querySelector('#productList').innerHTML+=divTag;
      		})
	    })
	    .catch(err => console.log(err));
		}
	} 
	
 
	 
	
		
	// 페이징 버튼 생성
 	createPageBtn(); 
	 
	// 페이징위해 게시물 개수생성 및 페이지생성 호출
	 function createPageBtn() {
		console.log('test');
		 fetch("/mall/getProductCount", {
			 method : "POST",
			 headers : {
				 'Content-Type' : 'application/x-www-form-urlencoded'
			 },
			 body : 'commonCd=' + currentState
		 })
		 .then(result => result.json())
		 .then(data => {
			 totalPrdtCnt=data;
				 console.log(totalPrdtCnt);
			 if(totalPrdtCnt<=90) {
				 prdtEndPage=~~((totalPrdtCnt-1)/9 + 1);
			 }
			 if(totalPrdtCnt>90) {
				 nextpage.style.visibility="visible";
			 }
			 createPageCntBtn(prdtStartPage,prdtEndPage);
		 })
	 }
	 
	// 페이징 버튼 생성
	function createPageCntBtn(start, end){
		if(document.querySelectorAll('.pagebtn')!=null){
			document.querySelectorAll('.pagebtn').forEach(item=>{
				item.remove();
			})
		}
		for(let i=start; i<=end; i++){
			let liTag = document.createElement('li');
			liTag.classList.add('page-item','pagebtn');
			if(i%10==prdtTargetPage){
				liTag.classList.add('active');
			}
			let aTag = document.createElement('a');
			aTag.classList.add('page-link');
			aTag.href="javascript:pageMove("+i+");";
			aTag.textContent=i;
			liTag.append(aTag);
			nextpage.before(liTag);
		}
	}
	// 페이징 버튼 클릭
		function pageMove(page){
			document.querySelector('.pagebtn.active').classList.remove('active');
			prdtTargetPage=page;
			
			if(low){
				lowPrcList();
			}else if(high){
				highPrcList()
			}else{
				productList();
			}
			
			document.querySelectorAll('.pagebtn').forEach(item=>{
				if(item.children[0].textContent==page){
					item.classList.add('active');
				}
			})
		}
		
		// 페이징 < 버튼 클릭
		function prevPage(){
			nextpage.style.visibility="visible";
			prdtStartPage-=10;
			prdtEndPage-=10;
			if(prdtStartPage==1){
				prevpage.style.visibility="hidden";
			}
			createPageCntBtn(prdtStartPage, prdtEndPage);
			pageMove(prdtStartPage);
		}
		
		// 페이징 > 버튼 클릭
		function nextPage(){
			prevpage.style.visibility="visible";
			prdtStartPage+=10;
			prdtEndPage+=10;
			if(prdtEndPage>=~~((totalPrdtCnt-1)/9+1)){
				prdtEndPage=~~((totalPrdtCnt-1)/9+1);
				nextPage.style.visibility="hidden";
			}
			createPageCntBtn(prdtStartPage,prdtEndPage);
			pageMove(prdtStartPage);
		}
		
		function firstPage(){
			prdtStartPage=1;
			if(prdtEndPage>10){
				prdtEndPage=10;
			}
			createPageCntBtn(prdtStartPage,prdtEndPage);
			pageMove(prdtStartPage);
		}
		
		function lastPage(){
			if(prdtEndPage>10){
				prdtEndPage=~~((totalPrdtCnt-1)/9 + 1);
			}
			prdtStartPage=prdtEndPage-prdtEndPage%10+1;
			console.log(prdtStartPage,prdtEndPage);
			createPageCntBtn(prdtStartPage,prdtEndPage);
			pageMove(prdtEndPage);
		} 
	 
	
	</script>
	</div>
</body>
</html>