<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>farmList.html</title>

<link rel="stylesheet" type="text/css" href="css/farmList.css">
<link rel="stylesheet"
	href="mall/source/plugins/themefisher-font/style.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>

/* 퀵메뉴 */
.quick-menu {
	position: fixed;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	z-index: 9999;
	width: 80px; /* 퀵 메뉴의 가로 크기 조정 */
	height: 450px; /* 퀵 메뉴의 세로 크기 조정 */
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 40px; /* 직사각형 모양의 둥근 모서리를 위한 반지름 값 조정 */
	text-align: center; /* 내용 가운데 정렬 */
}

.quick-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.quick-menu li {
	margin-bottom: 10px;
}

.quick-menu li a {
	text-decoration: none;
	color: #333;
}

.ctgr {
	border: none;
}

.results tr[visible='false'],
.no-result {
display : none;
}
.results tr[visible='true']{
display : table-row;
}
.counter {
padding : 8px;
color: #ccc;
}


</style>

</head>
<body id="body">
	<div layout:fragment="content" class="outer-block">
		<!-- 퀵메뉴 -->
		<div class="quick-menu">
			<ul>
				<li th:onclick="|location.href='@{mallMain}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/4578/4578246.png"></li>
				<li style="font-size: 12px;"
					th:onclick="|location.href='@{mallMain}'|"><a href="#">포인트몰</a></li>

				<li
					th:onclick="|location.href='@{/mall/productList(commonCd=${'S1'})}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/2230/2230446.png"></li>
				<li style="font-size: 12px;"><a
					href="/mall/productList?commonCd=S1">농산물</a></li>


				<li
					th:onclick="|location.href='@{/mall/productList(commonCd=${'S2'})}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/3361/3361370.png"></li>
				<li style="font-size: 12px;"><a
					href="/mall/productList?commonCd=S2">수산물</a></li>


				<li th:onclick="|location.href='@{basketList}'|"
					style="cursor: pointer;"><img
					style="width: 40ox; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/545/545489.png"></li>
				<li style="font-size: 12px;"
					th:onclick="|location.href='@{basketList}'|"><a href="#">장바구니</a></li>
				<li class="top-btn" style="font-size: 12px; cursor: pointer;"><img
					style="width: 40px; height: 40px;"
					src="https://cdn-icons-png.flaticon.com/128/6015/6015743.png"
					alt="Top Button"><a href="#">TOP</a></li>
			</ul>
		</div>
		<div>
			<div id="container">
				<div class="row">
					<div class="farmImage"
						style="background-image: url(images/main/farmMain.jpg);"></div>
				</div>

				<!-- 농산물 -->
				<div>&nbsp;</div>

				<h2 th:data-common-cd="${prdtCode}" th:if="${prdtCode=='S1'}">농산물</h2>
				<h2 th:data-common-cd="${prdtCode}" th:unless="${prdtCode=='S1'}">수산물</h2>
				
				<div class="row-2">
					<div class="category-container">
						<!-- 농산물 카테고리 -->
						<th:block th:each="item : ${S}">
						<div>
							<button class="ctgr" type="button" data-common-cd="S101">[[${item.ctgr}]]</button>
						</div>
						<div>
							<ul>
								<li id="item" style="list-style: none;" class="sub_li_1"
									th:each="prdt : ${item.childList}" th:text="${prdt.ctgr}"><a
									th:href="#"></a></li>
							</ul>
						</div>

					</th:block>
			
					</div>
				</div>

				<!-- <div class="row-2">
		<div class="category-container">
			농산물 카테고리
			<h2 data-common-cd="S1">농산물</h2>
			<div class="category">
				<ul>
					<li class="li_1" data-common-cd="S101"><a href="#">곡류</a>
						<ul th:each="prdt : ${prdtName}">
							<li class="sub_li_1" th:text="${prdt.nm}"></li>
						</ul></li>
				</ul>
			</div>
			<div class="category">
				<ul>
					<li class="li_1" data-common-cd="S102"><a href="#">콩류</a>
						<ul th:each="prdt : ${prdtName}">
							<li class="sub_li_1" th:text="${prdt.nm}"></li>
						</ul></li>
				</ul>
			</div>
			<div class="category">
				<ul>
					<li class="li_1" data-common-cd="S103"><a href="#">과실류</a>
						<ul th:each="prdt : ${prdtName}">
							<li class="sub_li_1" th:text="${prdt.nm}"></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</div> -->


				<div class="row">
					<div class="selectBtn">
						<button class="btn btn-light mt-3 mt-lg-0 ctgr" type="button"
							id="low">낮은 가격순</button>
						<button class="btn btn-light mt-3 mt-lg-0 ctgr" type="button"
							id="high">높은 가격순</button>
						<button class="btn btn-light mt-3 mt-lg-0 ctgr" type="button"
							id="sales">판매량</button>
					</div>

					<!-- 검색 -->
					<div class="form-group pull-right">
						<label><input type="text" class="search form-control" id="search"
							placeholder="What you looking for?"></label>
					</div>
					<span class="counter pull-right"></span>
					<table class="table table-hover table-bordered results">
						<thead>
							<tr>
								<th>#</th>
								<th class="col-md-5 col-xs-5">Name / Surname</th>
								<th class="col-md-4 col-xs-4">Job</th>
								<th class="col-md-3 col-xs-3">City</th>
							</tr>
							<tr class="warning no-result">
								<td colspan="4"><i class="fa fa-warning"></i> No result</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>강낭콩 Özbeyli</td>
								<td>UI & UX</td>
								<td>Istanbul</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>조</td>
								<td>Software Developer</td>
								<td>Istanbul</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Egemen Özbeyli</td>
								<td>Purchasing</td>
								<td>Kocaeli</td>
							</tr>
							<tr>
								<th scope="row">4</th>
								<td>Engin Kızıl</td>
								<td>Sales</td>
								<td>Bozuyük</td>
							</tr>
						</tbody>
					</table>


				</div>

				<div class="row " id="farmList" >
					<div class="col-md-4 results" th:each="prdt : ${farmList}">
						<div class="product-item"
							th:onclick="|location.href='@{getFarm(prdtNo=${prdt.prdtNo})}'|">
							<div class="product-thumb">
								<span class="bage">Sale</span> <img
									th:src="|/mall/images/main/${prdt.thumb}|">
								<div class="preview-meta">
									<ul>
										<li><span data-toggle="modal"
											data-target="#product-modal"> <i
												class="tf-ion-ios-search-strong"></i>
										</span></li>
										<li><a href="#!"><i class="tf-ion-ios-heart"></i></a></li>
										<li><a href="#!"><i class="tf-ion-android-cart"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<div class="product-detail">

									<!--  th:onclick="|location.href='@{getFarm(prdtNo=${getFarm.prdtNo})}'|" -->
									<h4>
										<span class="nm"><a th:text=${prdt.nm}></a></span>
									</h4>
									<p>
										<span class="original-price" th:text="${prdt.prc} + 'P'"
											style="text-decoration: line-through;"></span> <br> <span
											class="discounted-price"
											th:text="${prdt.prc - (prdt.prc * (prdt.dcRate / 100.0))} + 'P'"></span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- list-end -->
		</div>


		<script>
		/* top 버튼 */
		document.querySelector('.top-btn').addEventListener('click',
				function() {
					window.scrollTo({
						top : 0,
						behavior : 'smooth'
					});
				});
		
		//검색
		function search() {
			let search = document.getElementById(".search").value.toLowerCase();
			let listItem = document.getElementByClassName("results");
			
			for (let i=0; i< listItem.length; i++) {
				item = listItem[i].getElementByClassName("nm");
				
				if(item[0].innerHTML.toLowCase().includes(search)) {
					listItem[i].style.display ="flex"
				}else {
					listItem[i].style.display = "none"
				}
			}
		}
		
		/* $(document).ready(function() {
			  $(".search").keyup(function () {
			    var searchTerm = $(".search").val();
			    var listItem = $('.results tbody').children('tr');
			    var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
			    
			  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
			        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
			    }
			  });
			    
			  $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
			    $(this).attr('visible','false');
			  });
			
			  $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
			    $(this).attr('visible','true');
			  });
			
			  var jobCount = $('.results tbody tr[visible="true"]').length;
			    $('.counter').text(jobCount + ' item');
			
			  if(jobCount == '0') {$('.no-result').show();}
			    else {$('.no-result').hide();}
					  });
			}); */
		
		
		
		// 상품 리스트 출력
		
	/* 	document.querySelectorAll(".ctgr").forEach(button => {
		  button.addEventListener('click', function() {
		    // 버튼 ID 출력
		    console.log(button.id);
		  });
		});
		 */
		let currentState=[[${prdtCode}]];
		let items=["ctgr", "prc", "nm", "img"];
		
	
	//초기 프로덕트 리스트
	getCtgrList();
	
	function getCtgrList() {
    fetch("/mall/getCtgrList", {
        method: "POST",
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: 'commonCd=' + currentState
    })
    .then(result => result.json())
    .then(data => {
        var farmListContainer = document.getElementById("farmList");
        farmListContainer.innerHTML = ""; // 상품 목록 초기화

        data.forEach(product => {
            var productItem = document.createElement("div");
            productItem.className = "col-md-4";
            productItem.addEventListener("click", function() {
                location.href = "/mall/getFarm?prdtNo=" + product.prdtNo;
            });

            var productThumb = document.createElement("div");
            productThumb.className = "product-thumb";
            productItem.appendChild(productThumb);

            // 이미지 태그 생성 및 설정
            var image = document.createElement("img");
            image.src = "../image/main/" + product.thumb;
            productThumb.appendChild(image);

            // 미리보기 메타 정보 생성
            var previewMeta = document.createElement("div");
            previewMeta.className = "preview-meta";
            productThumb.appendChild(previewMeta);

            // 미리보기 메타 정보 아이콘 생성
            var iconList = document.createElement("ul");
            previewMeta.appendChild(iconList);

            var iconListItem1 = document.createElement("li");
            var iconLink1 = document.createElement("span");
            iconLink1.setAttribute("data-toggle", "modal");
            iconLink1.setAttribute("data-target", "product-modal");
            var icon1 = document.createElement("i");
            icon1.className = "tf-ion-ios-search-strong";
            iconLink1.appendChild(icon1);
            iconListItem1.appendChild(iconLink1);
            iconList.appendChild(iconListItem1);

            var iconListItem2 = document.createElement("li");
            var iconLink2 = document.createElement("a");
            iconLink2.href = "#!";
            var icon2 = document.createElement("i");
            icon2.className = "tf-ion-ios-heart";
            iconLink2.appendChild(icon2);
            iconListItem2.appendChild(iconLink2);
            iconList.appendChild(iconListItem2);

            var iconListItem3 = document.createElement("li");
            var iconLink3 = document.createElement("a");
            iconLink3.href = "#!";
            var icon3 = document.createElement("i");
            icon3.className = "tf-ion-android-cart";
            iconLink3.appendChild(icon3);
            iconListItem3.appendChild(iconLink3);
            iconList.appendChild(iconListItem3);

            var productContent = document.createElement("div");
            productContent.className = "product-content";
            productItem.appendChild(productContent);

            var productDetail = document.createElement("div");
            productDetail.className = "product-detail";
            productContent.appendChild(productDetail);

            // 상품 이름 생성 및 설정
            var productName = document.createElement("h4");
            var productNameLink = document.createElement("a");
            productNameLink.textContent = product.nm;
            productName.appendChild(productNameLink);
            productDetail.appendChild(productName);

            // 가격 정보 생성 및 설정
            var priceInfo = document.createElement("p");
            var originalPrice = document.createElement("span");
            originalPrice.className = "original-price";
            originalPrice.textContent = product.prc + "원";
            originalPrice.style.textDecoration = "line-through";
            priceInfo.appendChild(originalPrice);
            priceInfo.appendChild(document.createElement("br"));
            var discountedPrice = document.createElement("span");
            discountedPrice.className = "discounted-price";
            discountedPrice.textContent = (product.prc - (product.prc * (product.dcRate / 100.0))) + "원";
            priceInfo.appendChild(discountedPrice);
            productDetail.appendChild(priceInfo);

            farmListContainer.appendChild(productItem);
        });
    })
    .catch(err => console.log(err));
} 

		 
	//카테고리 클릭이벤트
		document.querySelectorAll(".ctgr").forEach(ctgr=>
			ctgr.addEventListener('click',function(){
				sort.children[0].selected=true;
			
				currentState = ctgr.getAttribute('data-common-cd');
				getCtgrList();
				
			})
		)
		 */
		
	/* 	$(document).ready(function() {
    // 농산물 카테고리 클릭 이벤트
    $(".ctgr").click(function() {
        var commonCd = $(this).data("common-cd");
        loadProductList(commonCd);
    });

    // 초기 농산물 카테고리 아이템 로드
    loadProductList("S101");

    // 가격 정렬 버튼 클릭 이벤트
    $("#low").click(function() {
        sortProductList("low");
    });

    $("#high").click(function() {
        sortProductList("high");
    });

    // AJAX를 사용하여 농산물 카테고리의 상품 목록을 가져오는 함수
    function loadProductList(commonCd) {
        $.ajax({
            url: "/mall/farmList", // 실제 요청할 URL
            type: "GET",
            data: { commonCd: commonCd },
            success: function(data) {
                // 서버에서 받아온 데이터로 상품 목록을 동적으로 생성하여 추가
                var productList = data.farmList;
                var $categoryItem = $("#" + commonCd + " ul");
                $categoryItem.empty();
                for (var i = 0; i < productList.length; i++) {
                    var product = productList[i];
                    var $item = $("<li></li>").text(product.ctgr);
                    $categoryItem.append($item);
                }
            },
            error: function() {
                console.log("농산물 카테고리 로드 실패");
            }
        });
    }

    // 가격 정렬 함수
    function sortProductList(sortType) {
      var $farmList = $("#farmList");
      var $products = $farmList.find(".product-item");

      $products.sort(function(a, b) {
        var priceA = parseInt($(a).find(".discounted-price").text());
        var priceB = parseInt($(b).find(".discounted-price").text());

        if (sortType === "low") {
          return priceA - priceB;
        } else if (sortType === "high") {
          return priceB - priceA;
        }
      });

      // 기존 상품 목록의 크기 유지
      var originalHeight = $farmList.height();
      $farmList.empty();
      $products.appendTo($farmList);
      $farmList.height(originalHeight);
    }

  }); */

		
	/* 	
		let currentState=[[${prdtCode}]];
		
		function getProductList(){
			fetch("/mall/getFarmList", {
				method: "POST",
				headers : {
					'content-Type' : 'application/json'
				},
				body : 'commonCd='+currentState
			})
			
			.then(result => result.json())
			.then(data => {
				let tbody = document.getElementById("farmList");
				while(tbody.firstChild){
					tbody.firstChild.remove();
				}
			data.forEach((product, index)=> {
				
			})
			
			})
			.catch(err=>console.log(err));
		}
		 */
		
		// 카테고리 해당 리스만 출력
		
/* // AJAX를 사용하여 농산물 카테고리의 상품 목록을 가져오는 함수
function loadProductList(commonCd) {
    $.ajax({
        url: "/mall/farmList", // 실제 요청할 URL로 수정해야 합니다.
        type: "GET",
        data: { commonCd: commonCd },
        success: function(data) {
            // 서버에서 받아온 데이터로 템플릿을 활용하여 HTML 문자열 생성
            var productList = data.farmList;
            var html = "";
            for (var i = 0; i < productList.length; i++) {
                var product = productList[i];
                html += '<div class="product-item" onclick="location.href=\'@{getFarm(prdtNo=' + product.prdtNo + ')}\'">';
                html += '<div class="product-thumb">';
                // 이미지 및 상품 내용 추가
                // ...
                html += '</div>';
                html += '</div>';
            }

            // 생성된 HTML 문자열을 한 번에 추가
            $("#" + commonCd + " ul").html(html);
        },
        error: function() {
            console.log("농산물 카테고리 로드 실패");
        }
    });
}
		 
		// 낮은 가격순 정렬 버튼 클릭 시
		 $("#low").on("click", function() {
		     // 상품 목록을 낮은 가격순으로 정렬
		     var sortedList = farmList.sort(function(a, b) {
		         return a.prc - b.prc;
		     });

		     // 정렬된 상품 목록을 HTML로 생성하여 추가
		     var html = "";
		     for (var i = 0; i < sortedList.length; i++) {
		         var prdt = sortedList[i];
		         html += '<div class="col-md-4">';
		         html += '<div class="product-item" onclick="location.href=\'@{getFarm(prdtNo=' + prdt.prdtNo + ')}\'">';
		         // 상품 이미지 및 내용 추가
		         // ...
		         html += '</div>';
		         html += '</div>';
		     }

		     // 상품 목록 영역에 새로운 HTML 적용
		     $("#farmList").html(html);
		 });
 */

	</script>
	</div>
</body>
</html>