<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<style>
.cp.container {
	margin: 20px 0;
}

#favItem,#possItem {
	height: 413px;
	overflow-y: scroll;
}

#favItem p ,#possItem p{
	padding: 10px;
	position: relative;
	font-weight: 700;
}

#favItem p span,#possItem p span {
	text-align: right;
	position: absolute;
	right: 5px;
}

h3 {
	text-align: center;
	margin: 10px 10px 0 10px;
}

.plus {
	color: red;
}

.minus {
	color: blue;
}
#CP1D2 {
	height:360px;
}
#CP2D2 ol {
	margin-top: 10px;
	height: 170px;
}

#CP2D2 ol li {
	padding: 5px;
	position:relative;
}
#CP2D2 ol li span {
	position:absolute;
	right:50px;
}
#CP2D1 p {
	font-weight: 700;
	position: relative;
	display: inline-block;
	margin-left: 10px;
	position: relative;
}

#CP2D1 button {
	position: absolute;
	right: 5px;
}

#CP2D21>div {
	padding: 10px;
}
#CP2D2 {
	position:relative;
	height:288px;
	
}
#CP1D2{
	position:relative;
}
#CP1D2 .blur{
	
	z-index: 1;
}
#CP1D2 #forNonlogin{
	position:absolute;
	z-index:10;
	top:0;
	left:0;
	text-align: center;
}
#CP1D2 #forNonlogin h3{
	margin:20px;
}
#CP2D22 table {
	margin: 10px;
}

#CP2D22 table button {
	margin-left: 10px;
}

#CP2D22 div {
	text-align: center;
	margin-top: 40px;
}

#CP2D22 div h4 {
	margin: 10px;
}

#CP3D11 input {
	margin: 10px;
}
#CP3D1{
	height:280px;
}

#CP3D1 table {
	width: 100%;
}

thead {
	border-bottom: 1px solid black;
}
#CP3D2 {
	height:365px;
}
#CP3D2 table {
	width: 100%;
	text-align: center;
}

#CP3D2 h3 {
	margin: 15px 0;
}

#sell td:last-of-type {
	width: 58%;
	text-align: left;
}

#buy td:first-of-type {
	width: 58%;
	text-align: right;
}

#price {
	margin: 0 0 60px 0;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	height: 500px;
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

@
-webkit-keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}
@
keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: rgb(120, 182, 226);
	color: white;
}

.modal-body {
	padding: 2px 16px;
}

.modal-footer {
	padding: 2px 16px;
	background-color: rgb(120, 182, 226);
	color: white;
}
#fstDiv ul {
	list-style: none;
}

#fstDiv li {
	padding: 20px;
}

#fstDiv table {
	width: 100%;
}

#choice {
	width:100%;
	height: 300px;
	padding: 10px;
}

#choice td:not(:last-of-type) {
	width: 20%;
	height: 300px;
	border-right: grey solid 1px;
}

#item {
	height: 300px;
	overflow-y: scroll;
}

#itemInfo {
	padding: 20px;
}

#itemInfo p {
	margin-bottom: 5px;
	font-size: 14px;
}
#favItem p:hover input ,#possItem p:hover input{
	visibility: visible;
}
#favItem p input,#possItem p input{
	visibility: hidden;
}
#boardTable {
	
}
#boardTable td {
	padding:0;
	
	
}
#boardTable p {
	width:200px;
	display:block;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin :0;
	font-size: 14px;
}
.orderActive {
	background-color: rgb(255, 0, 115);
	color:white;
}
#orderType {
	font-weight: 700;
	color:red;
	
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#candleChart {
	position:relative;
	z-index:1;
}
#chartBtn {
	position:relative;
	z-index:5;
	list-style: none;
	padding:0;
	margin:0 0 0 70px;
}
#chartBtn li {
	display: inline-block;
	margin:0 0 10px 10px;
}
#stickChart{
	margin:0 0 0 22px;
	width:520px;
}
.pointer{
	cursor: pointer;
}
.stock-tab-content{
	height:240px;
}
.searchItem.interest{
	height:47.5px;
	width:85%;
}
</style>
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<th:block th:if="${session.loggedInMember} != null">
			<p id="sessionMembNo" style="display:none" th:text="${session.loggedInMember.membNo}"></p>
		</th:block>
		<th:block th:unless="${session.loggedInMember} != null">
			<p id="sessionMembNo" style="display:none" th:text="nonLoginUser"></p>
		</th:block>
		<div class="cp container">
			<div class="chartpage row">
				<div class="p-1 col-md-3 border">
					<div id="CP1D12" class="mb-1 border">
						<h3>
							보유종목
						</h3>
						<div id="possItem" class="border m-1">
							<th:block th:if="${session.loggedInMember}==null">
								<p>로그인 후 이용할 수 있는 기능입니다.</p>
							</th:block>
							<th:block th:unless="${session.loggedInMember}==null"
								th:each="stock : ${possStock}">
								<p class="border my-1 pointer" >
								<input class="btn btn-danger btn-sm invisible" type="button" value="x" th:attr="data-info=${stock.itemNo}" disabled="disabled" >
									[[${stock.nm}]] <span
										th:class="${stock.change} == 0 ? '_' : (${stock.change} > 0 ?'plus':'minus')">[[${stock.change
										== 0 ? stock.change : (stock.change > 0 ? "+"+stock.change :
										stock.change) }]] ([[${stock.rate == 0 ? stock.rate : (stock.rate > 0 ? "+"+stock.rate : stock.rate) }]]%)</span>
								</p>
							</th:block>
						</div>
					</div>
					<div id="CP1D1" class="mb-1 border">
						<div id="changeInput">
							<h3>
								관심종목
								<button class="btn btn-danger" id="myBtn">+</button>
							</h3>
						</div>
						<div id="favItem" class="border m-1">
							<th:block th:if="${session.loggedInMember}==null">
								<p>로그인 후 이용할 수 있는 기능입니다.</p>
							</th:block>
							<th:block th:unless="${session.loggedInMember}==null"
								th:each="stock : ${interestStock}">
								<p class="border my-1 pointer" >
								<input class="btn btn-danger btn-sm" type="button" value="x" th:attr="data-info=${stock.itemNo}">
									[[${stock.nm}]] <span
										th:class="${stock.change} == 0 ? '_' : (${stock.change} > 0 ?'plus':'minus')">[[${stock.change
										== 0 ? stock.change : (stock.change > 0 ? "+"+stock.change :
										stock.change) }]] ([[${stock.rate == 0 ? stock.rate : (stock.rate > 0 ? "+"+stock.rate : stock.rate) }]]%)</span>
								</p>
							</th:block>
						</div>
					</div>
				</div>
				<div class="p-1 col-md-6 border">
					<div id="CP2D1" class="mb-1 border">
						<div id="itemPtag" style="display:inline-block">
							<div><p th:attr="data-in=${itemInfo?.itemNo}">종목 : [[${itemInfo?.nm}]] <span th:class="${itemInfo?.change} == 0 ? '_' : (${itemInfo?.change} > 0 ? 'plus' : 'minus')"> 전일비 : [[${itemInfo?.change &gt; 0 ? "+ "+itemInfo?.change : itemInfo?.change}]] 변동률 : [[${itemInfo?.rate &gt; 0 ? "+"+itemInfo?.rate : itemInfo?.rate }]]%</span></p>
							<button class="btn btn-danger btn-sm" id="addInt2">관심종목추가</button></div>
							<div style="position: absolute;float:left;" id="chartSelect">
								<ul id="chartBtn" >
									<li><input class="btn btn-danger" type="button" value="일"></li>
									<li><input class="btn btn-danger" type="button" value="주"></li>
									<li><input class="btn btn-danger" type="button" value="월"></li>
									<li><input class="btn btn-danger" type="button" value="년"></li>
								</ul>
							</div>
						</div>
						
						<div id="candleChart" ></div>
						<div id="stickChart"></div>
					</div>
					<div id="CP1D2" class="border">
						<div class="blur">
							<ul class="nav nav-tabs" id="orderBtn">
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#sellTab" id="sellOrderTab">매도</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#buyTab" id="buyOrderTab">매수</a></li>
							</ul>
							<div class="stock-tab-content">
								<div class="tab-pane fade " id="sellTab"></div>
								<div class="tab-pane fade" id="buyTab"></div>
							</div>
						</div>
						<div id="forNonlogin" th:if="${session.loggedInMember} == null">
							<h3>로그인 후 이용할 수 있는 기능입니다.</h3>
							<button class="btn btn-danger" onclick="location.href='/member/login'">로그인</button> <button class="btn btn-danger" onclick="location.href='/member/join'">회원가입</button>
						</div>
					</div>
					
				</div>
				<div class="p-1 col-md-3 border">
					<div id="CP3D1" class="mb-1 border">

						<div id="CP3D11" class="col-md-12 border">
							<input class="searchItem move" style="width:180px;margin:10px 0" type="text" placeholder="종목을 검색하세요"><button class="btn btn-danger btn-sm ml-1" >이동</button>
						</div>
						<div class="col-md-12">
							<table id="boardTable" class=table>
								<thead>
									<tr>
										<th>종목 게시판</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:if="${boardList.size()} != 0">
										<th:block th:each="list : ${boardList}">
											<tr >
												<td><a th:href="@{/community/boardDetail(page=1 , boardNo=${list.boardNo} , commonCd=C2)}" th:attr="data-boardno=${list.boardNo}" th:text="|[${list.cntn}]   ${list.ttl}|" style="cursor:pointer;text-decoration: none;"></a> </td>
											</tr>
										</th:block>
									</th:block>
									<th:block th:unless="${boardList.size()} != 0">
										<tr>
											<td>게시판 정보가 없습니다.</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
					<div id="CP2D2" class="border">
						<h3>주식순위</h3>
						<ul class="nav nav-tabs">
							<li class="nav-item"><a class="nav-link active"
								data-toggle="tab" href="#qwe">거래량</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#asd">상승률</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#zxc">하락률</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="qwe">
								<ol>
									<th:block th:each="vol : ${topVolChart}">
										<li><a th:href="@{chart(itemNo=${vol.itemNo})}" th:text="${vol?.nm}"></a><span>[[${vol?.vol}]]</span></li>
									</th:block>
								</ol>
							</div>
							<div class="tab-pane fade" id="asd">
								<ol>
									
								</ol>
							</div>
							<div class="tab-pane fade" id="zxc">
								<ol>
									
								</ol>
							</div>
						</div>
					</div>
					<div id="CP3D2" class="border">
						<h3>호가</h3>
						<div id="price">
							<table id="sell"></table>
							<table id="buy"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="interestInput" class="d-none">
			<input class="searchItem interest" type="text" name="search" placeholder="종목을 검색하세요." />
			<button id="returnBtn" class="btn btn-danger">&times</button>
		</div>
			
			<div id="orderBox" class="row d-none" >
				<div id="CP2D21" class="col-6">
					<div>
						<p class="m-0">상한가 : <span class="upLimit"></span> 하한가 : <span class="downLimit"></span></p>
						<input id="stockPrc" type="number" name="stockPrc" value="0">원<br>
						<label style="margin:0"><input type="checkbox">시장가 주문</label>
					</div>
					<div class="py-0">
						<input id="stockCnt" type="number" name="stockCnt" value="0" >주
						<p class="mb-0">
							<span id="orderName">구매</span>가능한 주수 <input class="btn btn-danger btn-sm" id="afford" type="button" value="0">주
						</p>
						<h5>총 금액 : <span id="totalPrc">0</span> </h5>
						<h5>수수료 : <span id="charge">0</span> </h5>
						<h5><span id="orderMessage"></span><span id="actualPrc"></span> point </h5>
						<button class="btn btn-danger" id="stockOrderBtn" >주문</button> <span id="orderType" data-order=""></span>
					</div>
				</div>
				<div id="CP2D22" class="col-6">
					<table style="margin:25px">
						<tr>
							<td><button class="btn btn-danger btn-sm">10 %</button></td>
							<td><button class="btn btn-danger btn-sm">50 %</button></td>
							<td><button class="btn btn-danger btn-sm">100 %</button></td>
						</tr>
					</table>
					<div style="margin-top:40px;">
						<p>종목 : [[${itemInfo?.nm}]]</p>
						<p>
							총 보유주 <span id="possStockCnt">0</span> 주
						</p>
						<p>
							수익률 : <span>0</span>%
						</p>
						<p th:if="${session.loggedInMember} != null" th:attr="data-point=${session.loggedInMember.point}">보유 포인트 : <span th:text="${#numbers.formatInteger(session.loggedInMember.point, 3, 'COMMA') + 'point'}"></span></p>
						<p th:unless="${session.loggedInMember} != null">로그인 해주세요.</p>
					</div>
				</div>
			</div>
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
		<script>
			function makeYear(data){
				return dayjs(data).format('YY-MM-DD');
			}
		</script>
		<script src="../stock/candleChart.js"></script>
		<script src="../stock/stickChart.js"></script>
		<link rel="stylesheet"
			href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script th:inline="javascript" src="../stock/autoComplete.js"></script>
		<script th:inline="javascript">
		// 상한가 하한가 조절
		let itemClPrc = [[${clPrc}]];
		let upLimit = itemClPrc*1.3;
		let downLimit = itemClPrc*0.7;
		$(".upLimit").text(upLimit.toLocaleString('ko-KR'));
		$(".downLimit").text(downLimit.toLocaleString('ko-KR'));
		
		$('#forNonlogin').css('width',$('#CP1D2').css('width')).css('height',$('#CP1D2').css('height'))
		if([[${session.loggedInMember}]] == null){
			$('#CP1D2 .blur').css('filter','blur(5px)');
		}
			

			// Get the button that opens the modal
			/*<![CDATA[*/
			$('#changeInput').on('click','#myBtn',function() {
				if([[${session.loggedInMember}]] != null){
					// 관심종목 위치에 input 오게하기
					$('#changeInput').html('').append($('#interestInput').removeClass('d-none'));
				}else{
					toastShow('로그인 후 실행해주세요','회원서비스 입니다','info');
				}
			});
			/*]]>*/

			$('#changeInput').on('click','#returnBtn',function(){
				$('section').append($('#interestInput').toggleClass('d-none'));
				let html = `<h3>
								관심종목
								<button class="btn btn-danger" id="myBtn">+</button>
							</h3>`;
				$('#changeInput').html(html);
			})
			
			// 관심종목 제거 기능
			$('#favItem').on('click','input[type=button]',function(){
				let membInfo = $('#sessionMembNo').text(); 
				let itemInfo = $(this).data('info');
				let btn = $(this);
				$.ajax('deleteIntItem',{
					method:'post',
					data:{ membNo: membInfo, itemNo:itemInfo},
					success:function(data){
						if(data.code == 'success'){
							toastShow("관심종목 제거",data.msg,"success");
							btn.parent().remove();
						}else if(data.code == 'fail'){
							toastShow("관심종목 제거",data.msg,"error");
						}
					},
					error:function(xhr){
						console.log(xhr);
						
					}
				})
				
			})
			//관심종목 클릭시 이동
			$('#favItem,#possItem').on("click","p",function(){
				if(event.target.tagName == 'INPUT') return;
				let itemInfo = $(this).children('input').data('info');
				location.href="chart?itemNo="+itemInfo;
			})
			
			$('.searchItem.interest').css('width',$('#choice').css('width'));
			
			// 매도 매수버튼 클릭 이벤트
			$('#orderBtn').on('click','a',function(){
				//주문 종류 변경시 마다 입력칸 값 초기화
				if(!$(this).hasClass('tabActive')){
					$('#totalPrc').text(0);
					$('#charge').text(0);
					$('#actualPrc').text(0);
					$('#afford').val(0);
					$('input[name=stockPrc]').val(0);
					$('input[name=stockCnt]').val(0);
					$('input[type=checkbox]').attr('checked',false)
				}
				//tabActive 클래스가 존재한다면 삭제
				$(this).parent().parent().find('.tabActive').removeClass('tabActive');
				//클릭한 버튼 클래스 추가
				$(this).toggleClass('tabActive'); 
				
				//주문 종류에 따라 출력되는 경고메세지 $(this) == button
				if($(this).is(':contains("매도")')){
					
					
					$('#orderType').attr('data-order','sell').text('매도주문입니다');
					$('#orderName').text('판매');
					// 판매가능한 주수 보유주수량으로 출력	
					$('#afford').val($('#possStockCnt').text());
					$('#orderMessage').text('전체주문 체결시: ');
				}else{
					
					$('#orderType').attr('data-order','buy').text('매수주문입니다');
					$('#orderName').text('구매');
					$('#orderMessage').text('수수료 포함 금액: ')
				}
				
				})
			// input값 작성이벤트
				$('#CP2D21 input[type=number]').on('click',function(){
					let orderType = $('#orderType').attr('data-order');
					if(orderType == ''){
						$('#CP2D21 input[type=number]').val('');
						$('#CP2D21 input').attr('readonly',true);
						toastShow('매도/매수 버튼 선택','주문의 종류를 선택해주세요.','info');
					}
				})
				
			//checkbox (시장가주문 선택 이벤트)
			$('#CP2D21 input[type=checkbox]').on('click',function(){
				let tof = $(this).is(':checked');// check 여부확인
				let orderType = $('#orderType').attr('data-order'); // 매수매도 중 선택된 주문의 종류
				let sellPrc = $('#buy tr:first-of-type td:first-of-type').text(); // 매도주문의 시장가
				let buyPrc = $('#sell tr:last-of-type td:last-of-type').text();	//매수주문의 시장가
				let ckbox = $(this);
				let point = $('p[data-point]').attr('data-point');//유저의 보유 포인트
				let stockCnt = $('#stockCnt').val(); // 거래수량
				
				// 매수매도버튼을 클릭하지 않았을시 함수
				if(orderType == ''){
					$('#CP2D21 input').attr('checked',false);
					toastShow('매도/매수 버튼 선택','주문의 종류를 선택해주세요.','info');
					return;
				}
				
				if(orderType == 'sell'){
					// 호가 매수 테이블의 가장 높은 가격이 가격입력칸에 출력
					if(tof){
						if($('#buy tr').length == 0){
							$('#stockPrc').val(0);
							$('#totalPrc').text(0);
							$('#charge').text(0);
							$('#actualPrc').text(0);
						}else{
							$('#stockPrc').val(sellPrc);
							$('#totalPrc').text((sellPrc * stockCnt).toLocaleString('ko-KR'));
							$('#charge').text(Math.floor((sellPrc * stockCnt)*0.1).toLocaleString('ko-KR'));
							$('#actualPrc').text((Number(sellPrc * stockCnt) - Math.floor((sellPrc * stockCnt)*0.1)).toLocaleString('ko-KR'));
						}
					}else{
						$('#stockPrc').val(0);
						$('#totalPrc').text(0);
						$('#charge').text(0);
						$('#actualPrc').text(0);
					}
					
					
				}else if(orderType == 'buy'){
					// 호가 매도 테이블의 가장 낮은 가격이 가격입력칸에 출력
					if(tof){
						if($('#sell tr').length == 0){
							$('#stockPrc').val(0);
							$('#stockCnt').val(0);
						}else{
							$('#stockCnt').val(0);
							$('#stockPrc').val(buyPrc);
						}
						// 구매가능한 주수 버튼에 값 입력
						let affordStockCnt = Math.floor(point/$('#stockPrc').val());
						if (!isFinite(affordStockCnt)) { // 무한대 값인 경우 0으로 대체
							  affordStockCnt = 0;
							}
						$('#afford').val(affordStockCnt);
						$('#totalPrc').text(($('#stockPrc').val()*$('#stockCnt').val()).toLocaleString('ko-KR'));
						$('#charge').text(Math.floor(($('#stockPrc').val()*$('#stockCnt').val())*0.1).toLocaleString('ko-KR'));
						$('#actualPrc').text((Number($('#stockPrc').val()*$('#stockCnt').val()) + Math.floor(($('#stockPrc').val()*$('#stockCnt').val())*0.1)).toLocaleString('ko-KR'));
					}else{
					}
				}
			})
			
			
			//구매가능한 주수 버튼 클릭시 입력칸에 입력
			$('#afford').on('click',function(){
				let orderType = $('#orderType').attr('data-order'); // 매수매도 중 선택된 주문의 종류
				
				let cnt = $(this).val();
				let stockPrc = Number($('#stockPrc').val());
				$('#stockCnt').val(cnt);
				//총 값도 출력
				let total = Number(cnt * stockPrc);
				$('#totalPrc').text(total.toLocaleString('ko-KR'));
				$('#charge').text(Math.floor(total*0.1).toLocaleString('ko-KR'));
				if(orderType == 'buy'){
					$('#actualPrc').text((Number(total) + Math.floor(total*0.1)).toLocaleString('ko-KR'));
				}else if (orderType == 'sell'){
					$('#actualPrc').text((Number(total) - Math.floor(total*0.1)).toLocaleString('ko-KR'));
				}
			})
			
			//마우스휠 이벤트 방지
			$('#CP2D21 input[type=number]').on('wheel',function(e){
				e.preventDefault();
			})
			
			//거래가 변경시 기능
			$('#stockPrc').on('keyup mousewheel' ,function(){
				let orderType = $('#orderType').attr('data-order'); // 매수매도 중 선택된 주문의 종류
				let point = $('p[data-point]').attr('data-point');//유저의 보유 포인트
				let stockPrc = $('#stockPrc').val(); // 거래가격
				let stockCnt = $('#stockCnt').val(); // 거래수량
				$(this).val(Number($(this).val())); //맨 좌측의 0 제거
				
				//공통기능
				if(stockPrc > upLimit){
					alert('상한가이상의 금액은 입력할 수 없습니다.')
					$('#stockPrc').val(upLimit);
					return;
				}
				
				
				// 매수 기능 일때
				if(orderType == 'buy'){
					console.log($(this).val())
					// 유효범위
					if( $(this).val() > Number(point)  ){
						alert('보유한 포인트보다 많게 주문할 수 없습니다.')
						$('#afford').val(1);
						$(this).val($('p[data-point]').attr('data-point'));//보유포인트
						return;
					}else if( $(this).val() == '' || $(this).val() <= 0){
						$(this).val(0)
						$('#afford').val(0);
					}
					
					$('#stockCnt').val(0);// 거래가 변경시 주문수량은 초기화
					$('#CP2D2 input[type=checkbox]').attr('checked',false);//값 입력시 시장가 주문 해제
					if($(this).val() == ''|| $(this).val() <= 0 ){ // 0 이하거나 숫자아닐때 나누기 안되게하기
						return;
					};
					let affordStockCnt = Math.floor(point/stockPrc);
					$('#afford').val(affordStockCnt);
					$('#totalPrc').text(0);
					$('#charge').text(0);
					$('#actualPrc').text(0);
				
				//매도 기능 일때
				}else if(orderType == 'sell'){
					// 유효범위
					if( $(this).val() == '' || $(this).val() <= 0){
						$(this).val(0)
						$('#afford').val(0);
					}
					
					// 총가격 설정
					let totalPrc = stockPrc * stockCnt ; 
					$('#totalPrc').text(totalPrc.toLocaleString('ko-KR'));
					$('#charge').text(Math.floor(totalPrc*0.1).toLocaleString('ko-KR'));
					$('#actualPrc').text((Number(totalPrc) - Math.floor(totalPrc*0.1)).toLocaleString('ko-KR'));
				}
				
			})
			
			
			//주문 수량 변경시 기능
			$('#stockCnt').on('keyup',function(){
				let orderType = $('#orderType').attr('data-order'); // 매수매도 중 선택된 주문의 종류
				let affordStockCnt = Number($('#afford').val()); // 구매가능 주수
				let stockPrc = $('#stockPrc').val(); // 거래가격
				let stockCnt = $('#stockCnt').val(); // 거래수량
				let total = stockPrc * stockCnt; // 총 가격
				$(this).val(Number($(this).val())) // 맨 좌측의 0 제거
				
				// 주문주수 먼저 입력시 거래가격입력요청
				if($('#stockPrc').val() == 0 && orderType == 'buy'){
					alert('거래가격을 먼저 입력해주세요.')
					$(this).val(0);
					$('#stockPrc').focus();
					return;
				}
				
				// 공통 유효범위
				if($(this).val() > affordStockCnt ){
					alert('주문가능한 수량을 벗어났습니다.')
					$(this).val(affordStockCnt);
					$('#totalPrc').text((affordStockCnt * stockPrc).toLocaleString('ko-KR'));
					$('#charge').text(Math.floor((affordStockCnt * stockPrc)*0.1).toLocaleString('ko-KR'));
					$('#actualPrc').text((Number(affordStockCnt * stockPrc) + Math.floor((affordStockCnt * stockPrc)*0.1)).toLocaleString('ko-KR'));
					return;
				}else if ( $(this).val() == '' || $(this).val() <= 0){ // 0 이하이거나 '' 일시 0으로 설정
					 $(this).val(0)
					 return;
				}
				
				// 매수기능일때
				if(orderType == 'buy'){
					
					//총가격 설정
					$('#totalPrc').text(total.toLocaleString('ko-KR'));
					$('#charge').text(Math.floor(total*0.1).toLocaleString('ko-KR'));
					$('#actualPrc').text((Number(total) + Math.floor(total*0.1)).toLocaleString('ko-KR'));
					
				// 매도기능일때
				}else if(orderType == 'sell'){
					$('#totalPrc').text(total.toLocaleString('ko-KR'));
					$('#charge').text(Math.floor(total*0.1).toLocaleString('ko-KR'));
					$('#actualPrc').text((Number(total) - Math.floor(total*0.1)).toLocaleString('ko-KR'));
				}
			})
			
			
			// 10% 50% 100% 
			$('#CP2D22 table button').on('click',function(){
				let stockPrc = $('#stockPrc').val();// 거래가격
				
				let affordStockCnt = $('#afford').val();
				if($(this).text() =='10 %'){
					let pointTen = Math.floor(affordStockCnt * 0.1);
					$('#stockCnt').val(pointTen);
					totalForm(stockPrc)
				}else if($(this).text() == '50 %'){
					let pointFive = Math.floor(affordStockCnt * 0.5);
					$('#stockCnt').val(pointFive);
					totalForm(stockPrc)
				}else{
					let hundred = affordStockCnt;
					$('#stockCnt').val(hundred);
					totalForm(stockPrc)
				}
			})
			
			//주문수량 * 거래가격 
			function totalForm(prc){
				let stockCnt =$('#stockCnt').val();// 주문수량
				let total = stockCnt * prc; // 총 가격
				$('#totalPrc').text(total.toLocaleString('ko-KR'));
				$('#charge').text(Math.floor(total*0.1).toLocaleString('ko-KR'));
				$('#actualPrc').text((Number(total) + Math.floor((total*0.1))).toLocaleString('ko-KR'));
			}
			
			//가격 입력칸 주문수량 입력 값 변화 될떄마다 총가격 설정
			$('#stockCnt','#stockPrc').on('change',function(){
				let stockCnt =$('#stockCnt').val();
				let stockPrc = $('#stockPrc').val();
				let total = stockCnt * stockPrc;
				if(stockPrc == 0){
					$('#afford').val(0);
				}
				$('#totalPrc').text(total.toLocaleString('ko-KR'));
				$('#charge').text(Math.floor(total*0.1).toLocaleString('ko-KR'));
				$('#actualPrc').text((Number(total) + Math.floor((total*0.1))).toLocaleString('ko-KR'));
			})
			
			//주문버튼 기능
			$('#stockOrderBtn').on('click',function(){
				
				 
				
				let orderType = $('#orderType').attr('data-order'); // 매수매도 중 선택된 주문의 종류
				let stockPrc = $('#stockPrc').val(); // 거래가격
				let stockCnt = $('#stockCnt').val(); // 거래수량
				let iteminfo = $('p[data-in]').attr('data-in'); // itemNo
				let membinfo = $('#sessionMembNo').text(); // membNo
				let totalPrc = $('#totalPrc').text();
				let actualPrc = Number($('#actualPrc').text().replace(/\D/g,''));
				// 개수나 가격이 0인 주문\
				if(stockPrc == 0 || stockCnt == 0){
					toastShow("주문 불가","개수나 가격이 0인 주문을 불가합니다","warning");
					return;
				}
				
				// 상한가 하한가 범위를 벗어나는 주문의 경우
				if(stockPrc > upLimit || stockPrc < downLimit){
					toastShow("주문 불가","주문가격은 상한가 하한가 범위를 벗어날 수 없습니다","warning");
					return;
					
				}
				
				//매수시 보유 포인트가 총 금액보다 적을시 return
				if(orderType == 'buy' && actualPrc > Number($('p[data-point]').attr('data-point'))){
					if(Number($('p[data-point]').attr('data-point')) == 0){
						toastShow('자산이 없습니다','주문 불가','warning');
						return;
					}
					toastShow('보유한 자산이 주문 금액보다 적습니다.','주문 불가','warning');
					return;
				}
				
					$.ajax('stockOrder',{
						method:'post',
						data:{
							order_type : orderType,
							order_item_no : iteminfo,
							order_memb_no :membinfo,
							order_prc : stockPrc,
							order_rmn_cnt : stockCnt
						},
						success:function(data){
							if(data.code =='success'){	
								if(orderType == 'buy'){
									toastShow('주문 완료',data.message ,'success');
									let rate = data.possStock.rate > 0 ? "+ "+data.possStock.rate : data.possStock.rate;
				  					let rateClass = data.possStock.cnt == 0 ? '' : (data.possStock.cnt > 0 ? 'plus' : 'minus');
				  					$('#CP2D22 div p:nth-of-type(2) span').text(data.possStock.cnt);
				  					$('#CP2D22 div p:nth-of-type(3) span').text(rate).addClass(rateClass);
				  					$('#CP2D22 div p:nth-of-type(4)').attr('data-point',data.possStock.point);
				  					$('#CP2D22 div p:nth-of-type(4) span').text(data.possStock.point.toLocaleString('ko-KR') + ' point');
				  					
				  					// 변경된 포인트에 맞춰 구매가능주수 변경설정
				  					$('#afford').val(Math.floor(data.possStock.point/stockPrc));
								}else if (orderType == 'sell'){
									toastShow('주문 완료',data.message ,'success');
									let rate = data.possStock.rate > 0 ? "+ "+data.possStock.rate : data.possStock.rate;
				  					let rateClass = data.possStock.cnt == 0 ? '' : (data.possStock.cnt > 0 ? 'plus' : 'minus');
				  					$('#CP2D22 div p:nth-of-type(2) span').text(data.possStock.cnt);
				  					$('#CP2D22 div p:nth-of-type(3) span').text(rate).addClass(rateClass);
				  					$('#CP2D22 div p:nth-of-type(4)').attr('data-point',data.possStock.point);
				  					$('#CP2D22 div p:nth-of-type(4) span').text(data.possStock.point.toLocaleString('ko-KR') + ' point');
				  					
				  					//변경된 주식수량에 맞춰 판매가능주수 변경설정
				  					$('#afford').val(data.possStock.cnt);
								}
								
							}else if(data.code =='fail'){
								toastShow('주문 실패',data.message, 'error');
							}
						},
						error:function(xhr){
							console.log(xhr);
						}
					});// end of ajax
					
			}); // 주문버튼기능 end
			
			// 차트 버튼 기능
			$('#chartBtn').on('click','input',function(){
				
				$(this).parent().parent().find('.orderActive').removeClass('orderActive');
				//클릭한 버튼 클래스 추가
				$(this).toggleClass('orderActive');
				
				if($(this).val()=='분'){
					// 가능하면 추가
				}else if($(this).val()=='일'){
					$('#candleChart').html('');
					$('#stickChart').html(''); 
					$.ajax('dayChart?itemNo='+itemNo,{
						async:false
					}).done(function(chart){
			  			makeChart(chart);
			  			
			  		})
				}else if($(this).val()=='주'){
					$('#candleChart').html('');
					$('#stickChart').html(''); 
					$.ajax('weekMonthChart?itemNo='+itemNo+'&type=week',{
						async:false
					}).done(function(chart){
						makeChart(chart);
					})
				}else if($(this).val()=='월'){
					$('#candleChart').html('');
					$('#stickChart').html('');
					$.ajax('weekMonthChart?itemNo='+itemNo+'&type=month',{
						async:false
					}).done(function(chart){
						makeChart(chart);
					})
				}else if($(this).val()=='년'){
					$('#candleChart').html('');
					$('#stickChart').html('');
					$.ajax('weekMonthChart?itemNo='+itemNo+'&type=year',{
						async:false
					}).done(function(chart){
						makeChart(chart);
					})
				}
			})
			
			// stick chart 사이즈 조정
			window.onresize = function() {
				$('#stickChart').css('width',Number($('#candleChart').css('width').slice(0,-2))-18 + 'px')
			}
			$(function(){
				document.querySelector('#sellOrderTab').click();
			})
			$('#sellOrderTab , #buyOrderTab').on('click',function(){
				if($(event.target).text() == '매도'){
					if($('#sellTab').html() == ''){
						$('#sellTab').append($('#orderBox').removeClass('d-none'));
					}
				}else if($(event.target).text() == '매수'){
					if($('#buyTab').html() == ''){
						$('#buyTab').append($('#orderBox').removeClass('d-none'));
					}		
				}
				
			})
		</script>
	</div>
</body>
</body>
</html>