<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" />

<style>
.item.row {
	margin: 40px 0;
}

#choice ul {
	list-style: none;
}

#choice li {
	padding: 20px;
}

#choice table {
	width: 100%;
}

#choice {
	height: 300px;
	padding: 10px;
}

#choice td:not(:last-of-type) {
	width: 20%;
	height: 300px;
	border-right: grey solid 1px;
}

#item {
	height: 300px;
	overflow-y: scroll;
}

#itemInfo {
	padding: 20px;
}

#itemInfo p {
	margin-bottom: 5px;
	font-size: 14px;
}
#itemInfo button{
	border-radius: 7%;
	font-size: 14px;
	margin-right:5px;
}
#hot {
	width: 100%;
	height: 355px;
	
}

#hot p {
	text-align: center;
	padding: 20px;
}
#hot ul {
	list-style: none;
}
#hot li {
	padding: 10px;
}

#itemDiv {
	margin-top: 40px;
}

#itemDiv div {
	padding: 0;
}

#itemDiv td {
	width: 16%;
}

.plus {
	color: red;
}

.minus {
	color: blue;
}

#pagingul {
	margin-left: 300px;
	text-align: center;
	display: inline-block;
	padding-left: 0;
}

#pagingul li {
	margin-left: 10px;
	display: inline-block;
	text-align: center;
	list-style: none;
}

#pagingul li a {
	display: block;
	font-size: 14px;
	color: black;
	padding: 9px 12px;
	box-sizing: border-box;
	text-decoration-line: none;
}

#pagingul li.on {
	background: #eda712;
}

#pagingul li.on a {
	color: #fff;
}
</style>
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="item row">
				<div id="fstDiv" class="col-md-8 m-1">
					<input id="searchItem" type="text" name="search"
						placeholder="종목을 검색하세요." />
					<table id="choice" class="border">
						<td>
							<div>
								<ul id="sc">
									<li data-cd="S1">농산물</li>
									<li data-cd="S2">수산물</li>
								</ul>
							</div>
						</td>
						<td>
							<div>
								<ul id="theme"></ul>
							</div>
						</td>
						<td>
							<div>
								<ul id="item"></ul>
							</div>
						</td>
						<td>
							<div id="itemInfo"></div>
						</td>
					</table>
				</div>
				<div class="col-md-3 m-1">
					<!-- 인기 검색순위 -->
					<div id="hot" class="border">
						<p>인기검색순위</p>
						<ul>
							<th:block th:each="inq : ${inqList}">
								<li><a th:href="@{chart(itemNo = ${inq.itemNo})}">[[${inqStat.index+1}]]
										[[${inq.nm}]]</a> <span
									th:class="${inq.change} == 0 ? '_' : (${inq.change} > 0 ? 'plus':'minus')">
										[[${inq.change > 0 ? "+"+inq.change : inq.change}]]
										([[${inq.rate > 0 ? "+"+inq.rate : inq.rate}]]%)</span></li>
							</th:block>
						</ul>
					</div>
				</div>

				<div class="col-md-12">
					<!-- 종목리스트 -->
					<div id="itemDiv" class="row">
						<div class="col-md-12">
							<table class="table">
								<thead>
									<tr>
										<th>증권</th>
										<th>테마</th>
										<th>종목</th>
										<th>현재가</th>
										<th>전일비</th>
										<th>상승률</th>
									</tr>
								</thead>

								<tbody id="allList">
								</tbody>

							</table>
							<ul id="pagingul">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../stock/itemChoice.js"></script>
		<script th:inline="javascript">
		// 증권 선택시 테마 리스트 출력
        $("#sc").on("click", "li", themeList);

        // 테마 리스트 출력
        function themeList(value) {
        	$("#itemInfo").html("");
          let ctg;
          console.log(value);
          if (typeof value == "object") {
            ctg = $(event.target).data("cd");
            console.log("1" + ctg);
          } else {
            ctg = value;
            console.log("2" + ctg);
          }
          $("#theme").html("");
          $("#item").html("");

          $.ajax({
            url: "themeList?code=" + encodeURI(ctg),
            success: function (result) {
              result.forEach((th) => {
                $("#theme").append(
                  $("<li/>").text(th.CTGR).attr("data-cd", th.COMMON_CD)
                );
              });
            },
          });
        }

        //테마 클릭시 종목 리스트 출력
        $("#theme").on("click", "li", itemList);

        //종목리스트 출력
        function itemList(value) {
        	$("#itemInfo").html("");
          let ctg;
          if (typeof value == "object") {
            ctg = $(event.target).data("cd");
          } else {
            ctg = value;
          }
          $("#item").html("");

          $.ajax({
            url: "themeList?code=" + encodeURI(ctg),
            success: function (result) {
              result.forEach((th) => {
                $("#item").append(
                  $("<li/>").text(th.CTGR).attr("data-cd", th.COMMON_CD)
                );
              });
            },
          });
        }

        //종목 클릭시 정보 출력
        $("#item").on("click", "li", itemInfo);
        //종목 정보 출력
        function itemInfo(value) {
          let ctg;
          if (typeof value == "object") {
            ctg = $(event.target).data("cd");
          } else {
            ctg = value;
          }
          $("#itemInfo").html("");
          $.ajax({
            url: "itemInfo?value=" + ctg,
            success: function (result) {
            	console.log(result);
              for (let i in result) {
                if (i == "itemNo") {
                  $("#itemInfo").append(
                    $("<p/>")
                      .css("display", "none")
                      .text(result[i])
                      .attr("data-in", result[i])
                  );
                }else if(i == "tprc"){
                	$("#itemInfo").append($("<p/>").text("현재가 : " +result[i]+" 원"));
                }else if(i == "change"){
                	let plma = result[i]==0 ? 'zero' : (result[i] > 0 ? 'plus':'minus');
                	$("#itemInfo").append($("<p class="+plma+"/>").text("전일비 : " +result[i]+" "));
                }else if(i == "rate"){
                	let plma = result[i]==0 ? 'zero' : (result[i] > 0 ? 'plus':'minus');
                	$("#itemInfo").append($("<p class="+plma+"/>").text("변동률 : ( "+ result[i]+"% )"));
                } else {
                  $("#itemInfo").append($("<p/>").text(result[i]));
                }
              }

              $("#itemInfo").append($('<button class="btn btn-danger btn-sm"/>').text("차트 페이지 이동").on("click", chartPage))
              				.append($('<button class="btn btn-danger btn-sm"/>').text("관심종목 추가").on("click",addInterest));
            },
          });
        }
        //차트페이지 이동
        function chartPage() {
          let itemNo = $("p[data-in]").data("in");
          location.href = "chart?itemNo="+itemNo;
        }
        /*<![CDATA[*/
        //관심종목추가
         function addInterest(){
        	if([[${session.loggedInMember}]] != null){
        		let membinfo = [[${session.loggedInMember?.membNo}]];
        		let iteminfo = $('p[data-in]').data('in');
        		 $.ajax("insertIntItem", {
        			    method: "post",
        			    data: { membNo: membinfo, itemNo: iteminfo },
        			    success: function (data) {
        			    	if(data.code == 'success'){
        			    		  toastShow("관심종목 추가" , data.msg , "success");
        			    	}else if(data.code == 'fail'){
        			    		toastShow("관심종목 추가" , data.msg , "error");
        			    	}else if(data.code == 'warning'){
        			    		toastShow(data.msg ,"관심종목 추가" , "warning");
        			    	}
        			    },
        			    error: function (xhr) {
        			      console.log(xhr);
        			    }
        			  });
        		
        	}else{
        		toastShow('회원서비스 입니다','로그인 후 실행해주세요','info');
        	}
        } 
        /*]]>*/
        //자동완성기능
        $("#searchItem").autocomplete({
          source: function (request, response) {
            //source: 입력시 보일 목록
            $.ajax({
              url: "autoComplete",
              type: "POST",
              dataType: "JSON",
              data: { value: request.term }, // 검색 키워드
              success: function (data) {
                // 성공
                console.log(data);
                response(
                  $.map(data.resultList, function (item) {
                    return {
                      label: item.CTGR, // 목록에 표시되는 값
                      value: item.CTGR, // 선택 시 input창에 표시되는 값
                      idx: item.SEQ, // index
                    };
                  })
                ); //response
              },
              error: function () {
                //실패
                alert("오류가 발생했습니다.");
              },
            });
          },
          focus: function (event, ui) {
            // 방향키로 자동완성단어 선택 가능하게 만들어줌
            return false;
          },
          minLength: 1, // 최소 글자수
          autoFocus: true, // true == 첫 번째 항목에 자동으로 초점이 맞춰짐
          delay: 100, //autocomplete 딜레이 시간(ms)
          select: function (evt, ui) {
            // 아이템 선택시 실행 ui.item 이 선택된 항목을 나타내는 객체, lavel/value/idx를 가짐
            searchChoice(ui.item.value);
            itemInfo(ui.item.value);
          },
        });

        //자동완성 목록 선택시 카테고리 출력
        function searchChoice(value) {
          $.ajax({
            url: "autoInfo?ctrg=" + value,
            success: function (result) {
              themeList(result.H_CD);
              itemList(result.COMMON_CD);
            },
          });
        };
        
		$('#choice').css("width",$('#fstDiv').css("width"));
        $("#searchItem").css("width", $("#choice").css("width"));
        $('#choice').on('mouseover','li',function(){
        	$(this).css('cursor','pointer')
        })
		</script>
	</div>
</body>
</html>
