<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper  namespace="com.yedam.app.common.mapper.AttachFileMapper">
  	<insert id="addBoardAttachFile" parameterType="AttachFileVO">
  		<selectKey keyProperty="atchNo" resultType="string" order="BEFORE">
  			SELECT CONCAT('att-',NVL(MAX(TO_NUMBER(SUBSTR(atch_no, 5))), 0)+1)
			FROM ATTACH_FILE
  		</selectKey>
  		<choose>
  			<when test="notiNo!=null">
		  		INSERT INTO ATTACH_FILE(atch_no,atch_nm,atch_origin_nm,noti_no)
		  		VALUES(#{atchNo},#{atchNm},#{atchOriginNm},#{notiNo})  				
  			</when>
  			<when test="boardNo!=null">
  				INSERT INTO ATTACH_FILE(atch_no,atch_nm,atch_origin_nm,board_no)
		  		VALUES(#{atchNo},#{atchNm},#{atchOriginNm},#{boardNo})
  			</when>
  			<otherwise></otherwise>
  		</choose>
  	</insert>
  	
  	<delete id="deleteAttachFile" parameterType="AttachFileVO">
  		DELETE FROM ATTACH_FILE
  		WHERE atch_no=#{atchNo}
  	</delete>
  	<!-- 공지사항 번호에 딸린 파일 제거 -->
  	<delete id="notiNoDelFile">
  		delete from attach_file
  		where noti_no in (
  			<foreach collection="list" item="item" separator=",">
  				#{item}
  			</foreach>
  		)
  	</delete>
  	
  	<select id="getAttachFileList" resultType="AttachFileVO">
  		SELECT *
  		FROM ATTACH_FILE
  		<where>
  			<if test="notiNo!=null">
  				AND noti_no=#{notiNo}
  			</if>
  			<if test="boardNo!=null">
  				AND board_no=#{boardNo}
  			</if>
  		</where>
  	</select>
  	
  	<select id="getAttachFile" resultType="AttachFileVO">
  		SELECT *
  		FROM ATTACH_FILE
  		WHERE atch_no=#{atchNo}
  	</select>
  </mapper>