<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper  namespace="com.yedam.app.common.mapper.AttachFileMapper">
  	<insert id="addBoardAttachFile" parameterType="AttachFileVO">
  		<selectKey keyProperty="atchNo" resultType="string" order="BEFORE">
  			SELECT CONCAT('att-',NVL(MAX(TO_NUMBER(SUBSTR(atch_no, 5))), 0)+1)
			FROM ATTACH_FILE
  		</selectKey>
  		<choose>
  			<when test="notiNo!=null">
		  		INSERT INTO ATTACH_FILE(atch_no,atch_nm,atch_origin_nm,noti_no)
		  		VALUES(#{atchNo},#{atchNm},#{atchOriginNm},#{notiNo})  				
  			</when>
  			<when test="boardNo!=null">
  				INSERT INTO ATTACH_FILE(atch_no,atch_nm,atch_origin_nm,board_no)
		  		VALUES(#{atchNo},#{atchNm},#{atchOriginNm},#{boardNo})
  			</when>
  			<otherwise></otherwise>
  		</choose>
  	</insert>
  	
  </mapper>