<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.yedam.app.common.mapper.MainMapper">
		<!-- 자유게시판 6개 출력 -->
	<select id="getFreeBoardTop6" resultType="BoardVO">
		<![CDATA[
		SELECT *
		FROM(
			SELECT *
			FROM BOARD
		   WHERE common_cd LIKE 'C1%'
		    ORDER BY drwup_dt DESC )
		WHERE rownum<=6
		]]>
	</select>
	
	<!-- 주식게시판 6개 출력 -->
	<select id="getStockBoardTop6" resultType="BoardVO">
		<![CDATA[
		SELECT *
		FROM(
			SELECT *
			FROM BOARD
		   WHERE common_cd LIKE 'C2%'
		    ORDER BY drwup_dt DESC )
		WHERE rownum<=6
		]]>
	</select>
	
	<select id="getNoticeTop6" resultType="NoticeVO">
		<![CDATA[
		SELECT *
		FROM(
			SELECT *
			FROM NOTICE
			ORDER BY drwup_dt DESC)
		WHERE rownum<=6
		]]>
	</select>

	<select id="getQnaTop6" resultType="QuestionVO">
		<![CDATA[
		SELECT *
		FROM (
			SELECT qst_no,ttl
			FROM QUESTION
			ORDER BY drwup_dt DESC)
		WHERE rownum<=6
		]]>
	</select>
	
	<select id="getFarmRank" resultType="StockVO">
	<![CDATA[
		SELECT *
		FROM(
		    SELECT DISTINCT item_no,h_ctgr theme,nm,ta_prc tprc,cl_prc,trunc(NVL(DECODE(ta_prc,0,0,ta_prc - cl_prc) / cl_prc, 0)*100) rate,vol
		    FROM(
		        SELECT item_no,common_cd,h_ctgr,nm
		        FROM item JOIN common_code
		        USING(common_cd)
		        WHERE common_cd LIKE 'S1%')
		     JOIN (
		        SELECT item_no,DECODE(ta_prc,null,cl_prc,ta_prc) ta_prc,cl_prc,vol
		        FROM(
                    SELECT item_no,ta_prc
		            FROM (
		                SELECT item_no,ta_prc,ta_dt,ROW_NUMBER() OVER(PARTITION BY item_no ORDER BY ta_dt DESC) AS rn
		                FROM ta_hr
		                WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate,'yyyy-MM-dd'))
		            WHERE rn=1)
		        RIGHT JOIN(
		            SELECT item_no,cl_prc,vol
		            FROM item_info
		            WHERE (info_no) IN (
		                SELECT info_no
		                FROM item_info
		                WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')))
		        USING(item_no))
		    USING(item_no)
		    ORDER BY ta_prc DESC, vol DESC)
		WHERE rownum<6
	]]>	
	</select>
	<select id="getSeaRank" resultType="StockVO">
	<![CDATA[
		SELECT *
		FROM(
		    SELECT DISTINCT item_no,h_ctgr theme,nm,ta_prc tprc,cl_prc,trunc(NVL(DECODE(ta_prc,0,0,ta_prc - cl_prc) / cl_prc, 0)*100) rate,vol
		    FROM(
		        SELECT item_no,common_cd,h_ctgr,nm
		        FROM item JOIN common_code
		        USING(common_cd)
		        WHERE common_cd LIKE 'S2%')
		     JOIN (
		        SELECT item_no,DECODE(ta_prc,null,cl_prc,ta_prc) ta_prc,cl_prc,vol
		        FROM(
                    SELECT item_no,ta_prc
		            FROM (
		                SELECT item_no,ta_prc,ta_dt,ROW_NUMBER() OVER(PARTITION BY item_no ORDER BY ta_dt DESC) AS rn
		                FROM ta_hr
		                WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate,'yyyy-MM-dd'))
		            WHERE rn=1)
		        RIGHT JOIN(
		            SELECT item_no,cl_prc,vol
		            FROM item_info
		            WHERE (info_no) IN (
		                SELECT info_no
		                FROM item_info
		                WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')))
		        USING(item_no))
		    USING(item_no)
		    ORDER BY ta_prc DESC, vol DESC)
		WHERE rownum<6
	]]>	
	</select>
	<select id="getIncreaseStock" resultType="StockVO">
	<![CDATA[
		SELECT *
		FROM(
		    SELECT DISTINCT item_no,h_ctgr theme,nm,ta_prc tprc,cl_prc,trunc(NVL(DECODE(ta_prc,0,0,ta_prc - cl_prc) / cl_prc, 0)*100) rate
		    FROM(
		        SELECT item_no,common_cd,h_ctgr,nm
		        FROM item JOIN common_code
		        USING(common_cd))
		     JOIN (
		        SELECT item_no,DECODE(ta_prc,null,cl_prc,ta_prc) ta_prc,cl_prc
		        FROM(
		        SELECT item_no,ta_prc
		            FROM (
		                SELECT item_no,ta_prc,ta_dt,ROW_NUMBER() OVER(PARTITION BY item_no ORDER BY ta_dt DESC) AS rn
		                FROM ta_hr
		                WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate,'yyyy-MM-dd'))
		            WHERE rn=1)
		        RIGHT JOIN(
		            SELECT item_no,cl_prc
		            FROM item_info
		            WHERE (info_no) IN (
		                SELECT info_no
		                FROM item_info
		                WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')))
		        USING(item_no))
		    USING(item_no)
		    ORDER BY rate DESC, ta_prc DESC)
		WHERE rate>0 AND rownum<6
	]]>	
	</select>
	<select id="getDecreaseStock" resultType="StockVO">
	<![CDATA[
		SELECT *
		FROM(
		    SELECT DISTINCT item_no,h_ctgr theme,nm,ta_prc tprc,cl_prc,trunc(NVL(DECODE(ta_prc,0,0,ta_prc - cl_prc) / cl_prc, 0)*100) rate
		    FROM(
		        SELECT item_no,common_cd,h_ctgr,nm
		        FROM item JOIN common_code
		        USING(common_cd))
		     JOIN (
		        SELECT item_no,DECODE(ta_prc,null,cl_prc,ta_prc) ta_prc,cl_prc
		        FROM(
		        SELECT item_no,ta_prc
		            FROM (
		                SELECT item_no,ta_prc,ta_dt,ROW_NUMBER() OVER(PARTITION BY item_no ORDER BY ta_dt DESC) AS rn
		                FROM ta_hr
		                WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate,'yyyy-MM-dd'))
		            WHERE rn=1)
		        RIGHT JOIN(
		            SELECT item_no,cl_prc
		            FROM item_info
		            WHERE (info_no) IN (
		                SELECT info_no
		                FROM item_info
		                WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')))
		        USING(item_no))
		    USING(item_no)
		    ORDER BY rate ASC, ta_prc DESC)
		WHERE rate<0 AND rownum<6
	]]>	
	</select>
	
	<!-- 메인 차트용 (거래량) -->
	<select id="mainChartList" resultType="StockVO">
	<![CDATA[
		SELECT *
		FROM(
		    SELECT DISTINCT item_no,h_ctgr theme,nm,ta_prc tprc,cl_prc,trunc(NVL(DECODE(ta_prc,0,0,ta_prc - cl_prc) / cl_prc, 0)*100) rate,vol
		    FROM(
		        SELECT item_no,common_cd,h_ctgr,nm
		        FROM item JOIN common_code
		        USING(common_cd))
		     JOIN (
		        SELECT item_no,DECODE(ta_prc,null,cl_prc,ta_prc) ta_prc,cl_prc,vol
		        FROM(
                    SELECT item_no,ta_prc
		            FROM (
		                SELECT item_no,ta_prc,ta_dt,ROW_NUMBER() OVER(PARTITION BY item_no ORDER BY ta_dt DESC) AS rn
		                FROM ta_hr
		                WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate,'yyyy-MM-dd'))
		            WHERE rn=1)
		        RIGHT JOIN(
		            SELECT item_no,cl_prc,vol
		            FROM item_info
		            WHERE (info_no) IN (
		                SELECT info_no
		                FROM item_info
		                WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')))
		        USING(item_no))
		    USING(item_no)
		    ORDER BY rate DESC, vol DESC)
		WHERE rownum<8
	]]>	
	</select>
</mapper>