<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>ToTheMooN - 회원가입</title>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
#errormsg {
	background-color: GhostWhite;
	width: 15%;
	height: 40px;
}

.olmessagef {
	color: red;
	font-style: Italic;
}

.olmessaget {
	color: blue;
	font-style: Italic;
}

label {
	font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox  */
input[type='number'] {
	-moz-appearance: textfield;
}

.signup {
	padding: 0;
}

.login-signup section-padding {
	padding: 0;
}
* The Modal (background) */
		.modal {
		   display: none; /* Hidden by default */
		   position: fixed; /* Stay in place */
		   z-index: 1; /* Sit on top */
		   left: 0;
		   top: 0;
		   width: 100%; /* Full width */
		   height: 100%; /* Full height */
		   overflow: auto; /* Enable scroll if needed */
		   background-color: rgb(0,0,0); /* Fallback color */
		   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}
		
		/* Modal Content/Box */
		.modal-content {
		    background-color: #fefefe;
		    margin: 15% auto; /* 15% from the top and centered */
		    padding: 20px;
		    border: 1px solid #888;
		    width: 30%; /* Could be more or less, depending on screen size */                          
		}
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
		
		/* Firefox */
		input[type=number] {
		  -moz-appearance: textfield;
		}
</style>
</head>
<body>
	<section class="login-signup section-padding" layout:fragment="content">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-7">
				<div class="signup">
					<h3 class="mt-4">회원가입</h3>
					<div class="py-40"></div>
					<form id="joinfrm" action="join" class="signup-form row" method="post" onsubmit="nullCheck()">
						<div class="col-md-12">
							<div class="form-group">
								<label for="mname">이름</label> <input type="text"
									class="form-control" id="mname" name="nm"
									placeholder="이름을 입력하세요" style="width: 60%;"><br>
									<span id="nameCheck"></span>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="nickname">닉네임</label><br> <input type="text"
									class="form-control" id="nickname" name="nick"
									placeholder="공백없이 2자~이하, 영어,숫자,한글만 가능합니다."
									style="width: 60%; display: inline;">
								<button type="button" id="checkNick">중복확인</button><br>
								<span id="nickmsg"></span><br>
							</div>

						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="id-address">아이디</label><br> <input type="email"
									class="form-control" name="id" id="id-address"
									placeholder="이메일 형식으로 입력하세요"
									style="width: 60%; display: inline;">
								<button type="button" id="checkId">중복확인</button>
								<br>
								<span id="idmsg"></span>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="pass">비밀번호</label> <input type="password"
									class="form-control" id="pass" name="pwd"
									placeholder="비밀번호는 8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="passCheck">비밀번호 확인</label> <input type="password"
									class="form-control" id="passCheck" name="pwdCheck"
									placeholder="비밀번호를 다시 입력하세요">
								<div id="pwd-warning"></div>
								<div id="pwd-warning"></div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="email-address">이메일</label> <input type="email"
									class="form-control" id="email-address" name="email"
									placeholder="이메일 형식으로 입력하세요">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="telInput">연락처</label><br><input type="text" class="form-control" oninput="autoHyphen(this)"
									maxlength="13" name="to" id="telInput" placeholder="회원가입 시 입력한 전화번호를 입력하세요" style="width : 70%; display : inline;">
								<button type="button" id="testBtn1">인증번호 발송</button>
								<br><span id="telCheck"></span>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="codeCheckInput"></label>
								<input type="number" class="form-control" name="confirmcode" id="codeCheckInput" placeholder="인증번호를 입력하세요"style="width : 70%; display : inline;">
								<button type="button" id="testBtn2">인증번호 확인</button><br>
								<span id="codeCheck"></span>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="addr1">주소</label><br> <input type="text"
									class="form-control" style="width: 40%; display: inline;"
									id="addr1" name="zip" placeholder="우편번호 검색" readonly>
								<button type="button" class="zipbtn">우편번호 찾기</button>
							</div>
							<div class="form-group">
								<label for="addr2"></label> <input type="text"
									class="form-control" style="top: 5px;" id="addr2" name="addr"
									placeholder="도로명주소" readonly>
							</div>
							<div class="form-group">
								<label for="addr3"></label> <input type="text"
									class="form-control" id="addr3" name="detaAddr"
									placeholder="상세주소를 입력하세요">
							</div>
						</div>
						<div class="col-md-12">
							<button class="btn btn-primary" type="submit" id="subBtn">Sign
								Up</button>
							<p class="mt-5 mb-0">
								이미 회원이신가요? <a href="loginForm.html">로그인</a>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
<div id="myModal" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
   	 <p class="bi bi-exclamation-circle" style="text-align: center; font-size: 24pt;"></p>
     <p style="text-align: center; line-height: 1.5;"><br>5회 이상 실패하셨습니다.<br>본인인증을 다시 진행해주세요.</p>
     <p><br></p>
   	<div style="cursor:pointer;background-color:#DDDDDD;text-align: center;padding-bottom: 10px;padding-top: 10px;" onClick="close_pop();">
   		<span class="pop_bt" style="font-size: 13pt;">닫기</span>
   	</div>
   </div>
 </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
 const idInput = document.querySelector("#id-address");
 const pwdInput = document.getElementById('pass');
 const pwdCorrectInput = document.getElementById('passCheck');
 const pwdWarning = document.getElementById('pwd-warning');
 const idMsg = document.querySelector("#idmsg");
 const nickMsg = document.querySelector("#nickmsg");
 //const memailConfirmTxt = document.querySelector("#memailconfirmTxt");

 
 //이름 유효성 검사 : 한글로 2-5자리
const nameInput = document.querySelector("#mname");
const nameCheck = document.querySelector("#nameCheck");

nameInput.addEventListener("input", function() {
    const name = nameInput.value;

    const nameRegex = /^[가-힣]{2,5}$/;

    if (nameRegex.test(name)) {
        nameCheck.textContent = "";
    } else {
        nameCheck.textContent = "한글만 입력해주세요.";
        $("#nameCheck").css({
						"color": "#FA3E3E",
						"font-weight": "bold",
						"font-size": "14px"
        });
    }
});
 
 pwdInput.addEventListener('input', checkPwdValidity);
 pwdCorrectInput.addEventListener('input', checkPwdMatch);

 function checkPwdValidity() {
     const pwdValue = pwdInput.value;
     const pwdRegex = /^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[\W_]).{8,16}$/;

     if (!pwdValue) {
         pwdWarning.textContent = "비밀번호를 입력해주세요.";
         $("#pwd-warning").css({
						"color": "#FA3E3E",
						"font-weight": "bold",
						"font-size": "14px"
					});
     } else if (!pwdRegex.test(pwdValue)) {
         pwdWarning.textContent = "영어 대소문자, 숫자, 특수문자 1개이상 사용해야 합니다.";
         $("#pwd-warning").css({
						"color": "#FA3E3E",
						"font-weight": "bold",
						"font-size": "14px"
					});
     } else {
         pwdWarning.textContent = "";
     }
 }

 function checkPwdMatch() {
     const pwdValue = pwdInput.value;
     const pwdCorrectValue = pwdCorrectInput.value;

     if (pwdValue !== pwdCorrectValue) {
         pwdWarning.style.borderWidth = "2px";
         pwdWarning.textContent = "입력한 비밀번호와 일치하지 않습니다.";
         $("#pwd-warning").css({
						"color": "#FA3E3E",
						"font-weight": "bold",
						"font-size": "14px"
					});
     } else {
         pwdWarning.style.borderWidth = "";
         pwdWarning.textContent = "";
     }
 }

 
 const nickBtn = document.querySelector("#checkNick");
 const idBtn = document.querySelector("#checkId");

 //닉네임 유효성 검사
 
 let nickRegex = /^(?=.*[a-zA-Z0-9가-힣])[a-zA-Z0-9가-힣]{2,16}$/; //2자 이상 16자 이하, 영어 또는 숫자 또는 한글로 구성
 $("#nickname").on("input", function(){
	 if(!nickRegex.test($("#nickname").val())){
		 nickMsg.textContent = "공백없이 2자~이하, 영어,숫자,한글만 가능합니다.";
		 $("#nickmsg").css({
				"color": "#FA3E3E",
				"font-weight": "bold",
				"font-size": "14px"
			});
	 }else{
		 nickMsg.textContent = "";
	 }
 });
 //닉네임 중복확인
 nickBtn.addEventListener('click', function() {
	    let nick = document.querySelector("#nickname").value;
	    const nickCheckUrl = "/member/nickCheck?nick=" + encodeURIComponent(nick);
	    fetch(nickCheckUrl)
	        .then(response => response.json())
	        .then(result => {
	            if (nick !== "") {
	            	if(result === 1){
	            		nickMsg.textContent = "이미 사용중인 닉네임 입니다.";
	            		$("#nickmsg").css({
		        				"color": "#FA3E3E",
		        				"font-weight": "bold",
		        				"font-size": "14px"
		        			});
	            	}else{
	            		nickMsg.textContent = "사용가능한 닉네임 입니다.";
	            		$("#nickmsg").css({
		        				"color": "#0D6EFD",
		        				"font-weight": "bold",
		        				"font-size": "14px"
		        			});
	            	}
	                
	                // 중복확인이 완료되면 checkedBtn 클래스를 추가
	                nickBtn.classList.add("checkedBtn");
	            } else {
	            	nickMsg.textContent = "닉네임을 입력하세요";
	            }
	        })
	        .catch(err => console.log(err));
	}); //닉네임 중복확인 끝
 
	//아이디 중복확인
 idBtn.addEventListener('click', function() {
	    let idAddr = document.querySelector("#id-address").value;
	    let idCheckUrl = "/member/idCheck?id=" + encodeURIComponent(idAddr);
	    fetch(idCheckUrl)
	        .then(response => response.json())
	        .then(result => {
	            if (idAddr !== "") {
	            	if(result === 1){
	            		idMsg.textContent = "이미 사용중인 아이디 입니다.";
	            		$("#idmsg").css({
		        				"color": "#FA3E3E",
		        				"font-weight": "bold",
		        				"font-size": "14px"
		        			});
	            	}else{
	            		idMsg.textContent ="사용가능한 아이디 입니다.";
	            		$("#idmsg").css({
		        				"color": "#0D6EFD",
		        				"font-weight": "bold",
		        				"font-size": "14px"
		        			});
	            	}
	                idBtn.classList.add("checkedBtn");
	            } else {
	            	idMsg.textContent = "아이디를 입력하세요";
		            	$("#idmsg").css({
	        				"color": "#FA3E3E",
	        				"font-weight": "bold",
	        				"font-size": "14px"
	        			});
	            }
	        })
	        .catch(err => console.log(err));
	}); //아이디 중복확인 끝
	
 // 아이디 이메일형식 유효성검사 확인
	idInput.addEventListener("input", function() {
	    const email = idInput.value;
	    const emailRegex = /^[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,}$/;

	    if (email.length >= 6 && email.length < 64 && email.match(emailRegex)) {
	        const atIndex = email.indexOf("@");
	        const dotIndex = email.lastIndexOf(".");

	        if (atIndex !== -1 && dotIndex > atIndex && dotIndex !== email.length - 1) {
	            idMsg.textContent = "";
	        } else {
	            idMsg.textContent = "올바른 이메일 형식을 입력하세요.";
	            $("#idmsg").css({
		    				"color": "#FA3E3E",
		    				"font-weight": "bold",
		    				"font-size": "14px"
		    			});
	        }
	    } else {
	        idMsg.textContent = "올바른 이메일 형식을 입력하세요.";
	        $("#idmsg").css({
						"color": "#FA3E3E",
						"font-weight": "bold",
						"font-size": "14px"
					});
	    }
	});
	
 // 연락처 처리
 const autoHyphen = (target) => {
    target.value = target.value.replace(/[^0-9]/g, '').replace(/^(\d{3})(\d{4})(\d{4})$/, `$1-$2-$3`);
};

function phoneFormat(phoneNumber) {
  // 특수문자 제거
  const value = phoneNumber.replace(/[^0-9]/g, '');
  
  // 00 OR 000 지정
  const firstLength = value.length > 9 ? 3 : 2;

  // ({2,3}) - ({3,4}) - ({4})
  return [
    // 첫번째 구간 (00 or 000)
    value.slice(0, firstLength),
    // 두번째 구간 (000 or 0000)
    value.slice(firstLength, value.length - 4),
    // 남은 마지막 모든 숫자
    value.slice(value.length - 4),
  ].join('-');
}

// submit 이벤트 발생 시 입력값 변환
document.querySelector('form').addEventListener('submit', (event) => {
  const telInput = document.getElementById('telInput');
  telInput.value = phoneFormat(telInput.value);
});

 //주소 찾기 - 다음 주소 api
 document.querySelector(".zipbtn").addEventListener('click',function(){
    new daum.Postcode({
      oncomplete: function (data) {
       // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

       // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
       // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
       var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
       var extraRoadAddr = ''; // 도로명 조합형 주소 변수

       // 법정동명이 있을 경우 추가한다. (법정리는 제외)
       // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
       if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
           extraRoadAddr += data.bname;
       }
       // 건물명이 있고, 공동주택일 경우 추가한다.
       if (data.buildingName !== '' && data.apartment === 'Y') {
           extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
       }
       // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
       if (extraRoadAddr !== '') {
           extraRoadAddr = ' (' + extraRoadAddr + ')';
       }
       // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
       if (fullRoadAddr !== '') {
           fullRoadAddr += extraRoadAddr;
       }

       // 우편번호와 주소 정보를 해당 필드에 넣는다.

       $("[name=addr1]").val(data.zonecode);
       $("[name=addr2]").val(fullRoadAddr);

       // 우편번호와 주소 정보를 해당 필드에 넣는다.
       document.getElementById('addr1').value = data.zonecode; //5자리 새우편번호 사용
       document.getElementById('addr2').value = fullRoadAddr;

      }
    }).open();
 });
 
//본인인증 --
 let testcode;
	
	let count1 = 0; // 본인인증 횟수 5회 제한 count
	let count2 = 0; // 인증번호 확인 횟수 5회 제한 count
	let toUser ='';
	//기존회원 이름+연락처 비교해서 정보 확인
	$("#testBtn1").on("click", function(){
		if($("#telInput").val() == ""){
			$("#telInput").focus();
			return;
		}
		
		if($("#mname").val() == ""){
			$("#mname").focus();
			return;
		}
		
		toUser = telInput.value.replace(/[^0-9]/g, '').replace(/^(\d{3})(\d{4})(\d{4})$/, '$1$2$3');
		
		$.ajax({
			url : "getMemberTel",
			method: "POST",
			data: {
	      tel: $("#telInput").val(),
	      nm: $("#mname").val()
			},
			success : function(data){
				count1++;
				if(data != null && data != ""){
					$("#telCheck").text("가입 이력이 있는 회원입니다. 다시 확인해주세요")
						.css({
							"color": "#FA3E3E",
							"font-weight": "bold",
							"font-size": "14px"
						});
				}else {
					testcode = createSmsKey();
					sendFunc();
				 //sms 발송
					/* $.ajax({
					    url: "sendSms",
					    method: "POST",
					    data: {
					      to: toUser,
					      content: "[SMS] 인증번호 [" + testcode + "]를 입력해주세요"
					    },
					    success: function(response) {
					      console.log("key: " + testcode);
					    },
					    error: function(err) {
					      console.log(err);
					    }
					  }); */
					$("#idInput").val(data.id);
					$("#telCheck").text("인증번호가 발송되었습니다.")
						.css({
							"color": "#0D6EFD",
							"font-weight": "bold",
							"font-size": "14px"
					}); // 인증번호 확인 끝.
					$("#testBtn1").addClass("isOk") //본인인증 실행 여부 체크
				}
				
				if (count1 >= 5) {
					$('#myModal').show();
				}
			},
			error : function(err){
				console.log(err);
			}
		})
	})
	
	function close_pop(flag) {
	 $('#myModal').hide();
		 window.location.reload();
	};
	function sendFunc(){
   	 $.ajax({
         url: "sendSms",
         method: "POST",
         data: {
           to: toUser,
           content: "[ToTheMooN] 인증번호 [" + testcode + "]를 입력해주세요",
         },
         success: function (response) {
         },
         error: function (err) {
           console.log(err);
         },
       });
    }

		//인증번호 비교
		$("#testBtn2").on("click", function(){
			if($("#telInput").val() == ""){
				$("#telInput").focus();
				return;
			}
			
			if($("#mname").val() == ""){
				$("#mname").focus();
				return;
			}
			
			if($("#codeCheckInput").val() != testcode){
				count2++;
				$("#codeCheck").text("인증번호가 일치하지 않습니다. 다시 입력하세요")
				.css({
					"color": "#FA3E3E",
					"font-weight": "bold",
					"font-size": "14px"
				});
			} else {
				$("#codeCheck").text("인증이 완료되었습니다.")
				.css({
					"color": "#0D6EFD",
					"font-weight": "bold",
					"font-size": "14px"
				});// 인증번호 확인 비교 끝
				
				$("#testBtn2").addClass("isOk"); //인증번호 비교 실행 여부 체크
				$("#telInput").attr("name","tel");
				
			}
			if (count2 >= 5) {
				$('#myModal').show();
			}
		})
	//본인인증 끝
 function createSmsKey() {
	  let key = '';
	  
	  for (let i = 0; i < 5; i++) { 
	    key += Math.floor(Math.random() * 10);
	  }
	  return key;
	}
 
 let isNm = document.querySelector("#mname");
 let isNick = document.querySelector("#nickname");
 let isPwd = document.querySelector("#pass");
 let isPwd2 = document.querySelector("#passCheck");
 let isId = document.querySelector("#id-address");
 let isEmail = document.querySelector("#email-address");
 let isTel = document.querySelector("#telInput");
 
 function nullCheck(event) {
	    event.preventDefault();

	    if (isNick.value === "" || !nickBtn.classList.contains("checkedBtn") || nickMsg.textContent.includes("사용 가능한")) {
	        isNick.focus();
	        return; 
	    }
	    if (isPwd.value === "") {
	        isPwd.focus();
	        return;
	    }
	    if (isPwd2.value === "") {
	        isPwd2.focus();
	        return; 
	    }
	    if (isId.value === "" || !idBtn.classList.contains("checkedBtn")) {
	        isId.focus();
	        return; 
	    }
	    if (isEmail.value === "") {
	        isEmail.focus();
	        return; 
	    }
	    if (isTel.value === "") {
	        isTel.focus();
	        return; 
	    }
	    if (isNm.value === "") {
	        isNm.focus();
	        return; 
	    }

//	    if(memailConfirmTxt.textContent === "인증 확인되었습니다."){
//	    	document.getElementById("memailconfirm").focus();
//	    }
	    
	    // 모든 조건을 만족했을 때 호출
        document.getElementById('joinfrm').submit();
	}
</script>


	</section>

</body>
</html>