<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<style>
  .login{padding: 0;}
  .login-signup section-padding{padding-top: 0;}
  .py-20 {
    clear: both;
    height: 20px;
  }
	#ADimg{
		width: 700px;
		height: 400px;
		background-color: pink;
		display : block;
	}
	.container{
	display : block;
	}
</style>
</head>
<body>
	<section class="login-signup section-padding" layout:fragment="content">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-7">
					<div class="login">
						<div class="text-center">
							<a href="index.html"><img src="images/logos/logo.png" alt=""
								class="img-fluid"></a>
                <h3>000에 오신 것을 환영합니다.</h3>
                </div>
                <div class="py-20"></div>
						</div>

						<h3 class="mt-4">로그인</h3>
						<form action="login" class="login-form row" method="post"><!-- th:onsubmit="validateForm()" -->
							<div class="col-md-12">
                    <div class="form-group">
                    <label for="loginemail">Id</label>
                    <input type="email" id="loginemail" class="form-control" th:name="id" placeholder="aaa111@aaa.com" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" id="loginPassword" class="form-control" th:name="pwd" placeholder="Password" required>
                    <div th:if="${not #strings.isEmpty(message)}">
                        <p style="color: red; font-size: 12px;" th:text="${message}"></p>
                    </div>
                    </div>
                </div>
            <div class="col-md-12">
         <span th:if="${membNo == null}">
					  <button class="btn btn-primary" type="submit">Login</button>
						  <button type="button" id="kakaoLoginBtn">카카오로그인</button>
						  		<!-- 네이버 로그인 버튼 노출 영역 -->
									<div id="naver_id_login"></div>
									<!-- //네이버 로그인 버튼 노출 영역 -->
							  <p class="mt-5 mb-0"><a href="/member/findid" style="padding-right: 20px;">아이디찾기</a><a href="/member/findpwd">비밀번호 찾기</a></p>
							  <p class="mt-5 mb-0">아직 회원이 아니세요? <a href="signup.html">회원가입</a></p>
							</span>
						</div>
						<div class="col-md-12">
							  <span th:if="${membNo != null}">
						    <button class="btn btn-primary" type="submit">logout</button>
						  </span>
                </div>
						</form>
					</div>
				</div>
			</div>
			
			<div id="ADimg"></div>
			
		<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
		<script>
		//카카오 로그인
		Kakao.init('0d245dee44e0c90f37049f945842d279'); // JavaScript 키
		Kakao.isInitialized();
		console.log(Kakao.isInitialized());

		document.querySelector('#kakaoLoginBtn').addEventListener('click', function () {
			sessionStorage.removeItem('loggedInMember');
		  Kakao.Auth.login({
		    scope: 'profile_nickname, account_email', // 동의 항목(scope) 설정
		    success: function (response) {
		      console.log(response);
		      if (response.kakao_account) {
		        console.log(response.kakao_account.profile.nickname);
		        console.log(response.kakao_account.email);

		        fetch('/member/kakao', {
		          method: 'post',
		          body: JSON.stringify({
		            nick: response.kakao_account.profile.nickname,
		            id: response.kakao_account.email,
		          }),
		        })
		          .then((response) => response.json())
		          .then((res) => {
		            if (res.status === 200) {
		              alert('카카오 로그인 완료');
		            } else if (res.status === 403) {
		              return res.json();
		            }
		          })
		          .catch((err) => console.log(err));
		      } else {
		        console.log('알 수 없는 오류.'); //scope 왜 못받아..?????
		      }
		    },
		    fail: function (error) {
		      console.log('Kakao login failed:', error);
		    },
		  });
		});
		
		</script>
		
			<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
			<!-- 네이버아디디로로그인 초기화 Script -->
			<script type="text/javascript">
				var naverLogin = new naver.LoginWithNaverId({
					clientId : "7Bw96BA_Uk60ekwBjrJX",
					callbackUrl : "/member/naverLogin",
					isPropup: true, //팝업을 통한 연동처리 여부
					loginButton : { color : "green", type:3, height : 60}
				});
	//var state = naver_id_login.getUniqState();
				//naver_id_login.setButton("white", 2,40);
				//naver_id_login.setDomain(".service.com");
				//naver_id_login.setState(state);
				//naver_id_login.setPopup();
				//naver_id_login.init_naver_id_login();
			<!-- // 네이버 로그인 초기화 Script -->
			naverLogin.init();
			
			</script>
			
	<!--  <script>
    function validateForm() {
    	event.stopPropagation();
    	alert("a");
        // 아이디와 비밀번호가 공란인 경우
        if (loginemail.value === "" || loginPassword.value === "") {
          if (loginemail.value === "") {
            loginemail.classList.add("form-input-error");
          }
          if (loginPassword.value === "") {
            user_pw.classList.add("form-input-error");
          }
          return false;
        }

        // 비밀번호가 6자리 이상 16자리 이하가 아닌 경우
        if (loginPassword.value.length < 6 || loginPassword.value.length > 16) {
            loginPassword.classList.add("form-input-error");
          return false;
        }
        
        return true;
      }
		</script>-->
		
	</section>
</body>
</html>