<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">

<head>
<meta charset="UTF-8">
<title>회원관리</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
.section-padding {
	padding: 20px 0;
	position: relative;
}

.addDiv {
	height: 60px;
}

* The Modal (background) * /
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.addDiv {
	margin-bottom: 20px;
}

#insertAddrDiv {
	display: none;
}

#insertResetBtn {
	display: none;
}

#btns span {
	margin-left: 250px;
	text-decoration: underline;
	color: gray;
	cursor: pointer;
}

.span_bt {
	font-size: 13pt;
	cursor: pointer;
	background-color: #DDDDDD;
	text-align: center;
	padding: 10px 30px 10px 30px;
}
</style>
</head>
<body>
  <div layout:fragment="mypage">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-12">
				<div class="signup">
					<h3 class="mt-4">기본 정보</h3>
					<form id="updateFrm" action="updateMemberInfo" class="signup-form row" method="post">
						<div class="col-md-12">
							<div class="form-group">
							<h3 class="mt-4">[[${session.loggedInMember.nm}]]</h3>
							</div>
						</div>
					<div class="col-md-12">
							<div class="form-group">
								<label for="id-address">아이디</label><br> <input type="email"
									class="form-control" name="id" id="id-address"
									th:value=${session.loggedInMember.id}
									style="width: 60%; display: inline;" readonly>
								<br>
								<span id="idmsg"></span>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="nickname">닉네임</label><br> <input type="text"
									class="form-control" id="nickname" name="nick"
									placeholder="변경할 닉네임을 입력하세요"
									th:value=${member.nick}
									style="width: 60%; display: inline;" readonly>
								<div id="ckNick" style="display: inline;"></div>
								<button type="button" id="changeNick" class="btn btn-light">변경</button>
								<button type="reset" id="resetNick" style="display:none;" class="btn btn-light">취소</button><br>
								<span id="nickmsg"></span>
							</div>
						</div>
						<div class="col-md-12" th:style="${session.loggedInMember.path != null} ? 'display: none;' : ''">
					    <div class="form-group">
				        <label for="pass">비밀번호</label><br>
				        <input type="password" class="form-control" id="pass" name="pwd" placeholder="PASSWORD" style="width: 60%; display: inline;" readonly>
				        <button type="button" id="changePwd" class="btn btn-light">변경</button>
				        <button type="button" id="resetPwd" class="btn btn-light" style="display: none;">취소</button>
				        <br>
					    </div>
						</div>
						<div class="col-md-12 ckpwddiv" style="display : none;">
							<div class="form-group">
								<label for="passCheck">비밀번호 확인</label> <input type="password"
									class="form-control" id="passCheck" name="pwdCheck"
									style="width: 60%;"
									placeholder="비밀번호를 다시 입력하세요">
								<div id="pwd-warning"></div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="email-address">이메일</label><br> <input type="email"
									class="form-control" id="email-address" name="email"
									th:value=${member.email} 
									style="width: 60%; display: inline;" readonly>
									<button type="button" id="changeEmail" style="display : inline-block;" class="btn btn-light">변경</button>
									<button type="button" id="sendemail" style="display : none;" class="btn btn-light">인증번호 발송</button>
									<button type="reset" id="resetEmail" style="display : none;" class="btn btn-light">취소</button>
									<br>
							</div>
						</div>
						<div class="col-md-12 emaildiv" style="display : none;">
							<div class="form-group">
								<label for="mainCheckInput"></label>
								<input type="number" class="form-control" name="confirmmaincode" id="mainCheckInput" placeholder="인증번호를 입력하세요"style="width : 70%; display : inline;">
								<button type="button" id="testBtn1" class="btn btn-light">인증번호 확인</button><br>
								<span id="mailCheck"></span>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="telInput">연락처</label><br>
								<input type="text" class="form-control" oninput="autoHyphen(this)"
									maxlength="13" name="tel" id="telInput" th:value=${member.tel} style="width : 60%; display : inline;" readonly>
									<button type="button" id="changeTel" class="btn btn-light">변경</button>
									<button type="button" id="sendsms" style="display : none;" class="btn btn-light">인증번호 발송</button>
									<button type="reset" id="resetsms" style="display : none;" class="btn btn-light">취소</button>
								<br><span id="telCheck"></span>
							</div>
						</div>
						<div class="col-md-12 smsCkDiv" style="display : none;">
							<div class="form-group">
								<label for="codeCheckInput"></label>
								<input type="number" class="form-control" name="confirmcode" id="codeCheckInput" placeholder="인증번호를 입력하세요"style="width : 60%; display : inline;">
								<button type="button" id="testBtn2" class="btn btn-light">인증번호 확인</button><br>
								<span id="codeCheck"></span>
							</div>
						</div>
						<div class="col-md-12 addDiv" th:if="${#lists.isEmpty(membList)}">
					    <span>등록된 주소가 없습니다.</span>
					    <button type="button" id="insertAddrBtn" class="btn btn-light">주소 등록</button>
					    <button type="reset" id="insertResetBtn" class="btn btn-light">취소</button>
						</div>
					    <div class="col-md-12" id="insertAddrDiv">
								<div class="form-group">
									<label for="insertaddr1">주소</label><br> <input type="text"
										class="form-control" style="width: 40%; display: inline;"
										id="insertaddr1" name="zip" placeholder="우편번호 검색" readonly>
									<button type="button" class="zipbtn btn btn-light">우편번호 찾기</button>
								</div>
								<div class="form-group">
									<label for="insertaddr2"></label> <input type="text"
										class="form-control" style="top: 5px;" id="insertaddr2" name="addr"
										placeholder="도로명주소" readonly>
								</div>
								<div class="form-group">
									<label for="insertaddr3"></label> <input type="text"
										class="form-control" id="insertaddr3" name="detaAddr"
										placeholder="상세주소를 입력하세요">
								</div>
							</div>
						<div id="addrDiv" th:if="${not #lists.isEmpty(membList)}" class="col-md-12" style=" padding-left: 0px;">
						</div>
						<div class="col-md-12" id="btns">
							<button class="btn btn-primary" type="submit" id="saveBtn">저장</button>
							<button class="btn btn-dark" type="reset" id="resetBtn">취소</button>
							<span onclick="deleteMemb()"> 회원탈퇴 </span>
						</div>
					</form>
				</div>
			</div>
		</div>
<!-- modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
  	 <p class="bi bi-exclamation-circle" style="text-align: center; font-size: 24pt;"></p>
    <p style="text-align: center; line-height: 1.5;"><br>5회 이상 실패하셨습니다.<br>본인인증을 다시 진행해주세요.</p>
    <p><br></p>
  	<div style="cursor:pointer;background-color:#DDDDDD;text-align: center;padding-bottom: 10px;padding-top: 10px;" onClick="close_pop();">
  		<span class="pop_bt" style="font-size: 13pt;">닫기</span>
  	</div>
  </div>
</div>
<!-- modal -->
<div id="delModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
  	 <p class="bi bi-exclamation-circle" style="text-align: center; font-size: 24pt;"></p>
    <p style="text-align: center; line-height: 1.5;" id="modalTxt"></p>
    <p><br></p>
  	<div style="text-align: center;" id="modalBtn">
  		
  	</div>
  </div>
</div>
<!-- modal -->

 
<script>

const id = "[[${session.loggedInMember.id}]]";
const email = "[[${session.loggedInMember.email}]]";
const membNo = "[[${session.loggedInMember.membNo}]]";
const memnick = "[[${session.loggedInMember.nick}]]";
const pwd = "[[${session.loggedInMember.pwd}]]";

//회원정보 변경
function updateAjax(){
	$.ajax({
		url : "updateMemberInfo",
		method : "POST",
		data : {
			"id": id,
			"pwd": $("#pass").val(),
      "nick": $("#nickname").val(),
      "email": $("#email-address").val(),
      "tel": $("#telInput").val()
		},
		success : function(data){
			console.log("정보변경 성공");
			console.log(data);
		},
		error : function(err){
			console.log(err);
		}
	});
}
//



//주소 리스트 출력
let div = '';
$.ajax({
	url: "selectOneMembInfo",
	method: "POST",
	data: {
		"id": id
	},
	success: function (data) {
		data.forEach(el => {
			console.log(el);
			div += `
				<div class="col-md-12">
					<div class="form-group" style="margin-bottom: 0px;">
						<label for="addr1" data-no="${el.addrNo}">주소</label>
						<button type="button" class="changeAddr btn btn-light"onclick="changeAddr(this)">변경</button>
						<button type="button" class="deleteAddr btn btn-light">삭제</button><br>
						<input type="text" class="form-control" style="width: 40%; display: inline;" id="addr1" name="zip" value="${el.zip}" readonly>
						<br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group" style="margin-bottom: 0px;">
						<label for="addr2"></label>
						<input type="text" class="form-control" style="width: 100%;" id="addr2" name="addr" value="${el.addr}" readonly>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="addr3"></label>
						<input type="text" class="form-control" id="addr3" style="width: 100%" name="detaAddr" value="${el.detaAddr}" readonly>
					</div>
				</div>
			`;
			
			$("#addrDiv").html(div);	
		})
	},
	error: function (error) {
		console.log(error);
	}
});

const pwdInput = document.getElementById('pass');
const pwdCorrectInput = document.getElementById('passCheck');
const pwdWarning = document.getElementById('pwd-warning');
const idMsg = document.querySelector("#idmsg");
const nickMsg = document.querySelector("#nickmsg");
//회원정보 수정
// 닉네임 변경
$("#changeNick").on("click", function() {
    $("#changeNick").css("display", "none");
    $("#nickname").removeAttr("readonly");
    $("#nickname").val("");
    $("#ckNick").html(`<button type="button" id="checkNick" class="btn btn-light">중복확인</button>`);
    $("#resetNick").css("display", "inline-block");

    const nickBtn = document.querySelector("#checkNick");
    const idBtn = document.querySelector("#checkId");

    // 닉네임 중복확인
    nickBtn.addEventListener("click", function() {
        let nick = document.querySelector("#nickname").value;
        if ($("#nickname").val() === "") {
            $("#nickname").focus();
            $("#nickMsg")
                .text("닉네임을 입력해주세요")
                .css({
                    color: "#FA3E3E",
                    "font-weight": "bold",
                    "font-size": "14px"
                });
            return;
        }else{
	        const nickCheckUrl = "/member/nickCheck?nick=" + encodeURIComponent(nick);
	        fetch(nickCheckUrl)
	            .then(response => response.json())
	            .then(result => {
	                if (nick !== "") {
	                	nickMsg.textContent = result === 1 ? "이미 사용중인 닉네임입니다." : "사용가능한 닉네임입니다.";
	
	                    // 중복확인이 완료되면 checkedBtn 클래스를 추가
	                    nickBtn.classList.add("checkedBtn");
	                } else {
	                	 nickMsg.textContent = "닉네임을 입력하세요";
	                }
	            })
	            .catch(err => console.log(err));
        }

    }); // 닉네임 중복확인 끝

    // 취소 버튼 누를 때
    $("#resetNick").on("click", function() {
	    	$("#changeNick").css("display", "inline-block");
        $("#resetNick").css("display", "none");
        $("#checkNick").css("display", "none");
    });
});

let addrNo = '';

//주소 변경
function changeAddr(target) {
addrNo = $(target).prev().data('no'); // 클릭한 주소의 addrNo

let aa = target.nextElementSibling.nextElementSibling.nextElementSibling; // zip input

// 우편번호 찾기 버튼 HTML 생성
let zipbtnHtml = '<button type="button" class="zipbtn btn btn-light">우편번호 찾기</button>';

// aa 요소 뒤에 우편번호 찾기 버튼 추가
$(aa).after(zipbtnHtml);

let changeButton = $(target);
changeButton.text('저장').removeAttr('onclick').on('click', function() {
 updateMemberAddr(); // 저장 버튼 클릭 시 주소 변경 요청
 $(target).next().remove();
 let addButtonHtml = '<button type="button" class="changeAddr btn btn-light" onclick="changeAddr(this)">변경</button>' +
                      '<button type="button" class="deleteAddr btn btn-light">삭제</button>';
 $(this).after(addButtonHtml);
 $(this).remove();
 $('input[name="detaAddr"]').attr("readonly", "readonly");
});

let reBtn = $(target).next();
reBtn.text('취소').attr('type', 'reset').on('click', function() {
 $(this).next().next().next().remove(); // 우편번호 찾기 버튼 제거
 let changeAddrBtnHtml = '<button type="button" class="changeAddr btn btn-light" onclick="changeAddr(this)">변경</button>';
 $(".deleteAddr").text("삭제");
 changeButton.after(changeAddrBtnHtml);
 changeButton.remove();
});

// 우편번호 찾기 버튼 클릭 이벤트 처리
$(document).on('click', '.zipbtn', function() {
 let zipInput = $(this).closest('.form-group').find('input[name="zip"]');
 let addrInput = $(this).closest('.col-md-12').next().find('input[name="addr"]');
 let detaInput = $(this).closest('.col-md-12').next().next().find('input[name="detaAddr"]');
 detaInput.val("");
 detaInput.removeAttr("readonly");

 // 주소 API
 new daum.Postcode({
   oncomplete: function(data) {
     let fullRoadAddr = data.roadAddress;
     let extraRoadAddr = '';

     if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
       extraRoadAddr += data.bname;
     }
     if (data.buildingName !== '' && data.apartment === 'Y') {
       extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
     }
     if (extraRoadAddr !== '') {
       extraRoadAddr = ' (' + extraRoadAddr + ')';
     }
     if (fullRoadAddr !== '') {
       fullRoadAddr += extraRoadAddr;
     }

     zipInput.val(data.zonecode);
     addrInput.val(fullRoadAddr);
   }
 }).open();
});
}

//주소 변경 요청
function updateMemberAddr() {
let zipInput = $('input[name="zip"]');
let addrInput = $('input[name="addr"]');
let detaInput = $('input[name="detaAddr"]');
console.log(detaInput.val());

$.ajax({
 url: "updateMemberAddr",
 method: "POST",
 data: {
   "addrNo": addrNo,
   "zip": zipInput.val(),
   "addr": addrInput.val(),
   "detaAddr": detaInput.val(),
   "membNo": membNo
 },
 success: function(result) {
 	console.log(result);
 },
 error: function(err) {
   console.log(err);
 }
});
}


$("#saveBtn").on("click",function(){
	if($("#addr3").val() == ''){
		$("#addr3").focus();
		return;
	}
	
})

//비밀번호 변경 버튼 클릭 시
$("#changePwd").on("click", function() {
	$("#pass").val("");
  $("#pass").removeAttr("readonly");
  $("#pass").attr("placeholder","변경할 비밀번호를 입력하세요");
  $(".ckpwddiv").css("display", "block");
  $("#resetPwd").css("display", "inline-block");
});

//비밀번호 변경 취소버튼 누를때
$("#resetPwd").on("click", function(){
	$("#pass").val("pwd");
	$("#pass").attr("placeholder","PASSWORD");
	$("#pass").attr("readonly","readonly");
  $(".ckpwddiv").css("display", "none");
  $("#resetPwd").css("display", "none");
})
let mailcode = '';
let mailcount1 = 0;
let mailcount2 = 0;

$("#changeEmail").on("click", function () {
    $("#email-address").val("").removeAttr("readonly");
    $(".emaildiv").css("display", "inline-block");
    $("#resetEmail").css("display", "inline-block");
    $("#sendemail").css("display", "inline-block");
    $("#changeEmail").css("display", "none");
});

$("#resetEmail").on("click", function () {
    $("#changeEmail").css("display", "inline-block");
    $("#email-address").val(email).attr("readonly", "readonly");
    resetMailForm();
});

$("#sendemail").on("click", function () {
    mailcount1++;
    if ($("#email-address").val() === "") {
        $("#email-address").focus();
        return;
    } else {
        sendMailCode();
        $("#sendemail").addClass("checkedBtn");
        $("#testBtn1").on("click", checkMailCode);
    }

    if (mailcount1 >= 5) {
        $('#myModal').show();
    }
});

function resetMailForm() {
    $(".emaildiv").css("display", "none");
    $("#resetEmail").css("display", "none");
    $("#sendemail").css("display", "none");
    $("#mainCheckInput").css("display", "none");
    $("#testBtn1").css("display", "none");
}

function sendMailCode() {
    $.ajax({
        type: "POST",
        url: "/member/smsConfirm",
        data: {
            "email": $("#email-address").val()
        },
        success: function (data) {
            //console.log("임시코드: " + data);
            mailcode = data;
            $("#mainCheckInput").css("display", "inline");
            $("#testBtn1").css("display", "inline");
        },
        error: function (err) {
            console.log(err);
        }
    });
}

function checkMailCode() {
    if ($("#mainCheckInput").val() === "") {
        $("#mainCheckInput").focus();
        return;
    }
    if ($("#mainCheckInput").val() === mailcode) {
        $("#mailCheck").text("인증이 완료되었습니다.")
            .css({
                "color": "#0D6EFD",
                "font-weight": "bold",
                "font-size": "14px"
            });
        $("#testBtn1").addClass("checkedBtn");
    } else {
        mailcount2++;
        $("#mailCheck").text("다시 시도해주세요.")
            .css({
                "color": "#FA3E3E",
                "font-weight": "bold",
                "font-size": "14px"
            });
    }
    if (mailcount2 >= 5) {
        $('#myModal').show();
    }
}
//연락처 변경 버튼 클릭
 let testcode;

 let telcount1 = 0; // 본인인증 횟수 5회 제한 count
 let telcount2 = 0; // 인증번호 확인 횟수 5회 제한 count
 
$("#changeTel").on("click", function() {
    $("#telInput").removeAttr("readonly");
    $("#changeTel").hide();
    $("#sendsms").css("display", "inline-block");
    $("#resetsms").css("display", "inline-block");
    $(".smsCkDiv").css("display", "block");
    $("#telInput").val("");
});

$("#sendsms").on("click", function() {
	  telcount1++;
	  if (!$("#telInput").val()) {
	    $("#telInput").focus();
	  } else {
	    $("#telInput").attr("name", "to");
	    let toUser = $("#telInput").val().replace(/[^0-9]/g, "").replace(/^(\d{3})(\d{4})(\d{4})$/, "$1$2$3");
	    testcode = createSmsKey();
	    //console.log(testcode);

	    // SMS 발송
	    $.ajax({
	      url: "sendSms",
	      method: "POST",
	      data: {
	        to: toUser,
	        content: "[SMS] 인증번호 [" + testcode + "]를 입력해주세요"
	      },
	      success: function(response) {
	        console.log("key: " + testcode);
	        $("#telCheck").text("인증번호가 발송되었습니다.")
	          .css({
	            color: "#0D6EFD",
	            "font-weight": "bold",
	            "font-size": "14px"
	          }); // 인증번호 확인 끝.
	        $("#telInput").attr("name", "tel");
	        $("#sendsms").addClass("isOk"); //본인인증 실행 여부 체크
	      },
	      error: function(err) {
	        console.log(err);
	      }
	    }); // SMS 발송 끝

	    if (telcount1 >= 5) {
	      $("#myModal").show();
	    }
	  }
	});

 // sms 인증코드 확인
 $("#testBtn2").on("click", function() {
   if($("#codeCheckInput").val()==""){ // 인증번호 공란일 경우
	   $("#codeCheckInput").focus();
	   $("#codeCheck")
           .text("인증번호를 입력하세요")
           .css({
               color: "#FA3E3E",
               "font-weight": "bold",
               "font-size": "14px"
           });
	   return;
   }
     telcount2++; //버튼 클릭 5회 제한
     
   if (testcode != $("#codeCheckInput").val()) {
       $("#codeCheck")
           .text("인증번호가 일치하지 않습니다. 다시 입력하세요")
           .css({
               color: "#FA3E3E",
               "font-weight": "bold",
               "font-size": "14px"
           });
   } else {
       $("#codeCheck").text("인증이 완료되었습니다.")
           .css({
               color: "#0D6EFD",
               "font-weight": "bold",
               "font-size": "14px"
           }); // 인증번호 확인 끝.
       $("#testBtn2").addClass("isOk"); //본인인증 실행 여부 체크
   }
   
   if (telcount2 >= 5) {
       $("#myModal").show();
   }
 });


//연락처 변경 - 취소 버튼 클릭 시
$("#resetsms").on("click",function(){
    $("#changeTel").css("display", "inline-block");
    $("#sendsms").css("display", "none");
    $("#resetsms").css("display", "none");
    $(".smsCkDiv").css("display", "none");
});

//주소등록 버튼 클릭
$("#insertAddrBtn").on("click", function(){
	$("#insertAddrDiv").css("display", "inline-block");
	$("#insertResetBtn").css("display", "inline-block");
	
	//우편번호 찾기 버튼 클릭
	//주소 찾기 - 다음 주소 api
	 document.querySelector(".zipbtn").addEventListener('click',function(){
	    new daum.Postcode({
	      oncomplete: function (data) {
	       // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

	       // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
	       // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	       var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
	       var extraRoadAddr = ''; // 도로명 조합형 주소 변수

	       // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	       // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	       if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
	           extraRoadAddr += data.bname;
	       }
	       // 건물명이 있고, 공동주택일 경우 추가한다.
	       if (data.buildingName !== '' && data.apartment === 'Y') {
	           extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	       }
	       // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
	       if (extraRoadAddr !== '') {
	           extraRoadAddr = ' (' + extraRoadAddr + ')';
	       }
	       // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
	       if (fullRoadAddr !== '') {
	           fullRoadAddr += extraRoadAddr;
	       }

	       $("[name=insertaddr1]").val(data.zonecode);
	       $("[name=insertaddr2]").val(fullRoadAddr);

	       // 우편번호와 주소 정보를 해당 필드에 넣는다.
	       document.getElementById('insertaddr1').value = data.zonecode; //5자리 새우편번호 사용
	       document.getElementById('insertaddr2').value = fullRoadAddr;

	      }
	    }).open();
	 });
	
})

$("#insertResetBtn").on("click", function(){
	$("#insertAddrDiv").css("display", "none");
	$("#insertResetBtn").css("display", "none");
	
})

//회원 탈퇴
	let message ='';
	let spanbtn='';
function deleteMemb(){
	let point = parseInt("[[${session.loggedInMember.point}]]");
	if(point != 0){
		console.log("[[${#lists.isEmpty(stockList)}]]");
		if("[[${#lists.isEmpty(stockList)}]]" == false){
			message='';
			spanbtn='';
			message += `현재 보유 포인트 <br>
							${commas(point)} point<br>
							${commas(point*10)}원<br>
							환불 후 탈퇴하시겠습니까?`;
			spanbtn +=`
					<span class="pop_bt span_bt" onClick="close_pop();">취소</span>
		  		<span class="pop_bt span_bt" onclick="delAjax()">탈퇴하기</span>
			`;
			$("#modalTxt").html(message);
			$("#modalBtn").html(spanbtn);
			$("#delModal").show();
		}else{
			message='';
			spanbtn='';
			message += `현재 보유 포인트 <br>
									<strong>${commas(point)} point<br>
									${commas(point*10)}원</strong><br><br>
									<strong>보유주식 매도 후 탈퇴 가능합니다.</strong> `;
			spanbtn +=`
					<span class="pop_bt span_bt" onClick="close_pop();">취소</span>
		  		<span class="pop_bt span_bt" onclick="location.href='/stock/itemListPage'">주식시장으로</span>
			`;
			$("#modalTxt").html(message);
			$("#modalBtn").html(spanbtn);
			$("#delModal").show();
		}
	}
}

//회원탈퇴
function delAjax(){
	$.ajax({
		url : "deleteMemb",
		method : "POST",
		data : {
			"membNo" : membNo
		},
		success : function(data){
			message='';
			spanbtn='';
			message += `탈퇴가 성공적으로 이루어졌습니다.`;
			spanbtn +=`
					<span class="pop_bt span_bt" onClick="close_del_pop();">닫기</span>
			`;
			$("#modalTxt").html(message);
			$("#modalBtn").html(spanbtn);
			$("#delModal").show();
		},
		error : function(err){
			console.log(err);
		}
	});
}

//모달
function close_pop(flag) {
 $('#myModal').hide();
	 window.location.reload();
};
function close_del_pop(flag) {
 $('#myModal').hide();
	 window.location.href="/";
};
function commas(number) {
  return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
} 
function createSmsKey() {
	  let key = '';
	  
	  for (let i = 0; i < 5; i++) { 
	    key += Math.floor(Math.random() * 10);
	  }
	  return key;
	}
//연락처 저장 포맷 & 유효성검사
const autoHyphen = (target) => {
    target.value = target.value.replace(/[^0-9]/g, '').replace(/^(\d{3})(\d{4})(\d{4})$/, `$1-$2-$3`);
};

//비밀번호 유효성검사
pwdInput.addEventListener('input', checkPwdValidity);
pwdCorrectInput.addEventListener('input', checkPwdMatch);

function checkPwdValidity() {
    const pwdValue = pwdInput.value;
    const pwdRegex = /^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[\W_]).{8,16}$/;

    if (!pwdValue) {
        pwdWarning.textContent = "비밀번호를 입력해주세요.";
    } else if (!pwdRegex.test(pwdValue)) {
        pwdWarning.textContent = "영어 대소문자, 숫자, 특수문자 1개이상 사용해야 합니다.";
    } else {
        pwdWarning.textContent = "";
    }
}

function checkPwdMatch() {
    const pwdValue = pwdInput.value;
    const pwdCorrectValue = pwdCorrectInput.value;

    if (pwdValue !== pwdCorrectValue) {
        pwdWarning.style.borderWidth = "2px";
        pwdWarning.textContent = "입력한 비밀번호와 일치하지 않습니다.";
    } else {
        pwdWarning.style.borderWidth = "";
        pwdWarning.textContent = "";
    }
}

     </script>
  </div>
</body>

</html>