<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">

<head>
<meta charset="UTF-8">
<title>ToTheMooN - 포인트|쿠폰</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<style>
#myPointList, #myCouponList{
	text-align: left;
	margin-top : 50px;
	margin-left : 60px;
}
#myCouponList{
	margin-bottom : 50px;
}
#chargeBtn{
font-size:40px; padding-left:30px; font-weight:bold;
color: #FF3066;
}
#chargeBtn img{
	width : 120px;
	padding-bottom: 30px;
}
#myPointTblDiv{
width: 700px;
height : 520px;
margin : auto;
margin-top:70px;
}
#myPointTblDiv input{
	text-align: center;
}
#myPointTbl{
	width: 100%;
	text-align : center;
	margin-top : 20px;
}
#myPointTbl th{
	font-size: 20px;
	padding : 10px;
}
#myPointTbl td{
	font-size: 18px;
	padding : 5px;
}

#dealSel{
	float : right;
	margin-right : 20px;
	width: 140px;
	height: 32px;
	padding : 5px;
}
#titlename span:after{
	width:250px;
}
#titlename2 span:after{
	width:110px;
}
.cDiv{
	display: inline-block;
	border: 1px solid #ddd;
	width: 150px;
	padding : 10px;
	font-size : 20px;
	margin-left: 10px;
}
.cDiv p{
	margin-top:10px;
	margin-bottom:10px;
}
#coupon-div{
	padding : 20px;
}
</style>
</head>
<body>
<div layout:fragment="mypage">
	<div id="mypageBody">
	<div id="myPointList">
		<span style="font-size:40px; color:black;">My 포인트</span>
		<strong> <span th:text="|${#numbers.formatInteger(mypoint, 0, 'COMMA')}|" style="font-size:40px; padding-left:30px; color:black;"></span></strong>
		<span style="font-size:30px; color:black;"> P</span>
		<a href="pointChargeForm" id="chargeBtn"><img th:src="|/member/images/charge.png|" ></a><br>
	</div>
	<div id="myCouponList">
		<span style="font-size:40px; color:black;">My 쿠폰</span>
		<strong> <span th:text="${#lists.size(mycoupon)}" style="font-size:40px; padding-left:70px; color:black;"></span></strong>
		<span style="font-size:30px; color:black;"> 개</span>
	</div>
	<div id="myPointTblDiv">
		<h3 class="news-title" id="titlename">
      <span>포인트 적립 | 사용 내역</span>
 		</h3>
		<input type="date" id="startDate">
		<input type="date" id="endDate">
		<select id="dealSel" class="form-control">
    <option value="">전체거래</option>
    <option value="매도">매도</option>
    <option value="매수">매수</option>
    <option value="충전">충전</option>
    <option value="포인트몰">포인트몰</option>
</select>
<table id="myPointTbl">
    <thead>
        <tr>
            <th>날짜</th>
            <th>구분</th>
            <th>종목/제품이름</th>
            <th>이용내역</th>
        </tr>
    </thead>
    <tbody id="dealbody">
    </tbody>
	</table>
</div>
<div>
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
	<ul class="pagination">
		<li class="page-item">
			<a class="page-link" id="firstpage" href="javascript:firstPage()" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" id="prevpage" href="javascript:prevPage()" aria-label="Previous">
				<span aria-hidden="true" style="visibility: hidden;">&lt;</span>
			</a>
		</li>
		<!-- 페이징버튼 들어갈 공간 -->
		    <li class="page-item">
				<a class="page-link" id="nextpage" href="javascript:nextPage()" aria-label="Next">
					<span aria-hidden="true" style="visibility: hidden;">&rt;</span>
				</a>
			</li>
		    <li class="page-item">
				<a class="page-link" id="lastpage" href="javascript:lastPage()" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
<!-- coupon -->
<h3 class="news-title" id="titlename2">
   <span>쿠폰 내역</span>
</h3>
<div th:if="${#lists.isEmpty(mycoupon)}">
</div>
<div id="coupon-div" th:if="${not #lists.isEmpty(mycoupon)}">
	<div class="cDiv" th:each="list : ${mycoupon}">
		<strong><span th:text="${list.dcRate}+' %'"></span></strong>
		<p>[[${#dates.format(list.endDt, 'yyyy-MM-dd')}]]까지</p>
	</div>
</div>
</div>

<script>
const membNo = "[[${session.loggedInMember.membNo}]]";
const dt = "[[${#dates.format(session.loggedInMember.joinDt, 'yyyy/MM/dd')}]]";
let dtFormat = "[[${#dates.format(session.loggedInMember.joinDt, 'yyyy-MM-dd')}]]";

let tablename = "";
let targetPage = 1;
let startPage=1;
let endPage=10;
let totalCnt;
let today = new Date();   
let year = today.getFullYear(); // 년도
let month = today.getMonth() + 1 <10 ? '0'+(today.getMonth() + 1) : today.getMonth() + 1;  // 월
let date = today.getDate().toString().padStart(2, '0'); // 날짜
let endDate = year + '/' + month + '/' + date; 
let startDate = dt;

$("#startDate").val(dtFormat);
$("#endDate").val(`${year}-${month}-${date}`);


dealList();
pageBtn();

// 거래내역 호출
function dealList() {
    $.ajax({
        url: "dealList",
        method: "POST",
        data: {
            "membNo": membNo,
            "tablename": tablename,
            "startDate" : startDate,
            "endDate" : endDate,
            "page" : targetPage
        },
        success: function (data) {
            let tr = ''; // 각 호출마다 tr을 초기화
        	if(data && data.length >0){
            //console.log(data);
            data.forEach(el => {
            	//console.log(el)
            let point = commas(el.point);
            	let orderDt = new Date(el.orderDt);
            	let formattedDt = `${orderDt.getFullYear()}-${(orderDt.getMonth() + 1).toString().padStart(2, '0')}-${orderDt.getDate().toString().padStart(2, '0')}`;
                tr += `
                        <tr>
                            <td>${formattedDt}</td>
                            <td>${el.tablename}</td>
                						<td>${el.nm}</td>`;
                 if(el.point >=0){
                	 tr += `
                         <td class="high">${point} P</td>
          		           </tr>
            			 `;
                 } else{
                	 tr += `
                         <td class="low">${point} P</td>
          		           </tr>
            			 `;
                 }
                 
            });
        	}else{
        		tr += `
        			<tr>
                    <td colspan="4"><h3>거래 내역이 없습니다. </h3></td>
              </tr>
        		`;
        		$("#myPointTbl").css("height", "200px");
        	}
            $("#dealbody").append(tr);
        },
        error: function (err) {
            console.log(err);
        }
    });
	}

	$("#dealSel").on("change", function () {
	    $("#dealbody").html(""); // select가 변경되면 이전에 출력한 내용 초기화
	    tablename = $("#dealSel option:selected").val();
	    //console.log(tablename)
	    startDate = $("#startDate").val();
	    endDate = $("#endDate").val();
	    targetPage=1;
	    dealList();
	    pageBtn();

	});
	
 function pageBtn() {
	    $.ajax({
	        url: "getDealCount",
	        method: "POST",
	        data: {
	            "membNo": membNo,
	            "tablename": tablename,
	            "startDate": startDate,
	            "endDate": endDate
	        },
	        success: function (data) {
	            $('#nextpage').css('visibility', 'hidden');
	            $('#prevpage').css('visibility', 'hidden');
	            totalCnt = data;
	            if(totalCnt >100){
	            	endPage = 10;
	            }else{
		            endPage=~~((totalCnt-1)/10 + 1);
	            }
	            createPageCntBtn(startPage, endPage);
	            if(totalCnt>100){
	            	$('#nextpage').css('visibility', 'hidden');
		            $('#prevpage').css('visibility', 'hidden');
							}
	        },
	        error: function (err) {
	            console.log(err);
	        }
	       });
	   }
	   
	   //페이지 버튼생성
	   function createPageCntBtn(start,end){
	      $('.pagebtn').remove();
	      
	      for (let i = start; i <= end; i++) {
	        let liTag = $('<li></li>').addClass('page-item').addClass('pagebtn');
	        if (i % 10 === targetPage) {
	          liTag.addClass('active');
	        }
	        let aTag = $('<a></a>').addClass('page-li	nk').attr('href', 'javascript:pageMove(' + i + ');').text(i);
	        liTag.append(aTag);
	        $('#nextpage').before(liTag);
	      }
	   }
	   
	   //페이징 버튼클릭
	   function pageMove(page) {
		   $("#dealbody").html("");
		  $('.pagebtn.active').removeClass('active');
		  targetPage = page;
		  dealList();
		  $('.pagebtn').each(function () {
		    if ($(this).children('a').text() == page) {
		      $(this).addClass('active');
		       }
		     });
		  
		  window.scrollTo(0, 200);
	   }
	      
	   // 페이징 < 버튼 클릭
	   function prevPage() {
		   $("#dealbody").html("");
	     $('#nextpage').css('visibility', 'visible');
	     startPage -= 10;
	     endPage -= 10;
	     if (startPage === 1) {
	       $('#prevpage').css('visibility', 'hidden');
	     }
	     createPageCntBtn(startPage, endPage);
	     pageMove(startPage);
	   }
	   
	   // 페이징 > 버튼 클릭
	   function nextPage() {
		   $("#dealbody").html("");
	     $('#prevpage').css('visibility', 'visible');
	     startPage += 10;
	     endPage += 10;
	     if (endPage >= ~~((totalCnt - 1) / 10 + 1)) {
	       endPage = ~~((totalCnt - 1) / 10 + 1);
	       $('#nextpage').css('visibility', 'hidden');
	     }
	     createPageCntBtn(startPage, endPage);
	     pageMove(startPage);
	   }
	   
	   function firstPage() {
		   $("#dealbody").html("");
	     startPage = 1;
	     if (endPage > 10) {
	       endPage = 10;
	     }
	     createPageCntBtn(startPage, endPage);
	     pageMove(startPage);
	   }
	   
	   function lastPage() {
		   $("#dealbody").html("");
       endPage = ~~((totalCnt - 1) / 10 + 1);
	     startPage = endPage - endPage % 10 + 1;
	     createPageCntBtn(startPage, endPage);
	     pageMove(endPage);
	   }

	
	 function commas(number) {
		  return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		} 
</script>
</div>
</body>

</html>