<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<style>
#mypageBody{
	border: 1px solid #DDDDDD;
	height: auto;
}
#chartInfo{
	margint:auto;
}
#mypageBody h3{
	padding : 10px;
}
#startDt, #endDt{
	display : inline-block;
}
#chartInfo{
	padding : 10px;
}
#myowntbl{
	text-align : center;
	padding-top : 20px;
}
#myowntbl th{
	font-size : large;
	font-weight: bold;
}
#myowntbl td{
	font-size : large;
	font-weight: bold;
	height: 70px;
}
#myposstbl{
	margin-top : 20px;
	text-align: center;
}
#buytbl, #nav-tabContent{
	display : block;
}
#buytbl th{
	padding:1px;
	width: 120px;
} 
#buytbl{
	text-align: center;
}
#stordertbl{
	text-align: center;
	height: 300px;
}
.noOrder td{
padding-top : 40px;
}

</style>
</head>
<body>
<div layout:fragment="mypage">
	<div id="mypageBody">
			<h3>보유자산</h3>
		<div id="chartInfo">
			<h4>기간별 수익률</h4>
			<div id="chart"></div>
		</div>
		
		<div id="myowntbl">
			<table class="table-light col-12">
			<thead>
				<tr>
					<th>총 매수금액</th>
					<th>총 평가금액</th>
					<th>평가손익</th>
					<th>평가수익률</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td th:text="|${#numbers.formatInteger(sumNowPrc*10, 0, 'COMMA')}원|"></td>
					<td th:text="|${#numbers.formatInteger(sumTradePrc*10, 0, 'COMMA')}원|"></td>
					<td th:text="|${#numbers.formatInteger((sumTradePrc-sumNowPrc)*10, 0, 'COMMA')}원|"></td>
					<td th:text="|${#numbers.formatDecimal(raise, 3, 2)}%|"></td>
				</tr>
				</tbody>
			</table>
		</div>
		
		<div id="myposstbl">
		  <table class="table-light col-12">
		    <tr>
		      <th>종목코드</th>
		      <th>종목명</th>
		      <th>현재가</th>
		      <th>등락률</th>
		      <th>보유수량</th>
		      <th>평가금액</th>
		      <th>현재비율</th>
		    </tr>
		    <tr th:each="stock : ${possstockList}">
		      <td th:text="${stock.commonCd}"></td>
		      <td th:text="${stock.tnm}" th:onclick="|location.href='@{/stock/chart(itemNo=${stock.itemNo})}'|"></td>
		      <td th:text="|${#numbers.formatInteger(stock.nowPrc*10, 0, 'COMMA')}|"></td>
		      <td th:text="${stock.rate}" th:classappend="${stock.rate >= 0 ? 'high' : 'low'}"></td>
		      <td th:text="${stock.stockCnt*10}"></td>
		      <td th:text="|${#numbers.formatInteger(stock.tradePrc*10, 0, 'COMMA')}|"></td>
		      <td th:text="|${#numbers.formatDecimal((stock.tradePrc/sumTradePrc)*100, 1, 2)}%|" th:classappend="${(stock.tradePrc/sumTradePrc)*100 >= 0 ? 'high' : 'low'}"></td>
		    </tr>
		    <tr>
		      <td colspan="5"></td>
		      <td th:text="|${#numbers.formatInteger(sumTradePrc*10, 0, 'COMMA')}|"></td>
		      <td>100%</td>
		    </tr>
		  </table>
		</div>
		
		<div id="stordertbl">
			<nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
			    <button class="nav-link active col-6" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">매수 주문 예약</button>
			    <button class="nav-link col-6" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">매도 주문 예약</button>
			  </div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
			  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
			  <!-- 매수 주문 예약 -->
			  	<table id="buytbl" class="table-light col-12" style="text-align:center;">
			  		<thead>
				  		<tr>
	              <th>종목코드</th>
	              <th>종목명</th>
	              <th>주문수량</th>
	              <th>주문가격</th>
	              <th>예약시간</th>
	              <th colspan="2"></th>
	            </tr>
            </thead>
            <tbody id="buytbody">
            </tbody>
			  	</table>
			  </div>
			  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
			  <!-- 매수 주문 예약 -->
			  	<table id="selltbl" class="table-light col-12">
			  		<thead>
			  		<tr>
              <th>종목코드</th>
              <th>종목명</th>
              <th>주문수량</th>
              <th>주문가격</th>
              <th>예약시간</th>
              <th colspan="2"></th>
            </tr>
            </thead>
            <tbody id="selltbody">
            </tbody>
			  	</table>
			  </div>
			</div>
		</div>
	</div>
	
	<script>	
	let tr1 = '';
	let tr2 = '';
	let date = '';
	let membNo = "[[${session.loggedInMember.membNo}]]";
	buyOrder();

	$("#nav-profile-tab").on("click", function () {
	  $("#nav-profile").addClass("show active");
	  $("#nav-home").removeClass("show active");

	  // 매도 주문 현황
	  $.ajax({
	    url: "sellOrderList",
	    method: "POST",
	    data: {
	      "membNo": membNo
	    },
	    success: function (data) {
	      tr2 = ''; // Reset the variable before appending new rows
	      if(data && data.length >0){
	      data.forEach(el => {
	        let formattedSellDt = moment(el.sellDt, "YYYY-MM-DDTHH:mm:ss.SSSZ").format("YYYY-MM-DD HH:mm:ss");
	        tr2 += `
	          <tr data-no="${el.sellNo}">
	            <td>${el.commonCd}</td>
	            <td>${el.nm}</td>`;
	         if(el.rmnCnt>0){
	        	 tr2+= `<td>${el.rmnCnt}</td>`;
	         }   
           tr2 += `<td>${el.prc}</td>
	            <td>${formattedSellDt}</td>
	            <td><button onclick="updateSellOrder(this)" style="display: inline-block;">수정</button></td>
	            <td><button onclick="delSellOrder(this)">삭제</button></td>
	          </tr>
	        `;
	      })
	      }else{
	    	  tr2 +=`<tr class="noOrder">
		    		<td colspan="5"><h4>매수 주문 예약이 없습니다.</h4>
		    		<a onclick="location.href='/stock/itemListPage'"><button class="btn btn-primary">주식페이지로 이동</button></a></td>
		    		</tr>
		    		`;
		    	}
	      $("#selltbody").html(tr2);
	    },
	    error: function (err) {
	      console.log(err);
	    }
	  });
	})

	$("#nav-home-tab").on("click", function () {
	  $("#nav-profile").removeClass("show active");
	  $("#nav-home").addClass("show active");
	  buyOrder();
	})

	//매수 주문 현황
	function buyOrder() {
	  tr1 = ''; // Reset the variable before making the AJAX call
	  $.ajax({
	    url: "buyOrderList",
	    method: "POST",
	    data: {
	      "membNo": membNo
	    },
	    success: function (data) {
	    	if(data && data.length >0){
	      data.forEach(el => {
	        let formattedBuyDt = moment(el.buyDt, "YYYY-MM-DDTHH:mm:ss.SSSZ").format("YYYY-MM-DD HH:mm:ss");
	        tr1 += `
	          <tr data-no="${el.buyNo}">
	            <td>${el.commonCd}</td>
	            <td>${el.nm}</td>
	            <td>${el.rmnCnt}</td>
	            <td>${el.prc}</td>
	            <td>${formattedBuyDt}</td>
	            <td><button onclick="updateBuyOrder(this)" style="display : inline-block;">수정</button></td>
	            <td><button onclick="delBuyOrder(this)">삭제</button></td>
	          </tr>
	        `;
	      })
	    	}else{
	    		tr1 +=`<tr class="noOrder">
	    		<td colspan="5"><h4>매수 주문 예약이 없습니다.</h4>
	    		<a onclick="location.href='/stock/itemListPage'"><button class="btn btn-primary">주식페이지로 이동</button></a></td>
	    		</tr>
	    		`;
	    	}
	      $("#buytbody").html(tr1);
	    },
	    error: function (err) {
	      console.log(err);
	    }
	  });
	}

	//매수 주문 변경
	function updateBuyOrder(target) {
		let tr = $(target).closest("tr");
		let buyNo = tr.attr("data-no");
	  let rmnCntCell = $(target).parent().prev().prev().prev();
	  let prcCell = $(target).parent().prev().prev();
	
	  let rmnCntValue = rmnCntCell.text().trim();
	  let prcValue = prcCell.text().trim();
	
	  let rmnCntInput = $('<input type="number">').val(rmnCntValue).css('width', '60px');
	  let prcInput = $('<input type="number">').val(prcValue).css('width', '70px');
	
	  rmnCntCell.empty().append(rmnCntInput);
	  prcCell.empty().append(prcInput);
	
	  $(target).hide();
	  
	  let saveBtn = $('<button class="saveBtn">저장</button>').css('display', 'inline-block');
	  $(target).parent().append(saveBtn);
	  
	  saveBtn.on("click", function() {
	    let updatedRmnCnt = rmnCntInput.val();
	    let updatedPrc = prcInput.val();
	    
	    console.log(updatedRmnCnt);
	    console.log(updatedPrc);
	    
	    //매수 주문 수정 아작스 
			$.ajax({
				url : "updateBuyOrder",
				method : "POST",
				data : {
					"buyNo" : buyNo,
					"membNo" : membNo,
					"rmnCnt" : updatedRmnCnt,
					"prc" : updatedPrc
				},
				success : function(result) {
					if(result ==1){
						toastShow("Update","매수 주문 예약이 수정되었습니다.","success");
				    rmnCntCell.text(updatedRmnCnt);
				    prcCell.text(updatedPrc);
				    
				    $(target).show();
				    $(this).remove();
				    $(".saveBtn").remove();
					}
				},
				error : function(err){
					console.log(err);
				}
			})
  });
}
	
	// 매도 주문 변경
	function updateSellOrder(target) {
	  let tr = $(target).closest("tr");
	  let sellNo = tr.attr("data-no");
	  let rmnCntCell = $(target).parent().prev().prev().prev();
	  let prcCell = $(target).parent().prev().prev();

	  let rmnCntValue = rmnCntCell.text().trim();
	  let prcValue = prcCell.text().trim();

	  let rmnCntInput = $('<input type="number">').val(rmnCntValue).css('width', '60px');
	  let prcInput = $('<input type="number">').val(prcValue).css('width', '70px');

	  rmnCntCell.empty().append(rmnCntInput);
	  prcCell.empty().append(prcInput);

	  $(target).hide();

	  let saveBtn = $('<button class="saveBtn">저장</button>').css('display', 'inline-block');
	  $(target).parent().append(saveBtn);

	  saveBtn.on("click", function () {
	    let updatedRmnCnt = rmnCntInput.val();
	    let updatedPrc = prcInput.val();

	    console.log(updatedRmnCnt);
	    console.log(updatedPrc);

	    // 매도 주문 수정 아작스
	    $.ajax({
	      url: "updateSellOrder",
	      method: "POST",
	      data: {
	        "sellNo": sellNo,
	        "membNo": membNo,
	        "rmnCnt": updatedRmnCnt,
	        "prc": updatedPrc
	      },
	      success: function (result) {
	        if (result == 1) {
	          toastShow("Update", "매도 주문 예약이 수정되었습니다.", "success");
	          rmnCntCell.text(updatedRmnCnt);
	          prcCell.text(updatedPrc);

	          $(target).show();
	          $(this).remove();
	          $(".saveBtn").remove();
	        }
	      },
	      error: function (err) {
	        console.log(err);
	      }
	    })
	  });
	}

	// 매수 주문 예약 삭제
	function delBuyOrder(target) {
		 let dataNo = $(target).closest("tr").attr('data-no');
	  //console.log(dataNo);
	  $.ajax({
	    url: "deleteBuyOrder",
	    method: "POST",
	    data: {
	      "membNo": membNo,
	      "buyNo": dataNo
	    },
	    success: function (res) {
	      if (res == 1) {
	        $(target).closest("tr").remove(); // Remove the closest <tr> element
	        toastShow("Delete", "매수 주문 예약이 삭제되었습니다.", "success");
	      }
	    },
	    error: function (err) {
	      console.log(err);
	    }
	  });
	}

	
		//매도 주문 예약 삭제
	 function delSellOrder(target) {
		  let dataNo = target.parentNode.getAttribute('data-no');
		  //console.log(dataNo);
		  $.ajax({
			  url : "deleteSellOrder",
			  method : "POST",
			  data : {
				  "membNo" : membNo,
				  "sellNo" : dataNo
			  },
			  success : function(res){
				  console.log(res);
				  $(target).parent().remove();
				  toastShow("Delete","매도 주문 예약이 삭제되었습니다.","success");
			  },
			  error : function(err){
				  console.log(err);
			  }
		  });
		}
myRaiseList();
function myRaiseList(){
	$.ajax({
		url : "myRaiseList",
		method : "POST",
		data : {
			 "membNo" : membNo
		},
		success : function(res){
			let chartArr1= [];
			let chartArr2= [];
			res.forEach(el=>{
				console.log(el);
				let chartDate = el.dt
				chartArr1.push(chartDate)
				
				let chartData = el.raise
				chartArr2.push(chartData)
			})
			chart
				var options = {
		      series: [{
		      name: 'Cash Flow',
		      data: chartArr2
		    }],
		      chart: {
		      type: 'bar',
		      height: 350
		    },
		    plotOptions: {
		      bar: {
		        colors: {
		          ranges: [{
		            from: -100,
		            to: -46,
		            color: '#FEB019'
		          }, {
		            from: -45,
		            to: 0,
		            color: '#F15B46'
		          }]
		        },
		        columnWidth: '80%',
		      }
		    },
		    dataLabels: {
		      enabled: false,
		    },
		    yaxis: {
		      title: {
		        text: '',
		      },
		      labels: {
		        formatter: function (y) {
		          return y.toFixed(0) + "%";
		        }
		      }
		    },
		    xaxis: {
		      type: 'datetime',
		      categories: chartArr1,
		      labels: {
		        rotate: -90
		      }
		    }
		    };
		    var chart = new ApexCharts(document.querySelector("#chart"), options);
		    chart.render();
		},
		error : function(err){
			
		}
	});
}

function commas(number) {
  return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
}
	</script>
</div>
</body>

</html>