<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<style>
#mypageBody, .sidebar, {
	border: 1px solid #DDDDDD;
	height: auto;
}
#sum {
	border: 1px solid #DDDDDD;
	height: auto;
}
#ownList {
	border: 1px solid #DDDDDD;
	height: auto;
}
#gotoInfo{
	height: 80px;
	background-color: bisque;
	margin:auto;
}
#gotoInfo h3{
	padding-top : 25px;
	display : inline-block;
}
.bi.bi-arrow-right-square-fill{
	display : inline-block;
	float : right;
}
#mystockDiv{
	border: 1px solid #DDDDDD;
	height: 500px;
	margin-top : 20px;
	display : inline-block;
	overflow: auto;
}
#myorderDiv{
	border: 1px solid #DDDDDD;
	height: 500px;
	margin-top : 20px;
	margin-left : 10px;
	display : inline-block;
	width : 200px;
	overflow: auto;
}
#buysellList{
	border: 1px solid #DDDDDD;
	height: 500px;
	margin-top : 20px;
	padding : 5px;
}
#interestDiv, #recomDiv{
	display : inline-block;
	border: 1px solid #DDDDDD;
	height: 300px;
	margin-left : 40px;
	margin-top : 20px;
	overflow: auto;
}
#interesttbl{
	width : 100%;
	
}
#sum{
	height: 150px;
}
.high{ color : red;}
.low{ color : blue;}
#buyselltbl{
	text-align: center;
}
</style>
</head>
<body>
<div layout:fragment="mypage">
		<div id="mypageBody" class="z-flex">
			<div id="gotoInfo" class="col-12">
				<h3>주식현황</h3>
				<a href="mystockInfo"><p class="bi bi-arrow-right-square-fill"></p></a>
			</div>
			<div class="col-12" style="margin : auto;">
				<div id="mystockDiv" class="col-7">
					<div id="sum" class="col-12">
					</div>
					<div id="ownList" class="col-12"></div>
				</div>
				<div id="myorderDiv">
					<div id="buyOrder"></div>
					<div id="sellOrder"></div>
				</div>
			</div>
			<div id="buysellList" class="col-12">
			<h3>거래내역</h3>
			<input type="date" id="dstart"> ~ 
			<input type="date" id="dend">
			<button type="button" id="oneMonthBtn">1개월</button>
			<button type="button" id="threeMonthsBtn">3개월</button>
			<button type="button" id="sixMonthsBtn">6개월</button>
			<select id="buysellsel">
				<option value="">전체거래</option>
				<option value="B">매수</option>
				<option value="S">매도</option>
			</select>
				<table id="buyselltbl" class="col-12">
					<thead>
						<tr>
							<th>체결날짜</th>
							<th>구분</th>
							<th>종목</th>
							<th>가격</th>
							<th>수량</th>
							<th>수수료</th>
							<th>합계</th>
						</tr>
					</thead>
					<tbody id="buysellbody">
					</tbody>
				</table>
			</div>
			<div class="col-12">
				<div id="interestDiv" class="col-5">
					<table id="interesttbl">
						<thead>
							<tr>
							<th>관심종목</th>
							<th></th>
							<th></th>
							<th></th>
							</tr>
						</thead>
						<tbody id="intbody"></tbody>
					</table>
				</div>
				<div id="recomDiv" class="col-5"></div>
			</div>
		</div>

		
	<script>
	let div1='';
	let div2='';
 	const memNo = "[[${session.loggedInMember.membNo}]]";
 	const dt = "[[${session.loggedInMember.joinDt}]]";
 	let kind = "";
 	let startDate = dt;
 	let today = new Date();   
 	let year = today.getFullYear(); // 년도
 	let month = today.getMonth() + 1 <10 ? '0'+(today.getMonth() + 1) : today.getMonth() + 1;  // 월
 	let date = today.getDate() < 10 ? date = '0'+today.getDate() : today.getDate();  // 날짜

 	let endDate = year + '/' + month + '/' + date ; 
 	
 	console.log(endDate);
 	
 	$("#dstart").val(startDate);
 	$("#dend").val(`${year}-${month}-${date}`);
 	
 	//매도 매수 거래내역 호출
 	buysell(); 
 	
 	$("#buysellsel").on("change",function(){
 		$("#buysellbody").html("");
 		kind = $("#buysellsel option:selected").val();
    startDate = $("#dstart").val();
    endDate = $("#dend").val();
    buysell();
 	})
 	
//매도 매수 거래내역
 	function buysell(){
	$.ajax({
		url : "buysellList",
		method : "POST",
		data : {
			"membNo" : memNo,
      "kind": kind,
      "startDate" : $("#dstart").val(),
      "endDate" : $("#dend").val()
		},
		success : function(data){
			let tr='';
			data.forEach(el=>{
				let orderDt = new Date(el.taDt);
            	let formattedDt = `${orderDt.getFullYear()}-${(orderDt.getMonth() + 1).toString().padStart(2, '0')}-${orderDt.getDate().toString().padStart(2, '0')}`;
				console.log(el);
				tr += `
					<tr>
					<td>${formattedDt}</td>`;
				if(el.kind === 'B'){
					tr += `<td class="high">매수</td>`;
				}else{
					tr += `<td class="low">매도</td>`;
				}
				
				tr += `
					<td>${el.tnm}</td>
					<td>${el.taPrc}</td>
					<td>${el.stockCnt}</td>
					<td>${(el.stockCnt*el.taPrc)*0.1}</td>
					<td>${(el.stockCnt*el.taPrc-((el.stockCnt*el.taPrc)*0.1))}</td>
				</tr>
				`;
			});
			$("#buysellbody").html(tr);
		}, error : function(err){
			console.log(err);
		}
	});
}
 	
	//매수 주문 현황
	 $.ajax({
		 url : "buyOrderList",
		 method : "POST",
		 data : {
			 "membNo" : memNo
		 },
		 success : function(data){
			 data.forEach(el=>{
				 //console.log(el);
				 let prc = (el.prc).toLocaleString();
				 div1 +=`
				 				<div data-no="${el.buyNo}" style="text-align:center; border: 1px solid #DDDDDD;">
				 					<span style="font-weight : bold;">매수 주문 예약</span><button onclick="delBuyOrder(this)"> X </button>
				 					<table style="width : 100%;">
				 						<tr>
				 							<th>종목명</th>
				 							<td>${el.nm}</td>
				 						</tr>
				 						<tr>
				 							<th>주문수량</th>
				 							<td>${el.rmnCnt} 개</td>
				 						</tr>
				 						<tr>
				 							<th>주문가격</th>
				 							<td>${prc} point </td>
				 						</tr>
				 					</table>
				 				</div>
				 `; 
			 })
			 $("#buyOrder").html(div1);
		 },
		 error : function(err){
			 console.log(err);
		 }
	 });
	
	//매도 주문 현황
	 $.ajax({
		 url : "sellOrderList",
		 method : "POST",
		 data : {
			 "membNo" : memNo
		 },
		 success : function(data){
			 data.forEach(el=>{
				 //console.log(el);
				 div2 +=`
		 				<div data-no="${el.buyNo}" style="text-align:center; border: 1px solid #DDDDDD;">
		 					<span style="font-weight : bold;">매도 주문 예약</span><button onclick="delSellOrder(this)"> X </button>
		 					<table style="width : 100%;">
		 						<tr>
		 							<th>종목명</th>
		 							<td>${el.nm}</td>
		 						</tr>
		 						<tr>
		 							<th>주문수량</th>
		 							<td>${el.rmnCnt}</td>
		 						</tr>
		 						<tr>
		 							<th>주문가격</th>
		 							<td>${el.prc}</td>
		 						</tr>
		 					</table>
		 				</div>
					 `; 
			 })
			 $("#sellOrder").html(div2);
		 },
		 error : function(err){
			 console.log(err);
		 }
	 });
	
	//매수 주문 예약 삭제
 function delBuyOrder(target) {
	  let dataNo = target.parentNode.getAttribute('data-no');
	  //console.log(dataNo);
	  $.ajax({
		  url : "deleteBuyOrder",
		  method : "POST",
		  data : {
			  "membNo" : memNo,
			  "buyNo" : dataNo
		  },
		  success : function(res){
			  console.log(res);
			  $(target).parent().remove();
			  toastShow("Delete","매수 주문 예약이 삭제되었습니다.","success");
		  },
		  error : function(err){
			  console.log(err);
		  }
	  });
	}
	//매도 주문 예약 삭제
 function delSellOrder(target) {
	  let dataNo = target.parentNode.getAttribute('data-no');
	  //console.log(dataNo);
	  $.ajax({
		  url : "deleteSellOrder",
		  method : "POST",
		  data : {
			  "membNo" : memNo,
			  "sellNo" : dataNo
		  },
		  success : function(res){
			  console.log(res);
			  $(target).parent().remove();
			  toastShow("Delete","매도 주문 예약이 삭제되었습니다.","success");
		  },
		  error : function(err){
			  console.log(err);
		  }
	  });
	}

//관심종목 리스트
 let tr1 = '';
 let tr2 = '';
	// 숫자를 콤마로 포맷하는 함수
	function formatNumber(number) {
	  return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}	

 // 관심종목 리스트 출력
 $.ajax({
   url: "interestList",
   method: "POST",
   data: {
     "membNo": memNo
   },
   success: function(data) {
     if (data != null) {

    	 data.forEach(el => {
         let itemNo = el.itemNo;
         console.log(el);
         tr1 += `
           <tr data-no="${el.itemNo}">
             <td onclick="location.href='/stock/chart?itemNo=${el.itemNo}'">${el.tnm}</td>
             <td>${formatNumber(el.tprc)}</td>
             <td class="rate">${el.rate}</td>
             <td><button onclick="deleteInterest('${el.itemNo}')">X</button></td>
           </tr>
         `;
       });
     } else {
       tr1 += `<a href="stock/itemListPage"><button>주식페이지로 이동<button></a>`;
     }

     // 출력된 관심종목 리스트를 HTML에 추가합니다.
     $("#intbody").html(tr1);
     boxClass();
   },
   error: function(err) {
     console.log(err);
   }
 });
	
	function boxClass() {
		  $(".rate").each(function() {
		    var rate = parseInt($(this).text());
		    if (rate >= 0) {
		      $(this).addClass("high");
		    } else {
		      $(this).addClass("low");
		    }
		  });
		}
	
	//관심종목 삭제
function deleteInterest(itemNo) {
  $.ajax({
    url: "deleteInterest",
    method: "POST",
    data: {
      "itemNo": itemNo,
      "membNo": memNo
    },
    success: function(result) {
      if (result == 1) {
        // 삭제된 항목을 테이블에서 제거합니다.
        $(`tr[data-no='${itemNo}']`).remove();
        toastShow("Delete", "관심종목이 삭제되었습니다.", "success");
      }
    },
    error: function(err) {

    }
  });
}

	
$.ajax({
	  url: "myPossStockList",
	  method: "POST",
	  data: {
	    "membNo": memNo
	  },
	  success: function(data) {
		  //console.log(data);
		  let asset = 0;
		  let invest = 0;

		  data.forEach(el => {
			  let formattedRaise = (el.tradePrc - el.nowPrc).toLocaleString();
		    let tr = `
		      <tr data-no="${el.itemNo}">
		        <td onclick="location.href='/stock/chart?itemNo=${el.itemNo}'">${el.tnm}</td>
		        <td class="rate">${formattedRaise}</td>
		        <td class="rate">${el.rate}%</td>
		      </tr>
		    `;

		    asset += el.tradePrc;
		    invest += el.nowPrc;
		    
		    $("#ownList").append(tr);
		    boxClass();
		  });
		  
		  let formattedAsset = (asset * 10).toLocaleString();
		  let formattedInvest = (invest * 10).toLocaleString();
		  
		  let tr2 = `
		    <table>
		      <tr>
		        <th>자산(평가금액)</th>
		        <td>${formattedAsset}원</td>
		      </tr>
		      <tr>
		        <th>투자금액</th>
		        <td>${formattedInvest}원</td>
		      </tr>
		    </table>
		  `;

		  $("#sum").append(tr2);
		},
	  error: function(err) {
	    console.log(err);
	  }
	});

//1개월, 3개월, 6개월 클릭
function updateStartDate(period) {
    let today = new Date();
    let startDate = new Date();

    switch (period) {
      case "oneMonth":
        startDate.setMonth(startDate.getMonth() - 1);
        break;
      case "threeMonths":
        startDate.setMonth(startDate.getMonth() - 3);
        break;
      case "sixMonths":
        startDate.setMonth(startDate.getMonth() - 6);
        break;
      default:
        break;
    }

    let startYear = startDate.getFullYear();
    let startMonth = startDate.getMonth() + 1 < 10 ? "0" + (startDate.getMonth() + 1) : startDate.getMonth() + 1;
    let startDateStr = startYear + "-" + startMonth + "-" + startDate.getDate();
    
    $("#dstart").val(startDateStr);
  }

  $("#oneMonthBtn").on("click", function() {
    updateStartDate("oneMonth");
    buysell();
  });

  $("#threeMonthsBtn").on("click", function() {
    updateStartDate("threeMonths");
    buysell();
  });

  $("#sixMonthsBtn").on("click", function() {
    updateStartDate("sixMonths");
    buysell();
  });


	</script>
</div>
</body>

</html>