<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<style>

.faqlist li{
  display: list-item;
  text-align: -webkit-match-parent;
  list-style-type: none;
  list-style: none;
}
.faqlist2 li{
  display: list-item;
  text-align: -webkit-match-parent;
  list-style-type: none;
  list-style: none;
}
#surveySection{
	height: 1700px;
	text-align: center;
}
#surveySection table{
text-align: left;
}
#surveySection button{
 margin-top : 10px;
 margin-bottom : 10px;
}

#surveydiv{
	padding : 10px;
}
#surveytbl{
margin : auto;
margin-top : 30px;
}
#noResult {
	text-align: center;
	margin-top : 100px;
	margin-bottom : 50px;
}
#noResult p{
	font-size : 30px;
	color : black;
	margin : 30px;
}
#typeResult{
	margin-top: 100px;
}
#typeResult img{
	width: 1100px;
}
#membResult{
	margin-top:60px;
}
#membResult img{
	width: 90%;
}
</style>

</head>
<body>
	<div layout:fragment="content">
		<div id="surveySection">
			<div id="navtab">
		<nav>
		  <div class="nav nav-tabs" id="nav-tab" role="tablist">
		    <button class="nav-link active col-6" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">투자성향 자가측정</button>
		    <button class="nav-link col-6" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">투자성향 자가측정 확인</button>
		  </div>
		</nav>
	</div> 
	<!-- nav end -->
	
	<div id="surveydiv">
		<table id="surveytbl" class="linetype none mgt0" summary="로 구성된 표 입니다.">
					<colgroup>
						<col width="100%">
					</colgroup>
					<tbody><tr>
					<td>
						<span class="tit">1. 고객님의 금융상품에 대한 이해 수준은 어느 정도라고 생각 하십니까?</span>
						<ul class="faqlist">
							<li><input type="radio" class="radio" title="파생상품을 포함한 대부분의 금융투자상품의 구조 및 위험을 상품설명서 등을 읽고 스스로 이해할 수 있음 선택" name="investKnowLevel" value="8" id="faq01"><label for="faq01">파생상품을 포함한 대부분의 금융투자상품의 구조 및 위험을 상품설명서 등을 읽고 스스로 이해할 수 있음</label></li>
							<li><input type="radio" class="radio" title="널리알려진 금융투자상품(주식, 채권, 펀드 등)의 구조 및 위험을 이해하고 있음 선택" name="investKnowLevel" value="6" id="faq02"><label for="faq02">널리알려진 금융투자상품(주식, 채권, 펀드 등)의 구조 및 위험을 이해하고 있음</label></li>
							<li><input type="radio" class="radio" title="널리알려진 금융투자상품(주식, 채권, 펀드 등)의 특징을 일정 부분 이해하고 있으며 설명을 들으면 구조와 위험을 이해할 수 있음 선택" name="investKnowLevel" value="4" id="faq03"><label for="faq03">널리알려진 금융투자상품(주식, 채권, 펀드 등)의 특징을 일정 부분 이해하고 있으며 설명을 들으면 구조와 위험을 이해할 수 있음</label></li>
							<li><input type="radio" class="radio" title="금융투자상품에 대해 스스로 결정을 해 본 적이 없음 선택" name="investKnowLevel" value="2" id="faq04"><label for="faq04">금융투자상품에 대해 스스로 결정을 해 본 적이 없음</label></li>
						</ul>
					</td>
				</tr>
					<tr>
						<td>
							<span class="tit">2. 고객님께서 투자하신 경험이 있는 금융자산 또는 투자형태는 어떤 것입니까?</span>
							<ul class="faqlist">
								<li><input type="radio" class="radio" title="선물·옵션·ELW, 신용거래, 파생상품펀드(파생형ETF 포함) 선택" name="investPracticeSect" value="8" id="faq06"><label for="faq06">선물·옵션·ELW, 신용거래, 파생상품펀드(파생형ETF 포함)</label></li>
								<li><input type="radio" class="radio" title="주식, 주식형펀드, ELS/DLS, 투자자문·일임, 외화자산, 신탁 선택" name="investPracticeSect" value="6" id="faq07"><label for="faq07">주식, 주식형펀드, ELS/DLS, 투자자문·일임, 외화자산, 신탁</label></li>
								<li><input type="radio" class="radio" title="혼합형펀드, 회사채, CP, 전자단기사채, 채권형펀드 선택" name="investPracticeSect" value="4" id="faq08"><label for="faq08">혼합형펀드, 회사채, CP, 전자단기사채, 채권형펀드</label></li>
								<li><input type="radio" class="radio" title="예금, CMA, MMF, RP, 국공채 선택" name="investPracticeSect" value="2" id="faq09"><label for="faq09">예금, CMA, MMF, RP, 국공채</label></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>
							<span class="tit">3. 고객님의 총 금융자산 규모는 다음 중 어느 수준이십니까?</span>
							<ul class="faqlist2">
								<li><input type="radio" name="investTerm" value="10" class="radio" id="faq10" title="10억원 이상 선택"><label for="faq10">10억원 이상</label></li>
								<li><input type="radio" name="investTerm" value="8" class="radio" id="faq11" title="5억원 이상 ～ 10억원 미만 선택"><label for="faq11">5억원 이상 ～ 10억원 미만</label></li>
								<li><input type="radio" name="investTerm" value="6" class="radio" id="faq12" title="1억원 이상 ～ 5억원 미만 선택"><label for="faq12">1억원 이상 ～ 5억원 미만</label></li>
								<li><input type="radio" name="investTerm" value="4" class="radio" id="faq13" title="5천만원 이상 ～ 1억원 미만 선택"><label for="faq13">5천만원 이상 ～ 1억원 미만</label></li>
								<li><input type="radio" name="investTerm" value="2" class="radio" id="faq14" title="5천만원 미만 선택"><label for="faq14">5천만원 미만</label></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>
							<span class="tit">4. 고객님의 총 금융자산대비 금융투자상품(주식, 펀드, 채권, 파생상품 등)은 어느 정도의 비중을 차지합니까?</span>
							<ul class="faqlist2">
								<li><input type="radio" class="radio" title="70% 이상 선택" name="mnthIncomeCompareInvestAsstCd" value="8" id="faq15"><label for="faq15">70% 이상</label></li>
								<li><input type="radio" class="radio" title="50% 이상 ～ 70% 미만 선택" name="mnthIncomeCompareInvestAsstCd" value="6" id="faq16"><label for="faq16">50% 이상 ～ 70% 미만</label></li>
								<li><input type="radio" class="radio" title="10% 이상 ～ 50% 미만 선택" name="mnthIncomeCompareInvestAsstCd" value="4" id="faq17"><label for="faq17">10% 이상 ～ 50% 미만</label></li>
								<li><input type="radio" class="radio" title="10% 미만 선택" name="mnthIncomeCompareInvestAsstCd" value="2" id="faq18"><label for="faq18">10% 미만</label></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>
							<span class="tit">5. 고객님께서 투자한 금융투자상품(주식, 펀드, 채권, 파생상품 등)의 투자경험기간은 총 얼마나 되십니까?</span>
							<ul class="faqlist2">
								<li><input type="radio" class="radio" title="10년 이상 선택" name="investAssetWeight" value="10" id="faq20"><label for="faq20">10년 이상</label></li>
								<li><input type="radio" class="radio" title="3년 이상 ～ 10년 미만 선택" name="investAssetWeight" value="8" id="faq21"><label for="faq21">3년 이상 ～ 10년 미만</label></li>
								<li><input type="radio" class="radio" title="1년 이상 ～ 3년 미만 선택" name="investAssetWeight" value="6" id="faq22"><label for="faq22">1년 이상 ～ 3년 미만</label></li>
								<li><input type="radio" class="radio" title="1년 미만 선택" name="investAssetWeight" value="4" id="faq221"><label for="faq221">1년 미만</label></li>
								<li><input type="radio" class="radio" title="전혀 없음 선택" name="investAssetWeight" value="2" id="faq222"><label for="faq222">전혀 없음</label></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>
							<span class="tit">6. 고객님과 고객님의 가족을 포함하여 현재와 미래의 소득수준을 가장 잘 표현한 것은 어느 것입니까?</span>
							<ul class="faqlist">
								<li><input type="radio" class="radio" title="현재 안정적인 소득(급여, 금융소득 등)이 발생하고 있으며, 향후 현재의 소득수준의 유지 혹은 증가 예상 선택" name="importOrigin" value="10" id="faq23"><label for="faq23">현재 안정적인 소득(급여, 금융소득 등)이 발생하고 있으며, 향후 현재의 소득수준의 유지 혹은 증가 예상</label></li>
								<li><input type="radio" class="radio" title="현재 안정적인 소득(급여, 금융소득 등)이 발생하고 있으며, 향후 현재의 소득수준의 감소 예상 선택" name="importOrigin" value="6" id="faq24"><label for="faq24">현재 안정적인 소득(급여, 금융소득 등)이 발생하고 있으며, 향후 현재의 소득수준의 감소 예상</label></li>
								<li><input type="radio" class="radio" title="현재나 미래에 일정한 소득(급여, 금융소득)을 통한 여유자금의 마련이 어려울 것으로 예상 선택" name="importOrigin" value="2" id="faq25"><label for="faq25">현재나 미래에 일정한 소득(급여, 금융소득)을 통한 여유자금의 마련이 어려울 것으로 예상</label></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>
							<span class="tit">7. 고객님께서 금융상품 투자를 통해 기대하는 수익과 감수할 수 있는 손실을 가장 잘 표현한 것은 어느 것입니까?</span>
							<ul class="faqlist">
								<li><input type="radio" class="radio" title="원금 초과 손실까지 감수하며 적극적인 투자를 통하여 시장수익률(예:주가지수)을 초과하는 높은 수익을 추구 선택" name="investPurpose" value="8" id="faq27"><label for="faq27">원금 초과 손실까지 감수하며 적극적인 투자를 통하여 시장수익률(예:주가지수)을 초과하는 높은 수익을 추구</label></li>
								<li><input type="radio" class="radio" title="원금손실을 감수하며 시장수익률과 비슷한 수준의 수익을 기대 선택" name="investPurpose" value="6" id="faq28"><label for="faq28">원금손실을 감수하며 시장수익률과 비슷한 수준의 수익을 기대</label></li>
								<li><input type="radio" class="radio" title="원금의 일부 손실을 감수하며 시중금리보다 다소 높은 수준의 수익을 기대 선택" name="investPurpose" value="4" id="faq29"><label for="faq29">원금의 일부 손실을 감수하며 시중금리보다 다소 높은 수준의 수익을 기대</label></li>
								<li><input type="radio" class="radio" title="제한적인 손실을 감수하며 시중금리 수준의 수익을 기대" name="investPurpose" value="2" id="faq30"><label for="faq30">제한적인 손실을 감수하며 시중금리 수준의 수익을 기대</label></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>
							<span class="tit">8. 고객님께서 통상적으로 투자하고자 하는 자금의 투자예상 기간은 얼마나 되십니까?</span>
							<ul class="faqlist2">
								<li><input type="radio" class="radio" title="3년 이상 선택" name="lossLevel" value="10" id="faq33"><label for="faq33">3년 이상</label></li>
								<li><input type="radio" class="radio" title="1년 이상 ～ 3년 미만  선택" name="lossLevel" value="6" id="faq34"><label for="faq34">1년 이상 ～ 3년 미만</label></li>
								<li><input type="radio" class="radio" title="1년 미만 선택" name="lossLevel" value="2" id="faq35"><label for="faq35">1년 미만</label></li>
							</ul>
						</td>
					</tr>
				</tbody></table>
		<button type="button" class="btn btn-primary" onclick="doSubmit()" th:if="${session.loggedInMember}==null">제출하기</button>
		<button type="button" class="btn btn-primary" onclick="doSubmitMemb()" th:if="${session.loggedInMember} != null">제출하기</button>
		<button type="reset" class="btn btn-dark" onclick="resetBtn()">취소하기</button>
		</div>
		
		<!--  -->
		
		<div id="surveyResult">
			<div id="noResult" style="display : none;">
				<p>투자성향 자가측정 참여 이력이 없습니다.</p>
				<p>참여 후 확인 바랍니다.</p>
			</div>
			<div id="membResult" style="display : none;">
			<div id="stockBtn">
			<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/stock/itemListPage}'|">주식 사이트로 이동</button>
			</div>
			</div>
			
			<div id="typeResult" style="display : none;">
			<h3>투자성향 분류</h3>
				<img th:src="|/member/images/analysisType.png|" >
			</div>
		</div>
		
		<!--  -->
	
		</div>
	<script>
		let membNo = ""; // 변수 초기화
		let login = "";
		let typeNo = '';
		let typeNm = '';
		let score = 0;
		
		//설문조사 탭 클릭
		$("#nav-home-tab").on("click", function(){
			if(!$("#nav-home-tab").hasClass("active")){
				$("#nav-home-tab").addClass("active");
			}
			$("#nav-profile-tab").removeClass("active");
			$("#surveydiv").css("display","block"); // 제출하기 버튼
			$("#surveytbl").css("display","block"); // 설문조사 질문 table
			$("#surveydiv button").css("display","block"); // 제출하기 버튼
			$("#noResult").css("display","none"); //참여결과 없을때 div
			$("#membResult").css("display","none"); //설문조사 결과 div
			$("#typeResult").css("display","none"); //타입 종류 div
		})
		
		
		//설문조사 결과 탭 클릭
		$("#nav-profile-tab").on("click", function(){
			if("${session.loggedInMember}" == null){
				
			$("#nav-profile-tab").addClass("active");
			$("#nav-home-tab").removeClass("active");
			$("#surveytbl").css("display","none"); // 설문조사 질문 table
			$("#surveydiv button").css("display","none"); // 제출하기 버튼
			$("#noResult").css("display","none"); //참여결과 없을때 div
			$("#membResult").css("display","none"); //설문조사 결과 div
			$("#typeResult").css("display","block"); //타입 종류 div
			$("#noResult").css("display","block"); //타입 종류 div
			} else{
				$("#nav-profile-tab").addClass("active");
				$("#nav-home-tab").removeClass("active");
				$("#surveytbl").css("display","none"); // 설문조사 질문 table
				$("#surveydiv button").css("display","none"); // 제출하기 버튼
				$("#noResult").css("display","none"); //참여결과 없을때 div
				$("#membResult").css("display","none"); //설문조사 결과 div
				$("#typeResult").css("display","block"); //타입 종류 div
				$("#noResult").css("display","block"); //타입 종류 div
				analysisResult();
			}
		})
		
		//회원 설문조사 참여 insert
		function insertFunc(){
				$.ajax({
					url : "insertsurvey",
					method : "POST",
					data : {
						"invstTypeNo" : typeNo
					},
					success : function(res){
						if(res === 1){
							analysisResult();
						}
					},
					error : function(err){
						console.log(err);
					}
				})
			}
		
		function analysisResult() {
		    $.ajax({
		      url: "analysisResult",
		      method: "POST",
		      success: function (data) {
		        if (data && data.length > 0) {
		        	$("#nav-profile-tab").addClass("active");
		          $("#nav-home-tab").removeClass("active");
		          $("#surveydiv").css("display", "none");
		          $("#stockBtn button").css("display", "none");
		          $("#noResult").css("display", "none");
		          $("#surveyResult").css("display", "block");
		          $("#typeResult").css("display","block"); 
		          let img = '';
		          data.forEach(el => {
		            img += `
		              <img src="/member/images/${el.typeNm}.png">
		            `;
		          });
		          $("#membResult").html(img); // Update the #typeResult div
		          $("#membResult").css("display", "block");
		        } else {
		        	$("#nav-home-tab").addClass("active");
		        	$("#nav-profile-tab").removeClass("active");
		          $("#membResult").css("display", "none");
		          $("#stockBtn button").css("display", "none");
		          $("#noResult").css("display", "block");
		        }
		      },
		      error: function (err) {
		        console.log(err);
		      }
		    });
		  }	
		//설문조사 제출 - 회원
		function doSubmitMemb(){
			if($("input:radio[name=investKnowLevel]:checked").length==0) {
				alert("1번항목을 선택해 주십시오.");
				$("input:radio[name=investKnowLevel]")[0].focus();
				return;
			}

			if($("input:radio[name=investPracticeSect]:checked").length==0) {
				alert("2번항목을 선택해 주십시오.");
				$("input:radio[name=investPracticeSect]")[0].focus();
				return;
			}

			if($("input:radio[name=investTerm]:checked").length==0) {
				alert("3번항목을 선택해 주십시오.");
				$("input:radio[name=investTerm]")[0].focus();
				return;
			}

			if($("input:radio[name=mnthIncomeCompareInvestAsstCd]:checked").length==0) {
				alert("4번항목을 선택해 주십시오.");
				$("input:radio[name=mnthIncomeCompareInvestAsstCd]")[0].focus();
				return;
			}

			if($("input:radio[name=investAssetWeight]:checked").length==0) {
				alert("5번항목을 선택해 주십시오.");
				$("input:radio[name=investAssetWeight]")[0].focus();
				return;
			}

			if($("input:radio[name=importOrigin]:checked").length==0) {
				alert("6번항목을 선택해 주십시오.");
				$("input:radio[name=importOrigin]")[0].focus();
				return;
			}

			if($("input:radio[name=investPurpose]:checked").length==0) {
				alert("7번항목을 선택해 주십시오.");
				$("input:radio[name=investPurpose]")[0].focus();
				return;
			}

			if($("input:radio[name=lossLevel]:checked").length==0) {
				alert("8번항목을 선택해 주십시오.");
				$("input:radio[name=lossLevel]")[0].focus();
				return;
			}

			let q1Answer = $("input[name='investKnowLevel']:checked").val();
			let q2Answer = $("input[name='investPracticeSect']:checked").val();
			let q3Answer = $("input[name='investTerm']:checked").val();
			let q4Answer = $("input[name='mnthIncomeCompareInvestAsstCd']:checked").val();
			let q5Answer = $("input[name='investAssetWeight']:checked").val();
			let q6Answer = $("input[name='importOrigin']:checked").val();
			let q7Answer = $("input[name='investPurpose']:checked").val();
			let q8Answer = $("input[name='lossLevel']:checked").val();

			score = (parseInt(q1Answer)+parseInt(q2Answer)+parseInt(q3Answer)+parseInt(q4Answer)+parseInt(q5Answer)+parseInt(q6Answer)+parseInt(q7Answer)+parseInt(q8Answer))*1.25;
			
			//설문조사 추가
			if(score <= 30) {
				typeNo = 'A';
				typeNm="안정형";
			}else if(score >30 && score <=40){
				typeNo = 'B';
				typeNm="안정추구형";
			}else if(score >41 && score <=60){
				typeNo = 'C';
				typeNm="위험중립형";
			}else if(score >61 && score <=80){
				typeNo = 'D';
				typeNm="성장추구형";
			}else{
				typeNo = 'E';
				typeNm="성장형";
			}
			
			if(score != null && typeNo !=null && login !== null ){
				insertFunc();
			}
		}
		
		
		//설문조사 제출 -  익명
		function doSubmit(){
			if($("input:radio[name=investKnowLevel]:checked").length==0) {
				alert("1번항목을 선택해 주십시오.");
				$("input:radio[name=investKnowLevel]")[0].focus();
				return;
			}

			if($("input:radio[name=investPracticeSect]:checked").length==0) {
				alert("2번항목을 선택해 주십시오.");
				$("input:radio[name=investPracticeSect]")[0].focus();
				return;
			}

			if($("input:radio[name=investTerm]:checked").length==0) {
				alert("3번항목을 선택해 주십시오.");
				$("input:radio[name=investTerm]")[0].focus();
				return;
			}

			if($("input:radio[name=mnthIncomeCompareInvestAsstCd]:checked").length==0) {
				alert("4번항목을 선택해 주십시오.");
				$("input:radio[name=mnthIncomeCompareInvestAsstCd]")[0].focus();
				return;
			}

			if($("input:radio[name=investAssetWeight]:checked").length==0) {
				alert("5번항목을 선택해 주십시오.");
				$("input:radio[name=investAssetWeight]")[0].focus();
				return;
			}

			if($("input:radio[name=importOrigin]:checked").length==0) {
				alert("6번항목을 선택해 주십시오.");
				$("input:radio[name=importOrigin]")[0].focus();
				return;
			}

			if($("input:radio[name=investPurpose]:checked").length==0) {
				alert("7번항목을 선택해 주십시오.");
				$("input:radio[name=investPurpose]")[0].focus();
				return;
			}

			if($("input:radio[name=lossLevel]:checked").length==0) {
				alert("8번항목을 선택해 주십시오.");
				$("input:radio[name=lossLevel]")[0].focus();
				return;
			}

			let q1Answer = $("input[name='investKnowLevel']:checked").val();
			let q2Answer = $("input[name='investPracticeSect']:checked").val();
			let q3Answer = $("input[name='investTerm']:checked").val();
			let q4Answer = $("input[name='mnthIncomeCompareInvestAsstCd']:checked").val();
			let q5Answer = $("input[name='investAssetWeight']:checked").val();
			let q6Answer = $("input[name='importOrigin']:checked").val();
			let q7Answer = $("input[name='investPurpose']:checked").val();
			let q8Answer = $("input[name='lossLevel']:checked").val();

			score = (parseInt(q1Answer)+parseInt(q2Answer)+parseInt(q3Answer)+parseInt(q4Answer)+parseInt(q5Answer)+parseInt(q6Answer)+parseInt(q7Answer)+parseInt(q8Answer))*1.25;
			
			//설문조사 추가
			if(score <= 30) {
				typeNo = 'A';
				typeNm="안정형";
			}else if(score >30 && score <=40){
				typeNo = 'B';
				typeNm="안정추구형";
			}else if(score >41 && score <=60){
				typeNo = 'C';
				typeNm="위험중립형";
			}else if(score >61 && score <=80){
				typeNo = 'D';
				typeNm="성장추구형";
			}else{
				typeNo = 'E';
				typeNm="성장형";
			}
			
			 if(score != null && typeNo !=null){
				 $("#nav-profile-tab").addClass("active");
	          $("#nav-home-tab").removeClass("active");
	          $("#surveydiv").css("display", "none");
	          $("#stockBtn button").css("display", "none");
	          $("#noResult").css("display", "none");
	          $("#surveyResult").css("display", "block");
	          let img = '';
	            img += `
	              <img src="/member/images/${typeNm}.png">
	            `;
	          
	          $("#membResult").html(img); 
	          $("#membResult").css("display", "block"); //조사 결과 div
	          $("#typeResult").css("display","block"); //타입 종류 div
			 }
				
		}
		
		function resetBtn(){
	    window.location.reload();
	    window.scrollTo(0, 0);
		}
	</script>
	
	</div>
</body>
</html>