<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<style>
#mypageBody{
	border: 1px solid #DDDDDD;
	height: 1000px;
}
#failDiv{
	margin: auto;
	text-align: center;
	margin-top : 200px;
}
#gotoBtn{
	margin:auto;
	text-align: center;
}
#imgDiv{
	margin:auto;
	margin-top : 60px;
	text-align: center;
	width : 600px;
	height: 200px;
	background-color: gray;
}
.btn-primary{
	width : 190px;
}
</style>
</head>
<body>
<div layout:fragment="mypage">
	<div id="mypageBody">
	<div id="failDiv">
		<h2>결제가 취소되었습니다.</h2>
		<div class="py-30"></div>
		<h2>다시 시도해주세요</h2>
	</div>
	<div class="py-40"></div>
	<div id="gotoBtn">
		<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/member/pointChargeForm}'|">포인트 충전</button>
		<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/member/mypoint}'|">My 포인트로 이동</button>
		</div>
	<div id="imgDiv">이미지??</div>
	</div>
</div>
</body>

</html>