<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<style>
.sidebar.sidebar-left {
	height: 1000px;
}

.titleMenu {
	padding-top: 20px;
}

.sidebarMenu {
	padding-top: 40px;
	padding-bottom: 40px;
}

#mypageBody, .sidebar {
	border: 1px solid #DDDDDD;
	height: 1000px;
}
#myPointList{
	text-align: center;
	margin-top : 200px;
	margin-bottom : 100px;
}
#gotoBtn{
	margin:auto;
	text-align: center;
}
#imgDiv{
	margin:auto;
	margin-top : 60px;
	text-align: center;
	width : 600px;
	height: 200px;
	background-color: gray;
}
.btn-primary{
	width : 190px;
}
</style>
</head>
<body>
<div layout:fragment="mypage">
	<div id="mypageBody">
		<div id="myPointList">
			<span>로고</span>
			<span style="font-size:40px; color:black;">My 포인트</span>
			<strong> <span th:text="|${#numbers.formatInteger(membList.point, 0, 'COMMA')}|" style="font-size:40px; padding-left:30px; color:black;"> </span></strong>
			<span style="font-size:30px; color:black;">point</span>
			<div class="py-40"></div>
			<h3>충전이 완료되었습니다.</h3>
		</div>
		<div id="gotoBtn">
		<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/stock/itemListPage}'|">주식 사이트로 이동</button>
		<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/mall/mallMain}'|">포인트몰로 이동</button>
		</div>
	<div id="imgDiv">이미지??</div>
	</div>
	<script>
	</script>
</div>
</body>

</html>