<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.member.mapper.MemberMapper">

	<!-- login 시 회원 정보 조회 -->
	<select id="mainLoginCheck" resultType="MembVO">
		SELECT * FROM MEMBER
		WHERE id = #{id}
		AND   pwd = #{pwd}
	</select>

	<!-- 아이디로 단건조회 -->
	<select id="selectOneMemb" resultType="MembVO" parameterType="String">
		SELECT *
		FROM member m
		LEFT OUTER JOIN address a
    ON m.memb_no = a.memb_no
		WHERE id  = #{id}
	</select>
	<select id="selectOneMemb2" resultType="MembVO" parameterType="MembVO">
		SELECT *
		FROM member m
		LEFT OUTER JOIN address a
    ON m.memb_no = a.memb_no
		WHERE id  = #{id}
	</select>
	
	<select id="getMemberTel" parameterType="MembVO" resultType="MembVO">
    SELECT * FROM MEMBER
    WHERE nm = #{nm}
    AND tel = #{tel}
	</select>

	<!-- 회원가입 시 닉네임 중복확인 -->
	<select id="nickCheck" resultType="int">
		SELECT COUNT(*) 
		FROM MEMBER
		WHERE nick = #{nick}
	</select>
	
	<!-- 회원가입 시 id 중복확인 -->
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) 
		FROM MEMBER
		WHERE id = #{id}
	</select>
	
	<insert id="signUpMemb" parameterType="MembVO">
		<selectKey keyProperty="membNo" resultType="string" order="BEFORE">
			SELECT concat('mem-',NVL(MAX(TO_NUMBER(SUBSTR(memb_no, 5))), 0)+1)
		  FROM member
		</selectKey>
		INSERT INTO MEMBER(MEMB_NO
												,NM
												,ID
												,PWD
												,NICK
												,EMAIL
												,TEL
												,POINT
												,JOIN_DT)
								VALUES( #{membNo}
												,#{nm}
												,#{id}
												,#{pwd}
												,#{nick}
												,#{email}
												,#{tel}
												,0
												,sysdate)
	</insert>
	
		<insert id="insertAddr" parameterType="AddrVO">
			<selectKey keyProperty="addrNo" resultType="string" order="BEFORE">
				SELECT concat('adr-',NVL(MAX(TO_NUMBER(SUBSTR(addr_no, 5))), 0)+1)
		    FROM address
			</selectKey>
			INSERT INTO ADDRESS(ADDR_NO,
													MEMB_NO,
													BASE_ADDR_YN,
													ZIP,
													ADDR,
													DETA_ADDR)
									VALUES(#{addrNo}
												,#{membNo}
												,'N'
												,#{zip}
												,#{addr}
												,#{detaAddr})
		</insert>
		
		<select id="getLastMembNo" resultType="String">
			<![CDATA[
				SELECT memb_no
						FROM (
						    SELECT memb_no
						    FROM member
						    ORDER BY memb_no DESC
						)
				WHERE ROWNUM = 1
				]]>
		</select>
		
		<select id="selectMembNO" resultType="String">
			select 'mem-' || (TO_NUMBER(MAX(SUBSTR(NVL(memb_no,0),5)))+1) as memb_no from member
		</select>
		
		<!-- 비밀번호 변경 -->
		<update id="updatePwd" parameterType="MembVO">
			UPDATE member
			SET 	 pwd = #{pwd},
			temp_pwd = #{tempPwd}
			WHERE  id = #{id}
		</update>
		
		<!-- 임시 비밀번호 변경 -->
		<update id="updateTempPwd" parameterType="MembVO">
			UPDATE member
			SET 	 pwd = #{pwd},
			temp_pwd = ''
			WHERE  id = #{id}
		</update>
		
		<!-- 관심종목 선택시 List 조회 -->
		<select id="myItemCheck" resultType="InterestVO">
			SELECT t.item_no, c.common_cd, t.nm,t.prc tprc, t.prc - i.cl_prc change ,TRUNC(((t.prc-i.cl_prc)/i.cl_prc)*100) rate
        FROM (
        			SELECT 	item_no, cl_prc 
              FROM 		item_info 
              WHERE 	to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')
              ) i 		--전일주가정보
        JOIN ( 
        			select distinct(a.item_no),nm,dt,ta_prc prc
                     from(   SELECT nm,i.item_no, MAX(ta_dt) dt
                           FROM ta_hr t join item i 
                           on i.item_no = t.item_no
                           GROUP BY nm,i.item_no
                           order by item_no) a join ta_hr t
                     on a.item_no= t.item_no and a.dt=t.ta_dt
                     order by 1) t  		-- 최근 체결가
        ON 		i.item_no = t.item_no
        JOIN ( 
        			SELECT 	CASE SUBSTR(common_cd,1,2) 
		        					WHEN 'S1' THEN '농산물'
		                  WHEN 'S2' THEN '수산물'
		                  END sc
		               			 	,h_ctgr theme
		                			,ctgr item
		                  		,common_cd
              FROM 		common_code
              WHERE 	length(common_cd) =6
              ORDER 	by common_cd ) c 
         ON c.item=t.nm
         ORDER by common_cd
		</select>
		
		<select id="findIdSelect" parameterType="String">
			SELECT id, nm, regexp_replace(tel,'[[:punct:]]','') AS tel FROM member
			WHERE  nm = #{nm}
			AND    tel = #{tel}
		</select>
		
		<insert id="insertInterestItem" parameterType="MembVO">
		  <selectKey keyProperty="interestNo" resultType="string" order="BEFORE">
		    SELECT concat('int-',NVL(MAX(TO_NUMBER(SUBSTR(interest_no, 5))), 0)+1)
		    FROM interest_item
		  </selectKey>
			  INSERT INTO interest_item (interest_no, memb_no, item_no)
			  VALUES (#{interestNo}, #{membNo}, #{itemNo})
		</insert>
		
		<select id="myinterestList" parameterType="String" resultType="MembVO">
			SELECT m.*, a.addr_no, a.base_addr_yn,a.zip,a.addr,a.deta_addr ,int.interest_no, t.item_no, c.common_cd, t.nm tnm, t.prc tprc, t.prc - i.cl_prc change ,TRUNC(((t.prc-i.cl_prc)/i.cl_prc)*100) rate
        FROM (
        			SELECT 	item_no, cl_prc 
              FROM 		item_info 
              WHERE 	to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')
              ) i 		--전일주가정보
        JOIN ( 
        			SELECT distinct(a.item_no),nm,dt,ta_prc prc
                     FROM( SELECT nm,i.item_no, MAX(ta_dt) dt
                           FROM ta_hr t join item i 
                           ON i.item_no = t.item_no
                           GROUP BY nm,i.item_no
                           ORDER BY item_no) a join ta_hr t
                     ON a.item_no= t.item_no and a.dt=t.ta_dt
                     order by 1) t  		-- 최근 체결가
        ON 		i.item_no = t.item_no
        JOIN ( 
        			SELECT 	CASE SUBSTR(common_cd,1,2) 
		        					WHEN 'S1' THEN '농산물'
		                  WHEN 'S2' THEN '수산물'
		                  END sc
		               			 	,h_ctgr theme
		                			,ctgr item
		                  		,common_cd
              FROM 		common_code
              WHERE 	length(common_cd) =6
              ORDER 	by common_cd ) c 
         ON c.item=t.nm
         JOIN interest_item int
         ON int.item_no = i.item_no
         JOIN member m 
         on m.memb_no = int.memb_no
         LEFT OUTER JOIN address a 
         ON m.memb_no = a.memb_no
         WHERE id = #{id}
         ORDER BY rate DESC
		</select>
		
		<select id="myStockList" resultType="MembVO">
			SELECT m.*, p.poss_no, p.stock_cnt, p.trade_prc,t.item_no, c.common_cd, t.nm tnm,t.prc tprc, t.prc - i.cl_prc change ,TRUNC(((t.prc-i.cl_prc)/i.cl_prc)*100) rate
        FROM (
        			SELECT 	item_no, cl_prc 
              FROM 		item_info 
              WHERE 	to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')
              ) i 		--전일주가정보
        JOIN ( 
        			select distinct(a.item_no),nm,dt,ta_prc prc
                     from(   SELECT nm,i.item_no, MAX(ta_dt) dt
                           FROM ta_hr t join item i 
                           on i.item_no = t.item_no
                           GROUP BY nm,i.item_no
                           order by item_no) a join ta_hr t
                     on a.item_no= t.item_no and a.dt=t.ta_dt
                     order by 1) t  		-- 최근 체결가
        ON 		i.item_no = t.item_no
        JOIN ( 
        			SELECT 	CASE SUBSTR(common_cd,1,2) 
		        					WHEN 'S1' THEN '농산물'
		                  WHEN 'S2' THEN '수산물'
		                  END sc
		               			 	,h_ctgr theme
		                			,ctgr item
		                  		,common_cd
              FROM 		common_code
              WHERE 	length(common_cd) =6
              ORDER 	by common_cd ) c 
         ON c.item=t.nm
         JOIN poss_stock p 
         ON t.item_no = p.item_no
         JOIN member m   
         ON p.memb_no = m.memb_no
         where id = #{id}
         ORDER BY rate DESC
		</select>
		
		<select id="mypageOrderList" resultType="OrderVO">
		  SELECT o.order_no, o.order_dt, o.order_am, od.prdt_no
		  FROM 	 orders o
		  JOIN 	 order_detail od 
		  ON 		 o.order_no = od.order_no
		  JOIN 	 member m 
		  ON 		 m.memb_no = o.memb_no
		  WHERE  m.id = #{id}
		    <choose>
		      <when test="orderSt == '배송완료'">
		        AND o.order_st = '배송완료'
		      </when>
		      <when test="orderSt == '배송중'">
		        AND o.order_st = '배송중'
		      </when>
		      <when test="orderSt == '상품준비중'">
		        AND o.order_st = '상품준비중'
		      </when>
		      <otherwise>
		        AND 1=1 -- 전체 데이터 출력
		      </otherwise>
		    </choose>
		  ORDER BY o.order_st, o.order_dt desc
		</select>
		
		<select id="mypagePrdtList" resultType="ProductVO">
			SELECT prdt_no, nm, img 
			FROM   product 
			JOIN	 item 
			USING	 (nm)
		</select>
		
		<update id="updateMemberInfo" parameterType="MembVO">
			UPDATE member
			<set>
				<if test="nick != null and !nick.equals('')">
					nick = #{nick},
				</if>
				<if test="email != null and !email.equals('')">
					email = #{email},
				</if>
				<if test="tel != null and !tel.equals('')">
					tel = #{tel},
				</if>
				<if test="pwd != null and !pwd.equals('')">
					pwd = #{pwd},
				</if>
				<if test="tempPwd != null and !tempPwd.equals('')">
					tempPwd = #{tempPwd}
				</if>
			</set>
			WHERE id = #{id}
		</update>
		<update id="updateMemberAddr" parameterType="AddrVO">
			UPDATE address
			SET		 zip = #{zip},
						 addr = #{addr},
						 deta_addr = #{detaAddr}
			WHERE memb_no = #{membNo}
			AND   addr_no = #{addrNo}
		</update>
	
</mapper>