<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.stock.mapper.StockMapper">

	<select id="getThemeList" resultType="String">
		select * from common_code
		where common_cd like '#{code}'||'%'
		and length(common_cd) = 4;
	</select>

</mapper>