<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.stock.mapper.StockMapper">

	<!-- 카테고리 리스트 -->
	<select id="getThemeList" resultType="map">
		select common_cd , ctgr 
		from common_code
		where common_cd like #{code}||'%'
		<if test="code.length == 2">
			and length(common_cd) = 4
		</if>
		<if test="code.length == 4">
			and length(common_cd) = 6
		</if>
	</select>
	
	<!-- 종목정보 조회 -->
	<select id="getItemInfo" resultType="ItemVO">
	
		select t.item_no, c.sc, c.theme, t.nm,NVL(t.prc,0) tprc, NVL(t.prc - i.cl_prc,0) change ,trunc(NVL((t.prc-i.cl_prc) / DECODE(i.cl_prc, 0, NULL, i.cl_prc), 0)*100) rate, origin,desct
		from (select item_no, cl_prc 
		      from item_info 
		      where to_char(ta_dt,'yyyy-MM-dd') = (
		      									   select to_char(max(ta_dt),'yyyy-MM-dd')
                                                   from item_info
                                                  )
		      ) i --item_info 전날 주가정보
		join (  select b.item_no , b.nm,prc,origin,desct            
				from(	select distinct(a.item_no) item_no,nm,'tah-'||a.tano ta_no,NVL(ta_prc,0) prc
		                from(   SELECT nm,i.item_no, MAX(to_number(substr(ta_no,5))) tano
                                FROM (select * 
                                      from ta_hr
                                      where to_char(ta_dt,'yyyy-MM-dd') =(
                                                                           select to_char(max(ta_dt),'yyyy-MM-dd')
                                                                           from ta_hr
                                                                          )
                                ) t right join item i 
                                on i.item_no = t.item_no
                                GROUP BY nm,i.item_no
                                order by to_number(substr(item_no,5))
                             ) a left join ta_hr t
		                on a.item_no= t.item_no and to_number(substr(t.ta_no,5)) = a.tano  
		                order by to_number(substr(item_no,5))
                     ) b join item i
				on b.item_no=i.item_no 
              ) t  --오늘날짜 중 가장최근 거래가 (=현재가)
		on i.item_no = t.item_no
		join (select case substr(common_cd,1,2) when 'S1' then '농산물'
		                                  when 'S2' then '수산물'
		                                  end sc
		                                  ,h_ctgr theme
		                                  , ctgr item
		from common_code
		where length(common_cd) =6
		<if test='code.substring(0,1).equals("S")'>
		and common_cd = #{value}
		</if>
		<if test='!code.substring(0,1).equals("S")'>
		and ctgr =#{value}
		</if>
		order by common_cd ) c on c.item=t.nm
	</select>
	
	<!-- 자동완성 기능 -->
	<select id="autocomplete" parameterType="map" resultType="map">
		select ctgr ,common_cd
		from common_code
		where ctgr like '%'||#{value}||'%'
		and length(common_cd) =6
	</select>
	
	<!-- 자동완성 이용한 카테고리 종목정보 출력 -->
	<select id="autoInfo" resultType="map">
		select common_cd , h_cd 
		from common_code 
		where ctgr =(     
					  select h_ctgr
                      from common_code
                      where ctgr = #{value}
                      )
	</select>
	
	<!-- 모든종목조회 -->
	<select id="allItemList" resultType="StockVO">
		
		select t.item_no, 
			   c.sc, 
			   c.theme, 
			   t.nm,
			   NVL(DECODE(t.prc,0,i.cl_prc,t.prc),0) tprc, 
			   NVL(DECODE(t.prc,0,0,t.prc - i.cl_prc),0) change ,
			   trunc(NVL(DECODE(t.prc,0,0,t.prc - i.cl_prc) / i.cl_prc, 0)*100) rate
        from (select item_no, cl_prc 
                  from item_info 
                  where to_char(ta_dt,'yyyy-MM-dd') =(
			      									   select to_char(max(ta_dt),'yyyy-MM-dd')
	                                                   from item_info
	                                                  )
                  ) i -- 전날 주가정보
        left join (  select distinct(a.item_no) item_no,nm,'tah-'||a.tano ta_no,NVL(ta_prc,0) prc
                    from(   SELECT nm,i.item_no, MAX(to_number(substr(ta_no,5))) tano
                            FROM (select * 
                                  from ta_hr
                                  where to_char(ta_dt,'yyyy-MM-dd') =(
                                                                       select to_char(max(ta_dt),'yyyy-MM-dd')
                                                                       from ta_hr
                                                                      )
                            ) t right join item i 
                            on i.item_no = t.item_no
                            GROUP BY nm,i.item_no
                            order by to_number(substr(item_no,5))
                     ) a 
                    left join ta_hr t
                    on a.item_no= t.item_no and to_number(substr(t.ta_no,5)) = a.tano  
                    order by to_number(substr(item_no,5)) 
             ) t -- 최근체결가
        on i.item_no = t.item_no
        join ( select case substr(common_cd,1,2) when 'S1' then '농산물'
                                              when 'S2' then '수산물'
                                              end sc
                                              ,h_ctgr theme
                                              , ctgr item
                                              ,common_cd
                    from common_code
                    where length(common_cd) =6
                    order by common_cd ) c on c.item=t.nm
            order by common_cd
	</select>	
	
	<!-- 모든종목개수 -->
	<select id="allItemCnt" resultType="int">
		select count(*)
        from item
	</select>
	
	<!-- 조회수 순위 및 전일비 및 변동률 -->
	<select id="inqChart" resultType="InqVO">
		<![CDATA[
			 
                            
             select rownum 
					,nm 
					, a.item_no
					,inq 
					, change 
					, rate 
			from (  select i.nm, 
						   i.item_no item_no , 
						   f.inq+i.inq inq
			        from item i join (  select item_no, sum(inq) inq
			                            from item_info 
			                            where ta_dt > sysdate-7 
			                            group by item_no
			                            order by inq desc
                                      ) f
			        on i.item_no = f.item_no
                  ) a 
			join (  select i.item_no,
						   i.cl_prc,
						   NVL(DECODE(t.prc,0,i.cl_prc,t.prc),0) tprc, 
						   NVL(DECODE(t.prc,0,0,t.prc - i.cl_prc),0) change ,
						   trunc(NVL(DECODE(t.prc,0,0,t.prc - i.cl_prc) / DECODE(i.cl_prc, 0, NULL, i.cl_prc), 0)*100) rate
			        from (select item_no, cl_prc 
			              from item_info 
			              where to_char(ta_dt,'yyyy-MM-dd') = (
					      									   select to_char(max(ta_dt),'yyyy-MM-dd')
			                                                   from item_info
			                                                  )
			              ) i -- 전날 주가정보
			        join (   select distinct(a.item_no) item_no,nm,'tah-'||a.tano ta_no,NVL(ta_prc,0) prc
                    from(   SELECT nm,i.item_no, MAX(to_number(substr(ta_no,5))) tano
                            FROM (select * 
                                  from ta_hr
                                  where to_char(ta_dt,'yyyy-MM-dd') =(
                                                                       select to_char(max(ta_dt),'yyyy-MM-dd')
                                                                       from ta_hr
                                                                      )
                            ) t right join item i 
                            on i.item_no = t.item_no
                            GROUP BY nm,i.item_no
                            order by to_number(substr(item_no,5))
                     ) a 
                    left join ta_hr t
                    on a.item_no= t.item_no and to_number(substr(t.ta_no,5)) = a.tano  
                    order by to_number(substr(item_no,5))  
                          ) t  -- 최근 체결가
			        on i.item_no = t.item_no
                 ) b 
			on a.item_no = b.item_no
			where rownum <6
			order by inq desc
		]]>
	</select>
	
	<!-- 관심종목 가져오기 -->
	<select id="getIntStock" resultType="StockVO">
		 select t.item_no, t.nm,DECODE(t.prc,0,i.cl_prc,t.prc) tprc, DECODE(t.prc,0,0,t.prc - i.cl_prc) change ,trunc(NVL(DECODE(t.prc,0,0,t.prc - i.cl_prc) / DECODE(i.cl_prc, 0, NULL, i.cl_prc), 0)*100) rate
		from (select b.item_no, cl_prc 
		      from item_info a join (select i.item_no ,t.nm
		                            from interest_item i join item t
		                            on i.item_no = t.item_no
		                            where memb_no = 'mem-1') b
		      on a.item_no = b.item_no
		      where to_char(ta_dt,'yyyy-MM-dd') = (
		      									   select to_char(max(ta_dt),'yyyy-MM-dd')
                                                   from item_info
                                                  )
		                  ) i --전일주가정보
		join (   select distinct(a.item_no) item_no,nm,'tah-'||a.tano ta_no,NVL(ta_prc,0) prc
                    from(   SELECT nm,i.item_no, MAX(to_number(substr(ta_no,5))) tano
                            FROM (select * 
                                  from ta_hr
                                  where to_char(ta_dt,'yyyy-MM-dd') =(
                                                                       select to_char(max(ta_dt),'yyyy-MM-dd')
                                                                       from ta_hr
                                                                      )
                            ) t right join item i 
                            on i.item_no = t.item_no
                            GROUP BY nm,i.item_no
                            order by to_number(substr(item_no,5))
                     ) a 
                    left join ta_hr t
                    on a.item_no= t.item_no and to_number(substr(t.ta_no,5)) = a.tano  
                    order by to_number(substr(item_no,5)) ) t  -- 최근 체결가
		on i.item_no = t.item_no
	</select>
	
	<!-- 관심종목추가 -->
	<insert id="insertInterestItem" parameterType="MembVO">
		  <selectKey keyProperty="interestNo" resultType="string" order="BEFORE">
		    SELECT concat('int-',NVL(MAX(TO_NUMBER(SUBSTR(interest_no, 5))), 0)+1)
		    FROM interest_item
		  </selectKey>
			  INSERT INTO interest_item (interest_no, memb_no, item_no)
			  VALUES (#{interestNo}, #{membNo}, #{itemNo})
	</insert>
	
	<!-- 관심종목추가 중복체크기능 -->
	<select id="intItemCheck" resultType="String">
		select item_no 
		from interest_item 
		where memb_no = #{membNo} 
		and item_no = #{itemNo}
	</select>
	
	<!-- 관심종목 삭제기능 -->
	<delete id="deleteIntItem">
		delete from interest_item where item_no = #{itemNo} and memb_no = #{membNo}
	</delete>
	
	<!-- 이름으로 종목번호 조회 -->
	<select id="nmGetNo" resultType="String">
		select item_no 
		from item 
		where nm = #{nm}
	</select>
	
	<!-- 게시판 리스트 가져오기 -->
	<select id="getScBoardList" resultType="BoardVO">
	<![CDATA[
		select rownum , board_no , ttl , case common_cd when 'C201' then '농산물'
                                                when 'C202' then '수산물'
                                                end cntn
		from (  select board_no,ttl,common_cd
		        from board 
		        where common_cd = (
		                            select common_cd
		                            from common_code
		                            where ctgr =(  select case substr(c.common_cd,1,2) when 'S1' then '농산물'
		                                                                          when 'S2' then '수산물'
		                                                                          end sc
		                                            from common_code c join item i
		                                            on c.common_cd = i.common_cd
		                                            where item_no = #{itemNo})
		                            and common_cd like 'C%'
		                            ) 
		        order by drwup_dt desc) a
		where rownum <= 10
		]]>
	</select>
	
	<!-- 오늘날짜 거래량 top 5 순위 -->
	<select id="topVolChart" resultType="StockVO">
		<![CDATA[
			select rownum , a.*
			from(select i.item_no, i.nm, NVL(sum(stock_cnt),0) vol
                 from  item i left join(  select *
                                         from ta_hr
                                         where to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate , 'yyyy-MM-dd')
                                       ) t
                 on t.item_no = i.item_no
                 group by i.item_no,i.nm
                 order by 3 desc
                 ) a 
			where rownum <= 5
		]]>
	</select>
	
	<!-- 오늘날짜 변동률 순위 -->
	<select id="getPrcPercent" resultType="StockVO">
		
		select rownum, f.*
		from (  select t.item_no, t.nm,trunc(NVL(DECODE(t.prc,0,0,t.prc - i.cl_prc) / DECODE(i.cl_prc, 0, NULL, i.cl_prc), 0)*100) rate
		        from (select item_no, cl_prc 
		              from item_info 
		              where to_char(ta_dt,'yyyy-MM-dd') = (
				      									   select to_char(max(ta_dt),'yyyy-MM-dd')
		                                                   from item_info
		                                                  )
		              ) i --전일주가정보
		        join (  select distinct(a.item_no) item_no,nm,'tah-'||a.tano ta_no,NVL(ta_prc,0) prc
                    from(   SELECT nm,i.item_no, MAX(to_number(substr(ta_no,5))) tano
                            FROM (select * 
                                  from ta_hr
                                  where to_char(ta_dt,'yyyy-MM-dd') =(
                                                                       select to_char(max(ta_dt),'yyyy-MM-dd')
                                                                       from ta_hr
                                                                      )
                            ) t right join item i 
                            on i.item_no = t.item_no
                            GROUP BY nm,i.item_no
                            order by to_number(substr(item_no,5))
                     ) a 
                    left join ta_hr t
                    on a.item_no= t.item_no and to_number(substr(t.ta_no,5)) = a.tano  
                    order by to_number(substr(item_no,5)) ) t  -- 최근 체결가
		        on i.item_no = t.item_no
		        <choose>
			        <when test='type.equals("plus")'>
			        	order by rate desc
			        </when>
			        <otherwise>
			        	order by rate
			        </otherwise>
		        </choose>
		        
		        ) f
		        <![CDATA[
		where rownum <= 5
		]]>
	</select>
	
	<!-- 호가 -->
	<select id="orderTable" resultType="Map">
		select rownum , a.*
		from(	select prc , sum(rmn_cnt) cnt
				<choose>
					<when test='type.equals("sell")'>
						from sell_order
					</when>
					<otherwise>
						from buy_order
					</otherwise>
				</choose>
				
				where item_no = #{itemNo}
				group by prc
				) a
				<![CDATA[
		where rownum <=5
		and cnt <> 0
		]]>
		order by prc 
		<if test='type.equals("sell")'>
		desc
		</if>
		
	</select>
	
	<!-- itemNo 로 단일 종목 정보 -->
	<select id="itemNoGetInfo" resultType="StockVO">
		select t.item_no, t.nm,DECODE(t.prc,0,i.cl_prc,t.prc) tprc, DECODE(t.prc,0,0,t.prc - i.cl_prc) change ,trunc(NVL(DECODE(t.prc,0,0,t.prc - i.cl_prc) / DECODE(i.cl_prc, 0, NULL, i.cl_prc), 0)*100) rate
		from (select item_no, cl_prc 
		      from item_info 
		      where to_char(ta_dt,'yyyy-MM-dd') =(
		      									   select to_char(max(ta_dt),'yyyy-MM-dd')
                                                   from item_info
                                                  )
		      ) i --item_info 전날 주가정보
		join (  select b.item_no , b.nm,NVL(prc,0) prc,origin,desct            
				from(	select distinct(a.item_no) item_no ,a.nm,'tah-'||a.tano ta_no, ta_prc prc
		                from(   SELECT nm,i.item_no, MAX(to_number(substr(ta_no,5))) tano
                                FROM (select * 
                                      from ta_hr
                                      where to_char(ta_dt,'yyyy-MM-dd') =(
                                                                           select to_char(max(ta_dt),'yyyy-MM-dd')
                                                                           from ta_hr
                                                                          )
                                ) t right join item i 
                                on i.item_no = t.item_no
                                where i.item_no = #{itemNo}
                                GROUP BY nm,i.item_no
                                order by to_number(substr(item_no,5))
                             ) a left join ta_hr t
		                on a.item_no= t.item_no and to_number(substr(t.ta_no,5)) = a.tano  
		                order by to_number(substr(item_no,5))
                     ) b left join item i
				on b.item_no=i.item_no ) t  --오늘날짜 중 가장최근 거래가 (=현재가)
		on i.item_no = t.item_no
	</select>
	
	<!-- user 보유주식 단건 수량과 수익률 -->
	<select id="getPossStock" resultType="PossStockVO">
		select p.item_no,DECODE(prc,0,i.cl_prc,prc) prc,sum(stock_cnt) cnt ,point,m.memb_no,  trunc((DECODE(prc,0,i.cl_prc,prc) - trunc(avg(trade_prc)))/trunc(avg(trade_prc))*100) rate 
		from poss_stock p join (
		                           select distinct(a.item_no) item_no ,a.nm,'tah-'||a.tano ta_no, nvl(ta_prc,0) prc
                                    from(   SELECT nm,i.item_no, MAX(to_number(substr(ta_no,5))) tano
                                            FROM (select * 
                                                  from ta_hr
                                                 where to_char(ta_dt,'yyyy-MM-dd') =(
                                                                                   select to_char(max(ta_dt),'yyyy-MM-dd')
                                                                                   from ta_hr
                                                                                      )
                                                    ) t right join item i 
                                            on i.item_no = t.item_no
                                            where i.item_no = 'ite-15'
                                            GROUP BY nm,i.item_no
                                            order by to_number(substr(item_no,5))
                                         ) a left join ta_hr t
                                on a.item_no= t.item_no and to_number(substr(t.ta_no,5)) = a.tano  
                                order by to_number(substr(item_no,5))
		                        ) a -- 최근체결가
		on p.item_no = a.item_no
        join member m on m.memb_no = p.memb_no
        join (select item_no, cl_prc 
		      from item_info 
		      where to_char(ta_dt,'yyyy-MM-dd') =(
		      									   select to_char(max(ta_dt),'yyyy-MM-dd')
                                                   from item_info
                                                  )
		      ) i on i.item_no = p.item_no
		where p.memb_no ='mem-2'
		group by p.item_no,prc,point,m.memb_no,i.cl_prc
	</select>
	
	<!-- 보유포인트 -->
	<select id="getUserPoint">
		select point
		from member
		where memb_no = #{membNo}
	</select>
	<!-- 주식 주문 프로시저 -->
	<select id="callOrderProd" statementType="CALLABLE">
    {
    	call order_prod(  #{order_type, mode=IN, jdbcType=VARCHAR}
	    				, #{order_item_no, mode=IN, jdbcType=VARCHAR}
	    				, #{order_memb_no, mode=IN, jdbcType=VARCHAR}
	    				, #{order_prc, mode=IN, jdbcType=INTEGER}
	    				, #{order_rmn_cnt, mode=IN, jdbcType=INTEGER}
	    				, #{order_result, mode=OUT, jdbcType=INTEGER}
	    				, #{insert_after_no, mode=OUT, jdbcType=VARCHAR}
	    				)}
	</select>
	<!-- 체결 프로시저 -->
	<select id="callTaProd" statementType="CALLABLE">
	{
    	call transaction_prod(    #{order_type, mode=IN, jdbcType=VARCHAR}
    							, #{order_dt, mode=IN, jdbcType=DATE}
			    				, #{ta_result, mode=OUT, jdbcType=INTEGER}
			    				, #{error_one, mode=OUT, jdbcType=VARCHAR}
			    				, #{error_two, mode=OUT, jdbcType=VARCHAR}
			    				, #{error_thr, mode=OUT, jdbcType=VARCHAR}
			    				, #{seller, mode=OUT, jdbcType=VARCHAR}
			    				, #{buyer, mode=OUT, jdbcType=VARCHAR}
			    				, #{itemNm, mode=OUT, jdbcType=VARCHAR}
			    				)}
	</select>
	
	<!-- 주문번호 일시 불러오기 -->
	<select id="getOrderDt" resultType="Date">
	select
	<choose>
		<when test='orderNo.substring(0,1).equals("s")'>
			sell_dt
			from sell_order
			where sell_no = #{orderNo}
		</when>
		<otherwise>
			buy_dt
			from buy_order
			where buy_no = #{orderNo}
		</otherwise>
	</choose>
	</select>
	
	
	<!-- 당일 아이템 정보 가져오기 -->
	<select id="todayItemInfo" resultType="ItemInfoVO">
		 select b.item_no , NVL(vol,0) vol ,NVL(op_prc,0) op_prc, NVL(prc,0) cl_prc , NVL(l_prc,0) l_prc , NVL(h_prc,0) h_prc , NVL(inq,0) inq
		from (  select item_no,'tah-'||MAX(to_number(substr(ta_no,5))) ta_no, sum(stock_cnt) vol ,min(ta_prc) l_prc,max(ta_prc) h_prc 
		        from ta_hr 
		        where to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate , 'yyyy-MM-dd')
		        group by item_no
		        order by to_number(substr(item_no,5))
              ) a -- 오늘 거래량 고가, 저가
		 join ( select distinct(a.item_no) item_no,ta_prc prc
                from(   SELECT nm,i.item_no, MAX(to_number(substr(ta_no,5))) tano
                        FROM ta_hr t right join item i 
                        on i.item_no = t.item_no
                        where to_char(ta_dt,'yyyy-MM-dd') = (
                                                              select to_char(max(ta_dt),'yyyy-MM-dd')
                                                              from ta_hr
                                                                )
                        GROUP BY nm,i.item_no
                        order by to_number(substr(item_no,5))
                     ) a 
                left join ta_hr t
                on a.item_no= t.item_no and to_number(substr(t.ta_no,5)) = a.tano  
                order by to_number(substr(item_no,5)) 
                   ) b -- 오늘 마지막 거래가
		on b.item_no = a.item_no
		left join (  select z.item_no, cl_prc op_prc ,x.inq
                     from item_info z join item x
                     on z.item_no = x.item_no
                     where to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')
                  ) c -- 전날 종가 (=현재 시가) 와 조회수
		on b.item_no = c.item_no
		order by to_number(substr(item_no,5))
	</select>
	
	<!-- 당일 체결되지 않은 종목은 전날 item_info 에서 가져오기  -->
	<select id="nonTaInfo" resultType="ItemInfoVO" >
	select item_no , vol , op_prc , cl_prc , l_prc , h_prc , inq 
            from item_info
            where substr(item_no,5) in(
            <foreach collection="list" item="item" separator=",">
            	#{item}
            </foreach>
            
            )
            and to_char(ta_dt,'yyyy-MM-dd') = (
                                                select to_char(max(ta_dt),'yyyy-MM-dd')
                                                from item_info
                                                )
	</select>
	<!-- 장마감시 주가정보 넣기 -->
	<insert id="insertItemInfo" parameterType="ItemInfoVO">
		insert into item_info 
		(
			INFO_NO 
			,ITEM_NO
			, TA_DT
			, VOL
			, OP_PRC
			, CL_PRC
			, L_PRC
			, H_PRC
			, INQ
		)
		values
		(
			'inf-'||item_info_seq.nextval,
			#{itemNo},
			sysdate,
			NVL(#{vol},0),
			NVL(#{opPrc},0), 
			NVL(#{clPrc},0),
			NVL(#{lPrc},0),
			NVL(#{hPrc},0),
			#{inq}
		)
		
	</insert>
	
	<!-- 스케줄러 작업 -->
	<select id="deleteJob" statementType="CALLABLE">
		{
    	call deleteOrder_prod(    #{del_result, mode=OUT, jdbcType=VARCHAR}
    							, #{error_one, mode=OUT, jdbcType=DATE}
			    				, #{error_two, mode=OUT, jdbcType=INTEGER}
			    				, #{error_thr, mode=OUT, jdbcType=VARCHAR}
			    				)}
	</select>
	
	<!-- 조회수증가 -->
	<update id="updateInq" parameterType="String">
		update item
		set inq = inq +1
		where item_no = #{itemNo}
	</update>
	
	<!-- 현재 달의 첫일 부터 당일 까지의 데이터 (일) 그래프-->
	<select id="dayChart" resultType="ItemInfoVO">
		select ta_dt , vol, op_prc , cl_prc , l_prc , h_prc 
		from item_info 
		where to_char(ta_dt,'yyyy-MM-dd') between (
		                                            select to_char(min(ta_dt),'yyyy-MM-dd')
		                                            from item_info
		                                            )
		and to_char(sysdate , 'yyyy-MM-dd')
		and item_no = #{itemNo}
		order by ta_dt
	</select>
	<!-- 일년의 주간,월간 차트 -->
	<select id="weekMonthChart" resultType="ItemInfoVO">
		select ta_dt ,sum(vol) vol,  trunc(avg(op_prc)) op_prc ,  trunc(avg(cl_prc)) cl_prc,  trunc(avg(l_prc)) l_prc ,  trunc(avg(h_prc )) h_prc
		from(
		        select  
		        <choose>
		        	<when test='type.equals("week")'>
		         		trunc(ta_dt, 'day') ta_dt,
		        	</when>
		        	<when test='type.equals("month")'>
		        		trunc(ta_dt,'MM') ta_dt,
		        	</when>
		        	<otherwise>
		        		trunc(ta_dt,'y') ta_dt,
		        	</otherwise>
		        </choose>
		        vol, 
		        op_prc , 
		        cl_prc , 
		        l_prc ,
		        h_prc
		        from item_info
		        where to_char(ta_dt,'yyyy-MM-dd') between (
		                                                    select to_char(min(ta_dt),'yyyy-MM-dd')
		                                                    from item_info
		                                                    )
		        and to_char(sysdate , 'yyyy-MM-dd')
		        and item_no = #{itemNo}
		     ) a
		group by ta_dt
		order by ta_dt
	</select>
	
	<!-- alarm 데이터 추가 -->
	<insert id="insertStockAlarm" >
		insert into alarm (	ALARM_NO,
							MEMB_NO,
							CNTN,
							ALARM_DT,
							CHECKED,
							A_TYPE)
		values ('alm-'||alarm_seq.nextval ,
				 #{membNo},
				 #{cntn},
				 sysdate,
				 'n',
				 'stock'
				 )
	</insert>
	
	<!-- 알람 가져오기 -->
	<select id="nonCheckedAlarm" resultType="AlarmVO">
		select *
		from alarm
		where alarm_dt  between sysdate - 14 and sysdate
		and memb_no = #{membNo}
		order by to_number(substr(alarm_no,5)) desc
		
	</select>
	
	<!-- 미확인 체결 알람 확인됨으로 바꾸기 -->
	<update id="stockAlmChk">
		update alarm
		set checked = 'y'
		where alarm_no = #{almNo}
	</update>
	
	<!-- 알람 삭제 -->
	<delete id="deleteAlm">
		delete from alarm
		where alarm_no = #{almNo}
	</delete>
</mapper>