<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.stock.mapper.StockMapper">

	<!-- 카테고리 리스트 -->
	<select id="getThemeList" resultType="map">
		select common_cd , ctgr 
		from common_code
		where common_cd like #{code}||'%'
		<if test="code.length == 2">
			and length(common_cd) = 4
		</if>
		<if test="code.length == 4">
			and length(common_cd) = 6
		</if>
	</select>
	
	<!-- 종목정보 조회 -->
	<select id="getItemInfo" resultType="ItemVO">
	
		select t.item_no, c.sc, c.theme, t.nm,t.prc tprc, t.prc - i.cl_prc change ,trunc(((t.prc-i.cl_prc)/i.cl_prc)*100) rate, origin,desct
		from (select item_no, cl_prc 
		      from item_info 
		      where to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')
		      ) i --item_info 전날 주가정보
		join (  select b.item_no , b.nm,dt,prc,origin,desct            
				from(	select distinct(a.item_no),nm,dt,ta_prc prc
						from(	SELECT nm,i.item_no, MAX(ta_dt) dt
								FROM ta_hr t join item i 
								on i.item_no = t.item_no
								GROUP BY nm,i.item_no
								order by item_no) a join ta_hr t
						on a.item_no= t.item_no and a.dt=t.ta_dt) b join item i
				on b.item_no=i.item_no ) t  --오늘날짜 중 가장최근 거래가 (=현재가)
		on i.item_no = t.item_no
		join (select case substr(common_cd,1,2) when 'S1' then '농산물'
		                                  when 'S2' then '수산물'
		                                  end sc
		                                  ,h_ctgr theme
		                                  , ctgr item
		from common_code
		where length(common_cd) =6
		<if test='code.substring(0,1).equals("S")'>
		and common_cd = #{value}
		</if>
		<if test='!code.substring(0,1).equals("S")'>
		and ctgr =#{value}
		</if>
		order by common_cd ) c on c.item=t.nm
	</select>
	
	<!-- 자동완성 기능 -->
	<select id="autocomplete" parameterType="map" resultType="map">
		select ctgr ,common_cd
		from common_code
		where ctgr like '%'||#{value}||'%'
		and length(common_cd) =6
	</select>
	
	<!-- 자동완성 이용한 카테고리 종목정보 출력 -->
	<select id="autoInfo" resultType="map">
		select common_cd , h_cd 
		from common_code 
		where ctgr =(     
					  select h_ctgr
                      from common_code
                      where ctgr = #{value}
                      )
	</select>
	
	<!-- 모든종목조회 -->
	<select id="allItemList" resultType="StockVO">
		
		select t.item_no, c.sc, c.theme, t.nm,t.prc tprc, t.prc - i.cl_prc change ,trunc(((t.prc-i.cl_prc)/i.cl_prc)*100) rate
        from (select item_no, cl_prc 
                  from item_info 
                  where to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')
                  ) i 
        join ( select distinct(a.item_no),nm,dt,ta_prc prc
				from(   SELECT nm,i.item_no, MAX(ta_dt) dt
						FROM ta_hr t join item i 
						on i.item_no = t.item_no
						GROUP BY nm,i.item_no
						order by item_no) a join ta_hr t
				on a.item_no= t.item_no and a.dt=t.ta_dt
				order by 1 ) t 
        on i.item_no = t.item_no
        join ( select case substr(common_cd,1,2) when 'S1' then '농산물'
                                              when 'S2' then '수산물'
                                              end sc
                                              ,h_ctgr theme
                                              , ctgr item
                                              ,common_cd
                    from common_code
                    where length(common_cd) =6
                    order by common_cd ) c on c.item=t.nm
            order by common_cd
		
	</select>	
	
	<!-- 모든종목개수 -->
	<select id="allItemCnt" resultType="int">
		select count(*)
        from item
	</select>
	
	<!-- 조회수 순위 및 전일비 및 변동률 -->
	<select id="inqChart" resultType="InqVO">
		<![CDATA[
			 
                            
             select rownum 
					,nm 
					, a.item_no
					,inq 
					, change 
					, rate 
			from (  select i.nm, i.item_no item_no , f.inq+i.inq inq
			        from item i join (  select item_no, sum(inq) inq
			                            from item_info 
			                            where ta_dt > sysdate-7 
			                            group by item_no
			                            order by inq desc) f
			        on i.item_no = f.item_no) a 
			join (  select i.item_no,i.cl_prc,t.prc tprc, t.prc - i.cl_prc change ,trunc(((t.prc-i.cl_prc)/i.cl_prc)*100) rate
			        from (select item_no, cl_prc 
			              from item_info 
			              where to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')
			              ) i 
			        join (  select distinct(a.item_no),nm,dt,ta_prc prc
							from(   SELECT nm,i.item_no, MAX(ta_dt) dt
									FROM ta_hr t join item i 
									on i.item_no = t.item_no
									GROUP BY nm,i.item_no
									order by item_no) a join ta_hr t
							on a.item_no= t.item_no and a.dt=t.ta_dt
							order by 1  ) t  
			        on i.item_no = t.item_no) b 
			on a.item_no = b.item_no
			where rownum <6
			order by inq desc
		]]>
	</select>
	
	<!-- 관심종목 가져오기 -->
	<select id="getIntStock" resultType="StockVO">
		select t.item_no, t.nm,t.prc tprc, t.prc - i.cl_prc change ,trunc(((t.prc-i.cl_prc)/i.cl_prc)*100) rate
		from (select b.item_no, cl_prc 
		      from item_info a join (select i.item_no ,t.nm
		                            from interest_item i join item t
		                            on i.item_no = t.item_no
		                            where memb_no = #{membNo}) b
		      on a.item_no = b.item_no
		      where to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')
		                  ) i --전일주가정보
		join ( select distinct(a.item_no),nm,dt,ta_prc prc
							from(   SELECT nm,i.item_no, MAX(ta_dt) dt
									FROM ta_hr t join item i 
									on i.item_no = t.item_no
									GROUP BY nm,i.item_no
									order by item_no) a join ta_hr t
							on a.item_no= t.item_no and a.dt=t.ta_dt
							order by 1 ) t  -- 최근 체결가
		on i.item_no = t.item_no
	</select>
	
	<!-- 관심종목추가 -->
	<insert id="insertInterestItem" parameterType="MembVO">
		  <selectKey keyProperty="interestNo" resultType="string" order="BEFORE">
		    SELECT concat('int-',NVL(MAX(TO_NUMBER(SUBSTR(interest_no, 5))), 0)+1)
		    FROM interest_item
		  </selectKey>
			  INSERT INTO interest_item (interest_no, memb_no, item_no)
			  VALUES (#{interestNo}, #{membNo}, #{itemNo})
	</insert>
	
	<!-- 관심종목추가 중복체크기능 -->
	<select id="intItemCheck" resultType="String">
		select item_no 
		from interest_item 
		where memb_no = #{membNo} 
		and item_no = #{itemNo}
	</select>
	
	<!-- 관심종목 삭제기능 -->
	<delete id="deleteIntItem">
		delete from interest_item where item_no = #{itemNo} and memb_no = #{membNo}
	</delete>
	
	<!-- 이름으로 종목번호 조회 -->
	<select id="nmGetNo" resultType="String">
		select item_no 
		from item 
		where nm = #{nm}
	</select>
	
	<!-- 게시판 리스트 가져오기 -->
	<select id="getScBoardList" resultType="BoardVO">
	<![CDATA[
		select rownum , board_no , ttl , case common_cd when 'C201' then '농산물'
                                                when 'C202' then '수산물'
                                                end cntn
		from (  select board_no,ttl,common_cd
		        from board 
		        where common_cd = (
		                            select common_cd
		                            from common_code
		                            where ctgr =(  select case substr(c.common_cd,1,2) when 'S1' then '농산물'
		                                                                          when 'S2' then '수산물'
		                                                                          end sc
		                                            from common_code c join item i
		                                            on c.common_cd = i.common_cd
		                                            where item_no = #{itemNo})
		                            and common_cd like 'C%'
		                            ) 
		        order by drwup_dt desc) a
		where rownum <= 10
		]]>
	</select>
	
	<!-- 오늘날짜 거래량 top 5 순위 -->
	<select id="topVolChart" resultType="StockVO">
		<![CDATA[
			select rownum , a.*
			from(select t.item_no,i.nm,NVL(sum(stock_cnt),0) vol
			    from ta_hr t join item i
			    on t.item_no = i.item_no
			    where to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate , 'yyyy-MM-dd')
			    group by t.item_no,i.nm
			    order by 3 desc) a 
			where rownum <= 5
		]]>
	</select>
	
	<!-- 오늘날짜 변동률 순위 -->
	<select id="getPrcPercent" resultType="StockVO">
		
		select rownum, f.*
		from (  select t.item_no, t.nm,trunc(((t.prc-i.cl_prc)/i.cl_prc)*100) rate
		        from (select item_no, cl_prc 
		              from item_info 
		              where to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')
		              ) i --전일주가정보
		        join ( select distinct(a.item_no),nm,dt,ta_prc prc
							from(   SELECT nm,i.item_no, MAX(ta_dt) dt
									FROM ta_hr t join item i 
									on i.item_no = t.item_no
									GROUP BY nm,i.item_no
									order by item_no) a join ta_hr t
							on a.item_no= t.item_no and a.dt=t.ta_dt
							order by 1 ) t  -- 최근 체결가
		        on i.item_no = t.item_no
		        
		        <choose>
			        <when test='type.equals("plus")'>
			        	order by rate desc
			        </when>
			        <otherwise>
			        	order by rate
			        </otherwise>
		        </choose>
		        
		        ) f
		        <![CDATA[
		where rownum <= 5
		]]>
	</select>
	
	<!-- 호가 -->
	<select id="orderTable" resultType="Map">
		select rownum , a.*
		from(	select prc , sum(rmn_cnt) cnt
				<choose>
					<when test='type.equals("sell")'>
						from sell_order
					</when>
					<otherwise>
						from buy_order
					</otherwise>
				</choose>
				
				where item_no = #{itemNo}
				group by prc
				order by prc
				<if test='type.equals("buy")'>
				desc
				</if>
				) a
				<![CDATA[
		where rownum <=5
		]]>
		<if test='type.equals("sell")'>
		order by prc desc
		</if>
	</select>
	
	<!-- itemNo 로 단일 종목 정보 -->
	<select id="itemNoGetInfo" resultType="StockVO">
		select t.item_no, t.nm,t.prc tprc, t.prc - i.cl_prc change ,trunc(((t.prc-i.cl_prc)/i.cl_prc)*100) rate
		from (select item_no, cl_prc 
		      from item_info 
		      where to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')
		      ) i --item_info 전날 주가정보
		join (  select b.item_no , b.nm,dt,prc,origin,desct            
				from(	select distinct(a.item_no),nm,dt,ta_prc prc
						from(	SELECT nm,i.item_no, MAX(ta_dt) dt
								FROM ta_hr t join item i 
								on i.item_no = t.item_no
                                where i.item_no = #{itemNo}
								GROUP BY nm,i.item_no
								order by item_no) a join ta_hr t
						on a.item_no= t.item_no and a.dt=t.ta_dt) b join item i
				on b.item_no=i.item_no ) t  --오늘날짜 중 가장최근 거래가 (=현재가)
		on i.item_no = t.item_no
	</select>
	
	<!-- user 보유주식 단건 수량과 수익률 -->
	<select id="getPossStock" resultType="PossStockVO">
		select p.item_no,prc,sum(stock_cnt) cnt ,  trunc((prc - trunc(avg(trade_prc)))/trunc(avg(trade_prc))*100) rate
		from poss_stock p join (
		                            select distinct(a.item_no),nm,dt,ta_prc prc
									from(   SELECT nm,i.item_no, MAX(ta_dt) dt
											FROM ta_hr t join item i 
											on i.item_no = t.item_no
		                                    where t.item_no = #{itemNo}
											GROUP BY nm,i.item_no
											order by item_no) a 
		                            join ta_hr t
									on a.item_no= t.item_no and a.dt=t.ta_dt
									order by 1 
		                        ) a -- 최근체결가
		on p.item_no = a.item_no
		where memb_no = #{membNo}
		group by p.item_no,prc
	</select>
</mapper>