<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.community.mapper.BoardMapper">

	<select id="getBoardName" resultType="String">
		SELECT ctgr
		FROM COMMON_CODE
		WHERE common_cd=#{commonCd}
	</select>

	<select id="getBoardList" resultType="BoardVO">		
		SELECT board_no, nick, ttl, cntn, drwup_dt, inq,rcom, common_cd, ctgr
		FROM(
    		SELECT rownum rn,board_no, nick, ttl, cntn, drwup_dt, inq,rcom, common_cd, ctgr
    		FROM(        
        		SELECT board_no, nick, ttl, cntn, drwup_dt, inq,rcom, common_cd, ctgr
        		FROM COMMON_CODE JOIN
            		(SELECT board_no, nick, ttl, cntn, drwup_dt, inq,rcom, common_cd
            		FROM BOARD JOIN MEMBER
            		USING (memb_no)
            		WHERE rcom>=#{rcom} AND common_cd LIKE #{commonCd}||'%')
        		USING (common_cd)
        		<choose>
					<when test="order==null">
						ORDER BY drwup_dt DESC
					</when>
					<when test="order.equals('inq')">
						ORDER BY inq DESC, drwup_dt DESC
					</when>
					<when test="order.equals('rcom')">
						ORDER BY rcom DESC, drwup_dt DESC
					</when>
					<otherwise>
						ORDER BY drwup_dt DESC
					</otherwise>
				</choose>
        		)
        	<![CDATA[
    		WHERE rownum<=(${page}*10)
    		]]>
    		)
		where rn > (${page}-1)*10
	</select>
	
	<select id="getFreeBoardTop6" resultType="BoardVO">
		<![CDATA[
		SELECT board_no,ttl
		FROM BOARD
		WHERE rcom>30 AND common_cd LIKE 'C1%' AND rownum<=6
		ORDER BY drwup_dt DESC
		]]>
	</select>
	
	<select id="getStockBoardTop6" resultType="BoardVO">
		<![CDATA[
		SELECT board_no,ttl
		FROM BOARD
		WHERE rcom>30 AND common_cd LIKE 'C2%' AND rownum<=6
		ORDER BY drwup_dt DESC
		]]>
	</select>
	
	<select id="getBoardCount" resultType="int">
		SELECT COUNT(board_no)
		FROM BOARD
		WHERE rcom>=#{rcom} AND common_cd LIKE #{commonCd}||'%'
	</select>
	
	<select id="getCtgr" resultType="BoardVO">
		SELECT common_cd,ctgr
		FROM COMMON_CODE
		WHERE common_cd LIKE #{commonCd}||'0%'
	</select>
	
	<select id="getMembNo" resultType="String">
		SELECT memb_no
		FROM MEMBER
		WHERE nick=#{nick}
	</select>
	
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey keyProperty="boardNo" resultType="string" order="BEFORE">
			SELECT CONCAT('boa-',NVL(MAX(TO_NUMBER(SUBSTR(board_no, 5))), 0)+1)
			FROM BOARD
		</selectKey>
		INSERT INTO BOARD(board_no,memb_no,ttl,cntn,drwup_dt,common_cd)
		VALUES(#{boardNo},#{membNo},#{ttl},#{cntn},sysdate,#{commonCd})
	</insert>
	
	<select id="getBoardDetail" resultType="BoardVO">
		SELECT *
		FROM BOARD
		WHERE board_no=#{boardNo}
	</select>
	
	<update id="increaseInquery" parameterType="String">
		UPDATE BOARD
		SET inq=inq+1
		WHERE board_no=#{boardNo}
	</update>
	
	<select id="getMembInfo" resultType="MembVO">
		SELECT memb_no, nick
		FROM MEMBER
		WHERE memb_no=#{membNo}
	</select>
	
	<select id="getComments" resultType="CommentsVO">
		SELECT comm_no,board_no,cntn,drwup_dt,rcom,nrcom,h_comm_no,memb_no,nick
		FROM COMMENTS JOIN MEMBER
		USING (memb_no)
		WHERE board_no=#{boardNo}
		ORDER BY h_comm_no
	</select>
</mapper>