<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.community.mapper.BoardMapper">
	<!-- 해당 게시판 이름 -->
	<select id="getBoardName" resultType="String">
		SELECT ctgr
		FROM COMMON_CODE
		WHERE common_cd=#{commonCd}
	</select>

	<!-- 게시판 리스트 -->
	<select id="getBoardList" resultType="BoardVO">		
		SELECT board_no, nick, ttl, cntn, drwup_dt, inq,rcom, common_cd, ctgr
		FROM(
    		SELECT rownum rn,board_no, nick, ttl, cntn, drwup_dt, inq,rcom, common_cd, ctgr
    		FROM(        
        		SELECT board_no, nick, ttl, cntn, drwup_dt, inq,rcom, common_cd, ctgr
        		FROM COMMON_CODE JOIN
            		(SELECT board_no, nick, ttl, cntn, drwup_dt, inq,rcom, common_cd
            		FROM BOARD JOIN MEMBER
            		USING (memb_no)
            		WHERE rcom>=#{rcom} AND common_cd LIKE #{commonCd}||'%')
        		USING (common_cd)
        		<choose>
					<when test="order==null">
						ORDER BY drwup_dt DESC
					</when>
					<when test="order.equals('inq')">
						ORDER BY inq DESC, drwup_dt DESC
					</when>
					<when test="order.equals('rcom')">
						ORDER BY rcom DESC, drwup_dt DESC
					</when>
					<otherwise>
						ORDER BY drwup_dt DESC
					</otherwise>
				</choose>
        		)
        	<![CDATA[
    		WHERE rownum<=(${page}*10)
    		]]>
    		)
		where rn > (${page}-1)*10
	</select>
	

	
	<!-- 게시물 개수 -->
	<select id="getBoardCount" resultType="int">
		SELECT COUNT(board_no)
		FROM BOARD
		WHERE rcom>=#{rcom} AND common_cd LIKE #{commonCd}||'%'
	</select>
	
	<!-- 게시물 작성 카테고리 정보 -->
	<select id="getCtgr" resultType="BoardVO">
		SELECT common_cd,ctgr
		FROM COMMON_CODE
		WHERE common_cd LIKE #{commonCd}||'0%'
	</select>
	
	<!-- 멤버번호 -->
	<select id="getMembNo" resultType="String">
		SELECT memb_no
		FROM MEMBER
		WHERE nick=#{nick}
	</select>
	
	<!-- 게시물 추가 -->
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey keyProperty="boardNo" resultType="string" order="BEFORE">
			SELECT CONCAT('boa-',NVL(MAX(TO_NUMBER(SUBSTR(board_no, 5))), 0)+1)
			FROM BOARD
		</selectKey>
		INSERT INTO BOARD(board_no,memb_no,ttl,cntn,drwup_dt,common_cd)
		VALUES(#{boardNo},#{membNo},#{ttl},#{cntn},sysdate,#{commonCd})
	</insert>
	
	<!-- 게시물 정보 -->
	<select id="getBoardDetail" resultType="BoardVO">
		SELECT *
		FROM BOARD
		WHERE board_no=#{boardNo}
	</select>
	
	<!-- 게시물 조회수 증가 -->
	<update id="increaseInquery" parameterType="String">
		UPDATE BOARD
		SET inq=inq+1
		WHERE board_no=#{boardNo}
	</update>
	
	<!-- 게시물 작성자 정보 -->
	<select id="getMembInfo" resultType="MembVO">
		SELECT *
		FROM MEMBER
		WHERE memb_no=#{membNo}
	</select>
	
	<!-- 게시물 댓글 정보 -->
	<select id="getComments" resultType="CommentsVO">
		SELECT TO_NUMBER(SUBSTR(h_comm_no, 5)) sort_h_comm, TO_NUMBER(SUBSTR(comm_no, 5)) sort_comm,comm_no,board_no,cntn,drwup_dt,rcom,nrcom,h_comm_no,memb_no,nick
		FROM COMMENTS JOIN MEMBER
		USING (memb_no)
		WHERE board_no=#{boardNo}
		ORDER BY sort_h_comm, sort_comm
	</select>
	
	<!-- 추천수 증가 -->
	<update id="addRcom" parameterType="BoardVO">
		UPDATE BOARD
		SET rcom=rcom+1
		WHERE board_no=#{boardNo}
	</update>
	
	<!-- 비추천수 증가 -->
	<update id="addNrcom" parameterType="BoardVO">
		UPDATE BOARD
		SET nrcom=nrcom+1
		WHERE board_no=#{boardNo}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="deleteBoard" parameterType="BoardVO">
		DELETE FROM BOARD
		WHERE board_no=#{boardNo}
	</delete>
	
	<!-- 게시물 수정 -->
	<update id="modifyBoard" parameterType="BoardVO">
		UPDATE BOARD
		SET ttl=#{ttl}, cntn=#{cntn},drwup_dt=sysdate
		WHERE board_no=#{boardNo}
	</update>
	
	<!-- 댓글 추천수 증가 -->
	<update id="addCommentRcom" parameterType="CommentsVO">
		UPDATE COMMENTS
		SET rcom=rcom+1
		WHERE comm_no=#{commNo}
	</update>
	
	<!-- 댓글 비추천수 증가 -->
	<update id="addCommentNrcom" parameterType="CommentsVO">
		UPDATE COMMENTS
		SET nrcom=nrcom+1
		WHERE comm_no=#{commNo}
	</update>
	
	<!-- 댓글 등록 -->
	<insert id="insertComment" parameterType="CommentsVO">
		<selectKey keyProperty="commNo" resultType="string" order="BEFORE">
			SELECT CONCAT('com-',NVL(MAX(TO_NUMBER(SUBSTR(comm_no, 5))), 0)+1)
			FROM COMMENTS
		</selectKey>
		INSERT INTO COMMENTS(comm_no,board_no,cntn,h_comm_no,memb_no)
		VALUES(#{commNo},#{boardNo},#{cntn},#{commNo},#{membNo})
	</insert>
	
	<!-- 댓글 단건조회 -->
	<select id="getComment" resultType="CommentsVO">
		SELECT comm_no,board_no,cntn,drwup_dt,rcom,nrcom,h_comm_no,memb_no,nick
		FROM COMMENTS JOIN MEMBER
		USING(memb_no)
		WHERE comm_no=#{commNo}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="CommentsVO">
		DELETE FROM COMMENTS
		WHERE comm_no=#{commNo}
	</delete>
	
	<!-- 대댓글 생성 -->
	<insert id="insertSubComment" parameterType="CommentsVO">
		<selectKey keyProperty="commNo" resultType="string" order="BEFORE">
			SELECT CONCAT('com-',NVL(MAX(TO_NUMBER(SUBSTR(comm_no, 5))), 0)+1)
			FROM COMMENTS
		</selectKey>
		INSERT INTO COMMENTS(comm_no,board_no,cntn,h_comm_no,memb_no)
		VALUES(#{commNo},#{boardNo},#{cntn},#{hCommNo},#{membNo})
	</insert>
	
	<!-- 첨부파일 가져오기 -->
	<select id="getAttachList" resultType="AttachVO">
		SELECT *
		FROM ATTACH_FILE
		WHERE board_no=#{boardNo}
	</select>
	
	<!-- 해당 멤버의 관심종목 정보 -->
	<select id="getInerestStockInfo" resultType="InterestVO">
		SELECT DISTINCT item_no,nm,ta_prc tprc,cl_prc,trunc(NVL(DECODE(ta_prc,0,0,ta_prc - cl_prc) / cl_prc, 0)*100) rate
		FROM(
		    SELECT item_no,nm
		    FROM interest_item
		    JOIN item
		    USING(item_no)
		    WHERE memb_no=#{membNo})
		 JOIN (
		    SELECT item_no,DECODE(ta_prc,null,cl_prc,ta_prc) ta_prc,cl_prc
		    FROM(
		    SELECT item_no,ta_prc
		        FROM (
		            SELECT item_no,ta_prc,ta_dt,ROW_NUMBER() OVER(PARTITION BY item_no ORDER BY ta_dt DESC) AS rn
		            FROM ta_hr
		            WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate,'yyyy-MM-dd'))
		        WHERE rn=1)
		    RIGHT JOIN(
		        SELECT item_no,cl_prc
		        FROM item_info
		        WHERE (info_no) IN (
		            SELECT info_no
		            FROM item_info
		            WHERE to_char(ta_dt,'yyyy-MM-dd') = to_char(sysdate-1,'yyyy-MM-dd')))
		    USING(item_no))
		USING(item_no)
	</select>
	
	<!-- 신고기능 -->
	<insert id="report" parameterType="ReportVO">
		<selectKey keyProperty="rprtNo" resultType="string" order="BEFORE">
			SELECT CONCAT('rep-',NVL(MAX(TO_NUMBER(SUBSTR(rprt_no, 5))), 0)+1)
			FROM REPORT
		</selectKey>
		INSERT INTO REPORT(rprt_no,cntn,board_no,accused,plaintiff,category)
		VALUES(#{rprtNo},#{cntn},#{boardNo},#{accused},#{plaintiff},#{category})
	</insert>
	
	<!-- 추천 비추천 여부 확인 -->
	<select id="rcomConfirm" resultType="RcomConfirmVO">
		SELECT *
		FROM RCOM_CONFIRM
		WHERE memb_no=#{membNo} AND board_no=#{boardNo}
	</select>
	
	<!-- 추천 비추천 여부 테이블 추가 -->
	<insert id="addRcomConfirm" parameterType="RcomConfirmVO">
		<selectKey keyProperty="rcomNo" resultType="string" order="BEFORE">
			SELECT CONCAT('rco-',NVL(MAX(TO_NUMBER(SUBSTR(rcom_no, 5))), 0)+1)
			FROM RCOM_CONFIRM
		</selectKey>
		INSERT INTO RCOM_CONFIRM(rcom_no,memb_no,board_no)
		VALUES(#{rcomNo},#{membNo},#{boardNo})
	</insert>
	<!-- 댓글 추천 비추천 여부 확인 -->
	<select id="commentRcomConfirm" resultType="RcomConfirmVO">
		SELECT *
		FROM RCOM_CONFIRM
		WHERE memb_no=#{membNo} AND comm_no=#{commNo}
	</select>
	
	<!-- 댓글 추천 비추천 여부 테이블 추가 -->
	<insert id="addCommentRcomConfirm" parameterType="RcomConfirmVO">
		<selectKey keyProperty="rcomNo" resultType="string" order="BEFORE">
			SELECT CONCAT('rco-',NVL(MAX(TO_NUMBER(SUBSTR(rcom_no, 5))), 0)+1)
			FROM RCOM_CONFIRM
		</selectKey>
		INSERT INTO RCOM_CONFIRM(rcom_no,memb_no,comm_no)
		VALUES(#{rcomNo},#{membNo},#{commNo})
	</insert>
</mapper>