<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.community.mapper.ChatMapper">
	<select id="roomInfo" resultType="ChatRoomVO">
		SELECT *
		FROM CHAT_ROOM
		WHERE room_no=#{roomNo}
	</select>
	
	<select id="sameNick" resultType="ChatParticipationVO">
		SELECT *
		FROM CHAT_PARTICIPATION
		<![CDATA[
		WHERE room_no=#{roomNo} AND anon_nick=#{anonNick} AND memb_no<>#{membNo}
		]]>
	</select>
	
	<insert id="participation" parameterType="ChatParticipationVO">
		<selectKey keyProperty="particiNo" resultType="string" order="BEFORE">
			SELECT CONCAT('par-',NVL(MAX(TO_NUMBER(SUBSTR(partici_no, 5))), 0)+1)
			FROM CHAT_PARTICIPATION
		</selectKey>
		INSERT INTO CHAT_PARTICIPATION
		VALUES(#{particiNo},#{roomNo},#{membNo},#{anonNick})
	</insert>
	
	<select id="getParticipationInfo" resultType="ChatParticipationVO">
		SELECT *
		FROM CHAT_PARTICIPATION
		WHERE memb_no=#{membNo}
	</select>
	
	<insert id="insertChat" parameterType="ChatVO">
		<selectKey keyProperty="chatNo" resultType="string" order="BEFORE">
			SELECT CONCAT('cha-',NVL(MAX(TO_NUMBER(SUBSTR(chat_no, 5))), 0)+1)
			FROM CHAT
		</selectKey>
		INSERT INTO CHAT
		VALUES(#{chatNo},#{cntn},sysdate,#{roomNo},#{anonNick},#{membNo})
	</insert>
	
	<select id="getChat" resultType="ChatVO">
		SELECT *
		FROM CHAT
		WHERE chat_no=#{chatNo}
	</select>
	
	<update id="addRoomCnt" parameterType="String">
		UPDATE CHAT_ROOM
		SET conn=conn+1
		WHERE room_no=#{roomNo}
	</update>

	<update id="subtractRoomCnt" parameterType="String">
		UPDATE CHAT_ROOM
		SET conn=conn-1
		WHERE room_no=(
			SELECT room_no
			FROM CHAT_PARTICIPATION
			WHERE memb_no=#{membNo}
			)
	</update>
	
	<select id="selectRoomList" resultType="ChatRoomVO">
		SELECT TO_NUMBER(SUBSTR(room_no, 6)) sort,room_no,nm,conn,lmt
		FROM CHAT_ROOM
		ORDER BY sort
	</select>
	
	<select id="selectParticiList" resultType="ChatParticipationVO">
		SELECT *
		FROM CHAT_PARTICIPATION
		WHERE room_no=#{roomNo}
	</select>
	
	<delete id="deletePartici" parameterType="String">
		DELETE FROM CHAT_PARTICIPATION
		WHERE memb_no=#{membNo}
	</delete>
	
	<insert id="insertChatRoom" parameterType="ChatRoomVO">
		<selectKey keyProperty="roomNo" resultType="string" order="BEFORE">
			SELECT CONCAT('room-',NVL(MAX(TO_NUMBER(SUBSTR(room_no, 6))), 0)+1)
			FROM CHAT_ROOM
		</selectKey>
		INSERT INTO CHAT_ROOM(room_no,nm,lmt)
		VALUES(#{roomNo},#{nm},#{lmt})
	</insert>
	
	<select id="sameRoom" resultType="ChatRoomVO">
		SELECT *
		FROM CHAT_ROOM
		WHERE nm=#{nm}
	</select>
	
	<delete id="deleteRoom" parameterType="String">
		DELETE FROM CHAT_ROOM
		WHERE room_no=#{roomNo}
	</delete>
</mapper>