<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.app.community.mapper.NoticeMapper">
	 <select id="getNoticeList" resultType="NoticeVO">
		SELECT *
		FROM(
		    SELECT rownum rn,noti_no,ttl,inq,drwup_dt,cntn
		    FROM(
		        SELECT noti_no,ttl,inq,drwup_dt,cntn
		        FROM NOTICE
		        ORDER BY drwup_dt DESC)
		    <![CDATA[
		    WHERE rownum<=(${page}*10))
		    ]]>
		WHERE rn > (${page}-1)*10
	 </select>
	 
	 <select id="getNoticeCount" resultType="int">
		SELECT COUNT(noti_no)
		FROM NOTICE
	</select>
	
	<update id="increaseInquery" parameterType="String">
		UPDATE NOTICE
		SET inq=inq+1
		WHERE noti_no=#{notiNo}
	</update>
	
	<select id="getNoticeDetail" resultType="NoticeVO">
		SELECT *
		FROM NOTICE
		WHERE noti_no=#{notiNo}
	</select>
	<select id="getNoticeTop6" resultType="NoticeVO">
		<![CDATA[
		SELECT *
		FROM(
			SELECT *
			FROM NOTICE
			ORDER BY drwup_dt DESC)
		WHERE rownum<=6
		]]>
	</select>
  </mapper>