<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.app.community.mapper.QuestionMapper">
	<select id="getFaqList" resultType="FaqVO">
		SELECT *
		FROM(
	 		SELECT rownum rn ,faq_no,ttl,cntn,category
	 		FROM FAQ
	 		<![CDATA[
		    WHERE rownum<=(${page}*10)
		    ]]>
	 		<if test="category!=null and(!category.equals(''))">
	 		AND category=#{category}
	 		</if>
	 		<if test="ttl!=null and(!ttl.equals(''))">
	 		AND ttl LIKE '%'||#{ttl}||'%'
	 		</if>
	 		)
	 	WHERE rn > (${page}-1)*10
	</select> 
	<select id="getFaqCount" resultType="int">
		SELECT COUNT(faq_no)
		FROM FAQ
		<where>
			<if test="category!=null and(!category.equals(''))">
	 		AND	category=#{category}
	 		</if>
			<if test="ttl!=null and(!ttl.equals(''))">
	 		AND	 ttl LIKE '%'||#{ttl}||'%'
	 		</if>
		</where>
	</select>
	<select id="getQnaList" resultType="QuestionVO">
		SELECT *
		FROM(
			SELECT rownum rn ,qst_no,memb_no,ttl,cntn,drwup_dt,rply,rply_dt,inq,nick
			FROM(
		 		SELECT qst_no,memb_no,ttl,cntn,drwup_dt,rply,rply_dt,inq,nick
		 		FROM QUESTION JOIN MEMBER
		 		USING (memb_no)
		 		<if test="ttl!=null and(!ttl.equals(''))">
		 		WHERE ttl LIKE '%'||#{ttl}||'%'
		 		</if>
		 		ORDER BY drwup_dt DESC
		 		)
	 		<![CDATA[
		    WHERE rownum<=(${page}*10)
		    ]]>
		    )
	 	WHERE rn > (${page}-1)*10
	</select> 
	<select id="getQnaTop6" resultType="QuestionVO">
		<![CDATA[
		SELECT *
		FROM (
			SELECT qst_no,ttl
			FROM QUESTION
			ORDER BY drwup_dt DESC)
		WHERE rownum<=6
		]]>
	</select>
	<select id="getQnaCount" resultType="int">
		SELECT COUNT(qst_no)
		FROM QUESTION
		<if test="ttl!=null and(!ttl.equals(''))">
 		AND	 ttl LIKE '%'||#{ttl}||'%'
 		</if>
	</select>
	<insert id="insertQna" parameterType="QuestionVO">
		<selectKey keyProperty="qstNo" resultType="string" order="BEFORE">
			SELECT CONCAT('que-',NVL(MAX(TO_NUMBER(SUBSTR(qst_no, 5))), 0)+1)
			FROM QUESTION
		</selectKey>
		INSERT INTO QUESTION(qst_no,memb_no,ttl,cntn)
		VALUES(#{qstNo},#{membNo},#{ttl},#{cntn})
	</insert>
	<select id="getQnaDetail" resultType="QuestionVO">
		SELECT QST_NO,MEMB_NO,TTL,CNTN,DRWUP_DT,RPLY,RPLY_DT,INQ
		FROM QUESTION JOIN MEMBER
		USING(memb_no)
		WHERE qst_no=#{qstNo}
	</select>
	<update id="increaseInq">
		UPDATE QUESTION
		SET inq=inq+1
		WHERE qst_no=#{qstNo}
	</update>
	<delete id="deleteQna" parameterType="String">
		DELETE FROM QUESTION
		WHERE qst_no=#{qstNo}
	</delete>
</mapper>