#boardSection{
	padding-top: 50px;
	padding-bottom:50px;
}

#boardSection thead{
	background-color: #292931;
	color:white;
	font-weight: bold;
}
#boardDiv hr{
	background-color: #292931;
}
#category{
	display: flex;
	justify-content:space-between;
	margin-bottom: 10px;
}
.categoryBtn{
	position : relative;
}
.categoryBtn div{
	position : absolute;
	bottom:0;
}

.active{
	color:white;	
}
.active a{
	background-color:#DC3545;
}
#prevpage{
	visibility: hidden;
}
#nextpage{
	visibility: hidden;
}
#titlename{
	font-size: 30px;
}
#titlename span{
	line-height: 46px;
}
#titlename span:after{
	width:150px;
}
.categoryBtn{
	width:250px;
}
.dropdown{
	position: relative;
}
#sort{
	position: absolute;
	right: 0;
	bottom:0;
}
#boardContent{
	width:96%;
	margin: 0 auto 100px auto;
}
#boardInfo{
	justify-content: space-between;
}
#boardInfo p{
	margin-bottom: 10px;
}
#boardInfoDetail p{
	margin-left: 15px;
}
hr{
	margin: 10px 0;
}

#contentBody img{
	max-width: 100%;
	max-height: 800px;
}

#rcomCnt{
	margin:5px;
	padding-top:16px;
	width:100px;
	height:100px;
	border-radius: 30%;
	background-color: #8692FF;
}
#rcomCnt:hover{
	background-color: #6672FF;
}

#rcomCnt p{
	text-align: center;
	color: white;
	font-weight: bold;
}
#nrcomCnt{
	margin:5px;
	padding-top:16px;
	width:100px;
	height:100px;
	border-radius: 30%;	
	background-color: #F99494;
}
#nrcomCnt:hover{
	background-color: #F97474;
}
#nrcomCnt p{
	text-align: center;
	color: white;
	font-weight: bold;
}
#conmmentSection hr{
	background-color: black;
}
.hComment{

}
.subComment{
	margin-left: 20px;
}
#commentContents svg{
	margin-top: 4px;
}
#commentContents section{
	margin-bottom:10px;
}
.commentAddBtn{
	background-color: #f0f1f2;
	width:202px;
}
.commentAddBtn:hover{
	background-color: #e0e1e2;
}
.tagNick{
	color:#8692FF;
}
.hwt-content mark {
	border-radius: 3px;
	background-color: #e0e1e2;
}
.contentHighlight{
	border-radius: 3px;
	background-color: #e0e1e2;	
}

#writer {
	display: flex;
	padding-right:15px;
	padding-left:15px;
}
#writer input{
	width:350px;
}
#writer select {
	width:350px;
}

#fileList{
	display: flex;
}
#fileList strong{
	margin-right: 100px;
}
#uploadFileList{
	list-style: none;
}
#uploadFileList span{
	color: red;
	margin-left: 10px;
}
.ck-editor__editable { 
	height: 400px; 
}