<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../community/css/board.css">

<style>
	.swal-cls{
		width:950px !important;
	}
	#reportDiv #boardCntn{
		height:300px;
		overflow:hidden;
		overflow-y: auto;
		overscroll-behavior: contain;
	}
	#boardCntn * {
		text-align: left;
	}
	#boardTtl {
		text-align: left;
	}
</style>
</head>
<body>
	<div layout:fragment="content">
		<h3><b>공지사항</b></h3>
		<br/>
		<div class="m-2">
		  	<button id="deleteBtn" class="btn btn-danger">삭제</button>			
		  	<button id="writeBtn" class="btn btn-primary">작성</button>
		</div>
		
		<div id="grid"></div>
		
		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
		<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
		<script>
		let todayz = new Date();   

		let year = todayz.getFullYear(); // 년도
		let month = todayz.getMonth() + 1 < 10 ? '0' + (todayz.getMonth() + 1) : todayz.getMonth() + 1 ;  // 월
		let date = todayz.getDate() < 10 ? '0' + todayz.getDate() : todayz.getDate() ;  // 날짜

		let today = year + '-' + month + '-' + date
		
			$('#writeBtn').on('click',function(){
				Swal.fire({
            		title:'공지사항 작성',
            		html:`
            			<form id="myForm" onsubmit="return false">
            			<div id="reportDiv">
            			<table class="table h6">
							<tr>
								<th style="width:15%;">작성자</th>
								<td style="width:35%;">admin</td>
								<th style="width:15%;">작성일</th>
								<td style="width:35%;">${today}</td>
							</tr>
							<tr>
							<th>제목</th>
								<td colspan="3" id="boardTtl" >
									<div>
										<input id="writeNoticeTtl" style="text-align:left;width:758px" name="ttl">
									</div>
								</td>
							</tr>	
							<tr>
								<th>내용</th>
								<td colspan="3" class="text-left">
									<div id="boardCntn" >
										<textarea id="noticeContent"></textarea>
									</div>
								</td>
							</tr>
						</table>
						</div>
						<table class="table">
						<tr>
							<td>
								<label for="attachfiles" class="col-sm-2 col-form-label ml-3 " style="width:200px">
									<strong>파일을 선택해주세요</strong>
								</label>
								<input name="attachFile" id="attachFile" type="file" multiple class="custom-file-input"> 
							</td>
						</tr>
						<tr>
							<td style="text-align:left">
								<div id="fileList" style="margin: 40px;">
									<strong>첨부파일 : </strong>
									<div>
										<ul id=uploadFileList>
										</ul>
									</div>
								</div>
							</td>
						</tr>
						</table>
						</form>
						`,
					customClass: 'swal-cls',
					showCancelButton:true,
					cancelButtonText:'취소',
	    		    confirmButtonText: '작성',
        		})
        		.then((result) =>{
        			if(result.isConfirmed){
        				if($('#writeNoticeTtl').val()==""||$('#writeNoticeTtl').val()==null){
        					swal.fire('제목입력하세요')
        					return;
        				}
        				
        				let ckData = editor.getData()
        				if($('#noticeContent').val()==""||$('#noticeContent').val()==null){
        					toastShow("There is no content" , "내용이 없습니다" , "error");
        					return;
        				}
        					
        				let formData = $('#myForm').serializeObject()
        				formData.cntn = ckData
        				
        				
        				var attachFileList = new FormData(); 
        				var inputFile = $("#attachFile");

        				var files = inputFile[0].files;
        				
        				for(var i=0;i<files.length;i++){
        					console.log(files[i]);
        					attachFileList.append("uploadFiles",files[i]); // 키, 값으로 append
        				}
        				
        				
        				$.ajax({
        					url:'/admin/addNotice',
        					method : "POST",
        					data : formData
        				})
        				.done(function(result){
        					if(attachFileList.get("uploadFiles")!=null){
        						attachFileList.append("notiNo",result);
        						$.ajax({
        							url:'/attach/upload',
        							method:'POST',
        							processData:false, // 기본값은 true, ajax통신을 통해 데이터를 전송할 때, 기본적으로 key와 vlaue 값을 Query String 으로 변환해서 보냅니다
        							contentType:false, // multipart/form-data타입을 사용하기 위해 false로 지정합니다.
        							data:attachFileList,
        							success:function(result){
        								// 성공
        							},
        							error:function(reject){
        								alert('fail attach');
        							}
        						})					
        					}else{
        						//성공
        					}
        				})
        				.fail(function(result){
        					toastShow("Insert Fail" , "등록 실패" , "error");
        				})

        				
        			}
        		})
        		
        		let editor;
				
	    		ClassicEditor.create(document.querySelector('#noticeContent'), {
    				language: "ko",
    				ckfinder: {
    					uploadUrl: '/image/upload'
    				}
    			})
    			.then(newEditor => {
    				editorw = newEditor;
    			})
    			.catch(error => {
    				console.error(error);
    			});
	    		
	    		$("#attachFile").on('change',function(){
	    			var inputFile = $("#attachFile");
	    			// input 태그의 type이 file인것을 찾아서 inputFile이라는 변수로 지정
	    			
	    			var files = inputFile[0].files;
	    			// files: 선택한 모든 파일을 나열하는 FileList 객체
	    			// multiple 특성을 지정하지 않았다면 두 개 이상의 파일을 포함하지 않습니다.
	    			for(var i=0;i<files.length;i++){
	    				let liTag=document.createElement("li");
	    				let spanTag=document.createElement("span");
	    				liTag.append(files[i].name);
	    				spanTag.innerHTML="&times;";
	    				liTag.append(spanTag);
	    				uploadFileList.append(liTag);
	    			}
	    		})
	    		$("#uploadFileList").on('click','span',function(){
	    			var dataTranster = new DataTransfer();
	    			Array.from($("#attachFile")[0].files)
	                .filter(file => file.name != $(event.target).parent().text().slice(0,-1))
	                .forEach(file => {
	                	dataTranster.items.add(file);
	             	});
	    			$("#attachFile")[0].files=dataTranster.files;
	    			
	    			$(event.target).parent().remove();
	    		})
	    		
			}); // end of click 이벤트
			
			const dataSource = {
				contentType: 'application/json',
				api: {
					readData: {
	    				url:'/admin/noticeList',
	    				method:'GET' 
					}
				}
			};
	      
			const grid = new tui.Grid({
	             el: document.getElementById('grid'),
	             rowHeaders: ['rowNum','checkbox'],
	             data:dataSource,
	             scrollX: false,
	             scrollY: false,
	   		  	 pageOptions: {
	   		  		 useClient:true,
	                 perPage: 5,
	             },
	             columns: [
					{
					     header: '공지번호',
					     name: 'notiNo',
					     filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
					},
					{
					   header: '제목',
					   name: 'ttl',
					   filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
						},
					{
					   header: '작성일시',
					   name:'drwupDt',
					   sortingType: 'asc',
					   sortable: true
					 }
				]
			});
	        
	        grid.on('dblclick',(ev) => {
	        	// 공지사항정보
	        	let notiNo = $('td[data-row-key='+ev.rowKey+'][data-column-name=notiNo]').children(0).text();
	        	//신고된 글 내용 불러오기
	        	$.ajax('noticeDetail?notiNo='+notiNo)
	        	.done(function(data){
	        		Swal.fire({
	            		title:'공지사항',
	            		html:`
	            			<div id="reportDiv">
	            			<table class="table h6">
								<tr>
									<th style="width:15%;">작성자</th>
									<td style="width:35%;">${data.nick}</td>
									<th style="width:15%;">작성일</th>
									<td style="width:35%;">${data.drwupDt}</td>
								</tr>
								<tr>
								<th>제목</th>
									<td colspan="3" id="boardTtl" >
										<div>
											<input style="text-align:left;width:758px;" value="${data.ttl}">
										</div>
									</td>
								</tr>	
								<tr>
									<th>내용</th>
									<td colspan="3" class="text-left">
										<div id="boardCntn" >
											<textarea id="noticeContent">${data.cntn}</textarea>
										</div>
									</td>
								</tr>
							</table>
							</div>
							
							`,
						customClass: 'swal-cls',
						showCancelButton:true,
		    		    confirmButtonText: '수정',
						cancelButtonText:'취소',
	        		})
	        		.then((result) => {			
	        			if(result.isConfirmed){
	        				// 수정 기능
	        				Swal.fire('수정')
	        			}else if(result.isDenied){
	        				// 삭제 기능
	        				Swal.fire({
							  title: '삭제하시겠습니까?',
							  showDenyButton: true,
							  confirmButtonText: '삭제',
							  denyButtonText: `취소`,
							}).then((result) => {
							  /* Read more about isConfirmed, isDenied below */
							  if (result.isConfirmed) {
								  // 서버에 삭제 요청을 보냅니다.
								  
							  } else if (result.isDenied) {
							    Swal.fire('취소됐음')
							  }
							})//end of swal
	        			}//end of else if
	        		})//end of then

	        		let editor;
					
		    		ClassicEditor.create(document.querySelector('#noticeContent'), {
	    				language: "ko",
	    				ckfinder: {
	    					uploadUrl: '/image/upload'
	    				}
	    			})
	    			.then(newEditor => {
	    				editorw = newEditor;
	    			})
	    			.catch(error => {
	    				console.error(error);
	    			});
		    		
		    		
	        		
	            })// end of done
	        });//end of dblclick 기능
	        	
	        	
		</script>
	</div>
</body>
</html>