<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<title>adminOrder.html</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
</style>

</head>
<body id="body">
	<div layout:fragment="content">
	
		<!-- 주문처리 관리 테이블 -->
		<h3>주문처리 관리</h3>
		<div id="grid">
			<div class="m-2">
				<button id="updateBtn" class="btn btn-primary btn-sm">수정</button>
				<button id="deleteBtn" class="btn btn-danger btn-sm">삭제</button>
			</div>
		</div>

		<script>
		let editor;
		// 주문 상태 업데이트 버튼 클릭 이벤트 핸들러 변경
		$('#updateBtn').on('click', function () {
		  const checkedRows = grid.getCheckedRows();
		  console.log(checkedRows);
		  if (checkedRows.length > 0) {
		    // 선택된 행이 존재하는 경우에만 삭제 요청을 보냅니다.
		    const orders = checkedRows.map(row => row.orderNo); // 선택된 행의 rowKey를 추출합니다.
		    console.log(orders);
		    Swal.fire({
		      title: '주문처리상태',
		      text: '수정할 상태를 선택해주세요.',
		      input: 'select',
		      inputOptions: {
		        상품준비중: '상품준비중',
		        배송완료: '배송완료',
		        배송중: '배송중'
		      },
		      showCancelButton: true,
		      inputPlaceholder: '주문처리상태 선택'
		    }).then((result) => {
		      // 주문처리상태 변경
		      if (result.isConfirmed) {
		        const selectedStatus = result.value; // 선택한 주문 상태 값
				console.log(selectedStatus);
		        
		        $.ajax({
		          url: '/admin/orderStUpdate',
		          method: 'POST',
		          contentType: 'application/json',
		          data: JSON.stringify({
		        	orderNoList: orders,
		            orderSt: selectedStatus
		          }),
		          success: function (data) {
		            console.log('Order status updated successfully:', data);
		            Swal.fire('주문 상태가 성공적으로 업데이트되었습니다.');
		          },
		          error: function (error) {
		            console.error('Error updating order status:', error);
		            Swal.fire('주문 상태 업데이트에 실패했습니다.');
		          }
		        });
		      }
		    });
		  } else {
		    Swal.fire('check 박스를 선택해주세요.');
		  }
		}); // updateBtn 클릭 기능의 end

		
		// 삭제 버튼 클릭 이벤트 핸들러 추가
		$('#deleteBtn').on('click', function () {
		  const checkedRows = grid.getCheckedRows();
		  if (checkedRows.length > 0) {
		    const orders = checkedRows.map(row => row.orderNo);
		    
		    Swal.fire({
		      title: '주문 삭제',
		      text: '선택한 주문을 삭제하시겠습니까?',
		      showCancelButton: true,
		      confirmButtonText: '삭제',
		      cancelButtonText: '취소'
		    }).then((result) => {
		      if (result.isConfirmed) {
		    	  $.ajax({
	  			      type: 'POST', // 또는 DELETE에 맞는 HTTP 메서드를 사용합니다.
	  			      url: '/admin/deleteOrder',
	  			      contentType:'application/json',
	  			      data: JSON.stringify(orders),
	  			      success: function(response) {
	  			        // 삭제 요청이 성공한 경우, 그리드에서 선택된 행을 제거합니다.
	  			        console.log(response)
	  			        grid.removeCheckedRows(true);
		    		 	 },
   		 	   error: function(err) {
  			        console.error('행 삭제 오류:', err);
  			      }
		  	  });
		  } else {
		    Swal.fire('삭제할 주문을 선택해주세요.');
		  }
		});//then 끝  

		  }
		});
		
     const dataSource = {
   		  contentType: 'application/json',
   		  api: {
   			  readData: {
   				url:'/admin/orderList',
   				method:'GET' 
   			}
   		  }
   		};
     
       const grid = new tui.Grid({
            el: document.getElementById('grid'),
            rowHeaders: ['rowNum','checkbox'],
            data:dataSource,
            scrollX: false,
            scrollY: false,
  		  	 pageOptions: {
  		  		 useClient:true,
                perPage: 5,
              },
            columns: [
           	  {
                 header: '주문번호',
                 name: 'orderNo',
                 filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
               },
              {
                header: '회원번호',
                name: 'membNo',
                filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
              },
             
              {
                  header: '주문상품',
                  name: 'nm',
                  filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
                },
             {
                 header: '주문금액	',
                 name: 'payAn',
                 filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
                  },
               
              {
                header: '주문상태',
                name: 'orderSt',
                filter: 'select', // Dropdown Filter로 설정
                filterOptions: {
                  listItems: ['상품준비중', '배송완료', '배송중']
                },
                  editor:{
                 	 type:'select',
                 	 options:{
                 		 listItems:[
                 			 {
                 				 text:'상품준비중' ,
                 				 value:'상품준비중'
                 			 },
                 			 {
                 				 text:'배송완료' ,
                 				 value:'배송완료'
                 			 },
                 			 {
                 				 text:'배송중' ,
                 				 value:'배송중'
                 			 },
                 		 ]
                 	 }
                  },
                  
                  onAfterChange(ev) {
               	  console.log(ev)
               	   if(ev.value != '정상'){
               	  //ajax 추가
               	  
               	   }else {
               		   let list = [$('td[data-row-key='+ev.rowKey+'][data-column-name=orderNo]').children(0).text()];
      		    		   let orderNm = $('td[data-row-key='+ev.rowKey+'][data-column-name=nm]').children(0).text();
      		    		   
               		   $.ajax('orderStUpdate?list='+list).done(function(data){
               			   if(data > 0){
               				   Swal.fire(orderNm +' 회원의 정지상태가 해제되었습니다.');
               			   }else{
               				   Swal.fire('정지해제 실패..')
               			   }
               		   })
               	   }
                 }
              },
              {
                header: '주문일시',
                name: 'orderDt',
                sortingType: 'asc',
                sortable: true
              }
            ]
          });
     
       grid.on('check',(ev) =>{
       	console.log(ev.instance.store.data.rawData[ev.rowKey].orderNo);
       })
       

		</script>
	</div>
</body>
</html>