<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../community/css/board.css">
<style>
	.swal-cls{
		width:950px !important;
	}
	#reportDiv #boardCntn{
		height:300px;
		overflow:hidden;
		overflow-y: auto;
		overscroll-behavior: contain;
	}
	#boardCntn * {
		text-align: left;
	}
	
</style>
</head>
<body>
	<div layout:fragment="content">
		<h3><b>공지사항</b></h3>
		<br/>
		<div class="m-2">
		  	<button id="deleteBtn" class="btn btn-danger">삭제</button>			
		  	<button id="writeBtn" class="btn btn-primary">작성</button>
		</div>
		
		<div id="grid"></div>
		
		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
		<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
		<script>
			const dataSource = {
				contentType: 'application/json',
				api: {
					readData: {
	    				url:'/admin/noticeList',
	    				method:'GET' 
					}
				}
			};
	      
			const grid = new tui.Grid({
	             el: document.getElementById('grid'),
	             rowHeaders: ['rowNum','checkbox'],
	             data:dataSource,
	             scrollX: false,
	             scrollY: false,
	   		  	 pageOptions: {
	                 perPage: 5,
	             },
	             columns: [
					{
					     header: '공지번호',
					     name: 'notiNo',
					     filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
					},
					{
					   header: '제목',
					   name: 'ttl',
					   filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
						},
					{
					   header: '작성일시',
					   name:'drwupDt',
					   sortingType: 'asc',
					   sortable: true
					 }
				]
			});
	        
	        grid.on('dblclick',(ev) => {
	        	// 공지사항정보
	        	let notiNo = $('td[data-row-key='+ev.rowKey+'][data-column-name=notiNo]').children(0).text();
	        	//신고된 글 내용 불러오기
	        	$.ajax('noticeDetail?notiNo='+notiNo)
	        	.done(function(data){
	        		Swal.fire({
	            		title:'공지사항',
	            		html:`
	            			<div id="reportDiv">
	            			<table class="table h6">
								<tr>
									<th style="width:15%;">작성자</th>
									<td style="width:35%;">${data.nick}</td>
									<th style="width:15%;">작성일</th>
									<td style="width:35%;">${data.drwupDt}</td>
								</tr>
								<tr>
								<th>제목</th>
									<td colspan="3">
										<div id="boardTtl">
											<p style="text-align:left;">${data.ttl}</p>
										</div>
									</td>
								</tr>	
								<tr>
									<th>내용</th>
									<td colspan="3" class="text-left">
										<div id="boardCntn" >
											<textarea id="noticeContent">${data.cntn}</textarea>
										</div>
									</td>
								</tr>
							</table>
							</div>
							`,
						customClass: 'swal-cls',
						showCancelButton:true,
		    		    confirmButtonText: '수정',
						cancelButtonText:'취소',
	        		})
	        		.then((result) => {			
	        			if(result.isConfirmed){
	        				// 수정 기능
	        				Swal.fire('수정')
	        			}
	        		})//end of then

	        		let editor;
					
		    		ClassicEditor.create(document.querySelector('#noticeContent'), {
	    				language: "ko",
	    				ckfinder: {
	    					uploadUrl: '/image/upload'
	    				}
	    			})
	    			.then(newEditor => {
	    				editor = newEditor;
	    			})
	    			.catch(error => {
	    				console.error(error);
	    			});
		    		
		    		
	        		
	            })// end of done
	        });//end of dblclick 기능
	        	
	        	
		</script>
	</div>
</body>
</html>