<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link href="../admin/assets/css/style.css" rel="stylesheet" />
    <link
      href="../admin/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../admin/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="../admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="../admin/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="../admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="../admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../admin/toastui/tui-grid.css" />
    <link rel="stylesheet" href="../admin/toastui/tui-pagination.css" />
    <link rel="stylesheet" href="../admin/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"  />
	<script src="../admin/sweetalert2/sweetalert2.min.js"></script>
    <script src="../admin/toastui/tui-code-snippet.js"></script>
    <script src="../admin/toastui/tui-pagination.js"></script>
	<script src="../admin/toastui/sheetJS.js"></script>
	<script src="../admin/toastui/tui-grid.js"></script>
	<!-- Vendor JS Files -->
   
    <script src="../admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../admin/assets/vendor/quill/quill.min.js"></script>
	
    <!-- Template Main JS File -->
    <script src="../admin/assets/js/main.js"></script>
    <title>Insert title here</title>
  </head>
  <body>
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="/admin/memberManage" class="logo d-flex align-items-center">
          <img src="../admin/assets/img/logo.png" alt="" />
          <span class="d-none d-lg-block">어제 팔걸</span>
        </a>
      </div>
      <!-- End Logo -->

      <!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>
          <!-- End Search Icon-->

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span> </a
            ><!-- End Notification Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications"
            >
              <li class="dropdown-header">
                You have 4 new notifications
                <a href="#"
                  ><span class="badge rounded-pill bg-primary p-2 ms-2"
                    >View all</span
                  ></a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-exclamation-circle text-warning"></i>
                <div>
                  <h4>Lorem Ipsum</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>30 min. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-x-circle text-danger"></i>
                <div>
                  <h4>Atque rerum nesciunt</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>1 hr. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-check-circle text-success"></i>
                <div>
                  <h4>Sit rerum fuga</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>2 hrs. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-info-circle text-primary"></i>
                <div>
                  <h4>Dicta reprehenderit</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>4 hrs. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>
              <li class="dropdown-footer">
                <a href="#">Show all notifications</a>
              </li>
            </ul>
            <!-- End Notification Dropdown Items -->
          </li>
          <!-- End Notification Nav -->

          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>

    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a
          	id="adminMember"
            class="nav-link collapsed"
            data-bs-target="#components-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-menu-button-wide"></i><span>회원관리</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="components-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="/admin/memberManage?sideNumber=1">
                <i class="bi bi-circle"></i><span>회원관리</span>
              </a>
            </li>
            <li>
              <a href="/admin/reportManage?sideNumber=1">
                <i class="bi bi-circle"></i><span>신고관리</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Components Nav -->

        <li class="nav-item">
          <a
          	id="adminComm"
            class="nav-link collapsed"
            data-bs-target="#forms-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-journal-text"></i><span>커뮤니티</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="forms-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="/admin/adminNotice?sideNumber=2">
                <i class="bi bi-circle"></i><span>공지사항</span>
              </a>
            </li>
            <li>
              <a href="/admin/adminQNA?sideNumber=2">
                <i class="bi bi-circle"></i><span>FAQ/QnA</span>
              </a>
            </li>
            <li>
              <a href="/admin/adminBoard?sideNumber=2">
                <i class="bi bi-circle"></i><span>게시판</span>
              </a>
            </li>
            <li>
              <a href="/admin/adminChat?sideNumber=2">
                <i class="bi bi-circle"></i><span>익명 게시판</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Forms Nav -->

        <li class="nav-item">
          <a
          	id="adminMall"
            class="nav-link collapsed"
            data-bs-target="#tables-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i><span>포인트몰</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="tables-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="/admin/adminOrder?sideNumber=3">
                <i class="bi bi-circle"></i><span>주문처리관리</span>
              </a>
            </li>
            <li>
              <a href="/admin/adminProduct?sideNumber=3">
                <i class="bi bi-circle"></i><span>제품관리</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Tables Nav -->

        <li class="nav-heading">Pages</li>

        

        <!-- End F.A.Q Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/">
            <i class="bi bi-house-heart"></i>
            <span>home</span>
          </a>
        </li>
        <!-- End Contact Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/member/logout">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login/logout</span>
          </a>
        </li>
      </ul>
    </aside>
    <!-- End Sidebar-->
    <main id="main" class="main">
	    <div layout:fragment="content" id="contentSection">
			
		</div>
    </main>
    <!-- End #main -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="../commonJS/toast.js"></script>
	<script th:inline="javascript">
		let sideNumber = [[${sideNumber}]];
		if(sideNumber == 1){
			document.querySelector('#adminMember').click();
		}else if(sideNumber == 2){
			document.querySelector('#adminComm').click();
		}else if(sideNumber == 3){
			document.querySelector('#adminMall').click();
		}
	</script>
  </body>
</html>
