<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<title>To The Moon - adminChat</title>
</head>
<body>
	<div layout:fragment="content">
	<h3> 채팅 로그</h3>
	<div class="btn-group m-2" role="group" aria-label="Basic outlined example">
	  <button id="xlsxBtn" type="button" class="btn btn-outline-primary">xlsx</button>
	  <button id="csvBtn" type="button" class="btn btn-outline-primary">csv</button>
	  <button id="textBtn" type="button" class="btn btn-outline-primary">text</button>
	</div>
		<div id="grid"></div>
		
		<script th:inline="javascript">
		$('.btn-group').on('click','button',function(){
			if($(this).text() == 'xlsx'){
				grid.export('xlsx',options);
			}else if($(this).text() == 'csv'){
				grid.export('csv',options);
			}else if($(this).text() == 'text'){
				grid.export('text',options);
			}
		});
		
		let roomList = [[${roomList}]]?.length;
		if(roomList == 'undefined'){
			roomList = [];
		}else{
			roomList = [[${roomList}]]
		};
		
		console.log(roomList)
		const dataSource = {
	    		  contentType: 'application/json',
	    		  api: {
	    			  readData: {
	    				url:'/admin/chatList',
	    				method:'GET' 
	    			}
	    		  }
	    		};
		const options = {
				  includeHiddenColumns: true,
				  onlySelected: true,
				};
		
        const grid = new tui.Grid({
             el: document.getElementById('grid'),
             rowHeaders: ['rowNum'],
             data:dataSource,
             scrollX: false,
             scrollY: false,
             bodyHeight: 500,
             pageOptions: {
            	 type: 'scroll', 
            	    perPage: 50 
            	  },
             columns: [
            	   {
                     header: '채팅번호',
                     name: 'chatNo',
                     filter: { type: 'text', showApplyBtn: true, showClearBtn: true },
                     width:100
                   },
                 	{
                     header: '방번호',
                     name: 'roomNo',
                     filter: 'select', // Dropdown Filter로 설정
                     filterOptions: {
                       listItems: roomList,
                     },
                     width:100
                  	},
                   	{
                     header: '익명닉네임',
                     name: 'anonNick',
                     filter: { type: 'text', showApplyBtn: true, showClearBtn: true },
                     width:150
                 	},
                 	{
                     header: '닉네임',
                     name: 'nick',
                     filter: { type: 'text', showApplyBtn: true, showClearBtn: true },
                     width:150
                  	},
                  	{
                     header: '채팅내용',
                     name: 'cntn',
                     filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
                  	},
                  	{
                      header: '작성일시',
                      name:'drwupDt',
                      sortingType: 'asc',
                      sortable: true,
                      width:150,
                      filter:{
                    	  type:'date',
                    	  showApplyBtn: true,
                          showClearBtn: true
                      }
                    }
                 ],
                 columnOptions: {
                     resizable: true
                   }
               });
		</script>
	</div>
</body>
</html>