<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<title>adminOrder.html</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
</style>

</head>
<body id="body">
	<div layout:fragment="content">
	
		<!-- 주문처리 관리 테이블 -->
		<h3>주문처리 관리</h3>
		<div id="grid">
			<div class="m-2">
				<button id="updateBtn" class="btn btn-primary btn-sm">수정</button>
				<button id="deleteBtn" class="btn btn-danger btn-sm">삭제</button>
			</div>
		</div>


		<script>

     const dataSource = {
   		  contentType: 'application/json',
   		  api: {
   			  readData: {
   				url:'/admin/orderList',
   				method:'GET' 
   			}
   		  }
   		};
     
       const grid = new tui.Grid({
            el: document.getElementById('grid'),
            rowHeaders: ['rowNum','checkbox'],
            data:dataSource,
            scrollX: false,
            scrollY: false,
  		  	 pageOptions: {
  		  		 useClient:true,
                perPage: 5,
              },
            columns: [
           	 {
                 header: '주문번호',
                 name: 'orderNo',
                 filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
               },
              {
                header: '회원번호',
                name: 'membNo',
                filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
              },
             
              {
                  header: '주문상품',
                  name: 'nm',
                  filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
                },
             {
                 header: '주문금액	',
                 name: 'payAn',
                 filter: { type: 'text', showApplyBtn: true, showClearBtn: true }
                  },
               
              {
                header: '주문상태',
                name: 'orderSt',
                filter: 'select', // Dropdown Filter로 설정
                filterOptions: {
                  listItems: ['상품준비중', '배송완료', '주문취소', '환불', '배송중']
                },
                  editor:{
                 	 type:'select',
                 	 options:{
                 		 listItems:[
                 			 {
                 				 text:'상품준비중' ,
                 				 value:'상품준비중'
                 			 },
                 			 {
                 				 text:'배송완료' ,
                 				 value:'배송완료'
                 			 },
                 			 {
                 				 text:'주문취소' ,
                 				 value:'주문취소'
                 			 },
                 			 {
                 				 text:'환불' ,
                 				 value:'환불'
                 			 },
                 			 {
                 				 text:'배송중' ,
                 				 value:'배송중'
                 			 },
                 		 ]
                 	 }
                  },
                  
                  onAfterChange(ev) {
               	  console.log(ev)
               	   if(ev.value != '정상'){
               		   
               	  
               	   (async () => {
               		    await Swal.fire({
               		        title: '회원 활동정지',
               		        text: '정지 기간을 선택해주세요',
               		        input: 'select',
               		        inputOptions: {
               		            5: '5일정지',
               		            10: '10일정지',
               		            15: '15일정지',
               		            30: '30일정지'
               		          },
               		        showCancelButton: true,
               		        inputPlaceholder: '정지기간선택'
               		    }).then(result =>{
               		    	if(result.isConfirmed){
               		    		console.log(result.value);
               		    		let period = result.value;
               		    		let list = [$('td[data-row-key='+ev.rowKey+'][data-column-name=membNo]').children(0).text()];
               		    		let membNm = $('td[data-row-key='+ev.rowKey+'][data-column-name=nm]').children(0).text();
               		    		
               		    		$.ajax('/admin/memberBan?list='+list+'&period='+period).done(function(data){
               		    			if(data > 0){
               		    				Swal.fire(membNm+ ' 회원 '+ result.value+' 일 정지 성공')
               		    			}else{
               		    				Swal.fire('실패했습니다.')
               		    			}
               		    		});//end of ajax
               		    		
               		    	}else if(result.isDismissed){
                		    	if(ev.value != ev.prevValue){
	                		    	$('td[data-row-key='+ev.rowKey+'][data-column-name='+ev.columnName+']').children(0).text(ev.prevValue);
                		    	}
               		    	}
               		    })

               		})() 
               	   }else {
               		   let list = [$('td[data-row-key='+ev.rowKey+'][data-column-name=membNo]').children(0).text()];
      		    		   let membNm = $('td[data-row-key='+ev.rowKey+'][data-column-name=nm]').children(0).text();
      		    		   
               		   $.ajax('returnMemb?list='+list).done(function(data){
               			   if(data > 0){
               				   Swal.fire(membNm +' 회원의 정지상태가 해제되었습니다.');
               			   }else{
               				   Swal.fire('정지해제 실패..')
               			   }
               		   })
               	   }
                 }
              },
              {
                header: '주문일시',
                name: 'orderDt',
                sortingType: 'asc',
                sortable: true
              }
            ]
          });
     
       grid.on('check',(ev) =>{
       	console.log(ev.instance.store.data.rawData[ev.rowKey].orderNo);
       })
       

		</script>
	</div>
</body>
</html>