/* 홈페이지 메인 제품 목록  */
.content_area {
	width: 100%;
	min-height: 1000px;
}

.content_top {
	width: 100%;
	height: 400px;
}

.content_top:after {
	content: "";
	clear: both;
	display: table;
}

.title {
	height: 28%;
	font-size: 17px;
	line-height: 110px;
	color: #3a60df;
	padding-left: 3%;
}

.author {
	font-size: 16px;
	line-height: 50px;
	padding-left: 3%;
}

.price {
	line-height: 30px;
	padding: 2% 0 2% 3%;
}

.discount_price_number {
	line-height: 30px;
	font-size: 22px;
	color: #f84450;
	font-weight: bold;
}

.button_quantity {
	margin-bottom: 2%;
	cursor: pointer;
}

.button_quantity input {
	height: 26px;
	width: 40px;
	text-align: center;
	font-weight: bold;
}

.button_quantity button {
	border: 1px solid #aaa;
	color: #3a60df;
	width: 20px;
	height: 20px;
	padding: 3px;
	background-color: #fff;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
	
}
.plus_btn {
	 cursor: pointer;
}
.minus_btn {
	
	 cursor: pointer;
}
#openModalBtn {
	cursor: pointer;
	
}
.delete-review-btn{
	cursor: pointer;
	
}
.btn_cart {
	
	width: 130px;
	height: 40px;
	line-height: 40px;
    border: 1px #f0f1f400 solid;
    background-color: #ff3066b3;
    text-align: center;
    cursor: pointer;
    color: #fff;
	transition: all 0.9s, color 0.3;
}

.btn_cart:hover {
	color: #fff;
	box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.25) inset, -200px 0 0 0
		rgba(0, 0, 0, 0.25) inset;
}

.btn_buy {
	
	width: 130px;
	height: 40px;
	line-height: 40px;
    border: 1px #f0f1f400 solid;
    background-color: #ff30665c;
    text-align: center;
    cursor: pointer;
    color: #fff;
	transition: all 0.9s, color 0.3;
}
.btn_buy:hover {
	color: #fff;
	box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.25) inset, -200px 0 0 0
		rgba(0, 0, 0, 0.25) inset;
}

.content_middle {
	width: 100%;
	min-height: 600px;
}

.book_intro {
	width: 80%;
	margin: auto;
	margin-top: 40px;
}

.book_content {
	width: 80%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

/* float 속성 해제 */
.clearfix {
	clear: both;
}