<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="main/source/css/mainPage.css">
</head>
<body>
	<div layout:fragment="content">
		<div class="flex-block">
			<div>
				<div id="chart" class="flex-block">
					<section id="chartList" class="list-group">
						<a href="#" class="list-group-item list-group-item-action active" aria-current="true">..</a>
						<a href="#" class="list-group-item list-group-item-action">..</a>
						<a href="#" class="list-group-item list-group-item-action">..</a>
						<a href="#" class="list-group-item list-group-item-action">..</a>
					</section>
					<section id="chartContent">
					</section>
				</div>
				<div class="flex-block">
					<section id="ranking">
						<div class="Space">
							<div class="row">
								<div class="highRank">
									<h5 class="news-title">
										<span>농산물 랭킹</span>
									</h5>
								</div>
								<div class="lowRank">
									<h5 class="news-title">
										<span>수산물 랭킹</span>
									</h5>
								</div>
							</div>
						</div>
					</section>
					<section id="updown">
						<div class="Space">
							<div class="row">
								<div class="up">
									<h5 class="news-title">
										<span>상승 종목</span>
									</h5>
								</div>
								<div class="down">
									<h5 class="news-title">
										<span>하락 종목</span>
									</h5>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div>
				<div id="login">
					<div id="loginForm">
					<form action="userLogin" method="post">
						<input type="email" id="loginemail" class="form-control" th:name="id" placeholder="aaa111@aaa.com">
						<input type="password" id="loginPassword" class="form-control" th:name="pwd" placeholder="Password" >
						<button class="btn-primary" type="submit">Login</button>
						<section>
							<img src="main/source/images/Naver_logo.png" alt="naver_login" width=50px/>
							<img src="main/source/images/Kakao_logo.png" alt="kakao_login"  width=50px />
						</section>
					</form>
					</div>
				</div>			
				<div id="survey">
				
				</div>			
			</div>
		</div>
		<div id="mall">
		</div>
		<div class="flex-block">
			<section id="news" class="news-style-one">
				<div class="Space">
					<h3 class="news-title">
						<span>TRENDING NEWS</span>
					</h3>
					<div id="newsContent">
						
					</div>
				</div>
			</section>
			<section id="notice">
				<div class="Space">
					<h3 class="news-title">
						<span>NOTICE</span>
					</h3>
					<div>
						
					</div>
				</div>
			</section>
		</div>
		<div class="flex-block">
			<section id="freeboard">
				<div class="Space">
					<h3 class="news-title">
						<span>자유게시판</span>
					</h3>
					<div>
						
					</div>
				</div>
			</section>
			<section id="stockboard">
				<div class="Space">
					<h3 class="news-title">
						<span>주식게시판</span>
					</h3>
					<div>
						
					</div>
				</div>
			</section>
			<section id="qna">
				<div class="Space">
					<h3 class="news-title">
						<span>QnA</span>
					</h3>
					<div>
						
					</div>
				</div>
			</section>
		</div>
	<script>
		fetch("getNewsLists")
		.then(result=>result.json())
		.then(data=>{
			console.log(data);
			let newsContent = document.getElementById('newsContent');
			for(let i=0;i<6;i++){
				let p = document.createElement('p');
				let a = document.createElement('a');
				a.innerHTML=data.items[i].title;
				a.href=data.items[i].link;
				p.append(a);
				newsContent.append(p);
			}
			
		})
		.catch(err=>console.log(err));
	</script>
	</div>
</body>
</html>