<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>ToTheMoon</title>
<link rel="stylesheet" type="text/css" href="main/source/css/mainPage.css">
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="flex-block">
			<div>
				<div id="chart" class="flex-block">
					<section id="chartList" class="list-group">
						<a class="list-group-item list-group-item-action" th:each="stock:${mainChartList}" th:data-itemno="${stock.itemNo}">[[${stock.nm}]]</a>
					</section>
					<section id="chartContent">
						<div style="position: absolute;float:left;">
							<ul id="chartBtn" >
								<li><input class="btn btn-danger" type="button" value="일"></li>
								<li><input class="btn btn-danger" type="button" value="주"></li>
								<li><input class="btn btn-danger" type="button" value="월"></li>
								<li><input class="btn btn-danger" type="button" value="년"></li>
							</ul>
						</div>
						<div id="candleChart" ></div>
					</section>
				</div>
				<div class="flex-block">
					<section id="ranking">
						<ul class="nav nav-tabs">
							<li class="nav-item" style="width: 130px;">
								<a class="nav-link active" data-toggle="tab" href="#farm">농산물 랭킹</a>
							</li>
							<li class="nav-item" style="width: 130px;">
								<a class="nav-link" data-toggle="tab" href="#sea">수산물 랭킹</a>
							</li>
						</ul>
						<div class="tab-content tabSpace">
							<div class="tab-pane fade show active" id="farm">
								<table class="table-hover">
									<thead>
										<tr>
											<th>테마</th>
											<th style="width:40%;">이름</th>
											<th>현재가</th>
											<th>등락률</th>
										</tr>
									</thead>
									<tr class="stockDetail" th:each="farm:${farmRank}" th:data-itemno="${farm.itemNo}">
										<td>[[${farm.theme}]]</td>
										<td>[[${farm.nm}]]</td>
										<td th:text="${#numbers.formatInteger(farm.tprc, 0, 'COMMA')} +' P'"></td>
										<td th:class="${farm.rate>=0}?redCol:blueCol">[[${farm.rate}]]%</td>
									</tr>
								</table>
							</div>
							<div class="tab-pane fade" id="sea">
								<table class="table-hover">
									<thead>
										<tr>
											<th>테마</th>
											<th style="width:40%;">이름</th>
											<th>현재가</th>
											<th>등락률</th>
										</tr>
									</thead>
									<tr class="stockDetail" th:each="sea:${seaRank}" th:data-itemno="${sea.itemNo}">
										<td>[[${sea.theme}]]</td>
										<td>[[${sea.nm}]]</td>
										<td th:text="${#numbers.formatInteger(sea.tprc, 0, 'COMMA')} +' P'"></td>
										<td th:class="${sea.rate>=0}?redCol:blueCol">[[${sea.rate}]]%</td>
									</tr>
								</table>
							</div>
						</div>
					</section>
					<section id="updown">
						<ul class="nav nav-tabs">
							<li class="nav-item" style="width: 110px;">
								<a class="nav-link active" data-toggle="tab" href="#incStock">상승 종목</a>
							</li>
							<li class="nav-item" style="width: 110px;">
								<a class="nav-link" data-toggle="tab" href="#decStock">하락 종목</a>
							</li>
						</ul>
						<div class="tab-content tabSpace">
							<div class="tab-pane fade show active" id="incStock">
								<table class="table-hover">
									<thead>
										<tr>
											<th>테마</th>
											<th style="width:40%;">이름</th>
											<th>현재가</th>
											<th>등락률</th>
										</tr>
									</thead>
									<tr class="stockDetail" th:each="stock:${increaseStock}" th:data-itemno="${stock.itemNo}">
										<td>[[${stock.theme}]]</td>
										<td>[[${stock.nm}]]</td>
										<td th:text="${#numbers.formatInteger(stock.tprc, 0, 'COMMA')} +' P'"></td>
										<td th:class="${stock.rate>=0}?redCol:blueCol">[[${stock.rate}]]%</td>
									</tr>
								</table>
							</div>
							<div class="tab-pane fade" id="decStock">
								<table class="table-hover">
									<thead>
										<tr>
											<th>테마</th>
											<th style="width:40%;">이름</th>
											<th>현재가</th>
											<th>등락률</th>
										</tr>
									</thead>
									<tr class="stockDetail" th:each="stock:${decreaseStock}" th:data-itemno="${stock.itemNo}">
										<td>[[${stock.theme}]]</td>
										<td>[[${stock.nm}]]</td>
										<td th:text="${#numbers.formatInteger(stock.tprc, 0, 'COMMA')} +' P'"></td>
										<td th:class="${stock.rate>=0}?redCol:blueCol">[[${stock.rate}]]%</td>
									</tr>
								</table>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div>
				<div id="login">
					<div id="loginForm">
						<form th:if="${session.loggedInMember}==null" action="/member/login" method="post">
							<input type="email" id="loginemail" class="form-control" name="username" placeholder="aaa111@aaa.com">
							<input type="password" id="loginPassword" class="form-control" name="pwd" placeholder="Password" >
							<button class="btn-primary" type="submit">Login</button>
							<section>
								<a href="javascript:location.href='/oauth2/authorization/naver'"><img src="main/source/images/Naver_logo.png" alt="naver_login" width=250px height="56px" /></a>
							</section>
						</form>
						<div id="myInfo" th:unless="${session.loggedInMember}==null">
							<div id="infoText">
								<p><b><span th:text="${session.loggedInMember.nm}"></span>(<span th:text="${session.loggedInMember.nick}"></span>)</b> 님 환영합니다</p>
								<p th:text="${session.loggedInMember.id}"></p>
								<p><b>point : <span th:text="${#numbers.formatInteger(session.loggedInMember.point, 0, 'COMMA')}"></span>P</b></p>
							</div>
							<a href="/member/logout"><button class="btn-primary logout" type="button">LogOut</button></a>
							<div id="infoBtnBlock">
								<button class="btn infoBtn" type="button" onClick="myPageBtn()">MyPage</button>
								<button class="btn infoBtn" type="button" onClick="chargeBtn()">충전</button>
							</div>
						
						</div>
					</div>
				</div>			
				<div id="survey">
					<a href="/member/mysurvey"><img src="main/images/survey.png"></a>
				</div>			
			</div>
		</div>
		<div id="mall">
			<a href="/mall/mallMain"><img src="main/images/pointmall_banner.png"></a>
		</div>
		<div class="flex-block">
			<section id="news" class="news-style-one">
				<div class="Space">
					<h3 class="news-title">
						<span>TRENDING NEWS</span>
					</h3>
					<div id="newsContent">
						
					</div>
				</div>
			</section>
			<section id="notice">
				<div class="Space">
					<h3 class="news-title">
						<span>NOTICE</span>
					</h3>
					<div>
						<a th:each="notice:${noticeList}" th:href="@{/community/noticeDetail(notiNo=${notice.notiNo})}"><p th:text="${notice.ttl}"></p></a>
					</div>
				</div>
			</section>
		</div>
		<div class="flex-block">
			<section id="freeboard">
				<div class="Space">
					<h3 class="news-title">
						<span>자유게시판</span>
					</h3>
					<div>
						<a th:each="board:${freeBoardList}" th:href="@{/community/boardDetail(page=1,boardNo=${board.boardNo},commonCd=C1)}"><p th:text="${board.ttl}"></p></a>
					</div>
				</div>
			</section>
			<section id="stockboard">
				<div class="Space">
					<h3 class="news-title">
						<span>주식게시판</span>
					</h3>
					<div>
						<a th:each="board:${stockBoardList}" th:href="@{/community/boardDetail(page=1,boardNo=${board.boardNo},commonCd=C2)}"><p th:text="${board.ttl}"></p></a>					
					</div>
				</div>
			</section>
			<section id="qna">
				<div class="Space">
					<h3 class="news-title">
						<span>QnA</span>
					</h3>
					<div>
						<a th:each="qna:${qnaList}" th:href="@{/community/qnaDetail(qstNo=${qna.qstNo})}"><p th:text="${qna.ttl}"></p></a>
					</div>
				</div>
			</section>
		</div>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
	<script src="../stock/candleChart.js"></script>
	<script>
		fetch("getNewsLists")
		.then(result=>result.json())
		.then(data=>{
			let newsContent = document.getElementById('newsContent');
			for(let i=0;i<6;i++){
				let p = document.createElement('p');
				let a = document.createElement('a');
				a.innerHTML=data.items[i].title;
				a.href=data.items[i].link;
				a.target='_blank';
				p.append(a);
				newsContent.append(p);
			}
			
		})
		.catch(err=>console.log(err));
		
		function myPageBtn(){
			window.location.href="/member/mypage";
		}
		function chargeBtn(){
			window.location.href="/member/pointChargeForm";
		}
		$('.stockDetail').on('click',function(){
			window.location.href="/stock/chart?itemNo="+$(event.target).closest('tr').attr("data-itemno");
		})
		
		let itemNo='';
		let index=1;
		
		$(document).ready(function(){
			$('#chartList').children().eq(0).addClass('active');
			itemNo=$('#chartList').children().eq(0).attr('data-itemno');
			$('#candleChart').html(''); 
			$.ajax('/stock/dayChart?itemNo='+itemNo,{
				async:false
			}).done(function(chart){
	  			makeCandleChart(chart)
	  		})
	  			
			setInterval(() => {
				if($('#chartList').children().eq(index-1).hasClass('hover')===false){
					$('#chartList').children().eq(index)[0].click();					
					index++;
					if(index>$('#chartList').children().length-1){
						index=0;
					}
				}
			},5000);
		});
		
		$('#chart').hover(
			function(){
				$('#chartList .active').addClass('hover');
			},function(){
				$('#chartList .active').removeClass('hover');
			}
		);
		
		$('#chartList').children().on('click',function(){
			$('#chartList').children().removeClass('active');
			$(event.target).addClass('active');
			
			itemNo=event.target.dataset.itemno;
			
			if(index!=$(event.target).index()){
				$('#chartList').children().removeClass('hover');
				$(event.target).addClass('hover');
				index=$(event.target).index()+1;
				if(index>$('#chartList').children().length-1){
					index=0;
				}
			}
			
			$('#candleChart').html('');
			$.ajax('/stock/dayChart?itemNo='+itemNo,{
				async:false
			}).done(function(chart){
	  			makeCandleChart(chart)
	  		})
		});
		
		// 차트 버튼 기능
		$('#chartBtn').on('click','input',function(){	
			$(this).parent().parent().find('.orderActive').removeClass('orderActive');
			//클릭한 버튼 클래스 추가
			$(this).toggleClass('orderActive');
			
			if($(this).val()=='분'){
				// 가능하면 추가
			}else if($(this).val()=='일'){
				$('#candleChart').html('');
				$.ajax('/stock/dayChart?itemNo='+itemNo,{
					async:false
				}).done(function(chart){
		  			makeCandleChart(chart)
		  		})
			}else if($(this).val()=='주'){
				$('#candleChart').html('');
				$.ajax('/stock/weekMonthChart?itemNo='+itemNo+'&type=week',{
					async:false
				}).done(function(chart){
					makeCandleChart(chart)
				})
			}else if($(this).val()=='월'){
				$('#candleChart').html('');
				$.ajax('/stock/weekMonthChart?itemNo='+itemNo+'&type=month',{
					async:false
				}).done(function(chart){
					makeCandleChart(chart)
				})
			}else if($(this).val()=='년'){
				$('#candleChart').html('');
				$.ajax('/stock/weekMonthChart?itemNo='+itemNo+'&type=year',{
					async:false
				}).done(function(chart){
					makeCandleChart(chart)
				})
			}
		})
	</script>
	</div>
</body>
</html>