<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	#boardSection{
		padding-top: 50px;
		padding-bottom:50px;
	}
	#boardSection hr{
		margin-top: 10px;
	}
	#category{
		display: flex;
		justify-content:space-between;
	}
	.active{
		color:red;
	}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div id="boardSection">
			<h2 th:text="${boardName}">자유게시판</h2>
			<hr>
			<div id="category">
				<div>
					<button class="btn btn-dark  mt-3 mt-lg-0" type="button" id="allBoard">전체글</button>
					<button class="btn btn-dark  mt-3 mt-lg-0" type="button" id="bestBoard">인기글</button>
				</div>
				<div th:if="${boardName=='자유게시판'}">
					<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C101">드립</button>
					<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C102">일지</button>
					<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C103">자료</button>
					<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C104">질문</button>
				</div>
				<div th:if="${boardName=='주식게시판'}">
					<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C201">농산물</button>
					<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C202">수산물</button>
				</div>
				<div class="dropdown">
					<select class="btn btn-secondary dropdown-toggle" id="sort" name="sort">
						<option value="drwup_dt">작성일</option>
						<option value="inq">조회순</option>
						<option value="rcom">추천순</option>
					</select>
				</div>
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<td>글번호</td>
						<td>머리말</td>
						<td style="width:50%;">제목</td>
						<td>글쓴이</td>
						<td>작성일</td>
						<td>조회수</td>
					</tr>
				</thead>
				<tbody id="boardList">
					<tr th:each="board,idx:${boardList}" th:attr="data-boardno=${board.boardNo}">
						<td th:text=${idx.count}></td>
						<td th:text="${board.ctgr}"></td>
						<td th:text="${board.ttl}"></td>
						<td th:text="${board.nick}"></td>
						<td th:text="${board.drwupDt}"></td>
						<td th:text="${board.inq}"></td>
					</tr>
				</tbody>
			</table>
			<hr>
			<div>
			<button class="btn btn-primary  mt-3 mt-lg-0 pull-right" type="button">글쓰기</button>
			</div>
			<div class="text-center">
				<ul class="pagination">
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
				</ul>
			</div>
		</div>
		
	<script th:inline="javascript">
		let currentState=[[${boardCode}]];
		let currentRcom=0;
		let items=["ctgr","ttl","nick","drwupDt","inq"];
		
		// 전체글 버튼 클릭
		allBoard.addEventListener('click',function(){
			currentState=[[${boardCode}]];
			currentRcom=0;
			fetch("/community/getBoardList",{
				method: "POST",
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: 'commonCd='+currentState
			})
			.then(result=>result.json())
			.then(data=>{
				let tbody = document.getElementById("boardList");
				while(tbody.firstChild){
					tbody.firstChild.remove();
				}
				data.forEach((board,index)=>{
					let tr = document.createElement('tr');
					tr.setAttribute('data-boardno',board.boardNo);
					let td = document.createElement('td');
					td.textContent=index+1;
					tr.append(td);
					for(let item of items){
						let td = document.createElement('td');
						td.textContent=board[item];
						tr.append(td);
					}
					tbody.append(tr);
				})
			})
			.catch(err=>console.log(err));	
		})
		
		// 인기글 클릭
		bestBoard.addEventListener('click',function(){
			currentRcom=30;
			fetch("/community/getBoardList",{
				method: "POST",
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: 'commonCd='+currentState+'&rcom='+currentRcom
			})
			.then(result=>result.json())
			.then(data=>{
				let tbody = document.getElementById("boardList");
				while(tbody.firstChild){
					tbody.firstChild.remove();
				}
				data.forEach((board,index)=>{
					let tr = document.createElement('tr');
					tr.setAttribute('data-boardno',board.boardNo);
					let td = document.createElement('td');
					td.textContent=index+1;
					tr.append(td);
					for(let item of items){
						let td = document.createElement('td');
						td.textContent=board[item];
						tr.append(td);
					}
					tbody.append(tr);
				})
			})
			.catch(err=>console.log(err));	
		})
		
		// 카테고리 클릭
		document.querySelectorAll(".ctgr").forEach(ctgr=>
			ctgr.addEventListener('click',function(){
				//document.querySelector(".active").classList.remove('active');
				currentState = ctgr.getAttribute('data-common-cd');
				fetch("/community/getBoardList",{
					method: "POST",
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					},
					body: 'commonCd='+currentState+'&rcom='+currentRcom
				})
				.then(result=>result.json())
				.then(data=>{
					let tbody = document.getElementById("boardList");
					while(tbody.firstChild){
						tbody.firstChild.remove();
					}
					data.forEach((board,index)=>{
						let tr = document.createElement('tr');
						tr.setAttribute('data-boardno',board.boardNo);
						let td = document.createElement('td');
						td.textContent=index+1;
						tr.append(td);
						for(let item of items){
							let td = document.createElement('td');
							td.textContent=board[item];
							tr.append(td);
						}
						tbody.append(tr);
					})
				})
				.catch(err=>console.log(err));	
			})
		)
		
		// 정렬 드롭다운
		sort.addEventListener("change",function(){
			fetch("/community/getBoardList",{
				method: "POST",
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: 'commonCd='+currentState+'&rcom='+currentRcom+'&order='+this.value
			})
			.then(result=>result.json())
			.then(data=>{
				let tbody = document.getElementById("boardList");
				while(tbody.firstChild){
					tbody.firstChild.remove();
				}
				data.forEach((board,index)=>{
					let tr = document.createElement('tr');
					tr.setAttribute('data-boardno',board.boardNo);
					let td = document.createElement('td');
					td.textContent=index+1;
					tr.append(td);
					for(let item of items){
						let td = document.createElement('td');
						td.textContent=board[item];
						tr.append(td);
					}
					tbody.append(tr);
				})
			})
			.catch(err=>console.log(err));
		})
		
		
	</script>
	</div>
</body>
</html>