<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../community/css/board.css">
</head>
<body>
	<div layout:fragment="content">
		<div id="boardSection">

			<h1 class="news-title" id="titlename">
				<span th:text="${boardName}">NOTICE</span>
			</h1>
			<div id="boardDiv" th:fragment="myBoardList">
				<div id="category">
					<div class="categoryBtn">
						<button class="btn btn-dark  mt-3 mt-lg-0" type="button" id="allBoard">전체글</button>
						<button class="btn btn-dark  mt-3 mt-lg-0" type="button" id="bestBoard">인기글</button>
					</div>
					<div class="categoryBtn">
						<div th:if="${boardName=='자유게시판'}">
							<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C101">드립</button>
							<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C102">일지</button>
							<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C103">자료</button>
							<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C104">질문</button>
						</div>
						<div th:if="${boardName=='주식게시판'}">
							<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C201">농산물</button>
							<button class="btn btn-secondary  mt-2 mt-lg-0 ctgr" type="button" data-common-cd="C202">수산물</button>
						</div>
					</div>
					<div class="dropdown categoryBtn">
						<select class="btn btn-secondary dropdown-toggle" id="sort" name="sort">
							<option value="drwup_dt">작성일</option>
							<option value="inq">조회순</option>
							<option value="rcom">추천순</option>
						</select>
					</div>
				</div>
	
				<table class="table table-hover">
					<thead>
						<tr>
							<td>글번호</td>
							<td>테마</td>
							<td style="width:50%;">제목</td>
							<td>글쓴이</td>
							<td>작성일</td>
							<td>조회수</td>
						</tr>
					</thead>
					<tbody id="boardList">
	
					</tbody>
				</table>
				<hr>
				<div class="d-flex justify-content-end">
					<button th:if="${session.loggedInMember}!=null" class="btn btn-primary mt-3 mt-lg-0" id="insertBoard" onclick="insertBoardFunc()" type="button">글쓰기</button>
				</div>
				<div>
					<nav aria-label="Page navigation example" class="d-flex justify-content-center">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" id="firstpage" href="javascript:firstPage()" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item">
								<a class="page-link" id="prevpage" href="javascript:prevPage()" aria-label="Previous">
									<span aria-hidden="true">&lt;</span>
								</a>
							</li>
							<!-- 페이징버튼 들어갈 공간 -->
						    <li class="page-item">
								<a class="page-link" id="nextpage" href="javascript:nextPage()" aria-label="Next">
									<span aria-hidden="true">&rt;</span>
								</a>
							</li>
						    <li class="page-item">
								<a class="page-link" id="lastpage" href="javascript:lastPage()" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	<script th:inline="javascript" th:fragment="myScript">
		//초기값
		let currentState=[[${boardCode}]];
		let currentRcom=0;
		let currentOrder='drwup_dt';
		let targetPage = [[${startPage}]];
		let startPage=1;
		let endPage=10;
		let totalBoardCnt;
		let items=["ctgr","ttl","nick","drwupDt","inq"];
		
		// 초기 게시판 목록
		getBoardList();
		// 페이징 버튼 생성
		createPageBtn();
		
		// 게시판 목록 출력
		function getBoardList(){
			fetch("/community/getBoardList",{
				method: "POST",
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: 'commonCd='+currentState+'&rcom='+currentRcom+'&order='+currentOrder+'&page='+targetPage
			})
			.then(result=>result.json())
			.then(data=>{
				let tbody = document.getElementById("boardList");
				while(tbody.firstChild){
					tbody.firstChild.remove();
				}
				data.forEach((board,index)=>{
					let tr = document.createElement('tr');
					tr.setAttribute('data-boardno',board.boardNo);
					let td = document.createElement('td');
					td.textContent=index+1+(targetPage-1)*10;
					tr.append(td);
					for(let item of items){
						let td = document.createElement('td');
						td.textContent=board[item];
						if(item=="ttl"){
							if(board["cntn"].indexOf("img")>=0){
								let img=document.createElement('img');
								img.src= "../image/imageIcon.png";
								img.style.height="16px";
								td.append(img);
							}
						}
						tr.append(td);
					}
					tbody.append(tr);
				})
			})
			.catch(err=>console.log(err));
		}

		// 페이징위해 게시물 개수생성 및 페이지생성 호출
		function createPageBtn(){
			fetch("/community/getBoardCount",{
				method: "POST",
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: 'commonCd='+currentState+'&rcom='+currentRcom
			})
			.then(result=>result.json())
			.then(data=>{
				totalBoardCnt=data;
				if(totalBoardCnt<=100){
					endPage=~~((totalBoardCnt-1)/10 + 1);
				}
				if(totalBoardCnt>100){
					nextpage.style.visibility="visible";
				}
				createPageCntBtn(startPage,endPage);
			})			
		}
		
		// 페이징 버튼생성
		function createPageCntBtn(start,end){
			if(document.querySelectorAll('.pagebtn')!=null){
				document.querySelectorAll('.pagebtn').forEach(item=>{
					item.remove();
				})
			}
			for(let i=start;i<=end;i++){
				let liTag = document.createElement('li');
				liTag.classList.add('page-item','pagebtn');
				if(i%10==targetPage){
					liTag.classList.add('active');
				}
				let aTag = document.createElement('a');
				aTag.classList.add('page-link');
				aTag.href="javascript:pageMove("+i+");";
				aTag.textContent=i;
				liTag.append(aTag);
				nextpage.before(liTag);
			}
		}
		
		// 페이징 버튼클릭
		function pageMove(page){
			document.querySelector('.pagebtn.active').classList.remove('active');
			targetPage=page;
			getBoardList();
			document.querySelectorAll('.pagebtn').forEach(item=>{
				if(item.children[0].textContent==page){
					item.classList.add('active');
				}
			})
		}
		
		// 페이징 < 버튼 클릭
		function prevPage(){
			nextpage.style.visibility="visible";
			startPage-=10;
			endPage-=10;
			if(startPage==1){
				prevpage.style.visibility="hidden";
			}
			createPageCntBtn(startPage,endPage);
			pageMove(startPage);
		}
		
		// 페이징 > 버튼 클릭
		function nextPage(){
			prevpage.style.visibility="visible";
			startPage+=10;
			endPage+=10;
			if(endPage>=~~((totalBoardCnt-1)/10+1)){
				endPage=~~((totalBoardCnt-1)/10+1);
				nextPage.style.visibility="hidden";
			}
			createPageCntBtn(startPage,endPage);
			pageMove(startPage);
		}
		
		function firstPage(){
			startPage=1;
			if(endPage>10){
				endPage=10;
			}
			createPageCntBtn(startPage,endPage);
			pageMove(startPage);
		}
		
		function lastPage(){
			if(endPage>10){
				endPage=~~((totalBoardCnt-1)/10 + 1);
			}
			startPage=endPage-endPage%10+1;
			createPageCntBtn(startPage,endPage);
			pageMove(endPage);
		}
		
		// 전체글 버튼 클릭이벤트
		allBoard.addEventListener('click',function(){
			currentState=[[${boardCode}]];
			currentRcom=0;
			sort.children[0].selected=true;
			currentOrder='drwup_dt';
			targetPage = 1;
			startPage=1;
			endPage=10;
			$("#sort option[value=drwup_dt]").attr('selected', 'selected');
			getBoardList();
			createPageBtn();
		})
		
		// 인기글 클릭이벤트
		bestBoard.addEventListener('click',function(){
			currentRcom=30;
			sort.children[0].selected=true;
			currentOrder='drwup_dt';
			targetPage = 1;
			startPage=1;
			endPage=10;
			getBoardList();
			createPageBtn();
		})
		
		// 카테고리 클릭이벤트
		document.querySelectorAll(".ctgr").forEach(ctgr=>
			ctgr.addEventListener('click',function(){
				sort.children[0].selected=true;
				currentOrder='drwup_dt';
				targetPage = 1;
				startPage=1;
				endPage=10;
				currentState = ctgr.getAttribute('data-common-cd');
				getBoardList();
				createPageBtn();
			})
		)
		
		// 정렬 드롭다운 변경 이벤트
		sort.addEventListener("change",function(){
			targetPage = 1;
			startPage=1;
			endPage=10;
			currentOrder=this.value;
			getBoardList();
			createPageBtn();
		})
		
		// 게시물 클릭 -> 게시물 상세
		$("#boardList").on('click','td',function(){
			if(event.target.tagName=="IMG")
				return;
			let boardNo=event.target.parentNode.dataset.boardno;
			window.location.href="/community/boardDetail?page="+targetPage+"&boardNo="+boardNo+"&commonCd="+[[${boardCode}]];
		})
		
		// 글쓰기 버튼 클릭
		function insertBoardFunc(){
			window.location.href="/community/addBoard?ctgr="+[[${boardName}]]+"&commonCd="+[[${boardCode}]];
		}
		
		
		

		
	</script>
	
	</div>
</body>
</html>