<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
#boardSection {
	padding-top: 50px;
	padding-bottom: 50px;
}

#titlename {
	font-size: 30px;
}

#titlename span {
	line-height: 46px;
}

#titlename span:after {
	width: 150px;
}
#writer{
	display: flex;
}
#writer input,select{
	width:
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div id="boardSection">
			<h1 class="news-title" id="titlename">
				<span th:text="${boardInfo.ctgr}">NOTICE</span>
			</h1>
			<form id="form" enctype="multipart/form-data" onsubmit="return false">
				<div class="form-group row">
					<label for="title" class="col-sm-2 col-form-label"><strong>제목</strong></label>
					<div class="col-sm-10">
						<input type="text" name="title" class="form-control" id="title" ></input>
					</div>
				</div>
				<div class="form-group row">
						<label for="memberId" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
					<div class="col-sm-10" id="writer">
						<input type="text" name="memberName" class="form-control" id="memberName" th:value="${session.loggedInMember.nick}" readonly>
						<label for="sort" class="col-sm-2 col-form-label"><strong>카테고리</strong></label>
						<select class="form-control dropdown-toggle" id="sort" name="sort">
							<option th:each="item:${category}" th:value="${item.commonCd}" th:text="${item.ctgr}">카테고리</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="contents" class="col-sm-2 col-form-label"><strong>내용</strong></label>
					<div class="col-sm-10">
						<textarea name="contents" class="form-control" id="contents"></textarea>
					</div>
				</div>
				<div class="form-group row">
					<label for="files" class="col-sm-2 col-form-label"><strong>첨부 파일</strong></label>
					<div class="col-sm-10">
						<div class="custom-file" id="inputFile">
							<input name="files" id="files" type="file" multiple="multiple" class="custom-file-input"> 
							<label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
						</div>
					</div>
					<div id="fileList" style="margin: 40px;">
						<strong>첨부파일 : </strong> <br>
						<div id=uploadFileList></div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-auto mr-auto"></div>
					<div class="col-auto">
						<button id="btnSave" class="btn btn-primary">저장</button>
						<button id="btnCancel" class="btn btn-light">취소</button>
					</div>
				</div>
			</form>

		</div>
		<script src="/js/ckeditor/ckeditor.js"></script>
		<script type="text/javascript" th:inline="javascript">
			$(function() {
				CKEDITOR.replace(
					'contents',
					{
						filebrowserUploadUrl : '/common/ckeditor/fileUpload',
						font_names : "맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana",
						font_defaultLabel : "맑은 고딕/Malgun Gothic",
						fontSize_defaultLabel : "12",
						skin : "moono-dark",
						language : "ko"
					}
				);
				$("#files").on("change", function(e) {
					inputFile(e);
				});

				$("#btnSave").on("click", function() {
					saveGallery();
				});
				
				$("#btnCancel").on("click", function() {
					window.history.back();
				});
			});
			
			var fileCount = 0;
			var totalCount = 10;
			var fileNum = 0;
			var inputFileList = new Array();
			var deleteFileList = new Array();
			
			function inputFile(e) {
				
				var files = e.target.files;

				var filesArr = Array.prototype.slice.call(files);

				if (fileCount + filesArr.length > totalCount) {
					alert('파일은 최대 ' + totalCount + '개까지 업로드 할 수 있습니다.');
					return;
				} else {
					fileCount = fileCount + filesArr.length;
				}

				filesArr.forEach(function(f) {
					var reader = new FileReader();
					reader.onload = function(e) {
						inputFileList.push(f);
						$('#uploadFileList').append('<div id="file' + fileNum + '">' 
								+ '<span style="font-size:15px">' + f.name + '</span>'
								+ '&nbsp;<button type="button" onclick="fileDelete(\'file' + fileNum + '\')" class="btn btn-danger btn-xs">X</button><div/>');
						fileNum++;
					};
					reader.readAsDataURL(f);
				});
				$("#files").val("");
			}

			function deleteFile(elem) {
				
				console.log(elem.value);
				$(elem).parent().remove();
				
				if (!deleteFileList.includes(elem.value)) {
					deleteFileList.push(elem.value);
				}
			}

			function fileDelete(fileNum) {
				
				var no = fileNum.replace(/[^0-9]/g, "");
				inputFileList[no].is_delete = true;
				$('#' + fileNum).remove();
				fileCount--;
			}


			function saveGallery() {
				
				if (!confirm("저장하시겠습니까?")) {
					return;
				}

			 	var formData = new FormData($("form")[0]);
			 	
				formData.append("deleteFiles", deleteFileList);
				formData.set("contents", CKEDITOR.instances.contents.getData());

				for (var i = 0; i < inputFileList.length; i++) {
					if(!inputFileList[i].is_delete){
						 formData.append("files", inputFileList[i]);
					}
				}

				for (var pair of formData.entries()) { 
					console.log(pair[0]+ ', ' + pair[1]); 
				}
				
				$.ajax({
					type : "POST",
					enctype : "multipart/form-data",
					url : "/gallery",
					data : formData,
					dataType:"json",
					processData : false,
					contentType : false,
					success : function(result) {
						if (result.response == "OK") {
							alert("저장되었습니다.");
							location.href = "/community/boardList?commonCd="+[[${boardInfo.commonCd}]];
						} else {
							alert(result.errorMsg);
						}
					},
				});
			}
			
		</script>
	</div>
</body>
</html>