<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
#qnaSection {
	padding-top: 50px;
	padding-bottom: 50px;
}

#titlename {
	font-size: 30px;
}

#titlename span {
	line-height: 46px;
}

#titlename span:after {
	width: 150px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div id="qnaSection">
			<h1 class="news-title" id="titlename">
				<span>QnA 수정</span>
			</h1>
			<form id="myForm" onsubmit="return false">
				<div class="form-group row">
					<label for="ttl" class="col-sm-2 col-form-label"><strong>제목</strong></label>
					<div class="col-sm-10">
						<input th:value="${qnaInfo.ttl}" type="text" name="ttl" class="form-control" id="ttl"></input>
					</div>
				</div>
				<div class="form-group row">
					<label for="memberId" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
					<div class="col-sm-10" id="writer">
						<input type="text" name="nick" class="form-control" id="nick"
							th:value="${session.loggedInMember.nick}" readonly> 
					</div>
				</div>
				<div class="form-group row">
					<label for="contents" class="col-sm-2 col-form-label"><strong>내용</strong></label>
					<div class="col-sm-10">
						<textarea name="cntn" class="form-control" id="cntn">[[${qnaInfo.cntn}]]</textarea>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-auto mr-auto"></div>
					<div class="col-auto">
						<button id="btnSave" class="btn btn-danger">저장</button>
						<button id="btnCancel" class="btn btn-secondary">취소</button>
					</div>
				</div>
			</form>

		</div>
		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
		<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
		<script type="text/javascript" th:inline="javascript">

		let editor;

		
		ClassicEditor.create(document.querySelector('#cntn'), {
				language: "ko",
				ckfinder: {
					uploadUrl: '/image/upload'
				}
			})
			.then(newEditor => {
				editor = newEditor;
			})
			.catch(error => {
				console.error(error);
			});

		//ckEditor 데이터 가져오기
		$('#btnSave').on('click', function () {
			if(ttl.value==""||ttl.value==null){
				toastShow("There is no title" , "제목이 없습니다" , "error");
				return;
			}
			
			let ckData = editor.getData()
			if(ckData==""||ckData==null){
				toastShow("There is no content" , "내용이 없습니다" , "error");
				return;
			}
				
			let formData = $('#myForm').serializeObject();
			formData.cntn = ckData;
			formData.qstNo=[[${qnaInfo.qstNo}]];
						
			$.ajax({
				url:'modifyQna',
				method : "POST",
				data : formData
			})
			.done(function(result){
				window.location.href="/community/questionList";
			})
			.fail(function(result){
				// 알림 띄울 부분;
			})			
		});
		
		btnCancel.addEventListener('click',function(){
			if(confirm("글 작성을 취소 하시겠습니까?"))
				window.location.href="/community/boardList?commonCd="+[[${boardInfo.commonCd}]];
		});
		</script>
	</div>
</body>
</html>