<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>ToTheMoon - 공지사항 상세</title>
<style>
	#noticeSection{
		padding-top: 50px;
		padding-bottom:50px;
	}
	#titlename{
		font-size: 30px;
	}
	#titlename span{
		line-height: 46px;
	}
	#titlename span:after{
		width:120px;
	}
	hr{
		margin: 10px 0;
	}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div id="noticeSection">
			<h1 class="news-title" id="titlename">
				<span>공지사항</span>
			</h1>
			<div id="noticeContent">
				<div class="d-flex justify-content-between">
					<h3 th:text="${notice.ttl}">제목</h3>
					<div class="d-flex justify-content-between">
						<p>[[${#dates.format(notice.drwupDt,'yyyy-MM-dd')}]]&nbsp&nbsp&nbsp</p>
						<p>조회수 <span>[[${notice.inq}]]</span></p>					
					</div>
				</div>
				<hr>
				<div class="d-flex justify-content-end">
					<div class="dropdown" th:if="${#lists.size(attachList)>0}">
						<button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
							첨부파일 ([[${#lists.size(attachList)}]])
						</button>
						<ul class="dropdown-menu">
							<li th:each="attach:${attachList}">
								<a class="dropdown-item attachList" th:href="|/downloadFile?savename=${attach.atchNm}&originname=${attach.atchOriginNm}|">[[${attach.atchOriginNm}]]</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="contentBody">
					
				</div>
				<hr>
				<div class="d-flex justify-content-end">
					<button class="btn btn-light mt-3 mt-lg-0" type="button" onClick="indexList()">목록으로</button>
				</div>
			</div>
		</div>
		
		<script th:inline="javascript">
			contentBody.innerHTML=[[${notice.cntn}]];
			
			//목록으로
			function indexList(){
				window.location.href="/community/noticeList";
			}
		</script>
	</div>
</body>
</html>