<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.admin.mapper.AdminMapper">
	<select id="getMembList" resultType="MembManageVO">
	 	 select m.memb_no , nm , id,decode(stop_no,null,'정상','활동중지') state, join_dt
         from member m left join ( select *
                                  from stop_yn
                                  where end_dt > sysdate
                                  ) s
         on m.memb_no = s.memb_no
         order by join_dt
	</select>
	<!-- 멤버 전체수 -->
	<select id="membCnt" resultType="int">
		select count(*)
		from member
	</select>
	
	<!-- 회원 정지기간 설정 -->
	<insert id="memberBan">
		 insert into stop_yn (STOP_NO,
                             MEMB_NO,
                             START_DT,
                             END_DT,
                             STOP_PERIOD)
        values ('stp-'||stop_seq.nextval,
        		#{membNo},
        		sysdate,
        		sysdate+#{period},
        		#{period})
	</insert>
	
	<!-- 회원삭제 -->
	<delete id="deleteMember" parameterType="list">
		delete from member
		where memb_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</delete>
	
	<!-- 회원 상태 정상설정 -->
	<update id="returnNorm"  >
		update stop_yn
		set end_dt = sysdate
		where memb_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
		<![CDATA[
		and end_dt > sysdate
		]]>
	</update>
	
	<!-- 정지된 회원 조회 -->
	<select id="bannedMemb" resultType="String">
		select memb_no
		from stop_yn
		where end_dt > sysdate
	</select>
	
	<!-- 정지기간 추가 -->
	<update id="addBanPeriod">
	
		update stop_yn
		set end_dt = end_dt + #{period}
		, stop_period = stop_period + #{period}
		where memb_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
		<![CDATA[
		and end_dt > sysdate
		]]>
	</update>
	
	<!-- 신고된 글 리스트 -->
	<select id="reportList" resultType="ReportVO">
		select rprt_no ,rprt_st, accused , plaintiff, category , drwup_dt
        from report
        order by rprt_st , drwup_dt desc
	</select>
	<!-- 신고글 개수 -->
	<select id="reportCnt">
		select count(rprt_no)
		from report
	</select>
	
	<!-- 피고 글 -->
	<select id="getReportBoard" >
		select b.memb_no , m.nm nick, ttl , cntn , drwup_dt  
		from board b join member m
		on b.memb_no = m.memb_no
		where board_no = #{boardNo}
	</select>
	<!-- 피고 댓글 -->
	<select id="getReportComments" resultType="CommentsVO">
		select cntn , drwup_dt , memb_no 
		from comments 
		where memb_no = #{accused}
		and board_no = #{boardNo}
		order by drwup_dt
	</select>
	
	<!-- 신고번호로 글번호 조회 -->
	<select id="rprtNoGetBNo">
		select board_no 
		from report
		where rprt_no = #{rprtNo}
	</select>
	
	<!-- 신고글 처리상태 변경 -->
	<update id="rprtStChange" >
		update report
		set rprt_st = 'Y'
		where rprt_no = #{rprtNo}
	</update>
	
	<!-- 신고글 삭제 -->
	<delete id="deleteReport" >
		delete from report
		where rprt_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</delete>
	
	<!-- 공지사항 조회 -->
	<select id="noticeList" resultType="NoticeVO">
		select noti_no , ttl , drwup_dt 
	    from notice
	    order by drwup_dt desc
	</select>
	<!-- 공지사항 전체수 -->
	<select id="noticeTotal">
		select count(noti_no)
		from notice
	</select>
	
	<!-- 공지사항 1건 조회 -->
	<select id="noticeDetail" resultType="NoticeVO">
		select noti_no , ttl , cntn , drwup_dt , nm nick, n.memb_no
		from notice n join member m 
		on n.memb_no = m.memb_no
		where noti_no = #{notiNo}
	</select>
	
	<!-- faq 글 리스트 -->
	<select id="faqList" resultType="FaqVO">
		select *
	  	from faq
	  	order by to_number(substr(faq_no,5)) desc
	</select>
	<!-- faq 개수 -->
	<select id="faqTotal">
		select count(faq_no)
		from faq
	</select>
	
	<!-- qna 글 리스트 -->
	<select id="qnaList" resultType="QuestionVO">
		select qst_no , q.memb_no , ttl , cntn ,drwup_dt , rply , rply_dt , nick , decode(rply , null , 'N' , 'Y' ) state
        from question q join member m 
        on q.memb_no = m.memb_no
        order by drwup_dt desc
	</select>
	<!-- qna 개수 -->
	<select id="qnaTotal">
		select count(qst_no)
		from question
	</select>
	
	<!-- board 글 리스트 -->
	<select id="boardList" resultType="BoardVO">
		select board_no , b.memb_no , nick , ttl, drwup_dt , rcom , nrcom ,h_ctgr, ctgr
        from board b join member m
        on b.memb_no = m.memb_no
        join common_code c on c.common_cd = b.common_cd
        order by drwup_dt desc
	</select>
	<!-- board 개수 -->
	<select id="boardTotal">
		select count(board_no)
        from board
	</select>
            
    <!-- chat 로그 리스트 -->
	<select id="chatList" resultType="ChatVO">
		select chat_no ,room_no,anon_nick, cntn ,nick , drwup_dt
        from chat c join member m 
        on c.memb_no = m.memb_no
        order by drwup_dt desc
	</select>
	<!-- chat 로그 개수 -->
	<select id="chatTotal">
		select count(chat_no)
        from chat
	</select>
    
    <!-- 공지사항 추가 -->
    <insert id="addNotice">
    	insert into notice (NOTI_NO,
							MEMB_NO,
							TTL,
							CNTN,
							DRWUP_DT,
							INQ)
		values ('not-'||noti_seq.nextval,
				#{membNo},
				#{ttl},
				#{cntn},
				sysdate,
				0)	
				
	 <selectKey keyProperty="notiNo" resultType="String" order="AFTER">
	    SELECT 'not-'||noti_seq.currval AS notiNo FROM DUAL
	 </selectKey>	
    	
    </insert>
    
    <!-- 공지사항 수정 -->
    <update id="modifyNotice" >
    	update notice
    	set ttl = #{ttl}
    		,cntn = #{cntn}
    	where noti_no = #{notiNo}
    </update>
    
    <!-- 공지사항 삭제 -->
	<delete id="deleteNotice" >
		delete from notice
		where noti_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</delete>
	
	<!-- faq 글 조회 -->
	<select id="faqDetail" resultType="FaqVO">
		select *
		from faq
		where faq_no = #{faqNo}
	</select>
	
	<!-- qna 글 조회 -->
	<select  id="qnaDetail" resultType="QuestionVO">
		select qst_no , q.memb_no , ttl , cntn ,drwup_dt , rply , rply_dt , nick
        from question q join member m 
        on q.memb_no = m.memb_no
		where qst_no = #{qstNo}
	</select>
	
	<!-- faq 수정 -->
	<update id="modifyFaq">
		update faq
		set ttl =#{ttl} ,
		    cntn=#{cntn} ,
		    category=#{category} 
		where faq_no = #{faqNo}
	</update>
	
	<!-- qna 수정 -->
	<update id="modifyQna">
		update question
		set rply = #{rply},
			rply_dt = sysdate
		where qst_no = #{qstNo}
	</update>
	
	<!-- faq 삭제 -->
	<delete id="deleteFaq" >
		delete from faq
		where faq_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</delete>
	<!-- qna 삭제 -->
	<delete id="deleteQna" >
		delete from question
		where qst_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</delete>
	
	<!-- faq 작성 -->
	<insert id="addFaq">
		insert into faq ( faq_no ,
						  ttl ,
						  cntn , 
						  category )
		values ( 'faq-'||faq_seq.nextval ,
				 #{ttl},
				 #{cntn},
				 #{category})
	</insert>
	
	<!-- board 상세 -->
	<select id="boardDetail" resultType="BoardVO">
		select board_no , b.memb_no , nick , ttl, drwup_dt , rcom , nrcom ,h_ctgr, ctgr , cntn
        from board b join member m
        on b.memb_no = m.memb_no
        join common_code c on c.common_cd = b.common_cd
        where board_no = #{boardNo}
	</select>
	<!-- board 삭제 -->
	<delete id="deleteBoard">
		delete from board
		where board_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</delete>
	
	<!-- 방번호 가져오기 -->
	<select id="getRoomList" resultType="String">
		select room_no
        from chat_room
	</select>
	
	<!-- 첨부파일 가져오기 -->
	<select id="getNoticeAttachList" resultType="AttachVO">
		SELECT *
		FROM ATTACH_FILE
        where noti_no = #{notiNo}
	</select>
	
	<!-- order 글 리스트 -->
	<select id="orderList" resultType="OrderVO">
		select o.order_no , o.memb_no , p.nm , o.pay_an, o.order_st , o.order_dt
        from order_detail d join product p
        on d.prdt_no = p.prdt_no
        join orders o
        on d.order_no = o.order_no
        order by o.order_dt desc
        
	</select>
	
	<!-- order 개수 -->
	<select id="orderTotal">
		select count(order_no)
        from orders
	</select>
	
	
	<!-- 주문 상태 설정 -->
	 <update id="orderStUpdate"  >
		update orders
		set order_st = {orderSt}
		where order_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</update>
	
	<!-- 주문 삭제 -->
	<delete id="deleteOrder" >
		delete from orders
		where order_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</delete>
	
	
	<!-- product 글 리스트 -->
	<select id="productList" resultType="productVO">
		select *
        from product
       
	</select> 
	
	<!-- product 개수 -->
	<select id="productTotal">
		select count(prdt_no)
        from product
	</select>
	
	<!-- 공통코드 등록 -->
	<insert id="addCommonCd" parameterType="ProductVO">
		INSERT INTO COMMON_CODE
		VALUES(
		    (select 'S'||to_char(MAX(SUBSTR(common_cd,2))+1)
		    from common_code
		    where common_cd like 'S101%')
		    ,#{nm}
		    ,#{commonCd}
		    ,(SELECT ctgr
		    from common_code
		    where common_cd=#{commonCd}
		    )
		)
	<selectKey keyProperty="commonCd" resultType="String" order="AFTER">
	    select 'S'||to_char(MAX(SUBSTR(common_cd,2))+1)
	    from common_code
	    where common_cd like #{commonCd}||'%'
    </selectKey>
	</insert>	
	
	  <!-- 상품 등록 -->
    <insert id="addProduct">
    	insert into product (PRDT_NO,
							NM,
							PRC,
							DC_RATE,
							DESCT,
							THUMB,
							IMG,
							STC_CNT,
							DRWUP_DT,
							COMMON_CD)
		values ('prd-'||prdt_seq.nextval,
				#{nm},
				#{prc},
				#{dcRate},
				#{desct},
				#{thumb},
				#{img},
				#{stcCnt},
				sysdate,
				#{commonCd})
				
	 <selectKey keyProperty="prdtNo" resultType="String" order="AFTER">
	 	 SELECT 'prd-'||prdt_seq.currval AS prdtNo FROM DUAL
	 </selectKey>	
    </insert>
    
    <!-- product 상세 -->
	<select id="productDetail" resultType="ProductVO">
		select *
     	from product
        where prdt_no = #{prdtNo}
	</select>
	
	  <!-- 상품 삭제 -->
	<delete id="deleteProduct" >
		delete from product
		where prdt_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</delete>
	
	   <!-- 상품 수정 -->
    <update id="modifyProduct" >
    	update product
    	set prc = #{prc}
    		,nm = #{nm}
    		,thumb = #{thumb}
    	where prdt_no = #{prdtNo}
    </update>
    
	<!-- report 개수 -->
	<select id="nonChkRptCnt">
		select count(rprt_no) 
        from report 
        where rprt_st = 'N'
	</select>
</mapper>