<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.admin.mapper.AdminMapper">
	<select id="getMembList" resultType="MembManageVO">
	<![CDATA[
	 	select b.*
		from(select rownum rn , a.*
		     from(select m.memb_no , nm , id,decode(stop_no,null,'정상','활동중지') state, join_dt
		         from member m left join ( select *
		                                  from stop_yn
		                                  where end_dt > sysdate
		                                  ) s
		         on m.memb_no = s.memb_no
		         order by join_dt
		         ) a
		     where rownum <= #{page}*#{perPage}
		    ) b
		where rn > (#{page}-1)*#{perPage}
		]]>
	</select>
	<!-- 멤버 전체수 -->
	<select id="membCnt" resultType="int">
		select count(*)
		from member
	</select>
	
	<!-- 회원 정지기간 설정 -->
	<insert id="memberBan">
		 insert into stop_yn (STOP_NO,
                             MEMB_NO,
                             START_DT,
                             END_DT,
                             STOP_PERIOD)
        values ('stp-'||stop_seq.nextval,
        		#{membNo},
        		sysdate,
        		sysdate+#{period},
        		#{period})
	</insert>
	
	<!-- 회원삭제 -->
	<delete id="deleteMember" parameterType="list">
		delete from member
		where memb_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</delete>
	
	<!-- 회원 상태 정상설정 -->
	<update id="returnNorm"  >
		update stop_yn
		set end_dt = sysdate
		where memb_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</update>
	
	<!-- 정지된 회원 조회 -->
	<select id="bannedMemb" resultType="String">
		select memb_no
		from stop_yn
		where end_dt > sysdate
	</select>
	
	<!-- 정지기간 추가 -->
	<update id="addBanPeriod">
		update stop_yn
		set end_dt = end_dt + #{period}
		, period = period + #{period}
		where memb_no in (
			<foreach collection="list" item="item" separator=",">
				#{item}
			</foreach>
		)
	</update>
	
	<!-- 신고된 글 리스트 -->
	<select id="reportList" resultType="ReportVO">
		<![CDATA[
		select b.*
		from (select rownum rn, a.*
		      from(
		              select rprt_no ,rprt_st, accused , plaintiff, category , drwup_dt
		              from report
		              order by drwup_dt
		            ) a
		      where rownum <= #{page}*#{perPage}) b
		where rn > (#{page}-1)*#{perPage}
		]]>
	</select>
	<!-- 신고글 개수 -->
	<select id="reportCnt">
		select count(rprt_no)
		from report
	</select>
</mapper>