<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.security.mapper.UserMapper">
	<!-- login 시 회원 정보 조회 -->
	<select id="loginCheck" parameterType="String" resultType="UserVO">
		<![CDATA[
		select * 
		from(
		    select m.*, s.stop_no, s.start_dt, s.end_dt, s.stop_period 
		    from member m left outer join (
		        select *
		        from stop_yn
		        where end_dt>sysdate
		    ) s
		    on m.memb_no = s.memb_no
		    where id=#{id}
		    order by s.end_dt desc
		)
		]]>
	</select>
	
</mapper>