<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.mall.mapper.BasketMapper">

	<select id="selectCountInBasket" resultType="String"
		parameterType="BasketVO">
		<![CDATA[
			select decode(count(*), 0, 'false', 'true') from basket
			where prdt_no = #{prdtNo}
			and memb_no=#{membNo}
		]]>

	</select>

	<!-- 전체조회 basketVO + productVO + memberVO -->
	<select id="getBasketList" resultType="BasketVO">
		SELECT *
		FROM (
		SELECT *
		FROM BASKET B JOIN PRODUCT P
		USING(prdt_no)) J JOIN MEMBER M
		ON
		M.memb_no= J.memb_no
		WHERE M.memb_no=#{membNo}
		ORDER BY prdt_no DESC
	</select>
	
	<select id="getBasketInfoList" resultType="BasketVO">
		SELECT *
		FROM (
		SELECT *
		FROM BASKET B JOIN PRODUCT P
		USING(prdt_no)) J JOIN MEMBER M
		ON
		M.memb_no= J.memb_no
		WHERE M.memb_no=#{membNo}
		ORDER BY prdt_no DESC
	</select>

	<!-- 장바구니 추가 -->
	<insert id="addCartItem" parameterType="BasketVO">
		<selectKey keyProperty="bskNo" resultType="String"
			order="BEFORE">
			SELECT CONCAT('bsk-', NVL(MAX(TO_NUMBER(SUBSTR(bsk_no, 5))),
			0)+1)
			FROM BASKET
		</selectKey>
		insert into basket(BSK_NO,MEMB_NO,PRDT_NO,CNT)
		values(#{bskNo},#{membNo},#{prdtNo},#{cnt})
	</insert>

	<select id="getIntPrdt" resultType="String">
		SELECT memb_no
		FROM BASKET
		WHERE prdt_no=#{prdtNo}
	</select>

	<select id="getMembInfo" resultType="MembVO">
		SELECT memb_no
		FROM MEMBER
		WHERE memb_no=#{membNo}
	</select>

	<!-- 장바구니 수량 업데이트 -->
	<update id="updateCnt" parameterType="BasketVO">
		UPDATE BASKET
		SET cnt = #{cnt}
		WHERE bsk_no = #{bskNo}
	</update>

	<!-- 선택 상품 삭제 -->
	<delete id="deleteBasket" parameterType="String">
		DELETE FROM BASKET
		WHERE bsk_no=#{bskNo}
	</delete>
	
	<!-- 장바구니 전체 비우기 -->
	<delete id="deleteAllBasket" parameterType="BasketVO">
		DELETE FROM BASKET
		WHERE memb_no=#{membNo}
	</delete> 
	
	<select id="baskekCheck" resultType="BasketVO">
		select *
		from basket
		where prdt_no = #{prdtNo} and memb_no= #{membNo}
	</select>
	
	<update id="basketUpdate" parameterType="BasketVO">
		update basket
		set cnt = cnt + #{cnt}
		where memb_no = #{membNo} and prdt_no = #{prdtNo}
	
	</update>
</mapper>