<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.mall.mapper.MallMapper">

	<!-- 전체조회 -->
	<select id="getProductList" resultType="ProductVO">
		SELECT *
		FROM product
		<if test="commonCd != null">
			WHERE common_cd Like #{commonCd}||'%'
		</if>

		ORDER BY prdt_no DESC

	</select>

	<!-- 단건조회 -->
	<!-- <select id="getProductInfo"> SELECT * FROM product WHERE prdt_no = 
		#{prdtNo} </select> -->

	<select id="getProductInfo" resultType="ProductVO">

		SELECT *
		FROM product
		WHERE prdt_no = #{prdtNo}


	</select>


	<!-- 상품게시물 갯수 -->
	<select id="getProductCount" resultType="int">
		SELECT COUNT(prdt_no)
		FROM PRODUCT
		WHERE h_cd = #{commonCd}
	</select>

	<!-- 카테고리 리스트 -->
	<select id="getCategoryName" resultType="CommonCodeVO">
		SELECT ctgr, common_cd
		FROM COMMON_CODE
		WHERE h_cd = #{commonCd}
	</select>

	<!-- 카테고리별 상품 조회 -->
	<select id="getProductListByCategory" parameterType="String"
		resultType="ProductVO">
		SELECT *
		FROM PRODUCT
		WHERE common_cd = #{commonCd}
	</select>


	<select id="getBasketInfo" resultType="BasketVO">
		SELECT *

		FROM BASKET
		WHERE
		prdt_no = #{prdtNo}

	</select>

	<select id="getProductReviewList" resultType="ProductReviewVO">
		SELECT *
		FROM
		PRODUCT_REVIEW
		WHERE prdt_no = #{prdtNo}
	</select>


	<!-- 리스트 전체조회 -->
	<select id="getCtgrList" resultType="ProductVO">

		SELECT *
		FROM PRODUCT P JOIN
		COMMON_CODE C
		USING(common_cd)
		WHERE common_cd Like #{commonCd}||'%'
		ORDER BY prdt_no DESC

	</select>

	<!-- 낮은 가격순 정렬 -->
	<select id="getLowPrc" resultType="ProductVO">
		SELECT prc,nm, prdt_no, common_cd, dc_rate, thumb, prc-prc*NVL(dc_rate,0)/100 ord
			FROM PRODUCT P JOIN COMMON_CODE C
			USING(common_cd)
			WHERE common_cd LIKE #{commonCd}||'%'
		ORDER BY ord
	</select>


	<!-- 높은 가격순 정렬 -->
	<select id="getHighPrc" resultType="ProductVO">
		SELECT prc, nm, prdt_no, common_cd, dc_rate, thumb, prc-prc*NVL(dc_rate,0)/100 ord
			FROM PRODUCT P JOIN COMMON_CODE C
			USING(common_cd)
			WHERE common_cd LIKE #{commonCd}||'%'
		ORDER BY ord DESC
	</select>
	
	<!-- 검색 -->
	<select id="getSearchPrdt" resultType="ProductVO">
		SELECT *
		FROM PRODUCT P JOIN COMMON_CODE C
		USING(common_cd)
        <if test="nm!=null and(!nm.equals(''))">
		WHERE common_cd Like #{commonCd}||'%'
        </if>
		ORDER BY nm DESC
	</select>
	
	<!-- 등록 -->
	<insert id="addReview" parameterType="ProductReviewVO">
		<selectKey keyProperty="revNo" resultType="string"
			order="BEFORE">
			SELECT CONCAT('rev_', NVL(MAX(TO_NUMBER(SUBSTR(rev_no, 5))),
			0)+1)
			FROM PRODUCT_REVIEW
		</selectKey>
		insert into product_review ( rev_no
		,cntn
		,img
		,drwup_dt
		,maks
		,memb_no
		,prdt_no
		)
		values(
		#{revNo}
		,#{cntn}
		,#{img}
		,sysdate
		,#{maks}
		,#{membNo}
		,#{prdtNo}
		)
	</insert>

	<delete id="deleteReviewInfo" parameterType="String">
		DELETE FROM
		PRODUCT_REVIEW
		WHERE rev_no=#{revNo}
	</delete>

</mapper>