<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.mall.mapper.MallMapper">

	<!-- 전체조회 -->
  	<select id="getProductList" resultType="ProductVO">
  		SELECT *
  			 
  		FROM product
  		ORDER BY prdt_no DESC
  	
  	</select>
  	
  	<!-- 단건조회 -->
  	<select id="getProductInfo" >
  		SELECT *
  			 
  		FROM product
  		WHERE prdt_no = #{prdtNo}
  	</select>
  	
  	<!-- 카테고리 리스트  -->
  	<select id="getCategoryName" resultType="ProductVO">
  		SELECT ctgr
  		FROM COMMON_CODE
  		WHERE common_cd Like #{commonCd}||'%'
  	</select>
  	
	   <!-- 카테고리별 상품 조회 -->
    <select id="getProductListByCategory" parameterType="String" resultType="ProductVO">
        SELECT *
        FROM PRODUCT
        WHERE common_cd = #{commonCd}
    </select>  	


  	<select id="getBasketInfo" resultType="BasketVO">
  		SELECT *
  			 
  		FROM BASKET
  		WHERE prdt_no = #{prdtNo}
  		
  	</select>
  	
  	<select id="getProductReviewList" resultType="ProductReviewVO" >
  	SELECT *
  	FROM PRODUCT_REVIEW
  	WHERE prdt_no = #{prdtNo}
  	</select>
  	
 
	<!-- <select id="getCtgr" >
		SELECT common_cd, ctgr
		FROM COMMON_CODE
		WHERE common_cd=#{commonCd}
	</select> -->
	
  	
</mapper>