<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.mall.mapper.OrderMapper">
	<!-- member + product -->
	<select id="getOrderList" resultType="OrderVO">
		 SELECT * FROM ( SELECT * FROM BASKET B JOIN PRODUCT P USING(prdt_no)) 
			J JOIN MEMBER M ON M.memb_no= J.memb_no WHERE M.memb_no=#{membNo} ORDER BY 
			prdt_no DESC 
	
	</select>
	<select id="getMemInfo" resultType="OrderVO">
	
		 SELECT *
		 FROM member M JOIN ADDRESS A
		 ON m.memb_no = a.memb_no
		 WHERE m.memb_no = #{membNo}
		 
	</select>
	
	<insert id="insertOrder" parameterType="OrderVO">
		<selectKey keyProperty="orderNo" resultType="String" order="BEFORE">
			SELECT CONCAT('ord-',NVL(MAX(TO_NUMBER(SUBSTR(order_no, 5))), 0)+1)
		FROM CHARGE
		</selectKey>
		INSERT INTO ORDERS (order_no, memb_no, order_dt, dc_rate, shpcst, order_am, order_st, pay_an)
		VALUES(#{orderNo}, #{membNo}, sysdate, #{dcRate}, #{shpcst}, #{orderAm}, #{orderSt}, #{payAn})
	</insert>

</mapper>